@(tripId: String)
<script>
function closeModal() {
$('#dynamicModalBody' ).modal('hide');
  window.location = '@controllers.routes.ClassicVacationsController.login(tripId)';
}
</script>
<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center;">Classic Vacations</h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">

  <legend>Classic Vacations & Umapped
  </legend>
    <div style="padding-left: 40px">
      <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/classicvacations_logo.png" style="height: 50px;float:right">
    You need to grant Umapped permission to access and import your Classic Vacations Bookings. <br/><br/>
    <ol>
      <li> Click on the "Continue to Classic Vacations" button to go to the Classic Vacations website </li>
      <li> Enter your Classic Vacations login credentials</li>
      <li> Grant Umapped permission for read-only access your bookings</li>
    </ol>
    Once you have granted the access, you will be able to see import bookings directly into an itinerary. <br/>
    Umapped will automatically preselect any Classic Vacations Bookings booked in the past 3 months with departure dates that falls within the date range of this trip.<br/>
    </div>
    <div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
      <button class="btn btn-primary btn-large" style="text-align: center" onclick="javascript:closeModal();return false;">Continue to Classic Vacations</button>
    </div>
    <p class="muted">
    Note: Umapped <strong> does not </strong> have access to your Classic Vacations login credentials and will only have read permissions to bookings you have already made.
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
