@(m:  com.mapped.publisher.parse.classicvacations.bookingDetails.BookingDetail, tripId: String, bookingId: String)
@import org.joda.time.DateTimeConstants;

<script>
function closeModal() {
$('#dynamicModalBody' ).modal('hide');
}
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center;">
      @m.getPartyName - @m.getDestination
    </h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">

  @if(m != null) {

    <table class="table table-striped" style="padding-top: 20px">
      <tbody>

    @for(p <- m.getDetail) {
      <tr>

      @if(p.getDetailType.equals("FLIGHT")) {
       <td><h3>FLIGHT - @p.getVendorID @p.getProductID</h3></td>
       <td style="vertical-align: middle">
       Departs @p.getFlightStartAirportCity (@p.getUseLoc) on @p.getBeginDate @p.getBeginTime from <br/>
       Arrives @p.getFlightEndAirportCity (@p.getArrivalLoc) @p.getEndDate @p.getEndTime <br/>
       </td>
      } else {
        @if(p.getDetailType.equals("HOTEL")) {
          <td><h3>HOTEL - @p.getVendorName</h3></td>
          <td  style="vertical-align: middle">
          @p.getProductName <br/>
            @if(p.getVendorInfo != null) {
              @p.getVendorInfo.getAddress <br/>
            }
          Check In: @p.getBeginDate <br/>
          Check Out: @p.getEndDate <br/>
          </td>
        } else {
          @if(p.getDetailType.equals("HOTEL_SERVICES")) {
            <td><h3>HOTEL SERVICES - @p.getVendorName</h3></td>
            <td  style="vertical-align: middle">
              @p.getProductName <br/>
              @if(p.getVendorInfo != null) {
                @p.getVendorInfo.getAddress <br/>
              }
              Date: @p.getBeginDate <br/>
            </td>
          } else {
            @if(p.getDetailType.equals("TRANSFERS")) {
              <td><h3>TRANSFER - @p.getVendorName</h3></td>
              <td  style="vertical-align: middle">
                @p.getProductName <br/>
              @if(p.getVendorInfo != null) {
                @p.getVendorInfo.getAddress <br/>
                }
                Date: @p.getBeginDate <br/>
              </td>
            } else {
              @if(p.getDetailType.equals("EXCURSION")) {
                <td><h3>EXCURSION - @p.getVendorName</h3></td>
                <td  style="vertical-align: middle">
                  @p.getProductName <br/>
                  @if(p.getVendorInfo != null) {
                    @p.getVendorInfo.getAddress <br/>
                  }
                  Date: @p.getBeginDate <br/>
                </td>
              } else {
                @if(p.getDetailType.equals("RAIL")) {
                  <td><h3>RAIL - @p.getVendorName</h3></td>
                  <td  style="vertical-align: middle">
                    @p.getProductName <br/>
                    @if(p.getVendorInfo != null) {
                      @p.getVendorInfo.getAddress <br/>
                    }
                    Depart Date: @p.getBeginDate <br/>
                    Arrive Date: @p.getEndDate <br/>
                  </td>
                } else {
                  @if(p.getDetailType.equals("CONCIERGE")) {
                    <td><h3>CONCIERGE - @p.getVendorName</h3></td>
                    <td  style="vertical-align: middle">
                      @p.getProductName <br/>
                      @if(p.getVendorInfo != null) {
                        @p.getVendorInfo.getAddress <br/>
                      }
                      Date: @p.getBeginDate <br/>
                    </td>
                  } else {
                    @if(p.getDetailType.equals("MERCHANDISE")) {
                      <td><h3>MERCHANDISE - @p.getVendorName</h3></td>
                      <td  style="vertical-align: middle">
                        @p.getProductName <br/>
                        @if(p.getVendorInfo != null) {
                          @p.getVendorInfo.getAddress <br/>
                        }
                        Date: @p.getBeginDate <br/>
                      </td>
                    } else {
                      @if(p.getDetailType.equals("CANCEL")) {
                        <td><h3>MISC - @p.getVendorName</h3></td>
                        <td  style="vertical-align: middle">
                          @p.getProductName <br/>
                          @if(p.getVendorInfo != null) {
                            @p.getVendorInfo.getAddress <br/>
                          }
                          Date: @p.getBeginDate <br/>
                        </td>
                      } else {
                        @if(p.getDetailType.equals("CAR")) {
                          <td><h3>CAR RENTAL - @p.getVendorName</h3></td>
                          <td  style="vertical-align: middle">
                            @p.getProductName <br/>
                            @if(p.getVendorInfo != null) {
                              @p.getVendorInfo.getAddress <br/>
                            }
                            Date: @p.getBeginDate <br/>
                            Pickup: @p.getDriverPickUpLoc
                          </td>
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      </tr>
    }
      </tbody>
    </table>

  }


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="button" class="btn btn-primary" onclick="javascript:closeModal();javascript:getPage('@routes.ClassicVacationsController.importBooking(tripId, bookingId)');return false;">Import</button>
  </div>

</div>
