@(arv:  com.mapped.publisher.view.UmActivityReservationView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.ViewUtils


<div class="schedule @ViewUtils.getClassTypeForBookingType(arv.getDetailsTypeId)" style=" padding-left: 50px;">
  @if(arv.getStartDateItin != null) {@Messages("webitinerary.starts"): @arv.getStartDateItin.toUpperCase}
  @if(arv.getDetailsTypeId != ReservationType.EVENT &&  arv.getDetailsTypeId != ReservationType.RESTAURANT) {
    @if(arv.getEndDate != null && arv.getEndDate.length > 0) {
      <i class="icon-right-open"></i> <div class="mobile"><br /></div>
      <span class="ends">@Messages("webitinerary.ends"): @arv.getEndDateItin.toUpperCase</span>
    }
  }
</div>

<div class="grid grid-bookings onecol outer">
    <div class="col col-4">
        <h4>
        @if(arv.getProviderName != null && arv.getProviderName.length > 0) {@arv.getProviderName }
        </h4>
        <div class="add">
            @if(arv.contact != null && arv.contact.length > 0) {
                @arv.contact <br/>
            }

            @if(arv.getBookingNumber != null && arv.getBookingNumber.length > 0) {
            @Messages("webitinerary.confirmationnumber"):<br/>
                @arv.getBookingNumber <br/>
            }
        </div>
    </div>
    <div class="col col-8">
    @if((arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) || (arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) || (arv.getProviderPhone != null && arv.getProviderPhone.length > 0) || (arv.getProviderEmail != null &&  arv.getProviderEmail.length > 0) || (arv.getProviderWeb != null &&  arv.getProviderWeb.length > 0) ) {
      <p>
        @if((arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) || (arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0)) {


          @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
            @arv.getProviderAddr1 <br>
          }
          @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
            @arv.getProviderAddr2 <br/>
          }

        }
        @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
          @Messages("webitinerary.telephone"): @arv.getProviderPhone <br/>
        }
        @if(arv.getProviderEmail != null &&  arv.getProviderEmail.length > 0){
          E:<a href="mailto:@arv.getProviderEmail">  @arv.getProviderEmail </a> <br/>
        }
        @if(arv.getProviderWeb != null &&  arv.getProviderWeb.length > 0){
          W: @if(arv.getProviderWeb.startsWith("http:")){<a href="@arv.getProviderWeb" target="_blank"> View Website</a>} else {@arv.getProviderWeb} <br/>
        }
      </p>
    }
        <div class="grid grid-bookings onecol">
          <div class="col left">
            <p>
              @if(arv.getDetailsTypeId == ReservationType.EVENT ||  arv.getDetailsTypeId == ReservationType.RESTAURANT) {
                @Messages("webitinerary.location"):<br/>
              } else {
                @if(arv.getDetailsTypeId == ReservationType.CRUISE_STOP) {
                  @Messages("webitinerary.arrives"):<br/>
                } else {
                  @Messages("webitinerary.pickup"):<br/>
                }
              }
              @if(arv.getLocStartName != null && arv.getLocStartName.length > 0) {
                  @arv.getLocStartName <br/><br/>
              }
              <strong>
              @if(arv.getStartTime != null && arv.getStartTime.length > 0) {
                  @arv.getStartTime<br/>
                  }
              @arv.getStartDateItin</strong><br/>
              <br/>
            </p>
          </div>

          @if(arv.getDetailsTypeId != ReservationType.EVENT &&  arv.getDetailsTypeId != ReservationType.RESTAURANT) {
            <div class="col right">
              <p>
              @if(arv.getDetailsTypeId == ReservationType.CRUISE_STOP) {
                @Messages("webitinerary.departs"):<br/>
              } else {
                @Messages("webitinerary.dropoff"):<br/>
              }
                @if(arv.getLocFinishName != null && arv.getLocFinishName.length > 0) {
                    @arv.getLocFinishName <br/><br/>
                }
                <strong>
                @if(arv.getEndTime != null && arv.getEndTime.length > 0) {
                  @arv.getEndTime<br/>
                }
                @if(arv.getEndDate != null && arv.getEndDate.length > 0) {
                  @arv.getEndDateItin
                }
                </strong><br/>
                <br/>
              </p>
            </div>
          }

        </div>
    </div>
</div>

@if(arv.getNotesPlain != null && arv.getNotesPlain.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.note"):</strong>
    @Html(arv.getNotesPlain)
</div>
}

@if(arv.getProviderComments != null && arv.getProviderComments.length > 0) {
    <div class="bookings_note">
        <strong>@Messages("webitinerary.about"):</strong>
        @Html(arv.getProviderComments)
    </div>
}

@if(arv.getCancellation != null && arv.getCancellation.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.cancellation"):</strong>
    @Html(arv.getCancellation)
</div>
} else {
<br>
}

<!--end-->
@views.html.webItinerary.bookingPhotos(arv.getPhotos, arv)

<div class="seperator"></div>
