@(m: List[com.mapped.publisher.view.TripBrandingView])

  @if(m != null && m.length > 0) {
    @for(p <- m) {

      @if(!p.isMainBrand) {
        <div class="collablogo">
          @if(p.cmpyLogoUrl != null && p.cmpyLogoUrl.trim.length > 0) {
            <img src="@p.cmpyLogoUrl" style="height: 45px ;">
          } else {
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" style="height: 45px ;">
          }
          <span class="tooltip1" onmouseover="tooltip2.pop(this, '#tip_@p.cmpyId')" ><i class="icon-contact"></i></span>

          <div style="display:none ; ">
            <div id="tip_@p.cmpyId">

              <strong> @p.cmpyName </strong>
              <p>
                @if(p.cmpyEmail != null && p.cmpyEmail.trim.length > 0) {
                  <br> @p.cmpyEmail
                }
                @if(p.cmpyPhone != null && p.cmpyPhone.trim.length > 0) {
                  <br> @p.cmpyPhone
                }
                @if(p.cmpyWebsite != null && p.cmpyWebsite.trim.length > 0) {
                  <br>@p.cmpyWebsite
                  }
              </p>
            </div>
          </div>
        </div>
      }
    }
  }
