@(m:  com.mapped.publisher.view.DestinationView)
@import com.mapped.publisher.view.GenericTypeView
@import com.mapped.publisher.common.APPConstants


@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@if(m.message!=null && m.message.length > 0) {
    <--alertMsg-->
    <div id="alertMsg">
        <h4> @m.message</h4>
    </div>
    <--endAlertMsg-->

}


<--pageBody-->
<div id="pageBody">
    <script>
    function getYoutubeThumbnail( url, size )
    {
    if(url === null){ return ""; }

    size = (size === null) ? "big" : size;
    var vid;
    var results;

    if (url.indexOf('embed') > 0) {
        var embedPos  = url.indexOf("embed/") + 6;
        var ampersandPosition = url.indexOf('?');
        if(ampersandPosition != -1) {
            vid = url.substring(embedPos, ampersandPosition);
        } else {
        vid = url.substring(embedPos);
        }
    } else {
        results = url.match ( "[\\?&]v=([^&#]*)" ) ;
    vid = ( results === null ) ? url : results[1];

    }

    if(size == "small"){
    return "http://img.youtube.com/vi/"+vid+"/1.jpg";
    }else {
    return "http://img.youtube.com/vi/"+vid+"/0.jpg";
    }
    }



    /**
    *MASONRY
    */

    $(document).ready(function(){
        @if(m.guides != null && m.guides.length > 0) {

            @for(p <- m.guides) {
                @if(p.groupedViews != null && p.groupedViews.size() > 0) {
                    @for(pl <- p.groupedViews) {
                        @if(pl.videos != null && pl.videos.length > 0) {
                            @for(v <- pl.videos) {
                                @if(v != null && v.attachUrl != null && v.attachUrl.trim.length > 0) {
                                    var v_@v.id = getYoutubeThumbnail('@v.attachUrl','small');
                                    $('#video_@v.id').attr("src",v_@v.id);
                                }

                            }
                        }

                    }

                } else {
                    @if(p.videos != null && p.videos.length > 0) {
                    @for(v <- p.videos) {
                        @if(v != null && v.attachUrl != null && v.attachUrl.trim.length > 0) {
                            var v_@v.id = getYoutubeThumbnail('@v.attachUrl','small');
                            $('#video_@v.id').attr("src",v_@v.id);
                        }

                    }
                    }
                }
            }
        }

    var $container = $('.masonry');

    var gutter = 20;
    var min_width = 210;
    $container.imagesLoaded( function(){
    $container.masonry({
    itemSelector : '.item',
    gutterWidth: gutter,
    isAnimated: true,
    columnWidth: function( containerWidth ) {
    var box_width = (((containerWidth - 2*gutter)/6) | 0) ;

    if (box_width < min_width) {
    box_width = (((containerWidth - gutter)/4) | 0);
    }

    if (box_width < min_width) {
    box_width = containerWidth;
    }

    $('.item').width(box_width);

    return box_width;
    }
    });
    });
    });


    </script>

    <div class="content">
        <h2 class="content-subhead">
            @Messages("webitinerary.document")

        </h2>
      <a class="note" href="/guide/loadPdf?inDestId=@m.id&inTripId=@m.tripId" target="_blank" style="padding-left: 70px">
       ( @Messages("webitinerary.downloadpdf") <i class="icon-download"></i>)
      </a>

        <h1 class="document_title">
            @m.name
        </h1>

        @if((m.city != null && m.city.trim.length > 0) || (m.country != null && m.country.trim.length > 0)) {
          <div class="document_city">
              @if(m.city != null && m.city.trim.length > 0){ @m.city  @if(m.country != null && m.country.trim.length > 0){,}}  @if(m.country != null && m.country.trim.length > 0){@m.country}
          </div>
        }
        @if(m.intro != null && m.intro.trim.length > 0) {
            <div class="document_desc">
            @Html(m.intro)
            </div>
        }
        @if(m.coverUrl != null && m.coverUrl.trim.length > 0) {
            <div class="document_featured" style="background: url(@m.coverUrl) no-repeat center; overflow: hidden; height:300px; width:100%;margin-left: 0px;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;margin-top: 10px" > &nbsp;</div>

        } else {
            <br>
        }

        @if(m.guides != null && m.guides.size() > 0) {
            @for(p <- m.guides) {
                @if(p.groupedViews != null && p.groupedViews.size() > 0) {
                    @for(pl <- p.groupedViews) {
                        @views.html.webItinerary.documentPage(pl)

                    }
                } else {
                    @views.html.webItinerary.documentPage(p)
                }
            }
        }


    </div>




</div>
<--endPageBody-->
