@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.mapped.publisher.view.GenericTypeView
@import com.mapped.publisher.common.APPConstants


@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@if(m.message!=null && m.message.length > 0) {
    <--alertMsg-->
    <div id="alertMsg">
        <h4> @m.message</h4>
    </div>
    <--endAlertMsg-->

}


    <--pageBody-->
<div id="pageBody">
    <script>
    /**
    *MASONRY
    */
    $(document).ready(function(){
        var $container = $('#docContainer');

        var gutter = 20;
        var min_width = 300;
        $container.imagesLoaded( function(){
            $container.masonry({
            itemSelector : '.box',
            gutterWidth: gutter,
            isAnimated: true,
            columnWidth: function( containerWidth ) {
                var box_width = (((containerWidth - 2*gutter)/3) | 0) ;

                if (box_width < min_width) {
                    box_width = (((containerWidth - gutter)/2) | 0);
                }

                if (box_width < min_width) {
                    box_width = containerWidth;
                }

                $('.box').width(box_width);

                return box_width;
            }
            });
        });
    });

    </script>
    <div class="content">
        <h2 class="content-subhead">
            @Messages("webitinerary.documents")
        </h2>
        <div id="docContainer">

        @if((m.destinations != null && m.destinations.destinationList != null && m.destinations.destinationList.size() > 0) || (m.tripAttachments != null && m.tripAttachments.size() > 0)) {
           @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
            <div class="box">
                <a href="#attachmentModal" data-toggle="modal">
                    <div class="box_title">
                        @Messages("webitinerary.attachments") (@m.tripAttachments.size())
                    </div>
                    <img src="@m.libUrl/lib/webItinerary2/img/file_gradient.png" class="overlay">
                    <img src="@m.libUrl/lib/webItinerary2/img/file_default.jpg?v=20150305">
                </a>
            </div>
            }

            @if(m.destinations != null && m.destinations.destinationList != null && m.destinations.destinationList.size() > 0) {
                @for(p <- m.destinations.destinationList) {
                    <div class="box">
                        <a onclick="getPage('@routes.WebItineraryController.document(m.tripId, m.groupId, p.id, m.travellerId)');">
                            <div class="box_title">
                        @p.name
                            </div>
                            @if(p.coverUrl != null && p.coverUrl.trim.length > 0) {
                                <img src="@m.libUrl/lib/webItinerary2/img/file_gradient_title.png" class="overlay">

                                <img src="@p.coverUrl">
                            } else {
                            <img src="@m.libUrl/lib/webItinerary2/img/file_gradient.png" class="overlay">
                            <img src="@m.imgUrl/img/photo-placeholder-gray.png">
                            }
                        </a>
                    </div>
                }
            }






        } else {
            <h3>@Messages("webitinerary.nodocuments")</h3>
        }
            </div>
    </div>


    @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
        <div id="attachmentModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>@Messages("webitinerary.attachments") <span class="badge badge-success">@m.tripAttachments.size()</span></h3>
            </div>
            <form id="removeTravellerForm">
                <div class="modal-body" >
                    <div style="overflow-y:scroll;max-height: 300px">
                    @for(p <- m.tripAttachments) {

                        <div class="row-fluid" style="position: relative" >
                            <a href="@p.attachUrl" target="_blank" style="text-decoration: none">

                            @if(p.attachType == "doc"){
                                        <img src="@{m.imgUrl}/img/word_icon.png" width="48" style="float:left;padding-left: 40px">
                                    } else {
                                        @if(p.attachType == "pdf"){
                                            <img src="@{m.imgUrl}/img/pdf_icon.png" width="48"  style="float:left;padding-left: 40px">
                                        } else {
                                            <img src="@{m.imgUrl}/img/spacer.gif" width="48" style="float:left;padding-left: 40px">
                                            }
                                    }


                       <i class="fa fa-download" style="position: absolute; top:25px; left: 10px; font-size: 25px"></i>
                            </a>
                       <div style="position: absolute; left:100px">Name: @p.attachName
                                @if(p.comments != null && p.comments.length > 0) {
                                    <br/>
                                   @Messages("webitinerary.note"): @p.comments
                                }
                            </div>


                        </div>

                        <hr>
                        <br/>
                    }
                    </div>
                </div>

            </form>

        </div>
    }

</div>
    <--endPageBody-->
