@(frv:  com.mapped.publisher.view.UmFlightReservationView)

<div class="schedule flight">
    @Messages("webitinerary.departs"): @if(frv.getStartDateItin != null){@frv.getStartDateItin.toUpperCase()}
    <i class="icon-right-open"></i><div class="mobile"><br /></div>
    <span class="ends">@Messages("webitinerary.arrives"): @if(frv.getEndDateItin != null){ @frv.getEndDateItin.toUpperCase()}</span>
</div>
<!--Desktop version -->
<div class="grid grid-bookings outer desktop">
    <div class="col col-4">
        <h4>
            @if(frv.getProviderName != null && frv.getProviderName.length > 0) {<strong> @frv.getProviderName </strong> <br/> }  @frv.getFlightId
        </h4>
        @if(frv.getBookingNumber != null && frv.getBookingNumber.length > 0) {
            <div class="add">
                @Messages("webitinerary.confirmationnumber"):<br/>
                @frv.getBookingNumber
            </div>
        }
    </div>
    <div class="col col-8">
        <div class="grid grid-bookings desktop">
            <div class="col left top">
                <p>
                    <strong>@frv.getDepartAirportCode</strong><br/>
                    @if(frv.getDepartCity != null && frv.getDepartCity.length > 0) {@frv.getDepartCity / } @frv.getDepartAirport
                    @if(frv.getDepartCountry != null && frv.getDepartCountry.length > 0) {
                        <br/> @frv.getDepartCountry
                    }
                </p>
            </div>
            <div class="col right top">
                <p>
                    <strong>@frv.getArriveAirportCode</strong><br/>
                    @if(frv.getArriveCity != null && frv.getArriveCity.length > 0) {@frv.getArriveCity / } @frv.getArriveAirport
                    @if(frv.getArriveCountry != null && frv.getArriveCountry.length > 0) {
                        <br/> @frv.getArriveCountry
                    }

                </p>
            </div>
        </div>
        <div class="grid grid-bookings desktop">
            <div class="col left bottom">
                <p>
                    @Messages("webitinerary.departingat"):<br/>
                    <strong>@frv.getStartTime<br/>
                        @frv.getStartDateItin</strong><br/>
                    <br/>
                </p>
            </div>
            <div class="col right">
                <p>
                    @Messages("webitinerary.arrivingat"):<br/>
                    <strong>@frv.getEndTime<br/>
                        @frv.getEndDateItin</strong><br/>
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Mobile version -->
<div class="grid grid-bookings outer mobile">
    <div class="col col-4">
        <h4>
            @if(frv.getProviderName != null && frv.getProviderName.length > 0) {<strong> @frv.getProviderName </strong> <br/> }  @frv.getFlightId

        </h4>
        @if(frv.getBookingNumber != null && frv.getBookingNumber.length > 0) {
            <div class="add">
                @Messages("confirmationnumber"):<br/>
                @frv.getBookingNumber
            </div>
        }
    </div>
    <div class="col col-8">
        <div class="grid grid-bookings">
            <div class="col left top">
                <p>
                    <strong>@frv.getDepartAirportCode</strong><br/>
                    @if(frv.getDepartCity != null && frv.getDepartCity.length > 0) {@frv.getDepartCity / } @frv.getDepartAirport
                    @if(frv.getDepartCountry != null && frv.getDepartCountry.length > 0) {
                        <br/> @frv.getDepartCountry
                    }
                </p>
            </div>
            <div class="col left bottom">
                <p>
                    @Messages("webitinerary.departingat"):<br/>
                    <strong>@frv.getStartTime<br/>
                        @frv.getStartDateItin</strong><br/>
                    <br/>
                </p>
            </div>
        </div>
        <div class="grid grid-bookings">
            <div class="col left">
                <p>
                    <strong>@frv.getArriveAirportCode</strong><br/>
                    @if(frv.getArriveCity != null && frv.getArriveCity.length > 0) {@frv.getArriveCity / } @frv.getArriveAirport
                    @if(frv.getArriveCountry != null && frv.getArriveCountry.length > 0) {
                        <br/> @frv.getArriveCountry
                    }
                </p>
            </div>
            <div class="col right bottom">
                <p>
                    @Messages("webitinerary.arrivingat"):<br/>
                    <strong>@frv.getEndTime<br/>
                        @frv.getEndDateItin</strong><br/>
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>

@if(frv.getNotesPlain != null && frv.getNotesPlain.trim.size > 0) {
    <div class="bookings_note">
        <strong>@Messages("webitinerary.note"):</strong>
        @Html(frv.getNotesPlain)
    </div>
}
@if(frv.getProviderComments != null && frv.getProviderComments.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.about"):</strong>
    @Html(frv.getProviderComments)
</div>
}
@if(frv.getCancellation != null && frv.getCancellation.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.cancellation"):</strong>
    @Html(frv.getCancellation)
</div>
}

<div class="seperator"></div>
