@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.umapped.persistence.enums.ReservationType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

<script>
var mapInitialized = false;
var myBookingLocations = new Array();
var myBookingLocationsPlot = new Array();

  @if(m.bookingsLocations != null) {
    @for(pl <- m.bookingsLocations) {
      @if(pl.locStartLat != null && pl.locStartLong != null &&  pl.locStartLat != 0.0 && pl.locStartLong != 0.0) {
        @if(pl.detailsTypeId == null) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <div> @escapeEcmaScript(pl.name)</div>", id:"@pl.detailsId"});

        } else {
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
          @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
            myBookingLocations.push({latLng:[@pl.locFinishLat, @pl.locFinishLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-plane-64-dgrey.png'></img> &nbsp; @escapeEcmaScript(pl.flightId) departs  @escapeEcmaScript(pl.departureAirport)<br/> &nbsp;"});
            myBookingLocationsPlot.push([@pl.locFinishLat, @pl.locFinishLong]);
          }
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-plane-64-dgrey.png'></img> &nbsp; @escapeEcmaScript(pl.flightId) arrives  @escapeEcmaScript(pl.arrivalAirport)<br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
          }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-hotel-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
          }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
          @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
            myBookingLocations.push({latLng:[@pl.locFinishLat, @pl.locFinishLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-cruise-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.cruise.name) <br/> &nbsp;Arrive: @escapeEcmaScript(if(pl.cruise != null && pl.cruise.portArrive != null){pl.cruise.portArrive} else { pl.arriveCity})"});
          }
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-cruise-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;Depart: @escapeEcmaScript(if(pl.cruise != null && pl.cruise.portDepart != null){pl.cruise.portDepart} else { pl.providerAddr2})", id:"@pl.detailsId"});
          }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-car-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
          }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-runner-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
          }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.TOUR) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-runner-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
          }
        myBookingLocationsPlot.push([@pl.locStartLat, @pl.locStartLong]);
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
          @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
            myBookingLocationsPlot.push([@pl.locFinishLat, @pl.locFinishLong]);
          }
        }

        }
      }
    }
  }

  @if(m.documentLocations != null) {
    @for(pl <- m.documentLocations) {
      @if(pl.locLat != null && pl.locLong != null && pl.locLat != "0.0" && pl.locLong != "0.0") {
        myBookingLocations.push({latLng:[@pl.locLat, @pl.locLong], data:" <div> @escapeEcmaScript(pl.destinationName) <br/> @escapeEcmaScript(pl.name) </div>", id:"@pl.id"});
        if (myBookingLocationsPlot.length == 0) {
          myBookingLocationsPlot.push([@pl.locLat, @pl.locLong]);
        }
      }
    }
  }

</script>
