@(trv:  com.mapped.publisher.view.UmTransferReservationView)
@import com.mapped.publisher.view.ViewUtils


<div class="schedule @ViewUtils.getClassTypeForBookingType(trv.getDetailsTypeId)">
    @Messages("webitinerary.pickup2"): @if(trv.getStartDateItin != null){ @trv.getStartDateItin.toUpperCase()}
@if(trv.getEndDateItin!= null && trv.getEndDateItin.length > 0) {
    <i class="icon-right-open"></i> <div class="mobile"><br /></div>
    <span class="ends">@Messages("webitinerary.dropoff2"): @trv.getEndDateItin.toUpperCase()</span>
}
</div>
<div class="grid grid-bookings outer onecol outer">
    <div class="col col-4">
        <h4>
        @if(trv.getProviderName != null && trv.getProviderName.length > 0) {@trv.getProviderName }
        </h4>
        <div class="add">
            @if(trv.getContact != null && trv.getContact.length > 0) {
                @trv.getContact <br/>
            }

            @if(trv.getBookingNumber != null && trv.getBookingNumber.length > 0) {
            @Messages("webitinerary.confirmationnumber"):<br/>
                @trv.getBookingNumber <br/>
            }
        </div>
    </div>
    <div class="col col-8">
      <p>
        @if((trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) || (trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0)) {


          @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
            @trv.getProviderAddr1 <br>
          }
          @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
            @trv.getProviderAddr2 <br/>
          }

        }
        @if(trv.getProviderPhone != null && trv.getProviderPhone.length > 0) {
          @Messages("webitinerary.telephone"): @trv.getProviderPhone <br/>
        }
        @if(trv.getProviderEmail != null &&  trv.getProviderEmail.length > 0){
          E:<a href="mailto:@trv.getProviderEmail">  @trv.getProviderEmail </a> <br/>
        }
        @if(trv.getProviderWeb != null &&  trv.getProviderWeb.length > 0){
          W: @if(trv.getProviderWeb.startsWith("http:")){<a href="@trv.getProviderWeb" target="_blank"> View Website</a>} else {@trv.getProviderWeb} <br/>
        }
      </p>
        <div class="grid grid-bookings onecol">
            <div class="col left">
                <p>
                    @Messages("webitinerary.pickup"):<br/>
                    @if(trv.getLocStartName != null && trv.getLocStartName.length > 0) {
                        @trv.getLocStartName
                        <br/><br/>
                    }
                    @if(trv.getStartTime != null && trv.getStartTime.length > 0) {
                        <strong>@trv.getStartTime<br/>
                        }
                    @trv.getStartDateItin</strong><br/>
                    <br/>

                </p>
            </div>
            <div class="col right">
                <p>
                    @Messages("webitinerary.dropoff"):<br/>
                    @if(trv.getLocFinishName != null && trv.getLocFinishName.length > 0) {
                        @trv.getLocFinishName <br/><br/>
                    }
                    @if(trv.getEndTime != null && trv.getEndTime.length > 0) {
                        <strong>@trv.getEndTime<br/>
                        }
                    @if(trv.getEndDate != null && trv.getEndDate.length > 0) {
                        @trv.getEndDateItin</strong><br/>
                    }
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>

@if(trv.getNotesPlain != null && trv.getNotesPlain.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.note"):</strong>
    @Html(trv.getNotesPlain)
</div>
}

@if(trv.getProviderComments != null && trv.getProviderComments.length > 0) {
    <div class="bookings_note">
        <strong>@Messages("webitinerary.about"):</strong>
        @Html(trv.getProviderComments)
    </div>
}

@if(trv.getCancellation != null && trv.getCancellation.trim.size > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.cancellation"):</strong>
    @Html(trv.getCancellation)
</div>
} else {
<br>
}

@views.html.webItinerary.bookingPhotos(trv.getPhotos, trv)

<div class="seperator"></div>
