@(m:  com.mapped.publisher.view.BaseView)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
    <div id="alertMsg">
        <h1>@m.message</h1>
    </div>
}
    <--endAlertMsg-->


    <--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Madrid Hotel Parser</h1>
</div>
    <--endPageTitle-->


    <--pageHeader-->
<div id="pageHeader">
</div>
    <--endPageHeader-->

    <--pageBody-->
<div id="pageBody">
    <form id="madridForm">
        <label>File URL</label>
        <input type="text" id='inUrl' name='inUrl' placeholder="File Url" class="input-block-level required"/>
        <br/>
        <label>CmpyId URL</label>
        <input type="text" id='inCmpyId' name='inCmpyId' placeholder="CmpyId" class="input-block-level required"/>
        <label>Save (type YES)</label>
        <input type="text" id='inMode' name='inMode' placeholder="type YES to save" class="input-block-level"/>
        <button type="submit" class="btn btn-success pull-left btn-large"
        onclick="javascript:$('#imgSearchSpinner').show();javascript:postForm('/exp/parseMadridHotel','madridForm');return false;"> Parse
        </button>
    </form>
</div>

    <--endPageBody-->
