@(m: String)


  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Mobilized Page</h1>
</div>
  <--endPageTitle-->


  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  @Html(m)
</div>
  <--endPageBody-->
