@(m: com.mapped.publisher.view.BaseView, counter: Integer, time: Long)

@if(m.message != null && m.message.length > 0){
  <--alertMsg-->
    <div id="alertMsg">
      <h1>@m.message</h1>
    </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
  <div id="pageTitle">
    <h1 class="page-title">Conversion of Vendor to POI</h1>
  </div>
  <--endPageTitle-->

  <--pageHeader-->
  <div id="pageHeader">
  </div>
  <--endPageHeader-->

  <--pageBody-->
  <div id="pageBody">
    <div class="panel panel-default">
        <!-- Default panel contents -->
      <div class="panel-heading">Conversion Results</div>

        <!-- Table -->
      <table class="table">
        <thead>
          <td>Providers Converted</td>
          <td>Conversion time (ms)</td>
        </thead>
        <tr>
          <td>@counter</td>
          <td>@time</td>
        </tr>
      </table>
    </div>
  </div>

  <--endPageBody-->







