@(p:  com.mapped.publisher.view.TripBookingDetailView)
 @if(p.files != null && p.files.size() > 0) {
  <tr style="font-size: 13px;color: #000000;line-height: 16px">
    <td style="padding-top: 20px;">
      <div>
        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">


          @for(t <- p.files) {
          <tr style="padding-bottom: 10px;font-size:11px;color:#60bdff">
            <td style="padding-bottom : 5px">
              <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@t.attachUrl" target="_blank">
                @t.attachName
              </a>
              </td>
              </tr>
              }
        </table>
  </div>
  </td>
  </tr>
}