@(trv:  com.mapped.publisher.view.UmTransferReservationView,  i: Integer, date: String, display12Hr: Boolean, printFriendly: Boolean, lang: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import play.i18n._

<div style="padding:0px;padding-top: 20px;width: 700px;">

<div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
  <table style="width: 700px;">
    <tr style="width: 700px;">
      <td style="width: 75px;text-align: center;vertical-align:top;@if(i == 0){border-top: 3px solid #000000;padding-top:5px;}else{border-top:none};padding-right: 15px">
      @if(i == 0) {
        <div style="margin-top:0px;padding: 5px;color:#000000;padding-bottom: 25px;">

        <div style="font-size: 22px;font-weight: 700;line-height: 16px;padding-top: 5px; ">
        @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
          @if(trv.getStartDateItin != null && trv.getStartDateItin == date && trv.getStartDateItin != trv.getEndDateItin) {
            @Utils.formatTimestamp(trv.getStartDateMilli, "EEE", lang).toUpperCase()
          } else {
            @if(trv.getEndDateItin != null && trv.getEndDateItin == date  && trv.getStartDateItin != trv.getEndDateItin) {
              @Utils.formatTimestamp(trv.getEndDateMilli, "EEE", lang).toUpperCase()
            } else {
              @Utils.formatTimestamp(trv.getStartDateMilli, "EEE", lang).toUpperCase()
            }
          }

        } else {
          @Utils.formatTimestamp(trv.getStartDateMilli, "EEE", lang).toUpperCase()
        }
        </div>
        <div style="font-size: 18px;font-weight: 700;line-height: 16px;padding-top: 12px; ">
          @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
            @if(trv.getStartDateItin != null && trv.getStartDateItin == date && trv.getStartDateItin != trv.getEndDateItin) {
              @Utils.formatTimestamp(trv.getStartDateMilli, "MMM", lang).toUpperCase()
            } else {
              @if(trv.getEndDateItin != null && trv.getEndDateItin == date  && trv.getStartDateItin != trv.getEndDateItin) {
                @Utils.formatTimestamp(trv.getEndDateMilli, "MMM", lang).toUpperCase()
              } else {
                @Utils.formatTimestamp(trv.getStartDateMilli, "MMM", lang).toUpperCase()
              }
            }

          } else {
          @Utils.formatTimestamp(trv.getStartDateMilli, "MMM", lang).toUpperCase()
          }
        </div>
        <div style="font-size: 30px;font-weight: 400;line-height: 18px;padding-top: 12px">
          @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL) {
            @if(trv.getStartDateItin != null && trv.getStartDateItin == date && trv.getStartDateItin != trv.getEndDateItin) {
              @trv.getStartDay
            } else {
              @if(trv.getEndDateItin != null && trv.getEndDateItin == date  && trv.getStartDateItin != trv.getEndDateItin) {
                @trv.getEndDay
              } else {
                @trv.getStartDay
              }
            }
          } else {
            @trv.getStartDay
          }
        </div>
        </div>
      }else{
        <p style="width: 60px"></p>
      }
      </td>
      <td style="width:25px;vertical-align: top;@if(i == 0){border-top: 3px solid #000000;} else {border-top: 1px solid #000000;}padding-top:5px;">
        <div style="margin-top:@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){10px} else {12px};margin-right: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId)"
            width=@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){"22"}else{@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("cruise")){"22"}else{"16"}}>
        </div>
      </td>
      <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 3px solid #000000;} else {border-top: 1px solid #000000;}padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
            <tr>
              <td style="width: 630px;vertical-align: top;">
                <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                  <tr>
                    <td colspan="7" style="color:#000000;padding-bottom: 20px;vertical-align: top">
                      <span style="font-size: 18px ;font-weight: 700">
                      @if(trv.getServiceType != null) {
                        @trv.getServiceType
                      } else {
                        @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL) {
                          @Messages.get(Lang.forCode(lang), "webitinerary.rentalpickup")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.TAXI) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.taxi")
                          } else {
                            @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER) {
                              @Messages.get(Lang.forCode(lang), "webitinerary.transfer")
                            } else {
                              @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                                @Messages.get(Lang.forCode(lang), "webitinerary.train")
                              } else {
                                @if(trv.getDetailsTypeId == ReservationType.PUBLIC_TRANSPORT) {
                                  @Messages.get(Lang.forCode(lang), "webitinerary.transport")
                                } else {
                                  @if(trv.getDetailsTypeId == ReservationType.BUS) {
                                    @Messages.get(Lang.forCode(lang), "webitinerary.bus")
                                  } else {
                                    @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                                      @Messages.get(Lang.forCode(lang), "webitinerary.cardropoff")
                                    } else {
                                      @if(trv.getDetailsTypeId == ReservationType.FERRY) {
                                        @Messages.get(Lang.forCode(lang), "webitinerary.ferry")
                                      } else {
                                        @Messages.get(Lang.forCode(lang), "webitinerary.transfer")
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                        </span>
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #000000;font-weight: 700">
                    @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                      <td style="@if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){width:350px;} else {width:120px;}padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                      @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.train")
                      } else {
                        @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.contact")
                        } else {
                        @Messages.get(Lang.forCode(lang), "webitinerary.company")
                        }
                      }

                      </div></td>
                      <td style="width:15px;border-top: none;"></td>
                      <td style="width: 70px ;padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 120px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.pickup")
                          } else {
                            @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                              @Messages.get(Lang.forCode(lang), "webitinerary.departingat")
                            } else {
                              @Messages.get(Lang.forCode(lang), "webitinerary.start")
                            }
                          }
                        }
                      </div></td>
                      @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
                        <td style="width : 15px"></td>
                        <td style="width : 120px ; padding-bottom:10px ;"><div style="border-top: 1px solid #000000 ; padding-top: 5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                          @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.arrivingat")
                          } else {
                            @Messages.get(Lang.forCode(lang), "webitinerary.finish")
                          }
                        }

                        </div></td>
                      }
                    }else {
                      <td style="@if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){width:400px;} else {width:130px;}padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.train")
                        } else {
                        @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.contact")
                        } else {
                        @Messages.get(Lang.forCode(lang), "webitinerary.company")
                        }
                        }

                      <td style="width:30px"></td>
                      <td style="width: 170px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.pickup")
                          } else {
                        @Messages.get(Lang.forCode(lang), "webitinerary.start")
                          }
                        }
                      </div></td>
                        @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
                          <td style="width:30px"></td>
                          <td style="width:170px; padding-bottom:10px ;"><div style="border-top:1px solid #000000 ; padding-top:5px;text-transform:uppercase">
                          @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                          } else {
                            @Messages.get(Lang.forCode(lang), "webitinerary.finish")
                          }
                          </div></td>
                        }
                    }

                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="padding-bottom: 20px;;vertical-align: text-top">
                      @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@trv.getProviderName</span> <br/>
                      } else {
                        @if(trv.getName != null && trv.getName.trim.length > 0) {
                          <span style="font-weight: 700">@trv.getName</span> <br/>
                        }
                      }
                      @if(trv.getContact != null && trv.getContact.length > 0) {
                      @trv.getContact <br/>
                      }
                      @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                          @trv.getProviderAddr1 <br>
                      }
                      @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                            @trv.getProviderAddr2 <br/>
                      }
                      @if(trv.getProviderPhone != null && trv.getProviderPhone.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.phone"): @trv.getProviderPhone <br/>
                      }
                      @if(trv.getProviderEmail != null && trv.getProviderEmail.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.email"): @trv.getProviderEmail <br/>
                      }
                      @if(trv.getProviderWeb != null && trv.getProviderWeb.trim().length > 0) {
                        <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@trv.getProviderWeb" target="_blank">Website</a> <br/>
                      }
                    </td>
                    @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px"></td>
                      <td style="width:60px ; padding-bottom: 20px;;vertical-align: text-top;">@trv.getBookingNumber</td>
                    }
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(trv.getStartHour != null && trv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                          @if(display12Hr) {
                            @Utils.formatTime12(trv.getStartDateMilli)
                          } else {
                            @Utils.formatTime24(trv.getStartDateMilli)
                          }
                        </div>
                      }
                      @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@trv.getStartDateItin  </div>
                      }
                      @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@trv.getLocStartName  </span>

                      }
                    </td>
                    @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
                      <td style="width: 15px"></td>
                      <td style="width: 119px; padding-bottom :20px;">
                        @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                          <div style="font-size: 18px; padding-bottom:12px">
                          @if(display12Hr) {
                            @Utils.formatTime12(trv.getEndDateMilli)
                          } else {
                            @Utils.formatTime24(trv.getEndDateMilli)
                          }

                          </div>
                        }
                        @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                          <div style="padding-bottom:6px">@trv.getEndDateItin </div>
                        }
                        @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                          <span style="font-size:14px; font-weight : 400">@trv.getLocFinishName  </span>

                        }
                      </td>
                    }
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="padding:0px;width: 700px;">
  <table style="width: 700px;">
    <tr style="width: 700px;">
      <td style="width: 100px;text-align: center;vertical-align:top;">
      </td>
      <td style="width:630px;vertical-align: top;">
        <div >
          <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
            @if(trv.getNotesPlain != null && trv.getNotesPlain.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;;padding-bottom: 10px">
                  <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px; width:630px ">
                    <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                  </div>
                  <div class="descFont" style="padding-top: 10px; width:630px;">
                  @Html(Utils.escapeHtml(trv.getNotesPlain))
                  </div>
                </td>
              </tr>
            }
            @if(trv.getProviderComments != null && trv.getProviderComments.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;padding-bottom: 10px">
                  <div class="descFont" style="padding-top: 10px; width:630px">
                  @Html(trv.getProviderComments)
                  </div>
                </td>
              </tr>
            }
            @views.html.common.bookingPdfRate(trv, lang)
            @if(trv.getCancellation != null && trv.getCancellation.trim.length > 0) {
            <tr style="page-break-inside: auto">
              <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;padding-bottom: 10px">
                <div class="descFont"  style="width:630px">
                  <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"):</span> @Html(Utils.escapeHtml(trv.getCancellation))
                </div>
              </td>
            </tr>
            }
            @if(trv.getPhotos != null && trv.getPhotos.size() > 0 && !printFriendly) {
              <tr style="page-break-inside: avoid; padding-bottom: 10px;">
                <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                  <table style="width: 630px">
                    <tr>
                      <td style="width:157px;text-align: center">
                        <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(0).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(trv.getPhotos.size() > 1) {
                        <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(trv.getPhotos.size() > 2) {
                        <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(trv.getPhotos.size() > 3) {
                        <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
            }

            @views.html.trip.bookingspdf.bookingFiles(trv)


          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

</div>
