@(portcodes:  List[String], ports: Map[String, String], tripId: String, startDate: String)
@import org.joda.time.DateTimeConstants;
  @import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


  <script>
function searchShoretrips() {
  $('#dynamicModalBody' ).modal('hide');
  //weird bug when chaining modals
  var url = '/shoretrips/searchTrip?portCode=' + $('#portId').val() + '&tripId=@tripId&startDate='+ $('#startDate').val() + '&startTime=' + $('#inTime').val();
  setTimeout(function() { getModalPage(url); }, 500);

  return false;
}

  function closeModal() {
  $('#dynamicModalBody').modal('hide');
  return false
  }

$( "#startDate" ).datepicker({
minDate : new Date ('@escapeEcmaScript(startDate)'),
defaultDate: "+1w",
changeMonth: true,
numberOfMonths: 2
});

  $('#inTime').timepicker({
  template: 'modal'
  });

  $('#inTime').on('click', function (e) {
  $('#inTime').timepicker('showWidget');
  });

  function resetTime() {
  $('#inTime').val('12:00 AM');

  }
  </script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" onclick="closeModal()">&times;</button>
    <h2 style="text-align:center;">ShoreTrips Import</h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
    <div class="row-fluid">
      <legend>Search for a Trip by Port </legend>
      <div class="span3">
        <label>Port</label>
        <select id="portId">
          @for(p <- portcodes){
            <option value="@ports.get(p)">@p</option>
          }
        </select>
      </div>
      <div class="span2">
        <label> Booking Date</label>
        <div class="input-append date" id="startDate1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text"  id="startDate" name="inStartDate" readonly class="input-small required">
        </div>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label> Booking Time </label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="inTime" type="text" class="input-small" name="inTime" readonly  data-default-time="false;" value="12:00 AM">
        <btn class="btn" onclick="javascript:resetTime();"> <span class=""><i class="fa fa-times"></i></span></btn>
      </div>
      <div class="span2">
      <label>&nbsp;</label>
        <button class="btn btn-info " onclick="javascript:searchShoretrips();"> Search </button>
      </div>
      <div class="span2">
        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/shoretrips_logo.png" style="height: 50px">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
  </div>

</div>
