@(m:  com.mapped.publisher.view.CruiseSearchView)
@import com.mapped.publisher.view.EnhancedTripBookingDetailView

<div id="shipSearchResultsTable" style="overflow: auto; ">
  <script>
  $(function(){
  javascript:$('#cruiseSearchSpinner').hide();
  });
  </script>

  @if(m.message != null && m.message.trim.length > 0) {
    <h3 class="alert">@m.message</h3>
  }
  <div class="accordion" id="accordion2">

  @if(m.cruises != null) {
    @if(m.cruises.size() > 0) {
      <h3>Found @m.cruises.size() cruises</h3>
    }
    @for(p <- m.cruises) {
      @for(v <- p.cruises) {
          <div class="accordion-group">
            <div class="accordion-heading" style="">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion_@v.detailsId">
                <div class="row-fluid">
                  <div class="span9">@p.tripName @if(!p.tripName.contains("days")){- (@v.duration days)}</div>
                  <div class="span3 pull-right">
                    <button class="btn btn-info" > Details</button> &nbsp;
                  <button  class="btn btn-primary" onclick="javascript:importCruise('@m.tripId', '@v.detailsId');return false;"> Import</button>
                  </div>
                </div>



              </a>
            </div>
            <div id="accordion_@v.detailsId" class="accordion-body collapse">
              <div class="accordion-inner">
              @views.html.template.cruiseSearchPort(p, EnhancedTripBookingDetailView.parseCruise(p,v))
              </div>
            </div>
          </div>
      }
    }
  }
  </div>
</div>