@(m: com.mapped.publisher.view.TripBookingView, f: com.mapped.publisher.view.EnhancedTripBookingDetailView)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType

@if(f.cruiseStops != null) {
  @m.comments
  <br/><br/>
  <table class="table table-striped">
    <thead>
      <th style="width: 30px;text-align: center"> Day </th>

      <th style="width: 200px;text-align: center"> Location </th>
      <th style="width: 100px;text-align: center"> Date </th>
      <th style="width: 50px;text-align: center"> Arrive Time</th>
      <th style="width: 50px;text-align: center"> Depart Time</th>
    </thead>


    @for(p <- f.cruiseStops) {
      <tr>
        <td style="text-align: center">
          @p.day
        </td>
        <td style="text-align: left">
        @p.itinerary
        </td>
        <td style="text-align: center">
         @p.datePrint
        </td>
        <td style="text-align: center">
        @p.arriveTimePrint
        </td>
        <td style="text-align: center">
        @p.departTimePrint
        </td>
      </tr>
    }
  </table>

}
