@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.view.GenericTypeView
@import com.mapped.publisher.view.TabType

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Trip Template - @m.title</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  @views.html.template.templateWizard(m.tripId, m.imgUrl, 3)

  <div class="">
    <div class="row-fluid">
        <div class="span11">
            <a href="#searchGuideModal" data-toggle="modal" class="btn btn-info btn-large pull-left"> Add a Document</a>
        </div>
    </div>
    <div class="row-fluid">
        <br/>
    </div>
    @if(m.destinationList != null && m.destinationList.size() > 0 ){
    <div class="row-fluid" style="">
        @for(v <- m.destinationList) {
        <div class="span3 well">
            <table class="tableNoBorder">
                <body>
                <tr>
                    <td style="text-align:center;">
                        <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                            <h5> @v.name</h5>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td style="text-align:center;">
                        <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                            @v.destinationTypeDesc
                            @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() > 0)) {
                            @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                            -  @v.city, @v.country
                            } else {
                            - @v.country
                            }
                            }
                        </a>
                    </td>
                </tr>

                @if(v.coverUrl!=null) {
                <tr>
                    <td>
                        <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
                            <img class="img-rounded span12" src="@v.coverUrl"></img>
                        </a>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <br/>
                        @if(v.isTourGuide) {
                        <h5>Tour: @v.tourName </h5>
                        } else {
                        <a href="#deleteTripGuideModal_@v.id" data-toggle="modal" class="btn btn-danger pull-right"> Delete</a>
                        }
                    </td>
                </tr>

                </body>

            </table>

        </div>
        }

    </div>
   } else {
    <div>
        <h3> No Documents Added Yet.</h3>
    </div>
   }
  </div>




<!-- modal search guides -->
    <div id="searchGuideModal" class="modal hide fade">
        <form id="searchGuideForm">
            <input type="hidden"  id='inTripId' name='inTripId' value="@m.tripId"/>
            <input type="hidden"  id='inDestIds' name='inDestIds' value="@if(m.destinationList != null) {@for(p <- m.destinationList) {@p.id,}}"/>


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a Document</h3>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span9">
                            <label>Keyword</label>
                            <input type="text"  id='inKeyword' name='inKeyword' placeholder="keywords" class="input-block-level"/>
                        </div>

                        <div class="span3 ">
                            <button type="submit" class="btn btn-success pull-right"  id="searchButton"
                                    onclick="javascript:doSearchForm('guide/templateDestinationSearch','searchGuideForm');return false;" >Search
                            </button>
                        </div>​
                    </div>
                    <div class="row-fluid">
                        <p class="muted"> Search for an existing document and add it to the trip.</p>
                    </div>
                </div>
                <div id="searchResults">
                    <div id="searchResultsTable">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


            </div>
        </form>
    </div>

    <!-- delete guides confirm modal -->
    @if(m.destinationList != null){
    @for(v <- m.destinationList) {

    <script>
        $('#deleteTripGuideSubmit_@v.id').click(function() {
        $('#deleteTripGuideModal_@v.id').modal('hide');
        });
    </script>

    <div id="deleteTripGuideModal_@v.id" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete @v.name?</p>


        </div>
        <div class="modal-footer">
            <form id="deleteTripGuideForm_@v.id">
                <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
                <input type="hidden" id="inDestId" name="inDestId" value=@v.id>

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteTripGuideSubmit_@v.id"
                        onclick="javascript:postForm('@routes.TemplateController.deleteGuide()', 'deleteTripGuideForm_@v.id');return false;">Delete
                </button>
            </form>
        </div>
    </div>
    }
    }

    <div id="dynamicModal">
    </div>
</div>
<--endPageBody-->
