@(m: com.mapped.publisher.view.BaseView, t:  models.publisher.Template)

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
  <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">@t.getName</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
  @if(t != null) {
   <h3> TRIP: @t.getName</h3>
  }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <style>
    .fc-day-header{
      color: #ffffff;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      loadTemplateBookings('@controllers.routes.TemplateController.bookingsJson(t.getTemplateid)');
    });
  </script>

  @views.html.template.templateWizard(t.getTemplateid, m.imgUrl, 4)

  @*
  <a class="btn btn-info pull-right"  href="/trips/loadPdf?inTripId=@t.getTemplateid" target="_blank">
  <i class="fa fa-cloud-download"></i> Download PDF</a>
  *@

  <div id='calendar'></div>
  <br/>
  <a class="btn btn-info pull-right"  onclick="saveTemplateBookings('@controllers.routes.TemplateController.updateBookingsJson(t.templateid)')">
  <i class="fa fa-cloud-upload"></i>&nbsp;Save Template Changes</a>
</div>

<--endPageBody-->
