@(m:  com.mapped.publisher.view.TemplateBookingView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

<div id="dynamicModalBody" class="modal hide fade container">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2 style="text-align:center;">Trip Template</h2>
  </div>
  <div class="modal-body" style="overflow-y: auto;">
    <h2 style="text-align:center;line-height:20px">@m.templateName</h2>
    @if(m.tripId != null && m.tripId.trim().length > 1) {
    <div class="row-fluid" style="">
        <div class="span9"></div>

        <div class="span3" style="text-align: right;">
            <button class="btn btn-success btn-large " onclick="javascript:$('#dynamicModalBody').modal('hide');javascript:doPost('/trips/newTrip/addTemplate?inTemplateId=@m.templateId')"> Add to Trip </button>
        </div>
    </div>
    }

    <div class="tabbable ">
      <ul class="nav nav-tabs" id="myTab">
        @if(m.flights.size() > 0) {
          <li class='active'><a href="#flights" data-toggle="tab"><i class="fa fa-plane pull-left"></i> &nbsp;Flights <span class="badge badge-success">@m.flights.size()</span></a></li>
        }
        @if(m.hotels.size() > 0) {
          <li @if(m.flights.size() == 0){ class='active'}><a href="#hotels" data-toggle="tab"><i class="fa fa-home pull-left"></i> &nbsp;Accommodations <span class="badge badge-success">@m.hotels.size()</span></a></li>
        }
        @if(m.cruises.size() > 0) {
          <li @if(m.flights.size() == 0 && m.hotels.size() == 0){ class='active'}><a href="#cruises" data-toggle="tab"><i class="fa fa-life-ring pull-left"></i> &nbsp;Cruises <span class="badge badge-success">@m.cruises.size()</span></a></li>
        }
        @if(m.transfers.size() > 0) {
          <li @if(m.flights.size() == 0 && m.hotels.size() == 0 && m.cruises.size() == 0){ class='active'}><a href="#transport" data-toggle="tab"><i class="fa fa-road pull-left"></i> &nbsp;Transport <span class="badge badge-success">@m.transfers.size()</span></a></li>
        }
        @if(m.activities.size() > 0) {
          <li @if(m.flights.size() == 0 && m.hotels.size() == 0 && m.cruises.size() == 0 && m.transfers.size() == 0){ class='active'}><a href="#activities" data-toggle="tab"><i class="fa fa-globe pull-left"></i> &nbsp;Activities <span class="badge badge-success">@m.activities.size()</span></a></li>
        }
        @if(m.guides.size() > 0) {
          <li @if(m.flights.size() == 0 && m.hotels.size() == 0 && m.cruises.size() == 0 && m.transfers.size() == 0 && m.activities.size() == 0){ class='active'}><a href="#guides" data-toggle="tab"><i class="fa fa-book pull-left"></i> &nbsp;Documents <span class="badge badge-success">@m.guides.size()</span></a></li>
        }
      </ul>

      <div class="tab-content">
        <div class="tab-pane @if(m.flights.size() > 0){active} else {fade}" id="flights">
          <table class="table">
            <thead>
              <tr>
                <th style="width:30%">FLIGHT</th>
                <th style="width:35%">DEPART</th>
                <th style="width:35%">ARRIVE</th>
              </tr>
            </thead>
            <tbody>
              @for(p <- m.flights) {
              <tr>
              <td style="width:30%">
                  <h4> @p.providerName @p.flightId </h4>
              </td>
              <td style="width:30%">
                 <h5> Depart: @p.departureAirport </h5>
              </td>
              <td style="width:30%">
              <h5> Arrive: @p.arrivalAirport </h5>
              </td>
             <!-- <td>
              @if(p.comments != null && p.comments.length > 0) {
              Note: @p.comments <br/>
              }
              </td>  -->
              </tr>
              }
            </tbody>
           </table>
        </div>

        <div class="tab-pane @if(m.hotels.size() > 0 && (m.flights.size() == 0)){active} else {fade}" id="hotels">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:30%">NAME</th>
                    <th style="width:35%">ADDRESS</th>
                    <th style="width:35%">DATE</th>
                </tr>
                </thead>
                <tbody>
                @for(p <- m.hotels) {
                <tr>
                    <td>
                        <h4> @p.providerName </h4>
                    </td>
                    <td>
                        @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                        @p.providerAddr1 <br/>
                        }
                        @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                        @p.providerAddr2 <br/>
                        }
                        @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                        T: @p.providerPhone <br/>
                        }
                    </td>
                    <td>
                        @if(p.comments != null && p.comments.length > 0) {
                        Note: @p.comments <br/>
                        }

                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="tab-pane @if(m.cruises.size() > 0 && m.flights.size() == 0 && m.hotels.size() > 0){active} else {fade}" id="cruises">
          <table class="table">
            <thead>
              <tr>
                <th style="width:30%">FLIGHT</th>
                <th style="width:35%">DEPART</th>
                <th style="width:35%">ARRIVE</th>
              </tr>
            </thead>
            <tbody>
            @for(p <- m.cruises) {
              <tr>
                <td>
                  <h4>@p.cruise.name</h4>
                </td>
                <td>
                  <h5>Depart: @p.cruise.portDepart</h5>
                </td>
                <td>
                  <h5>Arrive: @p.cruise.portArrive</h5>
                </td>
                <!-- <td>
                @if(p.comments != null && p.comments.length > 0) {
                    Note: @p.comments <br/>
                }
                </td>  -->
              </tr>
            }
            </tbody>
          </table>
        </div>

        <div class="tab-pane @if(m.transfers.size() > 0 && (m.flights.size() == 0) && (m.hotels.size() == 0)){ active } else {fade}" id="transport">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:30%">NAME</th>
                    <th style="width:35%">ADDRESS</th>
                    <th style="width:35%">DATE</th>
                </tr>
                </thead>
                <tbody>
                @for(p <- m.transfers) {
                <tr>
                    <td>
                        <h4> @p.providerName</h4>
                    </td>
                    <td>
                        @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                        @p.providerAddr1 <br/>
                        }
                        @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                        @p.providerAddr2 <br/>
                        }
                        @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                        T: @p.providerPhone <br/>
                        }
                    </td>
                    <td>
                        @if(p.contact != null &&  p.contact.length > 0){
                        Contact: @p.contact <br/>
                        }

                        @if(p.locStartName != null && p.locStartName.length > 0) {<h5>Pick-Up Location:  @p.locStartName </h5>   }
                        @if(p.locFinishName != null && p.locFinishName.length > 0) {<h5>Drop-Off Location:  @p.locFinishName </h5> }
                        @if(p.comments != null && p.comments.length > 0) {
                        Note: @p.comments <br/>
                        }
                    </td>

                </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="tab-pane @if(m.activities.size() > 0 && (m.flights.size() == 0) && (m.hotels.size() == 0) && (m.transfers.size() == 0 )){active} else {fade}" id="activities">
          <table class="table">
            <thead>
            <tr>
                <th style="width:30%">NAME</th>
                <th style="width:35%">ADDRESS</th>
                <th style="width:35%">DATE</th>
            </tr>
            </thead>
            <tbody>
            @for(p <- m.activities) {
            <tr>
                <td>
                    <h4> @p.providerName   </h4>
                </td>
                <td>

                    @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                    @p.providerAddr1 <br/>
                    }
                    @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                    @p.providerAddr2 <br/>
                    }
                    @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                    T: @p.providerPhone <br/>
                    }
                </td>
                <td>
                    @if(p.contact != null &&  p.contact.length > 0){
                    Contact: @p.contact <br/>
                    }

                    @if(p.comments != null && p.comments.length > 0) {
                    Note: @p.comments <br/>
                    }

                </td>
            </tr>

            }
            </tbody>
          </table>
        </div>

        @if(m.guides != null && m.guides.size() > 0){
        <div class="tab-pane @if(m.flights.size() == 0 && m.hotels.size() == 0 && m.transfers.size() == 0 && m.activities.size() == 0) {active} else {fade}" id="guides">
          <table class="table">
              <thead>
              <tr>
                  <th style="width:30%"></th>
                  <th style="width:40%">NAME</th>
                  <th style="width:35%">Type</th>
              </tr>
              </thead>
              <tbody>
              @for(p <- m.guides) {
              <tr>
                  <td>
                      @if(p.coverUrl != null && p.coverUrl.length() > 0) {
                          <img src='@p.coverUrl'>
                      }
                  </td>
                  <td>
                      <h4> @p.name  </h4>
                  </td>
                  <td>
                     @p.destinationTypeDesc <br/>
                     @if(p.city != null && p.city.length() > 0) {
                          @p.city, &nbsp;
                     }
                      @if(p.country != null && p.country.length() > 0) {
                      @p.country <br/>
                      }
                  </td>
              </tr>

              }
              </tbody>
          </table>
        </div>
        }

        </div>  <!-- tab content -->
    </div>  <!-- tabbable -->
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
