@(m:  com.mapped.publisher.view.TemplateView)
@import com.mapped.publisher.view.TabType
@import models.publisher.Template.Visibility
@import com.mapped.publisher.common.APPConstants
@import models.publisher.ImageLibrary.ImgSrc

@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    @if(m.templateId != null) {
    <h1 class="page-title">Edit Trip Template</h1>
    } else {
    <h1 class="page-title">New Trip Template </h1>
    }

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    @if(m.templateName != null) {
    <h3 class="page-title"> NAME: @{m.templateName}.</h3>
    }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">

  @* @formatter:off *@
  <script>
    function reloadNeeded() {
       if (photoUploadedCount > 0) {
                var url = "template/template/@m.templateId";
                getPage(url);
       }
    }

    $( "#startDate" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#endDate" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
      }
    });

    function uploadTemplateCover() {
      $("#uploadSpinner").show();

      @if(m.templateId != null) {
      var uploadurl= '@controllers.routes.TemplateController.uploadCover(m.templateId)?inPhotoName=' + escapeFilename($("#inCmpyPhotoFile").val().replace("C:\\fakepath\\", ""));

      if($.browser.msie) {
        signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
            return iFrameUpload( signedURL, publicURL, s3Bucket);
        });
      } else {
        var s3upload = s3upload != null ? s3upload : new S3Upload({
         file_dom_selector: 'inCmpyPhotoFile',
          s3_sign_put_url: uploadurl,
          s3_object_caption: $("#inCmpyPhotoCaption").val(),
          onProgress: function(percent, message) {
              $("#progressUpload").text(percent + "%");
          },
          onFinishS3Put: function(public_url) {
              $('#uploadPhotoModal').modal('hide');
              getPage(public_url);
              console.log('Upload finished: ', public_url);
          },
          onError: function(status) {
              $("#progressBarDiv").hide();
              alert('Upload error: ', status);
              console.log('Upload error: ', status);
          }
        });
      }
    }
    }

    //update recently updated trip menu - keep limit to 10
    @if(m != null && m.templateId !=null && m.templateName != null && m.templateName.length > 0) {
      $(function () {
        addRecentHistory('RecentTripTemplates','@m.templateId','@m.templateName',"javascript:getPage('@controllers.routes.TemplateController.template(m.templateId)');");
      });
    }
  </script>
  @* @formatter:on *@
  @views.html.template.templateWizard(m.templateId, m.imgUrl, 1)

  <form id="templateInfoForm">
    <div class="row-fluid">
      <div class="span9">
        <div class="row-fluid">
          <div class="span7">
              <label> Template Name <em>*</em></label>

              @if(m!= null && m.templateId!=null) {
              <input type="hidden" id="inTemplateId" name="inTemplateId" placeholder="Template Name" class="required input-block-level" minlength="5"  value=@m.templateId >
              }

              <input type="text" id="inTemplateName" name="inTemplateName" placeholder="Template Name" class="required input-block-level"  minlength="5"
              @if(m!= null && m.templateName!=null) {
              value="@m.templateName"
              }
              >

          </div>
          <div class="span5">
              <label> Company</label>
              @if(m != null && m.tripAgencyList != null && m.templateId == null) {
              <select name="inTemplateCmpyId">

                  @for((key, value) <- m.tripAgencyList) {
                  @if(key == m.tripAgencyId) {
                  <option selected="Y" value=@key>@value</option>
                  } else {
                  <option value=@key>@value</option>
                  }
                  }
              </select>
              } else {
              <h5> @m.tripAgency </h5>
              <input type="hidden" name="inTemplateCmpyId" value="@m.tripAgencyId">
              }
          </div>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span1">
              <label>
                  Sharing:
              </label>
          </div>
          <div class="span1">
              <label class="radio">
                  <input type="radio" name="inTemplateShare" id="inTemplateShare" value="@Visibility.PRIVATE.name()" @if(m.templateSharing == Visibility.PRIVATE) {checked}>
                  Private
              </label>
          </div>
          <div class="span1">
              <label class="radio">
                  <input type="radio" name="inTemplateShare" id="inTemplateShare" value="@Visibility.PUBLIC.name()" @if(m.templateSharing ==  Visibility.PUBLIC) {checked}>
                  Public
              </label>
          </div>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span4">
            <label>Duration</label>
            <select name="inDuration" class="input-block-level">
              <option value="1" @if(1 == m.duration) {
                selected="Y" }>1 Day</option>
              @for(day <- Range(2, 366)) {
                <option value="@day" @if(day == m.duration) {
                  selected="Y" }>@day Days</option>
              }
            </select>
          </div>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span12">
            <label>Note</label>

            <textarea id="inTemplateNote" name="inTemplateNote" class="field input-block-level" rows="5">@if(m != null && m.templateNote != null) {@m.templateNote}</textarea>
          </div>
        </div>
      </div>
      <div class="span3 agination-centered">
      @if(m.coverUrl != null && m.coverUrl.length > 0){
        <label>Cover Photo &nbsp; &nbsp;
          <button type="button" href="#deletePhotoModal" id="deleteBtn" class="btn btn-danger "  data-toggle="modal"><i class="fa fa-picture-o"></i>&nbsp;Delete Photo</button>
        </label>
        <a href="@m.coverUrl" data-lightbox="image-1" data-title= "" target="_blank">
          <a  href="#uploadPhotoModal" data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" ><img class="img-rounded" src="@m.coverUrl" width="100%"/> </a>
        </a>
      } else {
        @if(m.templateId != null) {
          <a  href="#uploadPhotoModal"  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal"><img class="img-rounded" width="290" height="290" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Add Cover Photo"/> </a>
        }
      }
      </div>
    </div>
    <br/>
    <div class="row-fluid">
      @if(m.templateId != null){
        <div class="offset8 span2">
          <button  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false"
                   type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-large btn-primary input-block-level" data-toggle="modal"><i class="fa fa-picture-o"></i>&nbsp;Add Cover Photo</button>
        </div>
        <div class="span1">
          <a href="#deleteModal" role="button" class="btn btn-danger btn-large input-block-level" data-toggle="modal">Delete</a>
        </div>
      }  else {
        <div class="span11">
        </div>
      }
      <div class="span1">
        <button type="submit" class="btn btn-success btn-large"
                onclick="javascript:postForm('@controllers.routes.TemplateController.updateTemplate()', 'templateInfoForm');return false;">Save
        </button>
      </div>
    </div>
  </form>

    @if(m.templateId != null){
    <script>
        $('#deleteTemplateSubmit').click(function() {
          $('#deleteModal').modal('hide');
        });
    </script>

    <div id="deleteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this template?</p>

        </div>
        <div class="modal-footer">
            <form id="deleteTemplateForm">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteTemplateSubmit"
                        onclick="javascript:postForm('@controllers.routes.TemplateController.deleteTemplate(m.templateId)', 'deleteTemplateForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>
    }
    <!-- end form well-->


  @if(m.templateId != null && m.templateId.length() > 0) {

<div id="uploadPhotoModal" class="modal hide container fade" tabindex="-1" data-replace="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Template Cover Photo</h3>
  </div>
  <div class="modal-body">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs" id="photoTabs">
        <li class="active">
          <a href="#imgLibraryTab" data-toggle="tab">
            <i class="fa fa-th pull-left"></i>Search Image Library</a>
        </li>
        <li>
          <a href="#imgWebTab" data-toggle="tab">
            <i class="fa fa-globe pull-left"></i> Search Web</a>
        </li>
        <li>
          <a href="#uploadTab" data-toggle="tab">
            <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="imgLibraryTab" class="tab-pane active ">
          <legend>Search Image Library</legend>
          <form id="imgSearchForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.tripAgencyId" >
            <input type="hidden"  name="inImgSearchType" value="@ImgSrc.UMAPPED" >
            <input type="hidden" id="inTemplateId" name="inTemplateId" value=@m.templateId>
            <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

            <div class="row-fluid">

              <div class="span6">
                <label>Keyword</label>
                <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                class="input-block-level required"/>
              </div>
              <div class="span3 ">
                <label>&nbsp;</label>

                <button type="submit" class="btn btn-success pull-left btn-large"
                onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgSearchForm', 'imgSearchResults');return false;"> Search
                </button>
              </div>
            </div>
          </form>
          <div class="row-fluid">
            <p class="muted"> Search for a photo from your library and the Umapped database.</p>
          </div>
          <div id="searchResults">
            <div id="imgSearchResults"></div>
          </div>
        </div>
        <div id="imgWebTab" class="tab-pane">
          <legend>Search/Save Image From a Website</legend>
          <div class="well">

            <form id="imgWebSearchForm">
              <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.tripAgencyId" >
              <input type="hidden"  name="inImgSearchType" value="@ImgSrc.WEB" >
              <input type="hidden" id="inTemplateId" name="inTemplateId" value=@m.templateId>
              <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

              <div class="row-fluid">

                <div class="span6">
                  <label>Keyword</label>
                  <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                  class="input-block-level"/>
                </div>

              </div>
              <div class="row-fluid">

                <div class="span6">
                  <label>Website</label>
                  <input type="text" id='inWebUrl' name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                  class="input-block-level required"/>
                </div>
                <div class="span3 ">
                  <label>&nbsp;</label>

                  <button type="submit" class="btn btn-success pull-left btn-large"
                  onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgWebSearchForm','imgWebSearchResults');return false;"> Search
                  </button>
                </div>
              </div>
            </form>
            <div class="row-fluid">
              <p class="muted"> Search photos from an external website.</p>
            </div>
          </div>

          <div id="searchResults">
            <div id="imgWebSearchResults">
            </div>
          </div>
        </div>
        <div id="uploadTab" class="tab-pane">
          <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">
            <div class="row-fluid">
              <legend>Upload a Photo</legend>
              <div class="span9">
                <input type="hidden" id="key" name='key'/>
                <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                <input type="hidden" id="policy" name='policy'/>
                <input type="hidden" id="signature" name='signature'/>
                <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                <input type="file"  id='inCmpyPhotoFile' name='file' />
              </div>
              <div class="span2 pull-right">
                <button type="button" class="btn btn-success btn-large pull-right "  id="uploadPhotoSubmit"
                        onclick="javascript:uploadTemplateCover();" > Upload
                </button>
              </div>
            </div>
            <br/>
            <div style="height:120px">
              <div id="uploadSpinner" style="display:none;text-align:center">
                <img src="@{m.imgUrl}/img/ajax-loader.gif" >  Uploading... <div id="progressUpload"></div>
              </div>
            </div>
          </form>
        </div>
        <div id="imgSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    <br/>
  </div>
</div>

@if(m.coverUrl != null && m.coverUrl.length > 0){
  <!-- allow for delete cover photo  -->
  <script>
  $('#deleteCoverSubmit').click(function() {
  $('#deletePhotoModal').modal('hide');
  });
  </script>

  <div id="deletePhotoModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Confirm Delete Cover Photo</h3>
    </div>
    <div class="modal-body">
      <p>Delete the cover Photo?</p>
    </div>
    <div class="modal-footer">
      <form id="deleteCoverForm">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-danger " id="deleteCoverSubmit"
                onclick="javascript:postForm('@controllers.routes.TemplateController.deleteCover(m.templateId)', 'deleteCoverForm');return false;">Delete
        </button>
      </form>
    </div>
  </div>
}
  }
</div>
<--endPageBody-->
