@(m:  com.mapped.publisher.view.TemplateBookingView)
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.common.APPConstants

@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Trip Template -  @m.templateName </h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageBody-->
<div id="pageBody">

  <style>
    .bookingBox:hover {
    box-shadow: 0px 0px 4px  #333333;
    }
  </style>

  <script>
    function confirmDelete (detailId, detailName) {
      if (detailId != null) {
        $("#detailId").val(detailId);
        $("#deleteModalMsg").text("Delete " + detailName + "?");
        $("#deleteModal").modal('show');
      }
    }
  </script>

  @views.html.template.templateWizard(m.templateId, m.imgUrl, 2)

  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="bookingTabs">

      <li @if(m.activeTab == TabType.FLIGHTS){class="active"}><a href="#flightTab" data-toggle="tab">
        <i class="fa fa-plane pull-left"></i> Flights @if(m.flights != null && m.flights.size>0){<span class="badge badge-success">@m.flights.size()</span>}</a></li>
      <li @if(m.activeTab == TabType.HOTELS){class="active"}><a href="#hotelTab" data-toggle="tab">
        <i class="fa fa-building pull-left"></i> Accommodations @if(m.hotels != null && m.hotels.size>0){<span class="badge badge-success">@m.hotels.size()</span>}</a></li>
      <li @if(m.activeTab == TabType.CRUISES){class="active"}><a href="#cruiseTab" data-toggle="tab">
        <i class="icon1-cruise pull-left"></i> Cruise @if(m.cruises != null && m.cruises.size>0){<span class="badge badge-success">@m.cruises.size()</span>}</a></li>
      <li @if(m.activeTab == TabType.TRANSPORTS){class="active"}><a href="#transferTab" data-toggle="tab">
        <i class="fa fa-car pull-left"></i> Transportation @if(m.transfers != null && m.transfers.size>0){<span class="badge badge-success">@m.transfers.size()</span>}</a></li>
      <li @if(m.activeTab == TabType.ACTIVITIES){class="active"}><a href="#activityTab" data-toggle="tab">
        <i class="fa fa-child pull-left"></i> Activities @if(m.activities != null && m.activities.size>0){<span class="badge badge-success">@m.activities.size()</span>}</a></li>
    </ul>

    <div class="tab-content">
      @* @formatter:off *@
      <script>
        poiAutocompleteRegister('cruiseName',           'cruiseProviderId',       '@m.cmpyId', 6);
        poiAutocompleteRegister('cruisePortDepart',     'cruisePortDepartId',     '@m.cmpyId', 7);
        poiAutocompleteRegister('cruisePortArrive',     'cruisePortArriveId',     '@m.cmpyId', 7);
        poiAutocompleteRegister('flightDepartAirport',  'flightDepartAirportId',  '@m.cmpyId', 2);
        poiAutocompleteRegister('flightArrivalAirport', 'flightArrivalAirportId', '@m.cmpyId', 2);
        poiAutocompleteRegister('hotelName',            'hotelProviderId',        '@m.cmpyId', 3);
        poiAutocompleteRegister('transferProvider',     'transferProviderId',     '@m.cmpyId', 4);
        poiAutocompleteRegister('activityProviderName', 'activityProviderId',     '@m.cmpyId', 5);

        $('#activityDestination').autocomplete({
          source: "/guide/destinationList?type=5&cmpyId=@m.cmpyId",
          minLength: 2,
          select: function(event, ui) {
            $("#activityDestination").val(ui.item.label);
            $("#activityDestinationId").val(ui.item.id);
            return false;
          },
          response: function(event, ui) {
            $("#activityDestinationId").val("");
            if (ui.content.length == 1) {
              $("#activityDestination").val(ui.content[ 0 ].label);
              $("#activityDestinationId").val(ui.content[ 0 ].id);
              $(this).autocomplete("close");
            }
          }
        });

      </script>
      @* @formatter:on *@

      <!-- flight form -->
      @views.html.template.flights.render(m)

      <!-- hotel form -->
      @views.html.template.hotels.render(m)

      <!-- cruises form -->
      @views.html.template.cruises.render(m)

      <!-- transport form -->
      @views.html.template.transports.render(m)

      <!-- activities form -->
      @views.html.template.activities.render(m)
    </div> <!-- tab-content-->
  </div> <!-- tabbable-->


<script>
    $('#deleteBookingSubmit').click(function() {
    $('#deleteModal').modal('hide');
    });
</script>

<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <h3 id="deleteModalMsg"></h3>
    </div>
    <div class="modal-footer">
        <form id="deleteBookingForm">
            <input type="hidden" id="detailId" name="inTripDetailId" value="">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-danger " id="deleteBookingSubmit"
                    onclick="javascript:postForm('@controllers.routes.TemplateController.deleteBooking()', 'deleteBookingForm');return false;">Delete
            </button>
        </form>
    </div>
</div>




<div id="dynamicModal">
</div>



</div> <!-- pageBody -->
<--endPageBody-->
