@(m:  com.mapped.publisher.view.TemplateBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.ViewUtils
@import com.mapped.publisher.view.EnhancedTripBookingDetailView

<div id="transferTab" @if(m.activeTab == TabType.TRANSPORTS){class='tab-pane active'} else { class='tab-pane fade'}>

  <script>
    @* @formatter:off *@
    $('#transportStartTime').timepicker({
      minuteStep: 15,
      template: 'dropdown',
      showSeconds: false,
      showMeridian: true,
    defaultTime: false
    });

    $('#transportEndTime').timepicker({
      minuteStep: 15,
      template: 'dropdown',
      showSeconds: false,
      showMeridian: true,
      defaultTime: false
    });

    $('#transportStartTime').on('click', function (e) {
      $('#transportStartTime').timepicker('showWidget');
    });

    $('#transportEndTime').on('click', function (e) {
      $('#transportEndTime').timepicker('showWidget');
    });

    //@@ sourceURL=publisherTemplateTransportTab.js
  </script>
  @* @formatter:on *@

  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
    <div class="subTitle">Edit Transportation Template</div>
  } else {
    <div class="subTitle">Add Transportation Template</div>
  }

  <form id="transportBookingForm">
    <input type="hidden" class="input"  id="inTripId" name="inTripId" value="@m.templateId">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
      <input type="hidden" class="input" name="inTemplateDetailId" @if(m.bookingDetail.detailsId !=null){value="@m.bookingDetail.detailsId"}>
    }

    <div class="row-fluid">
      <div class="span2">
        <label>Day Number</label>
        <select name="inDayOffset" class="input-block-level">
          <option value="-1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && -1 == m.bookingDetail.dayOffset) { selected="Y" }>Not Applicable</option>
          <option value="0"  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT &&  0 == m.bookingDetail.dayOffset) { selected="Y" }>Trip Start Day</option>
        @for(day <- Range(1, 365)) {
          <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && day == m.bookingDetail.dayOffset) { selected="Y" }>Day @(day + 1)</option>
        }
        </select>
      </div>
      <div class="span2">
        <label>Duration</label>
        <select name="inDuration" class="input-block-level">
          <option value="0" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && 0 == m.bookingDetail.duration) { selected="Y" }>Same Day</option>
          <option value="1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && 1 == m.bookingDetail.duration) { selected="Y" }>1 Day</option>
          @for(day <- Range(2, 365)) {
            <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && day == m.bookingDetail.duration) { selected="Y" }>@day Days</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <label> Name <em>*</em></label>
        <input type="text" id="transferProvider" class="required input-block-level" placeholder="Transfer Details" name="inTransferCmpy" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.providerName !=null){value="@m.bookingDetail.providerName"}>
        <input type="hidden" id="transferProviderId"  name="inTransferProviderId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.poiMain !=null){value="@m.bookingDetail.poiMain.getId()"}>

      </div>

      <div class="span4">
        <label>Transport Type<em>*</em></label>
        <select name="inBookingType" class="input-block-level">
        @for(bt <- ReservationType.TRANSPORT.getSubtree()) {
          <option value="@bt.name()" @if(m.bookingDetail != null && bt == m.bookingDetail.detailsTypeId) { selected="Y" }>@bt.getLabel</option>
        }
        </select>
      </div>

      <div class="span4">
        <label> Contact/Info</label>
        <input type="text" id="transferContact" placeholder="Contact Name" class="input-block-level" name="inTransferContact" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.contact !=null){value="@m.bookingDetail.contact"}>
      </div>
    </div>
    <br/>
    <div class="row-fluid">
      <div class="span4">
        <label>Pick-up Location</label>
        <input type="text" id="transferPickup" placeholder="Pick-up location" class="input-block-level" name="inTransferPickUp" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.locStartName !=null){value="@m.bookingDetail.locStartName"}>
      </div>

      <div class="span2 input-append bootstrap-timepicker">
        <label>Pick-up Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="transportStartTime" type="text" class="input-small" name="inStartTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT &&
              m.bookingDetail.startTime != null && m.bookingDetail.startTime.length > 0) {
            value="@m.bookingDetail.startTime"
            }>
      </div>


      <div class="span4">
        <label>Drop-off Location</label>
        <input type="text" id="transferDropoff" placeholder="Drop-off Location" class="input-block-level" name="inTransferDropOff" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.locFinishName !=null){value="@m.bookingDetail.locFinishName"}>
      </div>

      <div class="span2 input-append bootstrap-timepicker">
        <label>Drop-off Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="transportEndTime" type="text" class="input-small" name="inEndTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT &&
              m.bookingDetail.endTime != null && m.bookingDetail.endTime.length > 0) {
            value="@m.bookingDetail.endTime"}>
      </div>
    </div>
    <br/>


    <div class="row-fluid">
      <div class="span12">
        <label> Note</label>

        <textarea id="tranferNote" class="field span12" rows="5"  name="inTransferNote">@if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.bookingDetail.comments !=null){@m.bookingDetail.comments}</textarea>

      </div>
    </div>

    <div class="row-fluid">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT){
      <div class="span8">

      </div>
      <div class="span4">
        <table style="float: right">
          <tr>
            <td>
              <a   role="button" class="btn btn-info btn-large" onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.TRANSPORTS), null, false)');">Cancel</a>
            </td>
            <td>
              <a href="#" role="button" class="btn btn-danger btn-large" onclick="javascript:confirmDelete('@m.bookingDetail.detailsId', 'Transportation: @Html(escapeEcmaScript(m.bookingDetail.providerName))');">Delete</a>

            </td>
            <td>
              <button type="submit" class="btn btn-success btn-large" onclick="javascript:postForm('@routes.TemplateController.newTransport()', 'transportBookingForm');return false;">Save</button>
            </td>
          </tr>
        </table>
      </div>
    } else {
      <div class="span10">
      </div>

      <div class="span2">
        <button type="submit" class="btn btn-success btn-large pull-right"
        onclick="javascript:postForm('@routes.TemplateController.newTransport()', 'transportBookingForm');return false;">Save
        </button>
      </div>
    }
    </div>

  </form>

  <div id="transfer-booking" class="">
    <div class="subTitle">Transportations</div>

    @if(m.transfers.size() == 0) {
      <h2 style="text-align: center"> No Transportation Added</h2>
    }
    @for(p <- m.transfers) {
      <div class="bookingBox">
        <table style="width: 100%;">
          <tr style="width: 100%;">
            <td style="width:35px;vertical-align: top;padding-top:5px;">
              <div style="margin-top:@if(ViewUtils.getimgNameForBookingType(p.detailsTypeId).contains("car")){10px} else {12px};margin-left: 7px;text-align: right">
                <img src="http://static-umapped-com.s3.amazonaws.com/public/img/icons/@ViewUtils.getimgNameForBookingType(p.detailsTypeId)"
                   width=@if(ViewUtils.getimgNameForBookingType(p.detailsTypeId).contains("car")){"22"}else{"16"}>
              </div>
            </td>
            <td style="vertical-align: top;padding-top:5px;">
              <div>
                <table style="width:100%;margin-left: 0px;margin-top: 8px;">
                  <tr>
                    <td style="vertical-align: top;">
                      <table style="width:100%;margin-left: 0px;margin-top: 0px;">
                        <tr>
                          <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                            @views.html.template.templateScheduleBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m, p)

                          </td>
                        </tr>
                        <tr style="font-size: 11px;color: #818181;font-weight: 700">
                          <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;">
                            <div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                              @if(p.detailsTypeId == ReservationType.RAIL) {
                                TRAIN
                              } else {
                                @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER || p.detailsTypeId == ReservationType.TRANSPORT) {
                                  CONTACT
                                } else {
                                  COMPANY
                                }
                              }
                            </div>
                          </td>
                          <td style="width:15px;border-top: none;"></td>
                          <td style="width: 125px ; padding-bottom: 10px;">
                            <div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                              @if(p.detailsTypeId == ReservationType.CAR_DROPOFF){
                                DROP-OFF
                              } else {
                                @if(p.detailsTypeId == ReservationType.CAR_RENTAL || p.detailsTypeId == ReservationType.TAXI || p.detailsTypeId == ReservationType.TRANSPORT) {
                                  PICK-UP
                                } else {
                                  START
                                }
                              }
                            </div>
                          </td>
                          @if(p.detailsTypeId != ReservationType.CAR_DROPOFF){

                          <td style="width:15px"></td>
                          <td style="width: 125px ; padding-bottom: 10px;">
                            <div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                              @if(p.detailsTypeId == ReservationType.CAR_RENTAL || p.detailsTypeId == ReservationType.TAXI || p.detailsTypeId == ReservationType.TRANSPORT) {
                                DROP-OFF
                              } else {
                                FINISH
                              }
                            </div>
                          </td>
                          }
                          <td style="width:15px"></td>
                          <td style="padding-bottom: 10px;">
                            <div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div>
                          </td>
                        </tr>

                        <tr style="font-size: 13px;color: #000000;line-height: 16px">
                          <td style="width:160px ; padding-bottom: 20px;;vertical-align: text-top">
                            @if(p.providerName != null && p.providerName.trim.length > 0) {
                              <span style="font-weight: 700">@p.providerName</span> <br/>
                            } else {
                              @if(p.name != null && p.name.trim.length > 0) {
                                <span style="font-weight: 700">@p.name</span> <br/>
                              }
                            }
                            @if(p.contact != null && p.contact.length > 0) {
                              Contact: @p.contact <br/>
                            }
                            @if(p.providerAddr1 != null && p.providerAddr1.length > 0) {
                            @p.providerAddr1 <br>
                            }
                            @if(p.providerAddr2 != null && p.providerAddr2.length > 0) {
                            @p.providerAddr2 <br/>
                            }

                            @if(p.providerPhone != null && p.providerPhone.length > 0) {
                            Phone: @p.providerPhone <br/>
                            }
                            @if(p.providerWeb != null && p.providerWeb.length > 0) {
                            Web: @p.providerWeb <br/>
                            }
                          </td>
                          <td style="width:15px"></td>
                          <td style="width:140px ; padding-bottom: 20px;vertical-align: text-top">
                            @if(p.startTime != null && p.startTime.trim.length > 0) {
                              <div style="font-size: 18px;padding-bottom:12px">
                                @p.startTime
                              </div>
                            }
                          </td>
                          @if(p.detailsTypeId != ReservationType.CAR_DROPOFF){
                            <td style="width:15px"></td>
                            <td style="width:140px ; padding-bottom: 20px;vertical-align: text-top">
                              @if(p.endTime != null && p.endTime.trim.length > 0) {
                                <div style="font-size: 18px;padding-bottom:12px">
                                  @p.endTime
                                </div>
                              }
                            </td>
                          }
                          <td style="width:15px"></td>
                          <td style="padding-bottom: 20px;">
                            <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                              @if(p.comments != null && p.comments.trim.length > 0) {
                                <tr style="page-break-inside: avoid">
                                  <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;;padding-bottom: 10px">
                                    @Html(p.comments)
                                  </td>
                                </tr>
                              }
                              <tr style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;padding-bottom: 10px">
                                @if(p.dayOffset >= 0) {
                                  Starts: Day @(p.dayOffset + 1)
                                  <br/>
                                }
                                @if(p.duration >= 0) {
                                  @if(p.duration == 0) {
                                    Duration: Same Day
                                  } else {
                                    @if(p.duration == 1){
                                      Duration: @p.duration Day
                                    } else {
                                      Duration: @p.duration Days
                                    }
                                  }
                                  <br/>
                                }
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <br/>
    }

  </div>

</div>
