@(m:  com.mapped.publisher.view.TableNoteView, tripDetails: List[com.mapped.publisher.view.TripBookingDetailView], tripDetailId: String, tabType: com.mapped.publisher.view.TabType.Bound))
@import com.mapped.publisher.view.TabType;
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import models.publisher.ImageLibrary.ImgSrc
@import com.umapped.persistence.enums.ReservationType


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    <h3> TRIP: @m.tripName </h3>
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">

    <script>

        $("tbody#tableNoteBody td#col1, tbody#tableNoteBody td#col2").click(function(){
            editCell($(this));
        });


      $( document ).ready(function() {

          $("#destinationGuideForm :input").change(function() {
          $("#destinationGuideForm").data('changed', true);
          });
          updateIntro();
          removeCell();
          addCell();



          $('#editCellModal').on('hidden', function () {
             CKEDITOR.instances['cellEdit'].destroy(true);
          });

          $('#editCellModal').on('shown', function () {
             CKEDITOR.instances['cellEdit'].focus();
          });

      });


      $("#tripNoteDate").datepicker({
        @if(m.startDate != null && m.startDate.length > 0){
      defaultDate : new Date ('@escapeEcmaScript(m.startDate)' ),
      } else {
        defaultDate : new Date ('@escapeEcmaScript(m.tripStartDatePrint)' ),
      }
      changeMonth: true,
      numberOfMonths: 2
      });


      $('#inTripNoteTime').on('click', function (e) {
      $('#inTripNoteTime').timepicker('showWidget');
      });

      $('#inTripNoteDate1').on('click', function (e) {
      $('#tripNoteDate').datepicker('show');
      });

      function resetDate() {
      $('#tripNoteDate').val('');
      }

      function resetTime() {
      $('#inTripNoteTime').val('');
      }

      $(function() {
        for (var i in CKEDITOR.instances ) {
          CKEDITOR.instances[i].on ( 'change', function (){$("#destinationGuideForm").data ('changed',true); } ) ;
        }
      });

      function confirmExit(url) {
        if ($('#destinationGuideForm').data ('changed') ) {
            if (confirm("Please click Save or your changes will be lost! Discard Changes?")) {
              getPage (url);
            }
        } else {
            getPage (url);
        }
      }

    </script>

    <style>
        #tableNoteTable {
            width: 99.5% !important;
            #border: 1px solid #f1f1f1;
            #box-shadow: 0 0 6px 2px rgba(172,181,194,0.56);
        }

        .tableRow #col3 {
            #text-align: center;
        }

        #tableNoteBody td#col1, #tableNoteBody td#col2 {
            cursor: text;
        }
    </style>


    <div class="" >

        @if(m.noteId != null && m.noteId > 0) {
        <div class="subTitle" id="bkAreaTitleTransport">Edit Table</div>
        } else {
        <div class="subTitle" id="bkAreaTitleTransport">Add Table</div>
        }

        <form id="destinationGuideForm">

            <input type="hidden" id="inTripNoteId" name="inTripNoteId" @if(m.noteId != null){value="@m.noteId"}>
            <input type="hidden" id="inTripId" name="inTripId" @if(m.tripId){value="@m.tripId"}>
            <input type="hidden" id="inNoteType" name="inNoteType" @if(m.noteType != null){value="@m.noteType.name()"}>


            <div class="tabbable"> <!-- Only required for left/right tabs -->

                <div class="tab-content">
                    <div class="tab-pane active" id="mainTab">

                        <div class="" style="margin-top:10px">
                            <div class="row-fluid" style="padding-top: 20px;">
                                <div class="span6">
                                    <label style="font-size: 16px">Title <em>*</em> </label>
                                    <input type="text"  name="inTripNoteName" class="required input-block-level" @if(m.noteName != null){value="@m.noteName"}>
                                </div>
                                <div class="span3 ">
                                    <label> Date </label>
                                    <div class="input-append date" id="flightDate1" >
                                        <span class="add-on" id="inTripNoteDate1"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="tripNoteDate" name="inTripNoteDate" readonly class="input-small" @if(m.startDate != null && m.startDate.length > 0){value="@m.startDate"}>
                                        <btn class="btn" onclick="javascript:resetDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                    </div>
                                </div>
                                <div class="span2 input-append bootstrap-timepicker">
                                    <label> Time </label>
                                    <span class="add-on"><i class="fa fa-clock-o"></i></span>
                                    <input id="inTripNoteTime" type="text" class="input-small" name="inTripNoteTime" readonly @if(m.startTime != null && m.startTime.length > 0){value="@m.startTime"}else{value="12:00 AM"}  data-default-time="false;">
                                    <btn class="btn" onclick="javascript:resetTime();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                </div>
                            </div>
                            <br/>
                            <br/>
                        </div>
                        <div id="tableSection" >
                            <div class="row-fluid">
                                <div class="offset9 span1">
                                <div id="addRowButton" style="padding-left:0px">

                                    <div class="btn-group" style="margin-right:0px">
                                        <a role="button" class="btn btn-info " onclick="javascript:addTableRow();">
                                            <i class="fa fa-plus"></i>&nbsp;Add Row
                                        </a>
                                    </div>
                                </div>
                                </div>
                                <div class="span1">

                                <div id="resetTableButton" style="padding-left:0px">
                                    <div class="btn-group" style="margin-right:0px">
                                        <a role="button" class="btn btn-danger " onclick="javascript:resetTable();">
                                            <i class="fa fa-refresh"></i>&nbsp;Reset Table
                                        </a>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <br/>
                            <textarea id="inTripNoteIntro" name="inTripNoteIntro" style="display: none"></textarea>

                            <div id="tripNoteTable">
                                @if(m.intro != null && m.intro.trim.length > 0){
                                    @Html(m.intro)
                                } else {
                                    <script>
                                        addTableRow();
                                    </script>
                                    <table id="tableNoteTable" class="insurance"  style="width: 750px; margin-top:10px;">
                                        <thead style="margin:auto; width=100%; margin-left:2px;padding-right:4px;">
                                            <tr>
                                                <th id="col1" style="width: 40%"></th>
                                                <th id="col2" style="width: 45%"></th>
                                                <th id="col3" style="width: 15%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableNoteBody">
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>
                        <div id="hiddenNoteTable" style="display:none;">

                        </div>
                        <br/>
                        <br/>

                        <div class="row-fluid">
                            <div class="span6">
                                <label>Link to Booking</label>
                                <select id="inTripDetailsId" name="inTripDetailsId" class="span8">
                                    <option value="" @if(m.linkedTripDetailsId == null || m.linkedTripDetailsId.trim.length == 0){selected}> None</option>
                                    @for(p <- tripDetails){
                                    <option value="@p.detailsId" @if(m.linkedTripDetailsId != null && m.linkedTripDetailsId.equals(p.detailsId) ){selected}>
                                        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                        Cruise Stop -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
                                        Shore Excursion -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.TOUR) {
                                        Tour -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                                        Restaurant -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.EVENT) {
                                        Event -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.FLIGHT) {
                                        Flight -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.HOTEL) {
                                        Hotel -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.CRUISE) {
                                        Cruise -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.RAIL) {
                                        Rail -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.TRANSPORT) {
                                        Transfer -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
                                        Car Rental -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.ACTIVITY) {
                                        Activity -
                                        } else {
                                        Transfer -
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }


                                        @p.name - @p.startDatePrint
                                    </option>

                                    }
                                </select>
                            </div>
                            <div class="span6">
                                <label>Tag</label>
                                <input type="text" name="inTripNoteTag" id="inDestTag" placeholder="Tags" class="input-block-level" @if(m.tag!=null) {value="@m.tag"}>
                            </div>
                        </div>
                        <br/>

                    </div>

                    <br/>

                </div>

            </div>


            <br/>
            <div class="row-fluid" style="padding-top : 10px">


                <div class="@if(m.noteId != null && m.noteId > 0){offset6} else {offset8} span2">
                    <a role="button" class="btn btn-info input-block-level"
                       onclick="javascript:confirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))?inScrollTo=@m.scrollToId');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
                </div>
                @if(m.noteId != null && m.noteId > 0) {
                <div class="span2">
                    <a href="#deleteDestGuideModal" class="btn btn-danger input-block-level " data-toggle="modal"> Delete </a>
                </div>
                }
                <div class="span2">
                    <a type="submit" class="btn btn-success input-block-level"
                       onclick="postForm( '@controllers.routes.BookingNoteController.createNote(tripDetailId)', 'destinationGuideForm'); return false ;">
                        Save </a>
                </div>

            </div>

        </form>




    </div>

    <div id="editCellModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Edit Cell and Save</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <textarea id="cellEdit" name="cellEdit" class="field span9" rows="3" autofocus></textarea>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <form id="editCellForm">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="editCellSubmit"
                        onclick="return false;">Update
                </button>
            </form>
        </div>
    </div>

    <!--modal for delete -->
    @if(m.noteId != null && m.noteId > 0){
    <script>
    $('#deleteDestGuideSubmit').click(function() {
    $('#deleteDestGuideModal').modal('hide');
    });
    </script>

    <div id="deleteDestGuideModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete content?</p>



        </div>
        <div class="modal-footer">
            <form id="deleteDestGuideForm">
                <input type="hidden" id="destGuideId" name="inTripNoteId" value="@m.noteId">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteDestGuideSubmit"
                        onclick="javascript:postForm('@controllers.routes.BookingNoteController.deleteNote(m.tripId)', 'deleteDestGuideForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>
    }

</div>
<--endPageBody-->

