@(p:  com.mapped.publisher.view.TripBookingDetailView)

  @if(p.files != null && p.files.size() > 0){
  <tr style="page-break-inside: avoid;">
    <td style="width: 630px;vertical-align: text-top;padding-top:20px; margin-top: 0px;">
      <table style="width: 630px; padding-bottom: 20px;">


        @for(f <- p.files) {
        <tr style="padding-bottom:10px;font-size:12px;color:#60bdff">
          <td style="padding-bottom : 5px">
            <a style="padding-bottom:5px;text-decoration: none;font-size:12px;color:#60bdff" href="@f.attachUrl" target="_blank">
                @f.attachName
            </a>
        </td>
        </tr>
        }
      </table>

  </td>
  </tr>
}