@(m:  com.mapped.publisher.view.TripBookingView, crv: com.mapped.publisher.view.UmCruiseReservationView, i: Integer, isPrinterFriendly: Boolean, showThumbnail: Boolean, display12Hr: Boolean, lang: String)
@import com.mapped.publisher.utils.Utils
@import play.i18n._

<div style="padding-bottom:20px;padding-top: 10px;width: 700px;">

  <div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
    <table style="width: 700px;">
      <tr style="width: 700px;">
        <td style="width: 90px;text-align: center;vertical-align:top;@if(i == 0){border-top: 1px solid #212121;padding-top:5px;}else{border-top:none};padding-right: 15px">
        @if(i == 0) {
          @views.html.tripPdfV1.bookingspdf.dateCell(crv, lang)
        }
        </td>
        <td style="width:10px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">

        </td>
        <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
            <tr>
              <td style="width: 630px;vertical-align: top;">
                <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                  @if(!isPrinterFriendly && crv.getPhotos != null && crv.getPhotos.size() > 0) {
                    <tr>
                      <td colspan="7" style="padding-bottom: 20px;vertical-align: top">
                        <div style="background-image: url(@crv.getPhotos.get(0).attachUrl);display: inline-block;padding-top: 10px;margin: auto;background-position: center center;background-repeat: no-repeat;width: 630px;height: 300px;background-size: cover;">
                            &nbsp;
                        </div>
                      </td>
                    </tr>
                  }
                  <tr>

                    <td colspan="7" style="padding-bottom: 20px;vertical-align: top;">
                      <span style="font-size: 18px ;font-weight: 500;color: #212121;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cruise") </span>
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #000000;font-weight: 700">
                    <td style="padding-bottom: 5px;width: 135px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cruiseName")</div></td>
                    @if((crv.getBookingNumber != null && crv.getBookingNumber.trim.length > 0) || (crv.getRecordLocator != null && crv.getRecordLocator.trim.length > 0)) {
                      <td style="width:15px;border-top: none;"></td>
                      <td style="width: 60px ;padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                    }
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.boardingat")</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.disembarkingat")</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #212121;line-height: 16px">
                    <td style="width:145px ; padding-bottom: 20px;;vertical-align: text-top;color: #000000">
                      @if(crv.getProviderName != null && crv.getProviderName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 500;color: #212121">@crv.getProviderName</span> <br/>
                      }
                      @if(crv.getCruiseName != null && crv.getCruiseName.trim.length > 0 && (crv.getProviderName == null || !crv.getProviderName.equals(crv.getCruiseName)) ) {
                        <span style="font-weight: 700">@crv.getCruiseName</span> <br/>
                      }
                      @if(crv.getCruiseCmpyName != null && crv.getCruiseCmpyName.trim.length > 0) {
                        <span style="font-weight: 700">@crv.getCruiseCmpyName</span> <br/>
                      }
                      @if(crv.getProviderAddr1 != null && crv.getProviderAddr1.length > 0) {
                        @crv.getProviderAddr1 <br>
                      }
                      @if(crv.getProviderAddr2 != null && crv.getProviderAddr2.length > 0) {
                        @crv.getProviderAddr2 <br/>
                      }

                      @if(crv.getProviderPhone != null && crv.getProviderPhone.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.phone"): @crv.getProviderPhone <br/>
                      }
                      @if(crv.getProviderEmail != null && crv.getProviderEmail.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.email"): @crv.getProviderEmail <br/>
                      }
                      @if(crv.getProviderWeb != null && crv.getProviderWeb.trim().length > 0) {
                        <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@crv.getProviderWeb" target="_blank">Website</a> <br/>
                      }
                    </td>
                    @if((crv.getBookingNumber != null && crv.getBookingNumber.trim.length > 0) || (crv.getRecordLocator != null && crv.getRecordLocator.length > 0)) {
                      <td style="width:15px"></td>
                      <td style="width:60px ; padding-bottom: 20px;;vertical-align: text-top;color: #000000">
                        @if(crv.getBookingNumber != null && crv.getBookingNumber.trim.length > 0) {
                          <div style="padding-bottom: 5px;color: #212121;font-size: 14px;font-weight: 500;">@crv.getBookingNumber</div>
                        }
                        @if(crv.getRecordLocator != null && crv.getRecordLocator.trim().length > 0) {
                          Record Locator:<br/> @crv.getRecordLocator <br/>
                        }
                      </td>
                    }
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(crv.getStartHour != null && crv.getStartHour.trim.length > 0) {
                        <div style="font-size: 14px;font-weight: 500;padding-bottom:6px">
                          @if(display12Hr) {
                          @Utils.formatTime12(crv.getStartDateMilli)
                          } else {
                          @Utils.formatTime24(crv.getStartDateMilli)
                          }
                        </div>
                      }
                      @if(crv.getStartDateItin != null && crv.getStartDateItin.trim.length > 0) {
                        <div class="date">@crv.getStartDateItin  </div>
                      }
                      @if(crv.getLocStartName != null && crv.getLocStartName.trim.length > 0) {
                        <div style="padding-bottom:6px;color: #000000">@crv.getLocStartName  </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(crv.getEndHour != null && crv.getEndHour.trim.length > 0) {
                        <div style="font-size: 14px;font-weight: 500;padding-bottom:6px">
                          @if(display12Hr) {
                          @Utils.formatTime12(crv.getEndDateMilli)
                          } else {
                          @Utils.formatTime24(crv.getEndDateMilli)
                          }
                        </div>
                      }
                      @if(crv.getEndDateItin != null && crv.getEndDateItin.trim.length > 0) {
                        <div class="date">@crv.getEndDateItin </div>
                      }
                      @if(crv.getLocFinishName != null && crv.getLocFinishName.trim.length > 0) {
                        <div style="padding-bottom:6px;color: #000000">@crv.getLocFinishName  </div>
                      }
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #000000;font-weight: 700">
                    <td style="padding-bottom: 5px;width:115px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.duration")</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width:130px;padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.category")</div></td>
                    <td style="width:15px"></td>
                    <td style="width:130px; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cabinnumber")</div></td>
                  </tr>
                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @crv.getNumNights
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @crv.getCategory
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @crv.getCabinNumber
                    </td>
                  </tr>
                  @if(crv != null && ((crv.getDining != null && !crv.getDining.isEmpty) || (crv.getDeck != null && !crv.getDeck.isEmpty) || (crv.getBedding != null && !crv.getBedding.isEmpty) )) {
                    <tr style="font-size: 11px;color: #000000;font-weight: 700">
                      <td style="width:130px; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.dining")</div></td>
                      <td style="width:15px"></td>
                      <td style="width:130px; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.deck")</div></td>
                      <td style="width:15px"></td>
                      <td style="width:130px; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bedding")</div></td>
                    </tr>
                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td style="width:130px ; padding-bottom: 20px;vertical-align: text-top">
                      @crv.getDining
                      </td>
                      <td style="width:15px"></td>
                      <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @crv.getDeck
                      </td>
                      <td style="width:15px"></td>
                      <td style="width:130px ; padding-bottom: 20px;vertical-align: text-top">
                      @crv.getBedding
                      </td>
                    </tr>
                  }
                </table>
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>
  </div>

  <div style="padding:0px;width: 700px;">
    <table style="width: 700px;">
      <tr style="width: 700px;">
        <td style="width: 100px;text-align: center;vertical-align:top;">
        </td>
        <td style="width:630px;vertical-align: top;">
          <div >
            <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
              @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                <tr style="page-break-inside: avoid;">
                  <td style="width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                    <table style="page-break-inside: avoid;width: 630px">
                      <tr style="font-size: 11px;line-height:15px;color: #000000;font-weight: 700">
                        <td style="border-top: 1px solid #000000;width:180px ; padding-bottom: 5px;padding-top: 5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cruiseStop")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width:140px ; padding-bottom: 5px;padding-top: 5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.arrivalDate")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width:140px ; padding-bottom: 5px;padding-top: 5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.departureDate")</td>
                      </tr>
                      @for(v <- crv.getCruiseStops(m)) {
                        <tr style="font-size : 11px;color: #000000">
                          <td style="padding-bottom : 5px">
                          @v.getItineraryName
                          </td>
                          <td style="width:10px"></td>

                          <td style="font-size : 10px ; padding-bottom : 5px">
                          @v.getArriveTime
                          </td>
                          <td style="width:10px"></td>

                          <td style="font-size : 10px ; padding-bottom : 5px">
                          @v.getDepartTime
                          </td>

                        </tr>
                      }
                    </table>
                  </td>
                </tr>
              }
              @if(crv.getNotesPlain != null && crv.getNotesPlain.trim.length > 0) {
                <tr style="page-break-inside: auto">
                  <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 5px">
                    <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px; width:630px">
                      <span style="font-weight: 500;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                    </div>
                    <div class="descFont" style="padding-top: 10px; width:630px;">
                    @Html(Utils.escapeHtml(crv.getNotesPlain))
                    </div>
                  </td>
                </tr>
              }
              @if(crv.getProviderComments != null && crv.getProviderComments.trim.length > 0) {
                <tr style="page-break-inside: auto">
                  <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:11px;padding-bottom: 10px">
                    <div class="descFont" style="padding-top: 10px; width:630px">
                    @Html(crv.getProviderComments)
                    </div>
                  </td>
                </tr>
              }
              @views.html.common.bookingPdfRate(crv, lang)
              @if(crv.getCancellation != null && crv.getCancellation.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:11px;padding-bottom: 10px">
                  <div class="descFont"  style="width:630px">
                    <span style="font-weight: 500;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"):</span> @Html(Utils.escapeHtml(crv.getCancellation))
                  </div>
                </td>
              </tr>
              }
              @if(!isPrinterFriendly && showThumbnail && crv.getPhotos != null && crv.getPhotos.size() > 0) {
                <tr style="page-break-inside: avoid">
                  <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                    <table style="width: 630px">
                      <tr>
                        <td style="width:157px;text-align: center">
                          @if(crv.getPhotos.size() > 1) {
                          <div class="photos" style="height:150px;width:150px;background: url('@crv.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(crv.getPhotos.size() > 2) {
                          <div class="photos" style="height:150px;width:150px;background: url('@crv.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(crv.getPhotos.size() > 3) {
                          <div class="photos" style="height:150px;width:150px;background: url('@crv.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(crv.getPhotos.size() > 4) {
                          <div class="photos" style="height:150px;width:150px;background: url('@crv.getPhotos.get(4).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                      </tr>

                    </table>
                  </td>
                </tr>
              }

              @views.html.tripPdfV1.bookingspdf.bookingFiles(crv)


            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
