@(frv: com.mapped.publisher.view.UmFlightReservationView, i: Integer, isPrinterFriendly: Boolean, display12Hr: Boolean, lang: String)
@import com.mapped.publisher.utils.Utils
@import play.i18n._

<div style="padding-bottom:20px;padding-top: 10px;width: 700px;">

  <div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
    <table style="width: 700px;">
      <tr style="width: 700px;">
        <td style="width: 90px;text-align: center;vertical-align:top;@if(i == 0){border-top: 1px solid #212121;padding-top:5px;}else{border-top:none};padding-right: 15px">
        @if(i == 0) {
          @views.html.tripPdfV1.bookingspdf.dateCell(frv, lang)
        }
        </td>
        <td style="width:10px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">

        </td>
        <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
            <tr>
              <td style="width: 630px;vertical-align: top;">
                <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                  <tr>

                    <td colspan="7" style="padding-bottom: 20px;vertical-align: top">
                      <span style="font-size: 18px ;font-weight: 500;color: #212121;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.flightTo") </span> <span style="font-size: 18px;font-weight: 400; color:#000000">@frv.getArriveAirportCode @frv.getArriveAirport</span>
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #000000;font-weight: 700">
                    <td style="padding-bottom: 5px;width: 135px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.airlineCode")</div></td>
                    @if(frv.getBookingNumber != null && frv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px;border-top: none;"></td>
                      <td style="width: 60px ;padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                    }
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.departingat")</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.arrivingat")</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #212121;line-height: 16px">
                    <td style="width:145px ; padding-bottom: 20px;vertical-align: text-top">
                      @if(frv.getProviderName != null && frv.getProviderName.trim.length > 0) {
                        <span style="font-size: 14px; font-weight: 500;">@frv.getProviderName</span> <br/>
                      }
                      <div style="font-size: 14px; font-weight: 500;color: #212121">@frv.getFlightId</div>
                      @if(frv.getCheckinUrl != null) {
                        <a style="padding-bottom: 5px;text-decoration: none;font-size:12px;color:#60bdff" href="@frv.getCheckinUrl" target="_blank"> @Messages.get(Lang.forCode(lang), "webitinerary.webCheckin")</a>
                      }
                      @if(frv.getBaggageUrl != null) {
                        <br/>
                        <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@frv.getBaggageUrl" target="_blank"> @Messages.get(Lang.forCode(lang), "webitinerary.baggagePolicy")</a>
                      }
                    </td>
                    @if(frv.getBookingNumber != null && frv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px"></td>
                      <td style="width:60px ; padding-bottom: 20px;;vertical-align: text-top;font-size: 14px;font-weight: 500;">@frv.getBookingNumber</td>
                    }
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(frv.getStartHour != null && frv.getStartTime.trim.length > 0) {
                        <div style="font-size: 14px;padding-bottom:6px;font-weight: 500;">
                          @if(display12Hr) {
                          @Utils.formatTime12(frv.getStartDateMilli)
                          } else {
                          @Utils.formatTime24(frv.getStartDateMilli)
                          }
                        </div>
                      }
                      @if(frv.getStartDateItin != null && frv.getStartDateItin.trim.length > 0) {
                        <div class="date">@frv.getStartDateItin  </div>
                      }
                      @if(frv.getDepartAirportCode != null && frv.getDepartAirportCode.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 700;color: #000000">@frv.getDepartAirportCode:</span>
                      }
                      @if(frv.getDepartAirport != null && frv.getDepartAirport.trim.length > 0) {
                        <span style="color: #000000;font-size: 14px;font-weight: @if(frv.getDepartAirportCode == null){700}else{400}">@frv.getDepartAirport</span>
                      }
                      @if(frv.getDepartTerminal != null && frv.getDepartTerminal.trim.length > 0) {
                        <br/><span style="color: #000000; font-size: 12px;font-weight: 400">@if(!frv.getDepartTerminal.contains("erminal")){Terminal} @Html(frv.getDepartTerminal)</span>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(frv.getEndHour != null && frv.getEndHour.trim.length > 0) {
                        <div style="font-size: 14px;padding-bottom:6px;font-weight: 500;">
                          @if(display12Hr) {
                          @Utils.formatTime12(frv.getEndDateMilli)
                          } else {
                          @Utils.formatTime24(frv.getEndDateMilli)
                          }
                        </div>
                      }
                      @if(frv.getEndDateItin != null && frv.getEndDateItin.trim.length > 0) {
                        <div class="date"> @frv.getEndDateItin</div>
                      }
                      @if(frv.getArriveAirportCode != null && frv.getArriveAirportCode.trim.length > 0) {
                        <span style="color: #000000;font-size: 14px;font-weight: 700">@frv.getArriveAirportCode:</span>
                      }
                      @if(frv.getArriveAirport != null && frv.getArriveAirport.trim.length > 0) {
                        <span style="color: #000000;font-size: 14px;font-weight: @if(frv.getArriveAirportCode == null){700}else{400}">@frv.getArriveAirport</span>
                      }
                      @if(frv.getArriveTerminal != null && frv.getArriveTerminal.trim.length > 0) {
                        <br/><span style="color: #000000;font-size: 12px;font-weight: 400">@if(!frv.getArriveTerminal.contains("erminal")){Terminal} @Html(frv.getArriveTerminal)</span>
                      }
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding:0px;width: 700px;">
    <table style="width: 700px;">
      <tr style="width: 700px;">
        <td style="width: 100px;text-align: center;vertical-align:top;">
        </td>
        <td style="width:630px;vertical-align: top;">
          <div >
            <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
              @if(frv.getPassengers != null && frv.getPassengers.size() > 0) {
                <tr style="page-break-inside: avoid;">
                  <td style="padding-top:20px;width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                    <table style="page-break-inside: avoid;width: 630px">
                      <tr style="font-size: 11px;color: #000000;font-weight: 700">
                        <td style="border-top: 1px solid #000000;width:140px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.passenger")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width: 80px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.seat")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width: 70px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.class")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width: 90px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.eticket")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width: 100px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.frequentflyer")</td>
                        <td style="width:10px"></td>
                        <td style="border-top: 1px solid #000000;width: 70px ; padding-bottom: 5px;padding-top: 5px;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.meal")</td>
                      </tr>
                      @for(v <- frv.getPassengers) {
                        <tr style="font-size : 11px ;">
                          <td style="padding-bottom : 5px">
                          @if(v.getName != null){
                            @Html(v.getName)
                          }
                          </td>
                          <td></td>
                          <td style="color: #000000;font-size : 10px ; padding-bottom : 5px">
                          @if(v.getSeat != null){
                            @Html(v.getSeat)
                          }
                          </td>
                          <td></td>
                          <td style="color: #000000;font-size : 10px ; padding-bottom : 5px">
                          @if(v.getSeatCategory != null){
                            @Html(v.getSeatCategory)
                          }
                          </td>
                          <td></td>
                          <td style="color: #000000;font-size : 10px ; padding-bottom : 5px">
                          @if(v.getTicketNumber != null){
                            @Html(v.getTicketNumber)
                          }
                          </td>
                          <td></td>
                          <td style="color: #000000;font-size : 10px ; padding-bottom : 5px">
                          @if(v.getMembershipNumber != null) {
                            @Html(v.getMembershipNumber)
                          }
                          </td>
                          <td></td>
                          <td style="color: #000000;font-size : 10px ; padding-bottom : 5px">
                          @if(v.getMeal != null){
                            @Html(v.getMeal)
                          }
                          </td>
                        </tr>
                      }
                    </table>
                  </td>
                </tr>

              }
              @if(frv.getNotesPlain != null && frv.getNotesPlain.trim.length > 0) {
              <tr style="page-break-inside: avoid">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;">
                  <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px;; width:630px ">
                    <span style="font-weight: 500;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                  </div>
                  <div class="descFont" style="padding-top: 10px;; width:630px;">
                    @Html(Utils.escapeHtml(frv.getNotesPlain))
                  </div>
                </td>
              </tr>
              }
              @if(frv.getProviderComments != null && frv.getProviderComments.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;padding-bottom: 10px">
                  <div class="descFont" style="padding-top: 10px; width:630px">
                    @Html(frv.getProviderComments)
                  </div>
                </td>
              </tr>
              }
              @views.html.common.bookingPdfRate(frv, lang)
              @if(frv.getCancellation != null && frv.getCancellation.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:13px;padding-bottom: 10px">
                  <div class="descFont"  style="width:630px">
                    <span style="font-weight: 500;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"): </span> @Html(Utils.escapeHtml(frv.getCancellation))
                  </div>
                </td>
              </tr>
              }
              @views.html.tripPdfV1.bookingspdf.bookingFiles(frv)
            </table>
          </div>
        </td>
      </tr>
    </table>
    
  </div>
</div>
