@(m:  com.mapped.publisher.view.TripsView)
@if(m.searchResults != null && m.searchResults.size() > 0) {
@for(p <- m.searchResults){
<tr>
    <td>
        @if(p.cover!=null) {
        <div style="background-image:url(@p.cover.url);center;width:62px;height:62px;margin:auto;background-size:cover;" >
            &nbsp;
        </div>
        } else {
        <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
            &nbsp;
        </div>
        }
    </td>
    <td style="vertical-align: middle">
        @if(!p.isComplete) {
        <a onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> <h5> @p.tripName </h5></a>
        } else {
        <h5> @p.tripName </h5>
        }
    </td>
    <td style="vertical-align: middle">
        <h5> @p.tripStartDate - @p.tripEndDate </h5>
    </td>
    <td style="vertical-align: middle">
        @if(p.tripStatus == 1){
        <h5>Pending</h5>
        } else {
        <h5>Published</h5>
        }
    </td>
    <td style="vertical-align: middle">
        <h5>@p.userId </h5>
    </td>
    <td style="vertical-align: middle">
        <h5>@p.tripAgency </h5>
    </td>

    @if(p.userName != null && p.userName.length > 0) {
    <td style="vertical-align: middle">
        @p.userName
    </td>
    }
    @if(p.accessLevelVal != null && p.accessLevelVal.length > 0) {
    <td style="vertical-align: middle">
        @p.accessLevelVal
    </td>
    }

    <td style="vertical-align: middle">
        @if(!p.isComplete) { <a   class="btn btn-info pull-right" onclick="javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');">Edit</a>}
    </td>
</tr>
}
@if(m.nextPos>0 || m.nextAdminPos >0) {
<tr id="moreRowBtn">
    <td colspan="7">
        @if(m.isSharedTrip){
        <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/cb/search?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&inStartPos=@m.nextPos&inStartAdminPos=@m.nextAdminPos&searchStatus=@m.searchStatus&inTableName=tripResults','tripResults');" >
            } else {
            <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/cb/searchTrips?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&inStartPos=@m.nextPos&inStartAdminPos=@m.nextAdminPos&searchStatus=@m.searchStatus&inTableName=tripResults&inAllTrips=@m.allTrips&inArchived=@m.searchArchives','tripResults');" >
                }
                Load More Results
            </a>
    </td>


</tr>
}

} else {
<tr>
    <td colspan=3>
        @if(m.prevPos == -1 && m.prevAdminPos == -1 ){
        <h4> No More Trips Found</h4>

        }
    </td>
</tr>

}
