@(m: List[com.mapped.publisher.view.AfarPoiView])

<style>
  .afarPoiTable p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85ch;
  }
  .afarPoiTable tr {
    height: 85px!important;
    border-top: 1px solid #ddd!important;
    border-bottom: 1px solid #ddd!important;
  }

  .afarPoiTable .col1 {
    width: 100px!important;
  }
  .afarPoiTable .col2 {
    vertical-align: middle;
    width: 300px!important;
  }
  .afarPoiTable .col3 {
    vertical-align: middle;
    width: 725px!important;
  }
  .afarPoiTable .col4 {
    vertical-align: middle;
    width: 150px!important;
  }

  .afarPoiTable .col2 h5 {
    width: 97%!important;
  }

</style>

@if(m != null && m.size() > 0) {
  <table class="afarPoiTable" style="width: 100%">
    @for(p <- m){
      <tr>
        <td class="col1">
          @if(p.images(0) != null && p.images(0).thumbUrl != null) {
            <div style="background-image:url(@p.images(0).thumbUrl);center;width:62px;height:62px;margin:auto;background-size:cover;" >
              &nbsp;
            </div>
          } else {
            <div style="background-image:url(@p.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
              &nbsp;
            </div>
          }
        </td>
        <td class="col2">
          <h5>@p.title </h5>
        </td>
        <td class="col3">
          <p>@p.description </p>
        </td>
        <td class="col4">
          <a   class="btn btn-info pull-right" onclick="javascript:addPoiToItineraryModal('@p.poiId');"> Add to Itinerary </a>
        </td>
      </tr>
    }
  </table>
} else {
  <table style="width: 100%">
    <tr>
      <td colspan=4>

        <h4> No Afar Pois Found</h4>

      </td>
    </tr>
  </table>
}

