@(bookingType: com.umapped.persistence.enums.ReservationType , tab: com.mapped.publisher.view.TabType, m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.TabType
@import com.umapped.persistence.enums.ReservationType
<div class="row-fluid">
  <div class="span6">
    <input id="inCrossDateFlight" name="inCrossDateFlight" type="checkbox" @if(m.bookingDetail != null && m.bookingDetail.afterCrossDateFlight){checked}> Display after the cross date line flight
  </div>
</div>
<div class="row-fluid pull-right">



    @if((m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == bookingType)) {
      @if(m.bookingDetail != null && m.bookingDetail.detailsId != null && m.tripAttachments != null && m.tripAttachments.size > 0) {
        <div class="span2 pull-left">
          <a style="padding-right:10px" href="#addFileModal" id="newLinkBtn" data-toggle="modal" class="btn btn-large btn-primary input-block-level"><i class="fa fa-plus"></i>&nbsp;Link Attached File(s)</a>
        </div>
      }

      @if(!m.bookingDetail.showPhotosBtn) {
        <div class="span2"> &nbsp;
        </div>
      }
      @if(!((m.bookingDetail.detailsTypeId == ReservationType.CRUISE_STOP || m.bookingDetail.detailsTypeId == ReservationType.TOUR) && m.bookingDetail.arrivalAirportCode != null && m.bookingDetail.arrivalAirportCode.length > 0)){
        <div class="span2"> &nbsp;
        </div>
      }
        @if(m.bookingDetail.showPhotosBtn) {
        <div class="span2">
          <a id="photosBtn" role="button" class="btn btn-primary btn-large input-block-level "
          onclick=""><i class="fa fa-camera"></i>&nbsp;Photos
          </a>
        </div>
      }
      @if((m.bookingDetail.detailsTypeId == ReservationType.CRUISE_STOP || m.bookingDetail.detailsTypeId == ReservationType.TOUR) && m.bookingDetail.arrivalAirportCode != null && m.bookingDetail.arrivalAirportCode.length > 0){
        <div class="span2">
          <a href="#" class="btn btn-primary btn-large input-block-level" onclick="javascript:getModalPage('@routes.ShoreTripsController.getShoreTripByPort(m.bookingDetail.arrivalAirportCode, m.bookingDetail.detailsId)');return false;">
            ShoreTrips
          </a>
        </div>
      }
      <div class="span2">
        <a role="button" class="btn btn-info btn-large input-block-level"
        onclick="javascript:bkConfirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))?inScrollTo=@m.bookingDetail.detailsId');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
      </div>

      <div class="span2">
        <a href="#" role="button" class="btn btn-danger btn-large input-block-level" onclick="javascript:bkConfirmDelete('@m.bookingDetail.detailsId', '@escapeEcmaScript(m.bookingDetail.name)');">
          <i class="fa fa-trash"></i>&nbsp;Delete</a>
      </div>
      <div class="span2">
        <a role="button" class="btn btn-success btn-large  input-block-level"
        onclick="javascript:postForm ('@m.getTabSaveUrl(tab)', '@{bookingType}_BookingForm'); return false;"><i class="fa fa-database"></i>&nbsp;Save
        </a>
      </div>
    } else {

      @if(bookingType == ReservationType.CRUISE) {
        <div class="span2 offset6">
          <a id="cruiseSearchBtn" href="#cruiseSearchModal" data-toggle="modal" role="button" class="btn btn-primary btn-large input-block-level" style="padding-bottom :5px ; margin-right:10px ; float:right"
          onclick=""><i class="fa fa-search"></i>&nbsp;Find a Cruise
          </a>
        </div>
      } else {
        <div class="span2 offset6">
          <a id="photosBtn" role="button" class="btn btn-primary btn-large input-block-level hide"
          onclick=""><i class="fa fa-camera"></i>&nbsp;Photos
          </a>
        </div>
      }
      <div class="span2">
        <a role="button" class="btn btn-info btn-large input-block-level"
        onclick="javascript:getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
      </div>
      <div class="span2">
        <a role="button" class="btn btn-success btn-large input-block-level"
        onclick="javascript:postForm ( '@m.getTabSaveUrl(tab)', '@{bookingType}_BookingForm'); return false;"><i class="fa fa-database"></i>&nbsp;Save
        </a>
      </div>
    }

</div>
