@(bookingType: com.umapped.persistence.enums.ReservationType , tab: com.mapped.publisher.view.TabType, m: com.mapped.publisher.view.TripBookingView, p: com.mapped.publisher.view.TripBookingDetailView)

@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.APPConstants

<div class="" style="width:100%;">
  <div class="span6">
    @tab match {
      case TabType.FLIGHTS => {                       <span style="font-size: 18px ;font-weight: 700">Flight to: </span> <span style="font-size: 18px;font-weight: 400">@p.arrivalAirportCode @p.arrivalAirport</span>
      }
      case TabType.HOTELS => {                        <span style="font-size: 18px ;font-weight: 700">Check-In </span>
      }
      case TabType.CRUISES => {  <span style="font-size: 18px ;font-weight: 700">Cruise </span> }
      case TabType.TRANSPORTS => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.getServiceType != null) {
          @p.getServiceType
        } else {
          @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
             Car Rental Pickup
          } else {
            @if(p.detailsTypeId == ReservationType.TAXI) {
              Taxi
            } else {
              @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER) {
                Transfer
              } else {
                @if(p.detailsTypeId == ReservationType.RAIL) {
                  Train
                } else {
                  @if(p.detailsTypeId == ReservationType.BUS) {
                    Bus
                  } else {
                    @if(p.detailsTypeId == ReservationType.PUBLIC_TRANSPORT) {
                      Public Transport
                    } else {
                      @if(p.detailsTypeId == ReservationType.CAR_DROPOFF) {
                        Car Rental Drop-Off
                      } else {
                        @if(p.detailsTypeId == ReservationType.FERRY) {
                          Ferry
                        } else {
                          Transport
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        </span>
      }
      case TabType.ACTIVITIES => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.getServiceType != null) {
          @p.getServiceType
        } else {
          @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
            Cruise Stop
          } else {
            @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
              Shore Excursion
            } else {
              @if(p.detailsTypeId == ReservationType.TOUR) {
                Tour
              } else {
                @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                  Restaurant Reservation
                } else {
                  @if(p.detailsTypeId == ReservationType.EVENT) {
                    Event
                  } else {
                    @if(p.detailsTypeId == ReservationType.SKI_LESSONS) {
                      Ski Lessons
                    } else {
                      @if(p.detailsTypeId == ReservationType.SKI_LIFT) {
                        Lift Tickets
                      } else {
                        @if(p.detailsTypeId == ReservationType.SKI_RENTALS) {
                          Equipment Rentals
                        } else {
                          Activity
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        </span>
      }
      case _ => {}
    }
  </div>
  <div class="span6">
    <div style="float: right">
      @if(!p.createdById.equals(m.loggedInUserId)) {
        <span class="booking_owner">
          Added by: @p.createdByName
        </span>
      }
      @views.html.trip.bookings.viewPhotosButton(p, "btn btn-primary input-block-level")
      @if(m.accessLevel != null) {
      @if((m.accessLevel.ge(AccessLevel.OWNER) ||
          (m.accessLevel.ge(AccessLevel.APPEND) && p.createdById.equals(m.loggedInUserId))) && p.accessLevel != AccessLevel.TRAVELER) {
        <div class="btn-group tags-dropdown" id="addContentBtn" style="padding-left: 10px; bottom: 2px;">
          <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-tags"  style="font-size: 24px; color: #666666; padding-bottom: 5px"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="detailTagDrop_@p.detailsId">
            <li style="padding: 5px;"><label><input type="checkbox" id="pageBreakBefore" value="@APPConstants.TAG_PAGE_BREAK_BEFORE" @if(p.tagChecks != null && p.tagChecks.pageBreakBefore){checked} />&nbsp;Insert PDF page break before</label></li>
            <li style="padding: 5px; border-top: 1px solid #999999;"><label><input type="checkbox" id="pageBreakAfter" value="@APPConstants.TAG_PAGE_BREAK_AFTER" @if(p.tagChecks != null && p.tagChecks.pageBreakAfter){checked} />&nbsp;Insert PDF page break after</label></li>
            <li style=" padding-top: 5px ; border-top: 1px solid #999999; text-align:center;">
              <a href="#" onclick="javascript:addTags('@p.tripId', '@p.detailsId', false);return false;" class="tagDetails" style="padding-left: 10px;padding-right: 10px">Save</a>
            </li>
          </ul>
        </div>
        <a href="#" onclick="noti.talkback('@p.tripId','@p.detailsId');return false;" style="padding-left: 10px;padding-right: 10px" >
          <i class="fa fa-comments" style="font-size: 26px; color: #666666"></i></a>
        <a onclick="javascript:bkConfirmCopyBooking('@p.detailsId', '@tab.name', '@escapeEcmaScript(p.name)', '@p.bookingNumber', '@p.getStartDate', '@p.startTime', '@p.getEndDate', '@p.endTime', '@escapeEcmaScript(p.origComments)');"
           style="padding-left: 10px;padding-right: 10px" data-toggle="Copy @p.name " title="Copy @p.name">
          <i class="fa fa-copy"  style="font-size: 26px; color: #666666"></i>
        </a>
        <a href="#" onclick="javascript:bkConfirmDelete('@p.detailsId', '@escapeEcmaScript(p.name)');" style="padding-left: 10px;padding-right: 10px" data-toggle="Delete @p.name " title="Delete @p.name">
          <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
        </a>
        <a href="#" onclick="javascript:getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(tab), p.detailsId)')" style="padding-left: 10px;padding-right: 10px" data-toggle="Edit @p.name " title="Edit @p.name">
          <i class="fa fa-pencil"  style="font-size: 26px; color: #666666"></i>
        </a>
      }
      }
    </div>
  </div>@* span6 *@
</div>
