@(f: com.mapped.publisher.view.TripBookingDetailView)
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.reservation.enums.UmRateType

<div class="subTitle">Pricing</div>
<div id="ratesArea" class="row-fluid">
    <div class="row-fluid">
        <div class="span2">
            <label>Price</label>
            <input type="text"
                name="inSubtotal" id="inSubtotal"
                   class="input-block-level" @if(f != null) {value="@f.getSubtotal"}>
        </div>
        <div class="span2">
            <label>Taxes</label>
            <input type="text"
                name="inTaxes" id="inTaxes"
                   @if(f != null) { value="@f.getTaxes"}>
        </div>
        <div class="span2">
            <label>Fees</label>
            <input type="text"
                 name="inFees" id="inFees"
                 @if(f != null) {value="@f.getFees"}>
        </div>
        <div class="span2">
            <label>Currency</label>
            <input type="text"
                name="inCurrency" id="incurrency"
                @if(f != null) {value="@f.getCurrency"}>
        </div>
        <div class="span4">
            <label>Total</label>
            <input type="text"
                 name="inTotal" id="inTotal"
                 @if(f != null) {value="@f.getTotal"}>
        </div>
    </div>
    <div id="rates">
        <div id="ratesHead" style="margin:auto; width=100%; margin-left:2px;padding-right:4px;">
            <div style="padding-left:0px">
                <h3> &nbsp;
                    <div class="btn-group pull-right" style="margin-right:0px">
                        <a role="button" class="btn btn-info " onclick="javascript:addRate($('#ratesArea .rate:last'))">
                            <i class="fa fa-plus"></i>&nbsp;Add Line Item
                        </a>
                    </div>
                </h3>
            </div>
        </div>
        @if(f != null && f.getRates != null) {
        @for(i <- 0 until f.getRates.size; p=f.getRates.get(i)) {
        <div class="rate" style="margin-top:10px">
            <div style="margin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF">
                <h3> <span class="passenger-title">Rate @(i+1)</span>
                    <div class="pull-right btn-group" style="margin-right:0px">
                        <a role="button"  onclick="javascript:deleteRate($(this).closest('.rate'))">
                            <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                        </a>
                    </div>
                </h3>
            </div>
            <div class="row-fluid" style="padding-bottom: 10px;padding-top: 20px;">
                <div class="span2">
                    <label>Type</label>
                    <select name="rates[@i].rateName" class="input-block-level rateName" value="@p.getDisplayName">
                        @for(fr <- UmRateType.values()) {
                        <option value="@fr.name" @if(f !=null && fr.name == p.getName) {selected ="Y"}>@fr.getValue()</option>
                        }
                    </select>
                </div>
                <div class="span8">
                    <label>Description</label>
                    <input type="text" class="input-block-level rateDescription" name="rates[@i].rateDescription" value="@p.getDescription">
                </div>
                <div class="span2">
                    <label>Amount</label>
                    <input type="text" class="input-block-level ratePrice" name="rates[@i].ratePrice" value="@p.getPrice">
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>

<script type="text/javascript">
    function addRate(ele) {
       var newRate = $("#rateTemplate").clone();
	   newRate.removeClass("hide");
	   newRate.removeAttr("id");
	   var anchor = ele;
	   if (anchor.length == 0) {
	     anchor = $("#ratesHead");
	   }
	   newRate.insertAfter(anchor);
	   updateRates();
	   return newRate;
   }

   function deleteRate(rate) {
       rate.remove();
       updateRates();
   }

   function updateRates() {
       $("div#rates div.rate").each(function(index){
		  $(this).find($("span.rate-title")).text("Rate " + (index+1));
		  $(this).find($("select.rateName")).attr("name", "rates[" + index + "].rateName");
		  $(this).find($("input.ratePrice")).attr("name", "rates[" + index + "].ratePrice");
		  $(this).find($("input.rateDescription")).attr("name", "rates[" + index + "].rateDescription");
	  });
   }
</script>

<div id="rateTemplate" class="rate hide">
    <div style="margin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF;margin-bottom:20px">
        <h3> <span class="rate-title">Rate</span>
            <div class="pull-right btn-group" style="margin-right:0px">
                <a role="button"  onclick="javascript:deleteRate($(this).closest('.rate'))">
                    <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                </a>
            </div>
        </h3>
    </div>
    <div class="row-fluid" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="span2">
            <label>Rate Type</label>
            <select class="input-block-level rateName" value="">
                @for(fr <- UmRateType.values()) {
                <option value="@fr.name()" @if(fr.getValue.equals("N/A")) { selected="Y" }>@fr.getValue()</option>
                }
            </select>
        </div>
        <div class="span8">
            <label>Description</label>
            <input type="text" class="input-block-level rateDescription" value="">
        </div>
        <div class="span2">
            <label>Amount</label>
            <input type="text" class="input-block-level ratePrice" value="">
        </div>
    </div>
</div>