@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.UmFlightReservationView; val frv: UmFlightReservationView = if (m.bookingDetail == null) null else m.bookingDetail match { case frv: UmFlightReservationView => frv; case _ => null }
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.utils.UmReservationUtils
@import com.umapped.persistence.reservation.enums.UmRateType

<div id="flightTab" style="padding-bottom : 20px" @if(m.activeTab == TabType.FLIGHTS) { class='tab-pane active' } else { class='tab-pane fade'}>

  @if(m.accessLevel.ge(AccessLevel.APPEND)) {
    @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
        <div class="subTitle"> Edit This Flight</div>
    } else {
        <div class="subTitle"> Add A Flight</div>
    }

    <form id="FLIGHT_BookingForm"  class="BookingForm">
      <input type="hidden" class="input" id="inTripId" name="inTripId" value="@m.tripId">
      @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
        <input type="hidden" class="input" id="inTripDetailId" name="inTripDetailId" @if(frv.getDetailsId != null) {
          value="@frv.getDetailsId"}>
      }

      <div class="row-fluid">
        <div class="span2">
          <label style="font-size: 16px">Airline Code & Flight # <em>*</em></label>
          <input type="text" id="flightNumber" name="inFlightNumber" placeholder="e.g. AC101" class="required input-block-level" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getFlightId != null) {
            value="@frv.getFlightId"}>
          <input type="hidden" id="flightAirlineId" name="inFlightAirlineId"
            @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getPoiMain != null) {
            value="@frv.getPoiMain.getId"}>

        </div>
        <div class="span2">

          <label> Booking #</label>
          <input type="text" id="flightConfirm" name="inFlightBooking" placeholder="Confirmation Number" class="input-block-level" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getBookingNumber != null) {
            value="@frv.getBookingNumber"}>
        </div>
        <div class="span4">
          <label> Departure Airport<em>*</em></label>
          <input type="text" id="flightDepartAirport" name="inFlightDepartAirport" placeholder="Departure Airport" class="required input-block-level" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getDepartAirport != null) {
            value="@frv.getDepartAirport"}>
          <input type="hidden" id="flightDepartAirportId" name="inFlightDepartAirportId" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getDepartAirportId != null) {
            value="@frv.getDepartAirportId"}>

        </div>
        <div class="span4">

          <label> Arrival Airport <em>*</em></label>
          <input type="text" id="flightArrivalAirport" name="inFlightArrivalAirport" placeholder="Arrival Airport" class="required input-block-level" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getArriveAirport != null) {
            value="@frv.getArriveAirport"}>
          <input type="hidden" id="flightArrivalAirportId" name="inFlightArrivalAirportId" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getArriveAirportId != null) {
            value="@frv.getArriveAirportId"}>

        </div>
      </div>
      <br/>
      <div class="row-fluid">
        <div class="span2 ">
          <label> Departure Date<em>*</em></label>
          <div class="input-append date" id="flightDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="flightDate" name="inFlightDate" readonly class="input-small required" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getStartDate != null) {
              value="@frv.getStartDate"}>
          </div>
        </div>
        <div class="span2 input-append bootstrap-timepicker">
          <label> Departure Time<em>*</em></label>
          <span class="add-on"><i class="fa fa-clock-o"></i></span>
          <input id="flightTime" type="text" class="input-small" name="inFlightTime" readonly @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getStartTime != null) {
            value="@frv.getStartTime"}>
        </div>
        <div class="span2">
          <label> Departure Terminal</label>
          <input type="text" id="flightDepartTerminal" name="inFlightDepartTerminal" placeholder="Departure Terminal" class="input-block-level" style="width: 80%" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv != null) {
            value="@frv.getDepartTerminal"}>
        </div>

        <div class="span2 ">
          <label> Arrival Date</label>
          <div class="input-append date" id="flightArrivalDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="flightArrivalDate" name="inFlightArrivalDate" readonly class="input-small" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getEndDate != null) {
              value="@frv.getEndDate"}>
          </div>
        </div>
        <div class="span2 input-append bootstrap-timepicker">
          <label> Arrival Time</label>
          <span class="add-on"><i class="fa fa-clock-o"></i></span>
          <input id="flightArrivalTime" type="text" class="input-small" name="inFlightArrivalTime" readonly @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getEndTime != null) {
            value="@frv.getEndTime"}>
        </div>
        <div class="span2">
          <label> Arrival Terminal</label>
          <input type="text" id="flightArrivalTerminal" name="inFlightArrivalTerminal" placeholder="Arrival Terminal" class="input-block-level" style="width: 80%" @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv != null) {
            value="@frv.getArriveTerminal"}>

        </div>
      </div>
      <br/>
      <div class="row-fluid">
          <div class="span3" style="display:none;">
              <label>Start Timezone</label>
              <select name="inFlightStartTimezone" class="input-block-level" id="flightStartTimezone">
                  @for(tz <- Utils.getTimezones()) {
                    <option value="@tz" @if(frv != null) { selected="Y" }>@tz</option>
                  }
              </select>
          </div>
          <div class="span3" style="display:none;">
              <label>End Timezone</label>
              <select name="inFlightFinishTimezone" class="input-block-level" id="flightFinishTimezone">
                  @for(tz <- Utils.getTimezones()) {
                  <option value="@tz" @if(frv != null) { selected="Y" }>@tz</option>
                  }
              </select>
          </div>
      </div>
       <div id="passengers">
        <div id="passengers-head-div" style="marin:auto; width=100%; margin-left:2px;padding-right:4px; ">
          <div style="padding-left:0px">
            <h3> &nbsp;
          <div class="btn-group pull-right" style="margin: 8px 0px 0px 8px">
            <a role="button" href="#importTravelerModal" data-toggle="modal" onclick="">
              <i class="fa fa-clipboard"  style="font-size: 26px; color: #666666"></i>
            </a>
          </div>
          <div class="pull-right btn-group">
            &nbsp; &nbsp;
          </div>
          <div class="btn-group pull-right" style="margin-right:0px">
                <a role="button" class="btn btn-info " onclick="javascript:addPassenger($('#passengers .passenger:last'))">
          			   <i class="fa fa-plus"></i>&nbsp;Add Traveler
                </a>
          </div>
            </h3>
          </div>
        </div>
        @if(frv != null && frv.getPassengers != null) {
	        @for(i <- 0 until frv.getPassengers.size; p=frv.getPassengers.get(i)) {
	           <div class="passenger" style="margin-top:10px">
	               <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF">
		             <h3> <span class="passenger-title">Traveler @(i+1)</span>
		             <div class="pull-right btn-group" style="margin-right:0px">
		                    <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
                          <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                        </a>
		          	 </div>
                 <!--
                 <div class="pull-right btn-group">
		          	    &nbsp; &nbsp;
		          	 </div>
		          	 <div class="pull-right btn-group" style="margin-right:0px">
		                    <a role="button" class="btn btn-info btn-small" onclick="javascript:addPassenger($(this).closest('.passenger'))"> 
		          			<i class="fa fa-plus"></i>&nbsp;Add Traveler</a>
		             </div>
		             -->
		             </h3>
		           </div>
		           <div class="row-fluid" style="padding-top: 20px;">
		             <div class="span3">
		             <label style="font-size: 16px">First Name</label>
		             <input type="text"  name="passengers[@i].firstName" class="input-block-level firstName" value="@p.getGivenName">
		             </div>
		             <div class="span3">
		             <label style="font-size: 16px">Last Name</label>
		             <input type="text" name="passengers[@i].lastName" class="input-block-level lastName" value="@p.getFamilyName">
		             </div>
		             <div class="span3">
		             <label style="font-size: 16px">eTicket #</label>
		             <input type="text" name="passengers[@i].eticket" class="input-block-level eticket" value="@p.getTicketNumber">
		             </div>
		             <div class="span3">
		             <label style="font-size: 16px">Frequent Flyer #</label>
		             <input type="text" name="passengers[@i].frequentFlyer" class="input-block-level frequentFlyer" value="@p.getMembershipNumber">
		             </div>
		          </div>   
		           <div class="row-fluid">
		             <div class="span3">
		             <label style="font-size: 16px">Seat</label>
		             <input type="text"  name="passengers[@i].seat" class="input-block-level seat" value="@p.getSeat">
		             </div>
		             <div class="span3">
		             <label style="font-size: 16px">Seat Class</label>
		             <input type="text" id="passengers[@i].fClass" name="passengers[@i].fClass" class="input-block-level fClass" value="@p.getSeatCategory">
		             </div>
		             <div class="span3">
		             <label style="font-size: 16px">Meal</label>
		             <input type="text" name="passengers[@i].meal" class="input-block-level meal" value="@p.getMeal">
		             </div>
		           </div>
 		       </div>
	      }
      }

      </div>
  <script type="text/javascript">
   function addPassenger(ele) {
	   var newPassenger = $("#passengerTemplate").clone();
	   newPassenger.removeClass("hide");
	   newPassenger.removeAttr("id");
	   var anchor = ele;
	   if (anchor.length == 0) {
	     anchor = $("#passengers-head-div");
	   }
	   newPassenger.insertAfter(anchor);
	   updatePassengers()
	   return newPassenger;
   }
   
   function deletePassenger(passenger) {
	   passenger.remove();
	   updatePassengers();
   }

   function updatePassengers() {
	  $("div#passengers div.passenger").each(function(index){
		  $(this).find($("span.passenger-title")).text("Traveler " + (index+1));
		  $(this).find($("input.firstName")).attr("name", "passengers[" + index + "].firstName");		  
		  $(this).find($("input.lastName")).attr("name", "passengers[" + index + "].lastName");		  
		  $(this).find($("input.eticket")).attr("name", "passengers[" + index + "].eticket");		  
		  $(this).find($("input.seat")).attr("name", "passengers[" + index + "].seat");		  
		  $(this).find($("input.fClass")).attr("name", "passengers[" + index + "].fClass");	
		  $(this).find($("input.frequentFlyer")).attr("name", "passengers[" + index + "].frequentFlyer");	
		  $(this).find($("input.meal")).attr("name", "passengers[" + index + "].meal");		  
	  });
   }

   function postImportTraveler() {
     // nothing in the text area
     if ($("#travelersFreeForm").val() === $("#travelersFreeForm").attr('data-placeholder')) {
       $("#travelersFreeForm").val("");
       $("#importTravelerModal").modal("hide");
       return;
     }
     var freeFormData = $("#travelersFreeForm").val();
     $("#importSpinner").show();
     $.ajax({
         type: "POST",
         url: '@controllers.routes.BookingController.parseTraveler()',
         data: JSON.stringify(freeFormData),
         contentType: "application/json; charset=utf-8",
         dataType: "json"
     }).done(function(data) {
         var comments = $("#flightNote").val();
         if (data.comments) {
            $("#flightNote").val(comments + "\n" + data.comments);
         }
         $("#travelersFreeForm").val("");

         if (data.departureTerminal) {
            $("#flightDepartTerminal").val(data.departureTerminal);
         }

         if (data.arrivalTerminal) {
            $("#flightArrivalTerminal").val(data.arrivalTerminal);
         }

         if (data.travelerList && data.travelerList.length > 0) {
            $.each(data.travelerList, function(index, traveler) {
               addTraveler(traveler);
            }
           );
         }
       }
     ).fail(function() {
        alert("Import failed");
     }).always(function() {
       $("#importTravelerModal").modal("hide");
        $("#importSpinner").hide();
     });
   }

   function updateExistingTraveler(traveler) {
     var passengerDivs = $("#passengers .passenger");
     var foundExisting = false;

     $.each(passengerDivs, function(index, p) {
         if (!foundExisting && $("input.firstName", p).val() == traveler.firstName
          && $("input.lastName", p).val() == traveler.lastName) {
           updateTraveler(p, traveler);
           foundExisting = true;
         }
       }
      );
     return foundExisting;
   }

   function addTraveler(traveler) {
     var foundExisting = updateExistingTraveler(traveler);
     if (!foundExisting) {
       var passengerDiv = addPassenger($('#passengers .passenger:last'));
       updateTraveler(passengerDiv, traveler);
     }
   }

   function updateTraveler(passengerDiv, traveler) {
      $("input.firstName", passengerDiv).val(traveler.firstName);
      $("input.lastName", passengerDiv).val(traveler.lastName);
      $("input.eticket", passengerDiv).val(traveler.eTicket);
      $("input.seat", passengerDiv).val(traveler.seat);
		  $("input.fClass", passengerDiv).val(traveler.seatClass);
		  $("input.frequentFlyer", passengerDiv).val(traveler.frequentFlyerNumber);
		  $("input.meal", passengerDiv).val(traveler.meal);
   }

  $(document).ready(function() {
      $('#travelersFreeForm').each(function(){
      var $this = $(this);
          value = $this.val(),
          placeholder = $this.attr('placeholder');
      $this.attr('data-placeholder', value ? value : placeholder);
      $this.val('');
      });

     var handleFocus = function(){
          var $this = $(this);
          if($this.val() === $this.attr('data-placeholder')){
              $this.val('');
              $this.removeClass('placeholder');
          }
      };

      var handleBlur = function(){
          var $this = $(this);
          if($this.val() == ''){
              $this.val($this.attr('data-placeholder'))
              $this.addClass('placeholder');
          }
      };

      $('#travelersFreeForm').focus(handleFocus).blur(handleBlur).trigger('blur');

      $('#importTravelerModal').on('shown', function() {
          $("#travelersFreeForm").trigger('blur');
      })
  });



</script>

      <br/>
  
      <div class="row-fluid">
        <div class="span12">
          <label> Details</label>
          <textarea id="flightNote" class="field span12" rows="10" name="inFlightNote">@if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getNotesPlain != null) {@frv.getNotesPlain}</textarea>
        </div>
      </div>
      <div class="row-fluid" style="display:none;">
        <div class="span12">
          <label> Important Information</label>
          <textarea id="flightImportant" class="field span12" rows="10" name="inFlightImportant">@if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv != null) {@frv.getImportant}</textarea>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label> Cancellation Policy</label>
            <textarea id="flightCancellation" class="field span12" rows="1" name="inFlightCancellation">@if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv != null) {@frv.getCancellation}</textarea>
        </div>
      </div>
        @views.html.trip.bookings.bookingRate(frv)
      
      @views.html.trip.bookings.bookingCtrlBtns(ReservationType.FLIGHT, TabType.FLIGHTS, m)



      @if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getFiles != null && frv.getFiles.size() > 0) {
        <div style="margin-top:80px;padding-top:40px" class="row-fluid">

          <div class="subTitle">
            LINKED FILES (@frv.getFiles.size())
          </div>


          <table class="table table-striped">
            <thead>
            <tr>
              <th style="width:60%">
                File Name
              </th>
              <th style="width:10%"> Uploaded by</th>

              <th style="width:20%"> Uploaded On</th>

              <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody id="sortAttachDiv">
            @for(p <- frv.getFiles) {
            <tr id="@p.id">
              <td>
                <a href="@p.attachUrl" target="_blank">
                  @if(p.attachType == "application/msword"){
                  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                  } else {
                  @if(p.attachType == "application/pdf"){
                  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                  } else {
                  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
                  }
                  }
                  @p.attachName
                </a>
              </td>
              <td> @p.createdById</td>
              <td> @p.lastUpdateTimestampPrint</td>
              @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && frv.getCreatedById.equals(m.loggedInUserId))) {
                <td >
                  <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
                    Delete</a>
                </td>
              }
            </tr>

            }
            </tbody>
          </table>
        </div>
      }

    </form>
  }

</div>

<style>
  #travelersFreeForm.placeholder {
     color: rgba(85, 85, 85, 0.5);
  }
</style>
<div id="importTravelerModal" class="modal fade" role="dialog">
  <form id="importTravelerForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Import Travelers</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
          <textarea  id="travelersFreeForm" class="field span12"  rows="10" name="travelersFreeForm" data-placeholder>
Passengers:
Name: Smith/John Mr
Seat: 10A
Class: Economy
eTicket Receipt(s): 000000001
Frequent Flyer: 0789023899
Meal: Breakfast
          </textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="javascript:$('#travelersFreeForm').val('')">Close</button>
      <button type="submit" class="btn btn-success "  id="importSubmit"
              onclick="javascript:postImportTraveler();return false;">Import
      </button>

    </div>
    <div id="importSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
    </div>
  </form>
</div>

@if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.tripId != null) {
  <script>
    $('#addFileSubmit').click(function() {
    $('#addFileModal').modal('hide');
    });

    $('#inFiles').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
    $('#inFilesAdd').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
  </script>


  <div id="addFileModal" class="modal hide fade">
    <form id="addFileForm">
      <input type="hidden" id="inDetailId" name="inDetailId" value=@frv.getDetailsId>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Link Attached File(s) to Booking</h3>
      </div>
      <div class="modal-body">
        @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
          <div class="row-fluid">
            <div class="span12">
              <select multiple="multiple" id="inFiles" name="inFiles">
                @for(p <- m.tripAttachments) {
                  <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
                }
              </select>
            </div>
          </div>
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-success "  id="addFileSubmit"
                onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
        </button>

      </div>
    </form>
  </div>
}

@if(frv != null && frv.getDetailsTypeId.getRootLevelType == ReservationType.FLIGHT && frv.getFiles != null && frv.getFiles.size() > 0) {
  @for(p <- frv.getFiles) {
    <script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

    <div id="deleteFileModal_@p.id" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
      </div>
      <div class="modal-body">
        <p>Delete this File?</p>
      </div>
      <div class="modal-footer">
        <form id="deleteFileForm_@p.id">
          <input type="hidden" id="inDetailId" name="inDetailId" value="@frv.getDetailsId">
          <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
          <input type="hidden" id="inFileId" name="inFileId" value="@p.id">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingController.deleteFile(frv.getDetailsId, p.id, m.tripId, p.attachName)', 'deleteFileForm_@p.id');return false;">Delete</button>
        </form>
      </div>
    </div>
  }
}

   <div id="passengerTemplate" class="passenger hide"  >
           <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF;margin-bottom:20px">
             <h3><span class="passenger-title">Passenger</span>
             <div class="pull-right btn-group" style="margin-right:0px">
		           <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
                          <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                   </a>
		     </div>
		     <!-- div class="pull-right btn-group">
          	    &nbsp; &nbsp;
          	 </div>
          	 <div class="pull-right btn-group" style="margin-right:0px">
                    <a role="button" class="btn btn-info btn-small" onclick="javascript:addPassenger($(this).closest('.passenger'))"> 
          			<i class="fa fa-plus"></i>&nbsp;Add Traveler</a>
             </div-->
            </h3>
           </div>
           <div class="row-fluid">
            <div class="span3">
            <label style="font-size: 16px">First Name</label>
            <input type="text" class="input-block-level firstName" value="">
            </div>
            <div class="span3">
            <label style="font-size: 16px">Last Name</label>
            <input type="text" class="input-block-level lastName" value="">
            </div>
            <div class="span3">
            <label style="font-size: 16px">eTicket #</label>
            <input type="text" class="input-block-level eticket" value="">
            </div>
            <div class="span3">
            <label style="font-size: 16px">Frequent Flyer #</label>
            <input type="text" class="input-block-level frequentFlyer" value="">
            </div>
          </div>  
          <div class="row-fluid">
            <div class="span3">
            <label style="font-size: 16px">Seat</label>
            <input type="text"  class="input-block-level seat" value="">
            </div>
            <div class="span3">
            <label style="font-size: 16px">Seat Class</label>
            <input type="text" class="input-block-level fClass" value="">
            </div>
            <div class="span3">
            <label style="font-size: 16px">Meal</label>
            <input type="text" class="input-block-level meal" value="">
            </div>
          </div>
    </div>