@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.UmTransferReservationView; val trv: UmTransferReservationView = if (m.bookingDetail == null) null else m.bookingDetail match { case trv: UmTransferReservationView => trv; case _ => null }
@import com.umapped.persistence.reservation.utils.UmReservationUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.enums.UmRateType

<script type="application/javascript">
  @if(trv != null) {
    $(document).ready(function () {
    setTransferFieldVisibity('@trv.getDetailsTypeId.name()');
    });
  }

  $("#transferBookingType").change(function() {
    setTransferFieldVisibity($(this).val())
  });

  function setTransferFieldVisibity(transferType) {
    switch(transferType) {
      case 'CAR_DROPOFF':
        $("#endInfoRow").hide();
        $("#startDateLbl").text('Drop-off Date');
        $("#startDateLbl" ).append('<em>*</em>');
        $("#startTimeLbl").text("Drop-off Time");
        $("#startTimeLbl" ).append('<em>*</em>');
        $("#startLocLbl").text("Drop-off Location");
        $("#transferPickup").attr('placeholder', "Drop-off Location");
      break;
      default:
        $("#endInfoRow").show();
        $("#activityConfirmLabel").show();
        $("#startDateLbl").text("Start Date");
        $("#startDateLbl" ).append('<em>*</em>');
        $("#startTimeLbl").text("Start Time");
        $("#startTimeLbl" ).append('<em>*</em>');
        $("#startLocLbl").text("Pick-up Location")
        $("#transferPickup").attr('placeholder', "Pick-up Location");
      break;
    }
  }
</script>

<div id="transferTab" @if(m.activeTab == TabType.TRANSPORTS) {
  class='tab-pane active'
} else {
  class='tab-pane fade'}
>

@if(m.accessLevel.ge(AccessLevel.APPEND)) {
  @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
    <div class="subTitle" id="bkAreaTitleTransport">Edit This Booking</div>
  } else {
    <div class="subTitle" id="bkAreaTitleTransport">Add A Transportation Booking</div>
  }

  <form id="TRANSPORT_BookingForm"  class="BookingForm">
    <input type="hidden" class="input" id="inTripId" name="inTripId" value="@m.tripId">
    @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
      <input type="hidden" class="input" id="inTripDetailId" name="inTripDetailId" @if(trv.getDetailsId != null) {
        value="@trv.getDetailsId"}>
    }
    <div class="row-fluid">
      <div class="span3">
        <label>Name <em>*</em></label>
        <input type="text" id="transferProvider" class="required input-block-level" placeholder="Transfer Details" name="inTransferCmpy" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getProviderName != null) {
          value="@trv.getProviderName"}>
        <input type="hidden" id="transferProviderId" name="inTransferProviderId" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getPoiMain != null) {
          value="@trv.getPoiMain.getId()"}>

      </div>
      <div class="span3">
        <label>Transport Type<em>*</em></label>
        <select name="inBookingType" class="input-block-level" id="transferBookingType">
        @for(bt <- ReservationType.TRANSPORT.getSubtree()) {
          <option value="@bt.name()" @if(trv != null && bt == trv.getDetailsTypeId) { selected="Y" }>@bt.getLabel</option>
        }
        </select>
      </div>
      <div class="span2">
        <label>Transport Title</label>
        <input type="text" name="inTransferServiceType" placeholder="Title of Transport" id="transferServiceType" class="input-block-level" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getServiceType != null) {
               value="@trv.getServiceType"}>
      </div>
      <div class="span2">
        <label> Contact/Info</label>
        <input type="text" id="transferContact" placeholder="Contact Name"
               class="input-block-level"
               name="inTransferContact" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getContact != null) {
               value="@trv.getContact"}>
      </div>
      <div class="span2">
        <label> Booking #</label>
        <input type="text" id="trnasferConfirm" placeholder="Booking #"
               class="input-block-level"
               name="inTransferBooking" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getBookingNumber != null) {
               value="@trv.getBookingNumber"}>
      </div>

    </div>
    <br/>

    <div class="row-fluid">
      <div class="span2">
        <label id="startDateLbl"> Start Date <em>*</em></label>

        <div class="input-append date" id="transferDate1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="transferDate" readonly class="input-small required" name="inTransferDate" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getStartDate != null) {
            value="@trv.getStartDate"}>
        </div>
      </div>

      <div class="span2 input-append bootstrap-timepicker">
        <label id="startTimeLbl"> Start Time <em>*</em></label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="transferTime" type="text" class="input-small" readonly name="inTransferTime" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getStartTime != null && trv.getStartTime.length > 0) {
          value="@trv.getStartTime"
        } else {
          value="12:00 AM"}>
      </div>

      <div class="span8">
        <label id="startLocLbl"> Pick-up Location</label>
        <input type="text" id="transferPickup" placeholder="Pick-up location" class="input-block-level" name="inTransferPickUp" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getLocStartName != null) {
          value="@trv.getLocStartName"}>
      </div>
    </div>
    <br/>

    <div class="row-fluid" id="endInfoRow">
      <div class="span2">
        <label> End Date</label>

        <div class="input-append date" id="transferEndDate1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="transferEndDate" readonly class="input-small" name="inTransferEndDate" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getEndDate != null) {
            value="@trv.getEndDate"}>
        </div>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label> End Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="transferEndTime" type="text" class="input-small" readonly name="inTransferEndTime" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getEndTime != null && trv.getEndTime.length > 0) {
          value="@trv.getEndTime"
        } else {
          value="12:00 AM"}>
      </div>

      <div class="span8">
        <label> Drop -off Location</label>
        <input type="text" id="transferDropoff" placeholder="Drop-off Location" class="input-block-level" name="inTransferDropOff" @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getLocFinishName != null) {
          value="@trv.getLocFinishName"}>
      </div>
    </div>
    <br/>
    <div class="row-fluid">
      <div class="span3" style="display:none;">
        <label>Start Timezone</label>
        <select name="inTransferStartTimezone" class="input-block-level" id="transferStartTimezone">
          @for(tz <- Utils.getTimezones()) {
          <option value="@tz" @if(trv != null) { selected="Y" }>@tz</option>
          }
        </select>
      </div>
      <div class="span3" style="display:none;">
        <label>End Timezone</label>
        <select name="inTransferTimezone" class="input-block-level" id="transferFinishTimezone">
          @for(tz <- Utils.getTimezones()) {
          <option value="@tz" @if(trv != null) { selected="Y" }>@tz</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <label> Details</label>

        <textarea id="tranferNote" class="field span12" rows="10" name="inTransferNote">@if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {@trv.getNotesPlain}</textarea>

      </div>
    </div>
    <div class="row-fluid" style="display:none;">
      <div class="span12">
        <label> Important Information</label>
        <textarea id="transferImportant" class="field span12" rows="10" name="inTransferImportant">@if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {@trv.getImportant}</textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <label> Cancellation Policy</label>
        <textarea id="transferCancellation" class="field span12" rows="1" name="inTransferCancellation">@if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {@trv.getCancellation}</textarea>
      </div>
    </div>
    @views.html.trip.bookings.bookingRate(trv)
    @views.html.trip.bookings.bookingCtrlBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m)


    @if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getFiles != null && trv.getFiles.size() > 0) {
      <div style="margin-top:80px;padding-top:40px" class="row-fluid">

      <div class="subTitle">
        LINKED FILES (@trv.getFiles.size())
      </div>


      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width:60%">
            File Name
          </th>
          <th style="width:10%"> Uploaded by</th>

          <th style="width:20%"> Uploaded On</th>

          <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody id="sortAttachDiv">
        @for(p <- trv.getFiles) {
        <tr id="@p.id">
          <td>
            <a href="@p.attachUrl" target="_blank">
              @if(p.attachType == "application/msword"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
              } else {
              @if(p.attachType == "application/pdf"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
              } else {
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
              }
              }
              @p.attachName
            </a>
          </td>
          <td> @p.createdById</td>
          <td> @p.lastUpdateTimestampPrint</td>
          @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && trv.getCreatedById.equals(m.loggedInUserId))) {
          <td >
            <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
              Delete</a>
          </td>
          }
        </tr>

        }
        </tbody>
      </table>
    </div>
    }

  </form>
  @views.html.poi.poiEditor(m.pbv, TabType.TRANSPORTS + "_poiEditRegion")


}

</div>

@if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && m.tripId != null) {
<script>
    $('#addFileSubmit').click(function() {
    $('#addFileModal').modal('hide');
    });

    $('#inFiles').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
    $('#inFilesAdd').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
  </script>

<div id="addFileModal" class="modal hide fade">
  <form id="addFileForm">
    <input type="hidden" id="inDetailId" name="inDetailId" value=@trv.getDetailsId>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Link Attached File(s) to Booking</h3>
    </div>
    <div class="modal-body">
      @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
      <div class="row-fluid">
        <div class="span12">
          <select multiple="multiple" id="inFiles" name="inFiles">
            @for(p <- m.tripAttachments) {
            <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
            }
          </select>
        </div>
      </div>
      }

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-success "  id="addFileSubmit"
              onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
      </button>

    </div>
  </form>
</div>
}

@if(trv != null && trv.getDetailsTypeId.getRootLevelType == ReservationType.TRANSPORT && trv.getFiles != null && trv.getFiles.size() > 0) {
@for(p <- trv.getFiles) {
<script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

<div id="deleteFileModal_@p.id" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this File?</p>
  </div>
  <div class="modal-footer">
    <form id="deleteFileForm_@p.id">
      <input type="hidden" id="inDetailId" name="inDetailId" value="@trv.getDetailsId">
      <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
      <input type="hidden" id="inFileId" name="inFileId" value="@p.id">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingController.deleteFile(trv.getDetailsId, p.id, m.tripId, p.attachName)', 'deleteFileForm_@p.id');return false;">Delete</button>
    </form>
  </div>
</div>
}
}
