@(m:  com.mapped.publisher.view.TripBookingView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel

@if(m!=null && m.message != null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
  <h3> TRIP: @m.tripName <br>
    DATE: @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
</div>
  <--endPageHeader-->


  <--pageBody-->
<div id="pageBody">

  @* @formatter:off *@
  <script>
    $('#deleteBookingSubmit').click(function() {
    $('#deleteModal').modal('hide');
    });

  $(function(){
  bkInit('@escapeEcmaScript(m.tripStartDate)', '@m.tripCmpyId', @m.tripCmpyIdInt,'@m.activeTab');
  });

    @if(m.notes !=null && m.notes.size() > 0 && m.accessLevel.ge(AccessLevel.APPEND) ) {
      $(function(){
      $('#sortFlightNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.NOTES&inNoteIds=' + order);
      }
      }
      );

      $('#sortHotelNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.NOTES&inNoteIds=' + order);
      }
      }
      );

      $('#sortCruiseNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.NOTES&inNoteIds=' + order);
      }
      }
      );

      $('#sortTransportNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.TRANSPORTS&inNoteIds=' + order);
      }
      }
      );

      $('#sortActivityNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.ACTIVITIES&inNoteIds=' + order);
      }
      }
      );

      $('#sortNoteDiv').sortable(
      { update: function( event, ui ) {
      var order = $(this).sortable('toArray').toString();
      doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.NOTES&inNoteIds=' + order);
      }
      }
      );

      });
    }

  function showDocumentSearch (tripDetailId) {
  $("#searchPageModalTripDetailId").val(tripDetailId);
  $("#searchPageModal").modal('show');
  }


  </script>
  @* @formatter:on *@

  @if(m.activeTab == TabType.FLIGHTS) {
      <!-- Flights Tab Conent  -->
    @views.html.trip.bookings.bookingFlight(m)
    }
  @if(m.activeTab == TabType.HOTELS) {
    <!-- Hotels Tab Conent  -->
    @views.html.trip.bookings.bookingHotel(m)
  }
  @if(m.activeTab == TabType.CRUISES) {
    <!-- Cruise Tab Conent  -->
    @views.html.trip.bookings.bookingCruise(m)
  }
  @if(m.activeTab == TabType.TRANSPORTS) {
    <!-- Transfers  Tab Conent  -->
    @views.html.trip.bookings.bookingTransport(m)
  }
  @if(m.activeTab == TabType.ACTIVITIES) {
    <!-- Activity  Tab Conent  -->
    @views.html.trip.bookings.bookingActivities(m)
  }


  @views.html.poi.poiEditorModals(m.pbv)

  <div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Confirm Delete</h3>

    </div>
    <div class="modal-body">
      @if(m.tripStatus == 0) {
        <h5> This trip is already published; you will need to republish.</h5>
      }
      <h3 id="deleteModalMsg"></h3>
    </div>
    <div class="modal-footer">
      <form id="deleteBookingForm">
        <input type="hidden" id="tripId" name="inTripId" value="@m.tripId">
        <input type="hidden" id="detailId" name="inTripDetailId" value="">

        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-danger " id="deleteBookingSubmit"
        onclick="javascript:postForm('/trips/newTrip/deleteBooking', 'deleteBookingForm');return false;">Delete
        </button>
      </form>
    </div>
  </div>

  <div id="dynamicModal">
  </div>
  <div id="photoMgrModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
      <button id="photoMgrModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2>Manage Photos</h2>
    </div>
    <div class="modal-body">
      <input type="hidden" id="photoMgrPoi"/>

      <div class="well">
        <label>Show Photos</label>
        <input type="checkbox" checked id="photoMgrToggle">
        <p class="muted">You can show or hide photos for this booking</p>
      </div>

      <div class="row-fluid">
        <ul id="photoMgrModalItems" class="umSortList">

        </ul>
      </div>

      <div id="photoMgrModalSpinner" class="spinner"
      style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>
      <p class="muted">
        Simply drag and drop the photos to change the order that they will appear for this booking. <br/>
        You can also delete photos - the photos will only be deleted for this booking. Click on "Restore Default" to see all the original photos from your vendor library. <br/>
        Please make sure to save your booking for the changes to take effect.
      </p>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="offset9 span2"><a role="button" id="photoMgrModalReset" class="btn btn-primary input-block-level">Restore Default</a></div>
        <div class="span1"><button id="photoMgrModalClose" type="button" class="btn btn-info input-block-level" data-dismiss="modal" aria-hidden="true">Close</button></div>
      </div>

    </div>
  </div>

  <div id="searchPageModal" class="modal hide fade container">
    <form id="searchPageForm">
      <input type="hidden" id='inTripId' name='inTripId' value="@m.tripId"/>
      <input type="hidden" id='inTripNote' name='inTripNote' value="true"/>
      <input type="hidden" id='searchPageModalTripDetailId' name='inTripDetailId' value=""/>


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add an Existing Page</h3>
      </div>
      <div class="modal-body">
        <legend>
          Search for an existing page
        </legend>
        <div class="">
          <div class="row-fluid">
            <div class="span6">
              <label>Keyword</label>
              <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
              class="input-block-level"/>
            </div>
            <div class="span3 ">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-success pull-left" id="searchPageButton"
              onclick="javascript:doSearchForm('guide/destinationPageSearch','searchPageForm','pageSearchResults');return false;">
                Search
              </button>
            </div>
            ​
          </div>
          <div class="row-fluid">
            <input type="checkbox" name="inSearchTitleOnly" value="true" checked> search in page title only
          </div>
          <br>

        </div>
        <div id="pageSearchResults">
          <div id="pageSearchResultsTable">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


      </div>
    </form>
  </div>

</div>
  <--endPageBody-->


