@(m:  com.mapped.publisher.view.TripsView)
@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Shared Trips <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>

    //update recently updated trip menu - keep limit to 10
    @if(m != null && m.searchTerm !=null && m.searchTerm.length > 0) {
    $(function () {
        addRecentHistory('RecentTripSearches','@m.searchTerm','@m.searchTerm',"javascript:getPage('/sharedTrips/search?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&searchStatus=@m.searchStatus');");
    });
    }
</script>
    @if(m.tripAgencyList == null || m.tripAgencyList.size ==0) {
    <!-- No shared trips -->
    <div class="well" style="width:900px; margin:auto">
          <div style="margin:auto;text-align:center;padding-top:20px;">
              <h2> You currently have no shared trips.</h2>

              <br/>

              <p>
                  Umapped allows you to collaborate with other users as you build a trip itinerary.
                  <br/>
                      Click <a href="javascript:showHelp('help_start_collaboration')">  <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a> to find out how collaboration works.
              </p>

          </div>


    </div>
    } else {
    <!-- display shared trips search -->
    <div class="">
        <legend>
            <div style="font-family:'Open Sans Condensed',sans-serif;">Search Shared Trips</div>
        </legend>
        <form id="tripSearchForm">
            <div class="row-fluid">
                <div class="span3">
                    <Label> Keyword <em>*</em></Label>
                    <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-xlarge" minLength="2"
                    @if(m.searchTerm != null && m.searchTerm.length() > 0) {
                    value="@m.searchTerm"
                    }
                    >
                </div>
                <div class="span1 ">
                </div>
                <div class="span2 ">
                    <label> Trip Status</label>
                    <select name="searchStatus" id="searchStatus">
                        <option @if(m.searchStatus != 0 && m.searchStatus != 1){selected="Y"} value=3>All</option>
                        <option @if(m.searchStatus == 0){selected="Y"} value=0>Published</option>
                        <option @if(m.searchStatus == 1){selected="Y"} value=1>Pending</option>

                    </select>

                </div>
                <div class="span1 ">
                </div>
                <div class="span3 ">
                    <label> Company</label>
                    @if(m != null && m.tripAgencyList != null) {
                    <select name="inCmpyId" id="cmpyId">

                        @for((key, value) <- m.tripAgencyList) {
                        @if(key == m.cmpyId) {
                        <option selected="Y" value=@key>@value</option>
                        } else {
                        <option value=@key>@value</option>
                        }
                        }
                    </select>
                    }
                </div>
            </div>
            <br>



            <div class="row-fluid">
                <div class="span11">
                    <button type="submit" class="btn btn-info btn-large pull-right"
                            onclick="javascript:postForm('/sharedTrips/search','tripSearchForm');return false;">Search
                    </button>
                </div>

            </div>

        </form>
    </div>
    <br>

    @if(m.searchResults != null && m.searchResults.size() > 0) {

    <div class="" style="">
            <div id="searchMsg" class="subTitle">@if(m.searchTerm!= null && m.searchTerm.trim().length() > 0){SEARCH RESULTS } else {SHARED TRIPS}</div>


        <table class="table table-striped" id="tripResults">
            <thead>
            <tr>
                <th style="width: 80px"></th>
              <th style="width:30%">NAME</th>
              <th style="width:15%">DATE</th>
                <th style="width:10%">STATUS</th>
                <th style="width:10%">CREATED BY</th>
                <th style="width:20%">COMPANY</th>
                <th style="width:10%">ACCESS LEVEL</th>

                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody>

            @if(m.searchResults != null && m.searchResults.size() > 0) {
            @for(p <- m.searchResults){
            <tr style="height: 62px">
                <td>
                @if(p.cover!=null) {
                    <div style="background-image:url(@p.cover.url);center;width:62px;height:62px;margin:auto;background-size:cover;" >
                            &nbsp;
                    </div>
                } else {
                    <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                            &nbsp;
                    </div>
                }
                </td>
                <td style="vertical-align: middle">
                    @if(!p.isComplete) {
                    <a onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> <h5> @p.tripName </h5></a>
                    } else {
                    <h5> @p.tripName </h5>
                    }
                </td>
                <td style="vertical-align: middle">
                    <h5> @p.tripStartDate - @p.tripEndDate </h5>
                </td>
                <td style="vertical-align: middle">
                    @if(p.tripStatus == 1){
                    <h5>Pending</h5>
                    } else {
                    <h5>Published</h5>
                    }
                </td>
                <td style="vertical-align: middle">
                    <h5>@p.userId </h5>
                </td>
                <td style="vertical-align: middle">
                    <h5>@p.tripAgency </h5>
                </td>

                <td style="vertical-align: middle">
                    <h5>@p.accessLevelVal</h5>
                </td>
                <td style="vertical-align: middle">
                    @if(!p.isComplete) { <a   class="btn btn-info pull-right" onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> Edit </a>}

                </td>
            </tr>
            }
            @if(m.nextPos>0 || m.nextAdminPos >0) {
            <tr id="moreRowBtn">
                <td colspan="8">
                    <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/sharedTrips/search?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&inStartPos=@m.nextPos&inStartAdminPos=@m.nextAdminPos&searchStatus=@m.searchStatus&inTableName=tripResults','tripResults');" >
                        Load More Results
                    </a>
                </td>


            </tr>
            }

            } else {
            <tr>
                <td colspan=8>
                    @if(m.prevPos == -1 && m.prevAdminPos == -1 ){
                    <h4> No Trips Found</h4>

                    }
                </td>
            </tr>
            }


            </tbody>
        </table>


    </div> <!--  content -->
    }

    <div id="dynamicModal">
    </div>
    }
</div>
<--endPageBody-->
