@(m:  com.mapped.publisher.view.PoiView)
@import com.mapped.publisher.view.TabType

<div id="dynamicModalBody" class="modal hide fade">
  <script>
    $(function() {
      @if(m.photos != null && m.photos.size > 0) {
        $('carousel_@m.id').carousel({
            interval: false
        });
      }
    });

    @if(m.canManage) {
    function managePhotos() {
      getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(m.tabType), m.detailsId)');
      setTimeout(function() {
        @if(m.tabType.name().indexOf("FLIGHTS") != -1) {
          bkPhotosBtnAction('FLIGHT_BookingForm', 'flightAirlineId', false);
        } else {
          @if(m.tabType.name().indexOf("HOTELS") != -1) {
            bkPhotosBtnAction('HOTEL_BookingForm', 'hotelProviderId', false);
          } else {
            @if(m.tabType.name().indexOf("CRUISES") != -1) {
              bkPhotosBtnAction('CRUISE_BookingForm', 'cruiseProviderId', false);
            } else {
              @if(m.tabType.name().indexOf("ACTIVITIES") != -1) {
                bkPhotosBtnAction('ACTIVITY_BookingForm', 'activityProviderId', false);
              } else {
                @if(m.tabType.name().indexOf("TRANSPORTS") != -1) {
                  bkPhotosBtnAction('TRANSPORT_BookingForm', 'transferProviderId', false);
                }
              }
            }
          }
        }
      }, 1000);
    }

    function addPhotos(){
      getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(m.tabType), m.detailsId)');
      setTimeout(function() {
        @if(m.tabType.name().indexOf("FLIGHTS") != -1) {
          $("a[href='#edit_flightName']").trigger("click");
        } else {
          @if(m.tabType.name().indexOf("HOTELS") != -1) {
            $("a[href='#edit_hotelName']").trigger("click");
          } else {
            @if(m.tabType.name().indexOf("CRUISES") != -1) {
              $("a[href='#edit_cruiseName']").trigger("click");
            } else {
              @if(m.tabType.name().indexOf("ACTIVITIES") != -1) {
                $("a[href='#edit_activityProviderName']").trigger("click");
              } else {
                @if(m.tabType.name().indexOf("TRANSPORTS") != -1) {
                  $("a[href='#edit_transferProvider']").trigger("click");
                }
              }
            }
          }
        }
      }, 1000);
    }
    }
  </script>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center;">Photos</h2>
  </div>
  <div class="modal-body">
    <div id='destinationModal-body' >
      @if(m.photos != null && m.photos.size() > 0) {
      <div id="carousel_@m.id" class="carousel slide" style="width:80%;margin:10% auto;" >
        <div class="carousel-inner">
          @for((a,i) <- m.photos.zipWithIndex){
            @if(i == 0) {
              <div class="item active">
            } else {
              <div class="item">
            }
              <img  src="@a.attachUrl" width="100%" class="text-center"/>
            @if(a.comments != null && a.comments.length > 0) {
              <div id="audio" class="carousel-caption">
                  <p class="lead">@a.comments</p>
                </div>
            }
              </div> <!--item-->
          }
        </div> <!-- inner carousel-->
        <!-- Carousel nav -->
        @if(m.photos.size() > 1) {
        <a class="carousel-control left" href="#carousel_@m.id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel_@m.id" data-slide="next">&rsaquo;</a>
        }
        <br><br>
      </div> <!-- carousel -->
      }
    </div>
  </div>
  <div class="modal-footer">
    @if(m.canManage) {
      <button type="button" class="btn btn-info" data-dismiss="modal" onclick="managePhotos();">Manage Photos</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" onclick="addPhotos();">Add Photos</button>
    }
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
