@(p: com.mapped.publisher.view.TripBookingDetailView, linkClasses : String)


@if(p.photos != null && p.photos.size > 0) {
  @if(p.poiMain != null) {
    <a href="#" class="@linkClasses" onclick="getModalPage('@routes.PoiController.poiPhotos(p.poiMain.getId, p.poiMain.getCmpyId)')"><i class="fa fa-camera"></i>&nbsp;View Photos</a>
  } else {
    @if(p.poiStart != null) {
      <a href="#" class="@linkClasses" onclick="getModalPage('@routes.PoiController.poiPhotos(p.poiStart.getId, p.poiStart.getCmpyId)')"><i class="fa fa-camera"></i>&nbsp;View Photos</a>
    } else {
      @if(p.poiFinish != null) {
        <a href="#" class="@linkClasses" onclick="getModalPage('@routes.PoiController.poiPhotos(p.poiFinish.getId, p.poiFinish.getCmpyId)')"><i class="fa fa-camera"></i>&nbsp;View Photos</a>
      }
    }
  }
}
