@(m: com.mapped.publisher.view.TravelboundBookingView)

@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.form.RecordLocatorForm



<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Step 2 - Itinerary <span style="font-size: 18px;font-weight: 400;color: #000000"><br/>@m.tripName</span></h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
  <h3> TRIP: @m.tripName <br>
    DATE: @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
</div>
<--endPageHeader-->


<--pageBody-->
@* @formatter:off *@
<script>
  function searchTravelbound() {
    $("#alertBox").hide();
    $("#searchBooking").validate();
    if ($("#searchBooking").valid()) {
      var url = '/travelbound/searchBooking?tripId=@m.tripId&inAgentId=' + $('#inAgentId').val() + '&inRefType=' + $('#inRefType').val() + '&inRefNumber=' + $('#inRefNumber').val();
      getModalPage(url);
    }
    return false;
  }

  function updateTravelboundBookings() {
      var url = '/travelbound/updateBookings?tripId=@m.tripId&inAgentId=' + $('#inAgentId').val();
      getPage(url);
      return false;
  }
</script>

<div id="pageBody">
  <div class="subTitle">TravelBound Booking Import</div>
    <div class="row-fluid">
      <form id="searchBooking">
      @if(m.clientIds.size() > 1){
        <div class="span2">
          <label class="form_label" for="inAgentId">Agent ID <em>*</em></label>
          <select name="inAgentId" id="inAgentId" class="required">
            @for(clientId <- m.clientIds) {
              <option value="@clientId">@clientId</option>
            }
          </select>
        </div>
      } else {
        <input type="hidden" id="inAgentId" value="@m.clientIds.get(0)"/>
      }
      <div class="span3">
        <label class="form_label" for="inRefType">Booking Reference Type <em>*</em></label>
        <select name="inRefType" id="inRefType" class="required">
          <option value="api">Booking ID</option>
          <option value="client">Client Booking Reference</option>
        </select>
      </div>

      <div class="span3">
        <label class="form_label" for="inRefNumber">Booking Reference <em>*</em></label>
        <input type="text" id='inRefNumber' name='inRefNumber' placeholder="" class="input-block-level required"/>
      </div>
      <div class="span1">
        <label>&nbsp;</label>
        <button class="btn btn-primary input-block-level" type="submit" onclick="javascript:searchTravelbound();return false;">
          Search
        </button>
      </div>

      @if(m.getHasBookings){
      <div class="span1">
        <label>&nbsp;</label>
        <button class="btn btn-primary input-block-level" type="submit" onclick="javascript:updateTravelboundBookings();return false;">
          Update
        </button>
      </div>
      }

      <div class="span2 ">
        <label>&nbsp;</label>
        <a role="button" class="btn btn-info input-block-level "
           onclick="javascript:bkConfirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
      </div>
      </form>
    </div>
</div>

<div id="dynamicModal"></div>
<--endPageBody-->

