@import com.mapped.publisher.view.T42DestinationGuidesView
@(m: T42DestinationGuidesView)
<h1>@m.dest.getDisplay</h1>


@guideDisplay(g: models.publisher.T42Guide, parent: com.mapped.publisher.view.T42DestinationGuidesView.TabData, topClass: String ) = {
  @if(g.getRowType == "HIER") {
    <h1>@g.getClassId.getClassName</h1>
  } else {
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#@parent.id-accordion" data-afar="@g.getAfarKey" href="#@g.getId.getSequenceNbr">
          @g.getRowType match {
          case "POI"   => { <h4><i class="fa fa-map-pin"></i> @g.getPoiPlaceKey.getPoiName</h4> }
          case "GEO"   => { <h4>@g.getClassId.getRefClassName <i class="fa fa-arrow-circle-right"></i> @g.getClassId.getClassName</h4> }
          case "EVENT" => { <h4>@g.getClassId.getRefClassName <i class="fa fa-arrow-circle-right"></i> @g.getClassId.getClassName</h4> }
          case "HIER"  => { <h4>@g.getClassId.getRefClassName <i class="fa fa-arrow-circle-right"></i> @g.getClassId.getClassName</h4> }
          case "FACT"  => { <h4>@g.getClassId.getRefClassName <i class="fa fa-arrow-circle-right"></i> @g.getClassId.getClassName</h4> }
          case "AFAR"  => { <h4>@g.getContent.substring(0, g.getContent.indexOf("-"))</h4> }
        }
        </a>

      </div>
      <div id="@g.getId.getSequenceNbr" class="accordion-body collapse @if(g.getRowType == "GEO") { in }">
        <div class="accordion-inner">
          <a class="btn btn-default pull-right" data-target="t42ContentAdd" data-dest="@g.getId.getGeoPlaceKey"
          data-number="@g.getId.getSequenceNbr" data-tab="@topClass" data-afar="@g.getAfarKey"><i class="fa fa-plus-circle fa-lg"></i></a>
          <div class="t42contentBlock">
            @Html(g.getContent)
          </div>
        </div>
      </div>
    </div>
  }
}


@hotelDisplay(h: models.publisher.T42Hotel, parent: com.mapped.publisher.view.T42DestinationGuidesView.TabData, topClass: String ) = {
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#t42hotel_rank_@parent.rating-accordion" href="#hotel_@h.getHotelId">
        <h4>@h.getHotelName (@h.getGeoDisplay)</h4>
      </a>
    </div>
    <div id="hotel_@h.getHotelId" class="accordion-body">
      <div class="accordion-inner">
        <a class="btn btn-default pull-right" data-target="t42HotelAdd" data-hotel="@h.getHotelId" data-tab="@topClass"><i class="fa fa-plus-circle fa-lg"></i></a>
        <div class="t42contentBlock">
          @Html(h.getStarReview)
        </div>
      </div>
    </div>
  </div>
}



<ul class="nav nav-tabs">
  @for((tkey, t) <- m.tabs) {
    <li class="@t.isActive"><a href="#@t.id" data-toggle="tab">@t.name&nbsp;<span id="@{t.id}_count" class="badge badge-success">0</span></a></li>
  }
  @if(m.tabHotels != null && m.tabHotels.tabs != null && m.tabHotels.tabs.size() > 0) {
    <li class="@m.tabHotels.isActive"><a href="#t42hotels" data-toggle="tab">@m.tabHotels.name&nbsp;<span id="t42hotels_count" class="badge badge-success">0</span></a></li>
  }
</ul>

<div class="tab-content">
  @for((tkey, t) <- m.tabs) {
    <div class="tab-pane @t.isActive" id="@t.id">
      <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
          @for((innerKey, inner) <- t.tabs) {
            @if(inner.tabs.size() == 0) {
              <li class="@inner.isActive">
            } else {
              <li class="@inner.isActive dropdown">
            }
            @* Sub menus *@
            @if(inner.tabs.size() > 0) {
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >@inner.name</a>
              <ul class="dropdown-menu">
                @if(inner.guides.size() > 0) {
                  <li><a href="#@inner.id" data-toggle="tab">Overview</a></li>
                }
                @for( (thirdKey, thirdTab) <- inner.tabs) {
                  <li><a href="#@thirdTab.id" data-toggle="tab">@thirdTab.name</a></li>
                }
             </ul>
            } else {
              <a href="#@inner.id" data-toggle="tab" >@inner.name</a>
            }
            </li>
          }
          </ul>

          <div class="tab-content" style="font-weight: normal; overflow: scroll; height: 550px;">
          @for((innerKey, inner) <- t.tabs) {
            <div class="tab-pane @inner.isActive" id="@inner.id">
              <div class="accordion" id="@inner.id-accordion">
              @for(g <- inner.guides) {
                @guideDisplay(g, inner, t.id)
              }
              </div>
            </div>
            @for( (thirdKey, thirdTab) <- inner.tabs) {
              <div class="tab-pane @inner.isActive" id="@thirdTab.id">
                <div class="accordion" id="@thirdTab.id-accordion">
                @for(g <- thirdTab.guides) {
                  @guideDisplay(g, thirdTab, t.id)
                }
                </div>
              </div>
            }
          }
          </div>
      </div>
    </div>
  }

  @* Hotels only *@
  @if(m.tabHotels != null && m.tabHotels.tabs != null && m.tabHotels.tabs.size() > 0) {
    <div class="tab-pane @m.tabHotels.isActive" id="t42hotels">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          @for((innerKey, inner) <- m.tabHotels.tabs) {
            <li class="@inner.isActive">
              @if(inner.rating != -1) {
                <a href="#t42hotel_rank_@inner.rating" data-toggle="tab" >@inner.rating Stars</a>
              } else {
              <a href="#t42hotel_rank_@inner.rating" data-toggle="tab" >Hotel Overview</a>
              }
            </li>
          }
        </ul>

        <div class="tab-content" style="font-weight: normal; overflow: scroll; height: 550px;">
        @for((innerKey, inner) <- m.tabHotels.tabs) {
          <div class="tab-pane @inner.isActive" id="t42hotel_rank_@inner.rating">
            <div class="accordion" id="t42hotel_rank_@inner.rating-accordion">
            @for(h <- inner.hotels) {
              @hotelDisplay(h, inner, "t42hotels")
            }
            </div>
          </div>
        }
        </div>
      </div>
    </div>
  }

</div>


