<div id="t42SearchModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Find Travel42 Destination</h3>
  </div>
  <div class="modal-body form-horizontal">
    <div class="row-fluid">
      <div class="span10">
        <div class="control-group">
          <label class="control-label">Search Destination</label>
          <div class="controls">
            <input id="t42Destination" type="text" class="input-block-level">
          </div>
        </div>
      </div>
      <div class="span2">
          <a id="t42DestSearchBtn" type="button" class="btn btn-success input-block-level">Find</a>
      </div>
    </div>
    <div id="t42SearchResults">

    </div>
  </div>
  <div class="modal-footer">
    <fieldset>
      <button type="button" class="btn btn-info"   data-dismiss="modal" aria-hidden="true">Close</button>
    </fieldset>
  </div>
</div>


<div id="t42DestGuidesModal" class="modal container hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Travel42 Destination Guides</h3>
  </div>
  <div class="modal-body">
    <div id="t42DestinationGudes">

    </div>
  </div>
  <div class="modal-footer">
    <fieldset>
      <button type="button" class="btn btn-info"    data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="button" class="btn btn-success" aria-hidden="true" data-target="t42AddSelected">
        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Selected</button>
    </fieldset>
  </div>
</div>