@import models.publisher.T42Destination
@(destinations: List[T42Destination])

@if(destinations.size() > 0) {
  <table class="table table-striped" id="t42DestSearchResultsTable">
    <thead>
      <tr>
        <td>Type</td>
        <td>Name</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    @for( dest <- destinations) {
      <tr>
        <td>@dest.getType()</td>
        <td>@dest.getDisplay()</td>
        <td><a class="btn btn-info pull-right" data-key="@dest.getGeoPlaceKey" data-target="t42DestChoice">
          Select</a>
        </td>
      </tr>
    }
    </tbody>
  </table>
} else {
  <div class="alert">
    <p>No destinations match your query.</p>
  </div>
}

