@(m: com.mapped.publisher.view.TripBookingView, crv: com.mapped.publisher.view.UmCruiseReservationView, i: Integer)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType

  <div class="bookingBox" style="padding:4px;;width: 99%;margin: auto;margin-top: 10px;margin-bottom: 10px;background-color: #ffffff">

  <div style="padding:0px;padding-bottom: 0px;width: 100%;page-break-inside: avoid">
    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: top;padding-top:5px;">
        <div style="margin-top: 10px;margin-left: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise.png">
        </div>
        </td>
        <td style="vertical-align: top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="1" style="padding-bottom: 20px;vertical-align: top">
                      @views.html.clientbase.details.bookingScheduleBtns(ReservationType.CRUISE, TabType.CRUISES, m, crv, i)
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 695px; vertical-align: top">
                      <table>
                        <tr>
                          <td>
                            <table style="width: 100%">
                              <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CRUISE</div></td>
                                <td style="width:15px;border-top: none;"></td>
                                <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
                                <td style="width:15px"></td>
                                <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">SAIL</div></td>
                                <td style="width:15px"></td>
                                <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DISEMBARK</div></td>

                              </tr>

                              <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @if(crv.getProviderName != null && crv.getProviderName.trim.length > 0) {
                                    <span style="font-weight: 700">@crv.getProviderName</span> <br/>
                                  }
                                  @if(crv.getProviderAddr1 != null && crv.getProviderAddr1.length > 0) {
                                      @crv.getProviderAddr1 <br>
                                  }
                                  @if(crv.getProviderAddr2 != null && crv.getProviderAddr2.length > 0) {
                                      @crv.getProviderAddr2 <br/>
                                  }
                                  @if(crv.getProviderPhone != null && crv.getProviderPhone.length > 0) {
                                      Phone: @crv.getProviderPhone <br/>
                                  }
                                  @if(crv.getProviderFax != null && crv.getProviderFax.length > 0) {
                                    Fax: @Html(crv.getProviderFax) <br/>
                                  }
                                  @if(crv.getProviderWeb != null && crv.getProviderWeb.length > 0) {
                                      Web: @crv.getProviderWeb <br/>
                                  }

                                </td>
                                <td style="width:15px"></td>
                                <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">
                                  @crv.getBookingNumber
                                  @if(crv.getRecordLocator != null && crv.getRecordLocator.length > 0) {
                                    Record Locator: @crv.getRecordLocator <br/>
                                  }
                                </td>
                                <td style="width:15px"></td>
                                <td style="width:150px ; padding-bottom: 20px;vertical-align: top">
                                  @if(crv.getStartHour != null && crv.getStartHour.trim.length > 0) {
                                    <div style="font-size: 18px;padding-bottom:12px">
                                    @if(m.display12Hr) {
                                      @Utils.formatTime12(crv.getStartDateMilli)
                                    } else {
                                      @Utils.formatTime24(crv.getStartDateMilli)
                                    }
                                    </div>
                                  }
                                  @if(crv.getStartDateItin != null && crv.getStartDateItin.trim.length > 0) {
                                    <div style="padding-bottom:6px">@crv.getStartDateItin  </div>
                                  }
                                  @if(crv.getLocStartName != null && crv.getLocStartName.trim.length > 0) {
                                    <div style="padding-bottom:6px">@crv.getLocStartName  </div>
                                  }
                                </td>
                                <td style="width:15px"></td>
                                <td style="width:150px ; padding-bottom: 20px;vertical-align: top">
                                  @if(crv.getEndHour != null && crv.getEndHour.trim.length > 0) {
                                    <div style="font-size: 18px;padding-bottom:12px">
                                    @if(m.display12Hr) {
                                      @Utils.formatTime12(crv.getEndDateMilli)
                                    } else {
                                      @Utils.formatTime24(crv.getEndDateMilli)
                                    }</div>
                                  }
                                  @if(crv.getEndDateItin != null && crv.getEndDateItin.trim.length > 0) {
                                    <div style="padding-bottom:6px">@crv.getEndDateItin </div>
                                  }
                                  @if(crv.getLocFinishName != null && crv.getLocFinishName.trim.length > 0) {
                                    <div style="padding-bottom:6px">@crv.getLocFinishName  </div>
                                  }
                                </td>

                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table style="width: 100%">
                              <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                <td style="padding-bottom:10px;width:100px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DURATION</div></td>
                                <td style="width:15px;border-top: none;"></td>
                                <td style="width:100px;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CATEGORY</div></td>
                                <td style="width:15px"></td>
                                <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CABIN</div></td>
                                <td style="width:15px"></td>
                                <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DINING</div></td>
                              </tr>
                              <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                @crv.getNumNights
                                </td>
                                <td style="width:15px"></td>
                                <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                @crv.getCategory
                                </td>
                                <td style="width:15px"></td>
                                <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                @crv.getCabinNumber
                                </td>
                                <td style="width:15px"></td>
                                <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                @crv.getDining
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                          <tr>
                            <td>
                              <table style="width: 100%;">
                                <tr style="width: 100%;">

                                  <td style="vertical-align: top;">
                                    <div >
                                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                      @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                                        <tr style="page-break-inside: avoid;">
                                          <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                            <table style="page-break-inside: avoid;width: 100%">
                                              <tr style="font-size: 13px;line-height:15px;color: #818181;font-weight: 700">
                                                <td style="border-top: 1px solid #818181;width:315px ; padding-bottom: 10px;padding-top: 5px">CRUISE STOP</td>
                                                <td style="width:15px"></td>
                                                <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">ARRIVAL DATE</td>
                                                <td style="width:15px"></td>
                                                <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">DEPARTURE DATE</td>
                                              </tr>
                                              @for(v <- crv.getCruiseStops(m)) {
                                                <tr style="font-size : 11px ;">
                                                  <td style="padding-bottom : 5px">
                                                  @v.getItineraryName
                                                  </td>
                                                  <td style="width:10px"></td>

                                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                                  @v.getArriveTime
                                                  </td>
                                                  <td style="width:10px"></td>

                                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                                  @v.getDepartTime
                                                  </td>

                                                </tr>
                                              }
                                            </table>
                                          </td>
                                        </tr>
                                      }
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        }

                        </table>

                    </td>


                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>
  </div>

</div>
