@(m: com.mapped.publisher.view.TripBookingView, arv: com.mapped.publisher.view.UmAccommodationReservationView, i: Integer)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType

  <div class="bookingBox" style="padding:4px;width: 99%;margin: auto;margin-top: 10px;margin-bottom: 10px;background-color: #ffffff">
    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:25px;vertical-align: top;padding-top:5px;">
        <div style="margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png" >
        </div>
        </td>
        <td style=";vertical-align: top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="7" style="padding-bottom: 20px;vertical-align: top;">
                      @views.html.clientbase.details.bookingScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, arv, i)
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">

                    <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">ACCOMMODATIONS</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-IN</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-OUT</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">

                    <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                        @Html(arv.getProviderAddr1) <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                        @Html(arv.getProviderAddr2) <br/>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                        Phone: @Html(arv.getProviderPhone) <br/>
                      }
                      @if(arv.getProviderFax != null && arv.getProviderFax.length > 0) {
                        Fax: @Html(arv.getProviderFax) <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                        Web: @Html(arv.getProviderWeb) <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">@arv.getBookingNumber</td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                          @if(arv.getStartTime != null && arv.getStartTime.trim.length > 0) {
                            @if(m.display12Hr) {
                              @Utils.formatTime12(arv.getStartDateMilli)
                            } else {
                              @Utils.formatTime24(arv.getStartDateMilli)
                            }
                          }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(m.display12Hr) {
                          @Utils.formatTime12(arv.getEndDateMilli)
                        } else {
                          @Utils.formatTime24(arv.getEndDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                    </td>

                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>


</div>

