@(m: com.mapped.publisher.view.TripBookingView, p:  com.mapped.publisher.view.TripBookingDetailView,  i: Integer)
@import com.mapped.publisher.utils.Utils
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
<div class="bookingBox" style="padding:4px;width: 99%;margin: auto;margin-top: 10px;margin-bottom: 10px;background-color: #ffffff" id="@p.noteId">

  <table style="width: 99%;background-color: #ffffff;margin-left: 10px"l>
    <tr style="width: 100%;">

      <td style="vertical-align: top;border-top: none;padding-top:0px;">
      <div>
        <table style="width: 100%;margin-top: 5px;">
          <tr>
            <td style="width: 100%;vertical-align: top;">
              <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                <tr>
                  <td colspan="1" style="vertical-align: top;">
                  <div class="span6" style="font-size: 18px ;font-weight: 700">
                    @if(p.hasStartTimestamp) {
                      <span style="color: #000000">
                      @if(m.display12Hr) {
                        @Utils.formatTime12(p.getStartDateMsNote)
                      } else {
                        @Utils.formatTime24(p.getStartDateMsNote)
                      }

                      </span>
                    }
                    @p.getName
                  </div>
                    <div class="span6">
                      <div style="float: right">
                        @if(  !p.createdById.equals(m.loggedInUserId)) {
                          <span class="booking_owner">
                            Added by: @p.createdById
                          </span>
                        }
                        <div class="bookingButton" id="btn_@p.noteId">
                        @if(p.photos != null && p.photos.size > 0) {
                          <a href="#"  onclick="getModalPage('@routes.BookingNoteController.notePhotos(p.noteId)')" data-toggle="View Photos for @p.getName " title="View Photos for @p.getName"><i class="fa fa-camera" style="font-size: 26px; color: #666666"></i>&nbsp;</a>
                        }
                        @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && p.createdById.equals(m.loggedInUserId))) {
                          <a href="#" class="btnDeleteNote" data-noteid="@p.noteId" data-name="@escapeEcmaScript(p.getName)"
                             style="padding-left: 10px;padding-right: 10px" data-toggle="Delete @p.getName " title="Delete @p.getName">
                            <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                          </a>
                          <a href="#" onclick="javascript:getPage('@routes.BookingNoteController.getNote(m.tripId, p.noteId, null)')" style="padding-left: 10px;padding-right: 10px" data-toggle="Edit @p.getName " title="Edit @p.getName">
                            <i class="fa fa-pencil"  style="font-size: 26px; color: #666666"></i>
                          </a>
                        }
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                @if((p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) || (p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0)) {
                  <tr style="font-size: 12px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px">
                  @if(p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) {
                    @p.getProviderAddr1 <br>
                  }
                  @if(p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0) {
                      @p.getProviderAddr2
                  }
                    </td>
                  </tr>
                }
                @if(p.getIntro != null || p.getDescription != null) {
                  <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 10px; pa vertical-align : top ;">
                      @if(p.getIntro != null) {
                        <div>
                        @Html(p.getIntro)
                        </div>
                      }
                      @if(p.getDescription != null) {
                        <div>
                        @Html(p.getDescription)
                        </div>
                      }

                    </td>
                  </tr>
                }
                @if(p.links !=null && p.links.size > 0) {
                  <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 10px; pa vertical-align : top ;">
                  @for(a <- p.links) {

                      <a href="@a.attachUrl" target="_blank">@a.attachName</a>
                      @if(a.comments != null && a.comments.length > 0) {
                        @Html(a.comments)
                      }
                  }
                    </td>
                  </tr>
                }
              </table>
            </td>
          </tr>
        </table>
      </div>
      </td>
    </tr>
  </table>


</div>



