@(p:  com.mapped.publisher.view.TripBookingDetailView,  i: Integer, display12Hr: Boolean , printFriendly: Boolean, lang: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import play.i18n._

<div style="padding:0px;padding-top: @if(i == 0){20px}else{10px};width: 700px;page-break-inside: avoid ">

  <table style="width: 700px;">
    <tr style="width: 700px;">
      @if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {
        <td style="width: 75px;text-align: center;vertical-align:top;@if(i == 0){border-top: 3px solid #000000;padding-top:5px;}else{border-top:none};padding-right: 15px">
      @if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {
        @if(i == -1 || i == 0) {
          <div style="margin-top:0px;padding: 5px;color:#212121;padding-bottom: 10px;">

          <div style="font-size: 22px;font-weight: 700;line-height: 16px;padding-top: 0px; ">
            @Utils.formatTimestamp(p.getStartDateMsNote, "EEE", lang).toUpperCase()
          </div>
          <div style="font-size: 18px;font-weight: 700;line-height: 18px;padding-top: 10px">
            @Utils.formatTimestamp(p.getStartDateMsNote, "MMM", lang).toUpperCase()
          </div>
          <div style="font-size: 30px;font-weight: 400;line-height: 18px;padding-top: 12px">
          @Utils.formatTimestamp(p.getStartDateMsNote, "d")
          </div>
          </div>
          @if(p.hasStartTimestamp) {
            <div style="text-align: center;font-size: 20px;font-weight: 400;line-height: 20px;padding-top: 4px;width: 60px;">
              @if(display12Hr) {
                @Utils.formatTime12NoIndicator(p.getStartDateMsNote)
              } else {
                @Utils.formatTime24(p.getStartDateMsNote)
              }
              @if(display12Hr) {
                <div style="text-align:center; font-size:20px;font-weight:400; line-height:20px; padding-top:4px;width:60px;">
                @Utils.formatTime12Indicator(p.getStartDateMsNote)
                </div>
              }
            </div>

          }

        } else {
          @if(p.hasStartTimestamp) {
            <div style="text-align:center; font-size:20px ; font-weight:400 ; line-height:20px ; padding-top:8px;width: 60px;">
            @if(display12Hr) {
              @Utils.formatTime12NoIndicator(p.getStartDateMsNote)
            } else {
              @Utils.formatTime24(p.getStartDateMsNote)
            }
            </div>
            @if(display12Hr) {
              <div style="text-align:center; font-size:20px;font-weight:400; line-height:20px; padding-top:0px;width:60px;">
              @Utils.formatTime12Indicator(p.getStartDateMsNote)
              </div>
            }
          } else {
            <div style="width: 35px">&nbsp;</div>

          }
        }
      } else {
        <div style="width: 35px">&nbsp;</div>

      }

      </td>
      }


      <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 3px solid #000000;} else {border-top: none;}padding-top:5px;">
      <div>
        <table style="margin-left: 0px;width: @if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {630px} else {700px};margin-top: 4px;">
          <tr>
            <td style="width: 700px;vertical-align: top;">
              <table style="margin-left: 0px;width:@if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {630px} else {700px};margin-top: 0px;">
                <tr>
                  <td colspan="1" style="padding-bottom: 10px;vertical-align: top;">
                    <div style="font-size: 18px ;font-weight: 700;page-break-inside: avoid;color:#212121;line-height: 19px"> @p.getName  </div>


                  </td>
                </tr>
                @if((p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) || (p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0)) {
                  <tr style="font-size: 12px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;page-break-inside: avoid">
                      @if(p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) {
                        @p.getProviderAddr1 <br>
                        }
                      @if(p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0) {
                        @p.getProviderAddr2
                      }
                    </td>
                  </tr>
                }

                @if(p.getIntro != null || p.getDescription != null) {
                  <tr style="font-size : 13px ; color : #818181 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 20px; pa vertical-align : top;">
                      @if(p.intro != null) {
                        <div class="@if(p.intro.contains("class=\"insurance\"")) {pageStructuredNote}else{pageNote}">
                        @Html(p.intro)
                        </div>
                      }
                      @if(p.description != null) {
                        <div class="@if(p.intro.contains("class=\"insurance\"")) {pageStructuredNote}else{pageNote}">
                        @Html(p.description)
                        </div>
                      }
                    </td>
                  </tr>
                }
                @if(p.getLinks != null && p.getLinks.size() > 0) {
                  <tr style="font-size : 13px ; color : #818181 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 20px; pa vertical-align : top ;">
                    @for(l <- p.getLinks) {
                      @l.name - <a href="@l.attachUrl" style="text-decoration: none">@l.attachUrl</a> <br/>
                    }

                    </td>
                  </tr>
                }

                @if(p.getPhotos != null && p.getPhotos.size() > 0 && !printFriendly) {
                  <tr style="page-break-inside: avoid">
                    <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                      <table style="width: 630px">
                        <tr>
                          <td style="width:156px;text-align: center">
                            <img src="@p.getPhotos.get(0).attachUrl" style="width: 150px;height: 130px;vertical-align: text-top;" alt="">
                          </td>
                          <td style="width:156px;text-align: center">
                          @if(p.getPhotos.size() > 1) {
                            <img src="@p.getPhotos.get(1).attachUrl" style="width: 150px;height: 130px;vertical-align: text-top;" alt="">
                            }
                          </td>
                          <td style="width:156px;text-align: center">
                          @if(p.getPhotos.size() > 2) {
                            <img src="@p.getPhotos.get(2).attachUrl" style="width: 150px;height: 130px;vertical-align: text-top;" alt="">
                            }
                          </td>
                          <td style="width:156px;text-align: center">
                          @if(p.getPhotos.size() > 3) {
                            <img src="@p.getPhotos.get(3).attachUrl" style="width: 150px;height: 130px;vertical-align: text-top;" alt="">
                            }
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                }

              </table>
            </td>
          </tr>
        </table>
      </div>
      </td>
    </tr>
  </table>


</div>



