@(m:  com.mapped.publisher.view.billing.ReportForCmpyView)
@import com.mapped.publisher.view.billing.ReportBaseView
@import com.mapped.publisher.utils.Utils

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Company Billing Reports for: @m.cmpy.getName</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      var ui = Object.create(BillingReportForCmpy);
      ui.init('@controllers.routes.AdminController.billingDetailsForCmpy(m.cmpy.getCmpyid)');

    });
  </script>

  <div id="billingStateArea" class="well hide">
    <legend id="billingState"></legend>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
      <span></span>
    </div>
  </div>

  <div class="well">
    <legend>Billing Cycle</legend>
    <div class="row-fluid">
      <div class="span2">
        <select id="billingMonth" class="input-block-level">
          @for(mnth <- ReportBaseView.MONTHS) {
            <option value="@mnth"
            @if(m.period != null && mnth == ReportBaseView.MONTHS.get(m.period.getMonthOfYear - 1)) {selected} >@mnth</option>
          }
        </select>
      </div>
      <div class="span2">
        <select id="billingYear" class="input-block-level">
          @for(year <- ReportBaseView.YEARS) {
            <option value="@year" @if(m.period != null && year == m.period.getYear) {selected} >@year</option>
          }
        </select>
      </div>
      <div class="span2">
        <a id="btnDateSet" role="button" class="btn btn-primary">Get Details</a>
      </div>
    </div>

  </div>

  <hr/>
  <div class="row-fluid">
    <div class="span3">
      <label>Schedule</label>
      <h3>@m.bs.getSchedule.getLongName</h3>
    </div>
    <div class="span3">
      <label>Plan</label>
      @if(m.bs.getPlan != null) {
        <h3>@m.bs.getPlan.getName</h3>
      } else {
        <h3>N/A</h3>
      }
    </div>
    <div class="span2">
      <label>Start Billing Date</label>
      <h3>@m.bs.getStartDate</h3>
    </div>
    <div class="span2">
      <label>Cutoff Date</label>
      @if(m.bs.getCutoffTs != null) {
        <h3>@m.bs.getCutoffDate</h3>
      } else {
        <h3>NOT SET</h3>
      }
    </div>
    <div class="span2">
      <label>Plan Cost</label>
      @if(m.bs.getPlan != null) {
        <h3>(@m.bs.getPlan.getCurrency.name()) @m.bs.getPlan.getCost</h3>
      } else {
        <h3>N/A</h3>
      }
    </div>
  </div>

  <hr/>

  <legend>Published Trips</legend>
  <table class="table table-striped" id="publishedTable">
    <thead>
      <tr>
        <th>Trip Name</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Published Date</th>
        <th>Published By</th>
        <th>Plan</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      @for(pt <- m.trips){
        <tr>
          <td>@pt.trip.getName</td>
          <td>@pt.createdDate</td>
          <td>@pt.createdBy.getFirstname @pt.createdBy.getLastname (@pt.createdBy.userid)</td>
          <td>@pt.publishDate</td>
          <td>@pt.publishBy.getFirstname @pt.publishBy.getLastname (@pt.publishBy.userid)</td>
          @if(pt.userSettings.getPlan == null) {
            <td>@pt.userSettings.getSchedule.getLongName</td>
          } else {
            <td>@pt.userSettings.getPlan.getName</td>
          }
          <td>@{"%.2f".format(pt.cost)}</td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Trip Name</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Published Date</th>
        <th>Published By</th>
        <th>Plan</th>
        <th>Cost</th>
      </tr>
    </tfoot>
  </table>

  <hr/>
  <h4>
   @if(m.bs.getPlan != null) {
     Trips Total: @m.bs.getPlan.getCurrency
     @{
       "%.2f".format(m.tripsCost)
     }
   }</h4>
  <hr/>

  <legend>Billable Users</legend>
  <table class="table table-striped" id="billedUsersTable">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Schedule</th>
        <th>Plan</th>
        <th>Start Billing Date</th>
        <th>Cutoff Date</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      @for(bu <- m.users) {
        <tr>
          <td>@bu.user.userid</td>
          <td>@bu.user.getFirstname</td>
          <td>@bu.user.getLastname</td>
          <td>@bu.bs.getSchedule.getLongName</td>
          @if(bu.bs.getPlan == null) {
            <td>NOT SET</td>
          } else {
            <td>@bu.bs.getPlan.getDescriptive</td>
          }
          <td>@bu.bs.getStartDate</td>
          @if(bu.bs.getCutoffTs != null) {
            <td>@bu.bs.getCutoffDate</td>
          } else {
            <td>NOT SET</td>
          }
          <td>@{"%.2f".format(bu.cost)}</td>
        </tr>

        @if(bu.isProRated) {
          <tr>
            <td>@bu.user.userid</td>
            <td>@bu.user.getFirstname</td>
            <td>@bu.user.getLastname</td>
            <td>@bu.bs.getSchedule.getLongName</td>
            @if(bu.bs.getPlan == null) {
              <td>NOT SET</td>
            } else {
              <td>@bu.bs.getPlan.getDescriptive <em>[PRORATED]</em></td>
            }
            <td>@bu.bs.getStartDate</td>
            @if(bu.bs.getCutoffTs != null) {
              <td>@bu.bs.getCutoffDate</td>
            } else {
              <td>NOT SET</td>
            }
            <td>@{"%.2f".format(bu.proRatedCost)}</td>
          </tr>
        }

        @for(a <- bu.addons) {
          <tr>
            <td>@bu.user.userid</td>
            <td>@bu.user.getFirstname</td>
            <td>@bu.user.getLastname</td>
            <td>@a.addon.getSchedule.getScheduleName</td>
            <td><i class="fa fa-puzzle-piece"></i>&nbsp;@a.addon.getDescriptive</td>
            <td>
              @if(a.state.getStartTs != null) {
                @Utils.getISO8601Date(a.state.getStartTs)
              } else {
                NOT SET
              }
            </td>
            <td>
            @if(a.state.getCutoffTs != null) {
              @Utils.getISO8601Date(a.state.getCutoffTs)
            } else {
              NOT SET
            }
            </td>
            <td>@{"%.2f".format(a.cost)}</td>
          </tr>
          @if(a.isProRated) {
            <tr>
              <td>@bu.user.userid</td>
              <td>@bu.user.getFirstname</td>
              <td>@bu.user.getLastname</td>
              <td>@a.addon.getSchedule.getScheduleName</td>
              <td><i class="fa fa-puzzle-piece"></i>&nbsp;@a.addon.getDescriptive<em>[PRORATED]</em></td>
              <td>
              @if(a.state.getStartTs != null) {
                @Utils.getISO8601Date(a.state.getStartTs)
              } else {
                NOT SET
              }
              </td>
              <td>
              @if(a.state.getCutoffTs != null) {
                @Utils.getISO8601Date(a.state.getCutoffTs)
              } else {
                NOT SET
              }
              </td>
              <td>@{"%.2f".format(a.proRatedCost)}</td>
            </tr>
          }
        }

      }
    </tbody>
    <tfoot>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Schedule</th>
        <th>Plan</th>
        <th>Start Billing Date</th>
        <th>Cutoff Date</th>
        <th>Cost</th>
      </tr>
    </tfoot>
  </table>

  <hr/>
  @if(m.bs.getPlan != null) {

    <h4>
      Users Total: @m.bs.getPlan.getCurrency
      @{
        "%.2f".format(m.usersCost)
      }</h4>
    <hr/>
    <h4>
      Users Add-ons Total: @m.bs.getPlan.getCurrency
      @{
        "%.2f".format(m.addonCost)
      }</h4>
    <hr/>
    <h3>Invoice Total Due: @m.bs.getPlan.getCurrency
      @{
        "%.2f".format(m.totalCost)
      }</h3>
    <hr/>
  }

  <a role="button" id="generateInvoice" class="btn btn-warning" href="@m.invGenUrl">Generate This Invoice</a>
</div>
<--endPageBody-->
