@(m:  com.mapped.publisher.view.billing.PlansView)
@import models.publisher.BillingSchedule
@import models.publisher.BillingPlan

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">@if(m.planType == BillingPlan.PlanType.ADDON){Edit Billable Add-on}else{Manage Billing Plans}</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      initBillingPlan('@routes.AdminController.billingPlanCreate()' @if(m.editable != null) {,'@routes.AdminController.billingPlans(m.editable.plan.getPlanId, true)'});
      billingCheckStatus('@routes.AdminController.billingStatus()', 'billingStateArea');
    });
  </script>

  <div id="billingStateArea" class="well hide">
    <legend id="billingState">feedCheckProgress</legend>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
      <span></span>
    </div>
  </div>

  <div class="well container">

    <form id="formPlanCreate">
      <input type="hidden" id="planId" name="planId" value="@if(m.editable != null){ @m.editable.plan.getPlanId}">
      <div class="row-fluid">
        <div class="span6">
          <label>Plan Type</label>
          @m.planType match {
            case BillingPlan.PlanType.PLAN => { Regular Plan  @if(m.editable != null){ - Plan Id: @m.editable.plan.getPlanId}}
            case BillingPlan.PlanType.ADDON => { Plan Add-on  @if(m.editable != null){- Plan Id: @m.editable.plan.getPlanId} }
          }
          <input type="hidden" id="planType" name="planType" value="@m.planType">
        </div>
        @if(m.parent != null) {
          <input type="hidden" id="parentId" name="parentId" value="@m.parent.plan.getPlanId">
          <div class="span3">
            <label>Parent Plan</label>
            @m.parent.plan.getName
          </div>
        }
      </div>
      <br/>

      <div class="row-fluid">
        <div class="span12">
          <label>@if(m.planType == BillingPlan.PlanType.ADDON) {Add-on Name}else{Plan Name}<em>*</em></label>
          <p class="muted">Plan/Add-on name visible on the invoice as billable item</p>
          <input type="text" class="required input-block-level" minlength="5" id="planName" name="planName" value="@if(m.editable != null){ @m.editable.plan.getName}">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label>Description</label>
          <p class="muted">User visible description</p>
          <textarea name="planDescription" id="planDescription" rows="3" class="input-block-level">@if(m.editable != null){ @m.editable.plan.getDescription}</textarea>
        </div>
      </div>

      @if(m.editable == null && m.planType != BillingPlan.PlanType.ADDON) {
        <div class="row-fluid">
          <div class="span2">
            <label>Payment Schedule<em>*</em></label>
            <select name="planSchedule" id="planSchedule" class="input-block-level" readonly>
            @for( v <- m.schedules) {
              <option value="@v.getName" @if(m.editable != null && m.editable.plan != null && m.editable.plan.getSchedule.equals(v.getName)) {selected}>@v.getLongName </option>
            }
            </select>
            <p class="muted">'Trial' and 'Freemium' are for future use only</p>
          </div>
          <div class="offset1 span2">
            <label>Currency<em>*</em></label>
            <select name="planCurrency" id="planCurrency" class="input-block-level">
            @for( v <- BillingPlan.Currency.values()) {
              <option value="@v">@v</option>
            }
            </select>
          </div>

          <div class="offset1 span2">
            <label>Consortium<em>*</em></label>
            <select name="planConsortium" id="planConsortium" class="input-block-level">
            @for( v <- m.consortiums) {
              <option value="@v.getConsId" @if((m.editable != null && m.editable.plan != null &&
                      m.editable.plan.getConsortium != null && m.editable.plan.getConsortium.getConsId == v.getConsId) || ((m.editable == null || m.editable.plan == null || m.editable.plan.getConsortium == null) && v.getConsId == 0)) {selected}>@v.getName </option>
            }
            </select>
            <p class="muted">Select 'Independent' for plan to be generally available.</p>
          </div>
          <div class="offset1 span2">
            <label>Billing Type<em>*</em></label>
            <select name="planBillingType" id="planBillingType" class="input-block-level">
            @for( v <- BillingPlan.BillType.values()) {
              <option value="@v">@v</option>
            }
            </select>
          </div>
        </div>

      } else {
        @if(m.planType == BillingPlan.PlanType.ADDON){
        <div class="row-fluid">
          <div class="span2">
            <label>Payment Schedule<em>*</em></label>
            @m.parent.plan.getSchedule.getScheduleName
            <input type="hidden" name="planSchedule" value="@m.parent.plan.getSchedule">
          </div>
          <div class="offset1 span2">
            <label>Currency<em>*</em></label>
            <input type="hidden" name="planCurrency" value="@m.parent.plan.getCurrency">
            @m.parent.plan.getCurrency
          </div>

          <div class="offset1 span2">
            <label>Consortium<em>*</em></label>
            @if( m.parent.plan.getConsortium != null) {
              <input type="hidden" name="planConsortium" value="@m.parent.plan.getConsortium.getConsId">
              @m.parent.plan.getConsortium.getName
            } else {
               <input type="hidden" name="planConsortium" value="">
                Independent
            }
          </div>

          <div class="offset1 span2">
            <label>Billing Type<em>*</em></label>
            <select name="planBillingType" id="planBillingType" class="input-block-level">
            @for( v <- BillingPlan.BillType.values()) {
              <option value="@v" @if(m.editable != null &&  m.editable.plan != null && m.editable.plan.getBillingType == v){selected='selected'}>@v</option>
            }
            </select>
          </div>
        </div>
        <br/>
        }
        @if(m.planType == BillingPlan.PlanType.PLAN){
          <div class="row-fluid">
            <div class="span2">
              <label>Payment Schedule<em>*</em></label>
              @m.editable.plan.getSchedule.getScheduleName
              <input type="hidden" name="planSchedule" value="@m.editable.plan.getSchedule">
            </div>
            <div class="offset1 span2">
              <label>Currency<em>*</em></label>
              <input type="hidden" name="planCurrency" value="@m.editable.plan.getCurrency">
              @m.editable.plan.getCurrency
            </div>

            <div class="offset1 span2">
              <label>Consortium<em>*</em></label>
              @if( m.editable.plan.getConsortium != null) {
                <input type="hidden" name="planConsortium" value="@m.editable.plan.getConsortium.getConsId">
                @m.editable.plan.getConsortium.getName
              } else {
                <input type="hidden" name="planConsortium" value="">
                Independent
              }
            </div>

            <div class="offset1 span2">
              <label>Billing Type<em>*</em></label>
              <select name="planBillingType" id="planBillingType" class="input-block-level">
              @for( v <- BillingPlan.BillType.values()) {
                <option value="@v" @if(m.editable != null &&  m.editable.plan != null && m.editable.plan.getBillingType == v){selected='selected'}>@v</option>
              }
              </select>
            </div>
          </div>
          <br/>
        }
      }

      <div class="row-fluid">
        <div class="span2">
          <label>Unit Cost<em>*</em></label>
          <input type="text" name="planCost" id="planCost" class="input-block-level" @if(m.editable !=null){ value="@m.editable.plan.getCost"} />
          <p class="muted">Amount that will be charged depending on schedule and renewal settings of the user.</p>
        </div>
        <div class="offset1 span2">
          <label>Trial Duration (Days)<em>*</em></label>
          <input type="number" name="planTrialDays" id="planTrialDays" class="input-block-level" @if(m.editable !=null){ value="@m.editable.plan.getTrialLength"} else {  value="0" } />
          <p class="muted">0 days indicates, no trial available.</p>
        </div>
        <div class="offset1 span2">
          <label>Expiration Date</label>
          <div class="input-append date">
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="planExpire" readonly class="input-small" name="planExpire" @if(m.editable != null) {
              value="@m.editable.expireDate"}>
          </div>
          <p class="muted">The date after which plan/add-on will not available to be assigned to customers or listed on the website. If empty plan/add-on never expires.</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <label>Visible<em>*</em></label>
          <input type="checkbox" name="planVisible" id="planVisible" @if(m.editable != null && m.editable.plan.getVisible){checked}>
          <p class="muted">Controls plan/add-on visibility to end users. When Visible, plan/add-on can be enabled/disabled by the user.</p>
        </div>
        <div class="span3">
          <label>Enabled<em>*</em></label>
          <input type="checkbox" name="planEnabled" id="planEnabled" @if(m.editable != null && m.editable.plan.getEnabled){checked}>
          <p class="muted">Disabled plans/add-ons can no longer be assigend to users or companies. Features and capabilities will stay enabled.</p>

        </div>
        @if(m.planType == BillingPlan.PlanType.ADDON) {
        <div class="span3">
          <label>New User State<em>*</em></label>
          <input type="checkbox" name="planNewUserState" id="planNewUserState" @if(m.editable != null && m.editable.plan.getNewUserState){checked}>
          <p class="muted">When a new user is created eligible for this add-on, add-on will be automatically added to the user</p>
        </div>
        }
      </div>

      <legend>@if(m.planType == BillingPlan.PlanType.ADDON) {Add-on Features}else{Plan Features}</legend>
      <div class="row-fluid">
        <div class="span12">
          <div id="planFeatures">
            <select multiple="multiple" size="5" name="planFeatures[]">
            @for((c,idx) <- m.availableFeatures.zipWithIndex) {
              <option value="@c.getPk" @if(m.editable != null && m.editable.features.contains(c)){ selected }>@c.getName</option>
            }
            </select>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6 offset6">
          <div class="row-fluid">
            @if(m.editable != null && m.editable.plan.getType == BillingPlan.PlanType.ADDON) {
              <div class="offset3 span6">
                <a role="button" class="btn bnt-danger input-block-level" id="pushToConsortium">Push To Plan Members</a>
                <p class="mute">Enables add-on for users who are on the parent plan (direct or indirect) and
                  who have never used this add-on before.</p>
              </div>
            }
            @if(m.editable != null && m.editable.plan.getType == BillingPlan.PlanType.PLAN &&
                    (m.editable.plan.getSchedule == BillingSchedule.Type.MONTHLY ||
                     m.editable.plan.getSchedule == BillingSchedule.Type.YEARLY)) {
              <div class="span3">
                <a role="button" class="btn bnt-success input-block-level" id="planAddAddon">Add Add-on</a>
              </div>
            }
            @if(m.editable != null) {
              <div class="span3">
                <a role="button" class="btn bnt-success input-block-level" id="planUpdate">Update</a>
              </div>
            } else {
              <div class="offset9 span3">
                <a role="button" class="btn bnt-primary input-block-level" id="planCreate">Create</a>
              </div>
            }
          </div>
        </div>
      </div>
    </form>

    @if(m.editable!= null && m.planType == BillingPlan.PlanType.PLAN) {
      <legend>Plan Add-ons</legend>
      <table class="table table-striped" id="addonsTable">
        <thead>
          <th>Type</th>
          <th>Name</th>
          <th>Cost</th>
          <th>Schedule</th>
          <th>Currency</th>
          <th>Features</th>
          <th>Visible</th>
          <th>Enabled</th>
          <th>New User State</th>
          <th>Expires</th>
          <th>Use</th>
          <th>Edit</th>
        </thead>
        <tbody>
        @for(v <- m.editable.addons) {
          <tr>
            <td><i class="fa fa-puzzle-piece fa-2x"></i></td>
            <td>@v.plan.getName</td>
            <td>@v.plan.getCost</td>
            <td>@v.plan.getSchedule</td>
            <td>@v.plan.getCurrency</td>
            <td>
              <ul>
              @for(f <- v.features) {
                <li>
                @f.getName()
                </li>
              }
              </ul>
            </td>

            <td>@if(v.plan.getVisible){ Visible } else { Hidden }</td>
            <td>@if(v.plan.getEnabled){ Enabled } else { Disabled }</td>
            <td>@if(v.plan.getNewUserState){ Auto Enabled } else { Disabled }</td>
            <td>@v.expireDate</td>
            <td>+@v.usersEnabled/-@v.usersDisabled</td>
            <td><a role="button" class="btn btn-primary" onclick="getPage('@routes.AdminController.billingPlans(v.plan.getPlanId)'); return false;">Edit</a></td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>

  @if(m.planType == BillingPlan.PlanType.PLAN) {
  <div class="subTitle">Existing Plans</div>
  <table class="table table-striped" id="plansTable">
    <thead>
      <th>Name</th>
      <th>Cost</th>
      <th>Schedule</th>
      <th>Currency</th>
      <th>Billing</th>
      <th>Consortium</th>
      <th>Features</th>
      <th>Add-ons</th>
      <th>Visible</th>
      <th>Enabled</th>
      <th>Expires</th>
      <th>Users</th>
      <th>Companies</th>
      <th>Edit</th>
    </thead>
    <tbody>
      @for(v <- m.plans) {
      <tr>
        <td>@v.plan.getName</td>
        <td>@v.plan.getCost</td>
        <td>@v.plan.getSchedule</td>
        <td>@v.plan.getCurrency</td>
        <td>@v.plan.getBillingType</td>
        <td>@if(v.plan.getConsortium == null){NONE} else {@v.plan.getConsortium.getName}</td>
        <td>
          <ul>
          @for(f <- v.features) {
            <li>
            @f.getName()
            </li>
          }
          </ul>
        </td>
        <td>
          <ul>
          @for(a <- v.addons) {
            <li>
            @a.plan.getName() (+@a.usersEnabled/-@a.usersDisabled)

        </li>
          }
          </ul>
        </td>

        <td>@if(v.plan.getVisible){ Visible } else { Hidden }</td>
        <td>@if(v.plan.getEnabled){ Enabled } else { Disabled }</td>
        <td>@v.expireDate</td>
        <td>@v.userCount</td>
        <td>@v.cmpyCount</td>
        <td><a role="button" class="btn btn-primary" onclick="getPage('@routes.AdminController.billingPlans(v.plan.getPlanId)'); return false;">Edit</a></td>
      </tr>
      }
    </tbody>
  </table>

  <div class="well">
    <legend>Plans / Freshbook Items Controls</legend>
    <div class="row-fluid">
        <div class="offset10 span2">
          <a id="btnFreshbookSync" role="button" class="btn btn-primary input-block-level">Sync with Freshbooks</a>
        </div>
    </div>
  </div>
  }

</div>
<--endPageBody-->
