@(m:  com.mapped.publisher.view.BaseView)
@import models.publisher.BillingSettingsForUser.BillingUserType

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Billing - Credit Card Audit</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
  $(function(){
  initBilingAuditCC('@controllers.routes.AdminController.billingCCAuditDT()')
  });
  </script>


  <legend>Credit Card Audit Logs</legend>

  <table class="table table-striped" id="ccAuditTable">
    <thead>
      <tr>
        <th>TXN ID</th>
        <th>TXN Type</th>
        <th>Time</th>
        <th>Invoice For</th>
        <th>Billed To</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Message</th>
        <th>Plan</th>
        <th>Processor</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
  <--endPageBody-->

