@(m:  com.mapped.publisher.view.admin.FeaturesView)

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Manage Features and Associated Capabilities</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      initFeatures('@routes.AdminController.featureEdit()');
    });
  </script>

  <div class="well container">
    <form id="formFeature">
      <input type="hidden" id="featId" name="featId" value="@if(m.editable != null){@m.editable.feature.getPk}">
      <div class="row-fluid">
        <div class="span12">
          <label>Feature Name<em>*</em></label>
          <p class="muted">Feature name visible to users</p>
          <input type="text" class="required input-block-level" minlength="5" id="featureName" name="featureName" value="@if(m.editable != null){@m.editable.feature.getName}">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label>Description</label>
          <p>Use: default: false for a user preference that should default to off</p>
          <textarea name="featureDescription" id="featureDescription" rows="3" class="input-block-level">@if(m.editable != null){@m.editable.feature.getDescription}</textarea>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <label>Enabled<em>*</em></label>
            <input type="checkbox" name="featureEnabled" id="featureEnabled" @if(m.editable != null && m.editable.feature.getEnabled){checked}>
            <p class="muted">Allows to disable feature being available across the platform (it will not disable capabilities!).</p>
        </div>
        <div class="span3">
          <label>System Feature<em>*</em></label>
          <input type="checkbox" name="featureUserControlled" id="featureUserControlled" @if(m.editable != null && m.editable.feature.getUserControlled){checked}>
          <p class="muted">Whether or not this system feature can be controlled via user preferences.</p>
        </div>
      </div>
      <legend>Feature Capabilities</legend>
      <div class="row-fluid">
        <div class="span12">
          <div id="featureCapabilities">
            <select multiple="multiple" size="10" name="featureCapabilities[]">
              @for((c,idx) <- m.availableCaps.zipWithIndex) {
                <option value="@c.getPk" @if(m.editable != null && m.editable.capabilities.contains(c)){ selected }>@if(c.getSummary.length > 0) { @c.getSummary (@c.getCapability.name())} else { @c.getCapability.name()} </option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6 offset6">
          <div class="row-fluid">
            <div class="offswet9 span3">
              @if(m.editable != null) {
                <a role="button" class="btn bnt-success input-block-level" id="featureUpdate">Update</a>
              } else {
                <a role="button" class="btn bnt-primary input-block-level" id="featureCreate">Create</a>
              }
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="subTitle">Existing Features</div>

  <table class="table table-striped" id="featuresTable">
    <thead>
      <th>Feature Name</th>
      <th>Enabled</th>
      <th>User Controlled</th>
      <th>Capabilities</th>
      <th>Edit</th>
    </thead>
    <tbody>
    @for(v <- m.features) {
      <tr>
        <td>@v.feature.getName</td>
        <td>@v.feature.getEnabled</td>
        <td>@v.feature.getUserControlled</td>
        <td>
          <ul>
          @for(c <- v.capabilities) {
            <li>
              @c.getCapability.name()
            </li>
          }
          </ul>
        </td>
        <td><a role="button" class="btn btn-primary" onclick="getPage('@routes.AdminController.features(v.feature.getPk)'); return false;">Edit</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>
<--endPageBody-->
