@(title: String, itemName: String, address: String, description: String, price: String, imgurl: String, bookingSection: String, src: com.umapped.itinerary.analyze.supplier.Supplier)
@import com.umapped.itinerary.analyze.supplier

    <div>
        <div style="margin-left:20px;margin-top:10px;">
            @if(address != null && !address.isEmpty) {
                <div>
                @address
                </div>
            }
            @if(description != null) {
                <p>
                @Html(description)
                </p>
            }
            @if(price != null && !price.isEmpty) {
                <div>
                @Html(price)
                </div>
            }
        </div>

    </div>
