@(title: String, description: String, price: String, imgurl: String, src: String)
    <div class="offerContent" style="border:1px black solid;background-color: white;width:660px;padding:20px;margin:auto;margin-top:20px;margin-bottom:20px">
        <div class="offerContent" style="background: url('@imgurl') no-repeat;background-size: cover;width:600px;height:350px;text-align:center;margin:auto;position:relative">
            <div class="offerContent" style="position:absolute; color:white; top:300px;left:10px; font-size:22px;text-align:left">
                @title
            </div>
            <div class="offerContent" style="background-color:#333333; color: white;width:150px;height:40px;padding-top:10px; font-size:21px;position:absolute;right:0px;border:1px solid white;">
                @price
            </div>
        </div>
        <div class="offerContent" style="margin-left:0px;margin-top:10px;width:600px">
            @description
            <br/>
            <button style='background-color: #ffffff; border: 1px solid; color: black; padding: 10px 35px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin-top:10px'>BOOK</button>
        </div>
        <!--
        <div class="offerContent" style="margin-left:0px;margin-top:10px;">
            <span style='font-size:12px; color: #666666'>@src</span>
        </div>
        -->
    </div>