/* 
UMAPPED MOBILE
PROGRAMMED BY THIERRY LAVERGNE
DESIGN BY MARCEL GIANNOCARO
KOKOMO INC.
WWW.KOKOMOWEB.COM
ADDITIONAL CSS BY OLIVIER COUILLARD
*/

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
    
blockquote, q {
    quotes: none;
}
    
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
   
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
	margin: 0;
}

a {
	text-decoration:none;
}
/* BODY */

html, body {
	height: 100%;
}

body {
	background: url("https://s3.amazonaws.com/static-umapped-com/public/img/furley_bg.png") repeat scroll 0 0 #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 13px;
	color: #666666;
	margin: 0;
    padding: 0;
}

#wrapper {
	width:100%;
	position:relative;
}

#header {
	width:100%;
	height:105px;
	background: #fff;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
	positioN:relative;
	z-index:2;
}

#header_wrapper {
	width:960px;
	height:105px;
	margin:auto;
	position: relative;
}

.trip_name {
	position: absolute;
	width:640px;
	left:50%;
	margin-left:-290px;
	text-align:center;
	z-index:4;
	top:45px;
	text-transform: uppercase;
	font-size:22px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.client {
	width:478px;
	height:45px;
	padding-top:10px;
	vertical-align:middle;display: table-cell;
}


.client img {
	float:left;
	width:128px;
}

.client p {
	float:left;
	font-weight:100;
	font-size:11px;
	margin-left:30px;
	line-height:14px;

}

img.logo {
	position:absolute;
	right:0;
	top:34px;
}

#map {
	width:100%;
	background-color:#fff;
	/* border-bottom:10px solid #fff; */
}

#content_sort {
	height:43px;
	float:right;
}


.sortby, .sortby_places, .sortby_tags {
	height:43px;
	float:left;
	display:inline-block;
	text-align:center;
	top:0;
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
}

.sortby {
	width:105px;
	background: #00b4ff;
	color:white;
	font-size:18px;
	font-weight:700;
}

.sortby p {
	padding:10px;
}

.sortby_tags, .sortby_places {
	background: #fff;
	text-transform:uppercase;
	position: relative;
	font-size:20px;
}

#list_places, #list_tags {
	display:block;
	width:152px;
	padding:10px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
	position:relative;
	cursor:pointer;
}

#list_places span, #list_tags span {
	display:inline-block;
	width:14px;
	height:14px;
	position:relative;
	margin-left:10px;
	box-sizing:border-box;
	border:1px solid #898989;
	-webkit-box-shadow:0 0 0 1px #c0c0c0 inset;
	-moz-box-shadow:0 0 0 1px #c0c0c0 inset;
	box-shadow:0 0 0 1px #c0c0c0 inset;
}

#list_places span:after, #list_tags span:after {
	content:'';
	display:block;
	width:0;
	height:0;
	border:4px solid transparent;
	border-top:5px solid #666;
	margin-left:-4px;
	position:absolute;
	top:4px;
	left:50%;
}

#list_places:hover, #list_places.active,
#list_tags:hover, #list_tags.active {
	color:#00b4ff;
}

#list_places:hover span, #list_places.active span,
#list_tags:hover span, #list_tags.active span {
	border-color:#00b4ff;
	-webkit-box-shadow:0 0 0 1px #78d7ff inset;
	-moz-box-shadow:0 0 0 1px #78d7ff inset;
	box-shadow:0 0 0 1px #78d7ff inset;
}

#list_places:hover span:after, #list_places.active span:after,
#list_tags:hover span:after, #list_tags.active span:after {
	border-top-color:#00b4ff;
}

.sortby_tags ul, .sortby_places ul {
	display:block;
	padding:15px 20px;
	box-sizing:border-box;
}

#places_container, #tags_container {
	height:0;
	width:172px;
	overflow:hidden;
	position:absolute;
	top:43px;
	left:0;
	background-color:#fff;
	-webkit-box-shadow:0 6px 20px -3px rgba(0,0,0,0.5);
	-moz-box-shadow:0 6px 20px -3px rgba(0,0,0,0.5);
	box-shadow:0 6px 20px -3px rgba(0,0,0,0.5);
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}

#places_container li, #tags_container li {
	text-align:left;
	text-transform:capitalize;
}

#places_container a, #tags_container a {
	font-family:'Open Sans',sans-serif;
	font-weight:700px;
	font-size:14px;
	line-height:24px;
	color:#666;
}

#places_container a:hover, #tags_container a:hover {
	color:#00b4ff;
}

.sortby_tags {
	border-left:1px solid #fff;
}

.sortby_tags:before {
	content:'';
	display:block;
	width:1px;
	height:23px;
	position:absolute;
	top:10px;
	left:-1px;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(195,195,195,1) 40%, rgba(195,195,195,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(195,195,195,1)), color-stop(60%,rgba(195,195,195,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(195,195,195,1) 40%,rgba(195,195,195,1) 60%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(195,195,195,1) 40%,rgba(195,195,195,1) 60%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(195,195,195,1) 40%,rgba(195,195,195,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(195,195,195,1) 40%,rgba(195,195,195,1) 60%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.content_wrapper_single {
		margin: auto;
		width:960px;
		position:relative;
		z-index:2;
		margin-top:15px;
}

.content_wrapper_home {
		margin: auto;
		width:960px;
		position:relative;
		z-index:2;
		margin-top:-106px;
}

.contentbox, .contentbox2, .contentbox3 {
    background: #FFF;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
	color: #666;
	font-family: 'Open Sans',Arial, sans-serif;
}

.contentbox {
	margin-bottom:45px;
	width: 960px;
}

.contentbox2 {
	margin-bottom:15px;
	width:960px;
}

.contentbox3 {
	margin-bottom:15px;
	width:900px;
	padding:30px;
}

.contentbox3 a img {
 	opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}

.contentbox3 a img:hover {
    opacity: 1;
}

#content_sort + div {
	background-color:#fff;
	clear:right;
}

#inline {
	display:none}
	
.contentbox3 h2 {
	font-size:23px;
	border-bottom:0.2px solid #d2d2d2;
	padding-bottom:20px;
	margin-bottom:20px;
	font-weight:100;
}

.thumbnails {
	width: 104px;
	height:104px;
	margin-right:8px;
	margin-bottom:9px;
	float:left;
}

.title {
	font-weight:200;
	font-size:31px;
	letter-spacing:0.05em;
	padding-top:30px;
}

.city {
	font-weight:200;
	font-size:153x;
	letter-spacing:0.05em;
	padding-top:5px;
}


.place_icon {
	height:40px;
	width:40px;
	padding:30px;
	float:left;
}

.featured_image {
	width: 960px;
}

.info {
	width:960px;
	height: 180px;
}

.meta {
	height:180px;
	width:350px;
	float:left;
	margin-top:34px;
}

.meta_single {
	height:180px;
	width:180px;
	float:left;
	padding-top:30px;
	padding-left:30px;
}

.meta_box {
	position:relative;
	float:left;
	text-align: left;
	width: 200px;
	font-weight:100;
	margin-bottom:10px;
	height:13px;
	font-size:11px;
}

.meta_box_single {
	position:relative;
	float:left;
	text-align: left;
	width: 200px;
	font-weight:100;
	margin-bottom:10px;
	height:13px;
	font-size:11px;
}


.meta_box img{
	padding-left:23px;
	padding-right:10px;
	height:13px;
	width:13px;
	
}

.meta_box_single img{
	padding-right:10px;
	height:13px;
	width:13px;
}


img.avatar {
	margin-left:34px;
	float:left;
}

img.avatar_single {
	float:left;
	padding-bottom:15px;
}

.excerpt {
	height:180px;
	width:610px;
	float:right;
	position:relative;
}

.excerpt p{
	padding-top:30px;
	font-weight:lighter;
	line-height:1.7em;
	padding-right:30px;
}

.full_text {
	width:750px;
	float:right;
	position:relative;
	padding-bottom:40px;
}

.full_text p{
	padding:30px;
	font-weight:lighter;
	line-height:1.7em;
	padding-right:30px;
	margin-bottom:20px;
}

.read_more {
	position:absolute;
	bottom:30px;
	right:30px;
}

.read_more a {
	color: #fff;
	padding: 7px;
	background: #00b4ff;
	text-transform: uppercase;
}

footer {
	clear:both;
	width:100%;
	height:43px;
	background:#fff;
	bottom:0;
	z-index:2;  /* un z-index tout seul ne fera rien à moins que l'élément ait une position non-static: relative, fixed ou absolute */
	/* TEMPORAIRE POUR QUE TU VOIS TON FOOTER ;) */
	border-top:1px dotted #00b4ff;
}


footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

footer a {
	color: #000;
	font-size:14px;
	font-weight: bold;
	}

#footer_inner {
	margin-top:5px;
	width:960px;
	margin:auto;
}

.footer_left {
	float:left;
	margin-top: 10px;
	font-family: "Open Sans";
}

.footer_left a {
	text-transform:uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #494949;

	
}

.footer_left p {
	color: #515151;
	margin-top:5px;
	font-size: 11px;
	
}
.footer_right {
	float:right;
	margin-top: 10px;
}