/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

/*-- Important fix for bootstrap-modal to work with autocomplete input fields --*/
.ui-autocomplete {
  position:absolute;
  cursor:default;
  z-index: 3000 !important;
}

.error {
    color: red;
    font-size: 12pt;
    padding: 0px 0px;
    margin-top: 2px;
}

.titleFont {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #666666;
    margin-top: 30px;
    margin-left: 20%;
}

.titleFont1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #666666;
    margin-top: 80%;
    padding-left: 1%;
}

.menuFont {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #666666;
}

.tagFont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: #444444;

}

/* NAVIGATION */
.right {
    float: right;
}

.left {
    float: left;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;

    min-width: 960px;
}

#navwrapper {
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, .15);
    -moz-box-shadow: 1px 2px 7px rgba(0, 0, 0, .15);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 2;
}

#navbg_left {
    width: 50%;
    float: left;
    background: #006C43; /* Old browsers */
    height: 80px;
}

#navbg_right {
    width: 50%;
    float: right;
    background-color: #fff;
    height: 80px;
}

#brand {
    position: absolute;
    background: #006C43; /* Old browsers */

    height: 80px;
    padding-right: 30px;
    padding-left: 10px;
}

#brand img {
    margin-top: 10px;
}

#topNavbar {
    position: relative;
    width: 980px;
    margin: auto;
    height: 80px;
    background-color: white;
}

#topNavbar_white {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 200px;
    height: 80px;
    width: 80%;
}

#topNavbar .topNav > li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
}

#topNavbar .topNav > li > a {
    color: #666;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15.71px;
    font-weight: 700;
    padding: 7px;
}

#topNavbar .topNav > li > a:hover {
    background-color: #00B4FF;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15.71px;
    font-weight: 700;
    padding: 7px;
}

.topNav {
    float: left;
    margin-left: 0px;
    position: absolute;
    margin-top: 25px;
    display: inline;
    list-style-type: none;
}

#topNavbar .topNav li.dropdown.open > .dropdown-toggle {
    background-color: #00B4FF;
    color: #FFFFFF;
}

.menuSelected {
    color: #00A651;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15.71px;
    font-weight: 700;
    height: 100px;
    padding: 7px;
    margin-left: 75px;
    text-decoration: underline;
    background-image: url('../img/header/menu_select.png');
    background-position: 100% 58%;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.menuActive {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #00B4FF;
    background-image: -moz-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B4FF), to(#00B4FF));
    background-image: -webkit-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -o-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: linear-gradient(to bottom, #00B4FF, #00B4FF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

}

/* end top nav */
#contact_header {
    height: 80px;
    background-color: #00B4FF;

}

#contact_header h1 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

/* FOOTER */

footer {
    clear: both;
    /* width: 100%; This screws-up page width*/
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); */
    margin: auto;
    position: relative;
    font-family: "Open Sans";
    color: #565454;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
}

footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

footer a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

#footer_inner {
    margin-top: 0px !important;
}

.footer_left {
    float: left;
    margin-top: 0px;
    font-family: "Open Sans";
}

.footer_left a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #494949;
    font-family: "Open Sans";
}

.footer_left p {
    color: #515151;
    margin-top: 0px;
    font-size: 11px;

}

.footer_right {
    float: right;
    margin-top: 0px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #00B4FF;
    background-image: -moz-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B4FF), to(#00B4FF));
    background-image: -webkit-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -o-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: linear-gradient(to bottom, #00B4FF, #00B4FF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B4FF', endColorstr='#00B4FF', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #00B4FF;
    background-image: -moz-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B4FF), to(#00B4FF));
    background-image: -webkit-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -o-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: linear-gradient(to bottom, #00B4FF, #00B4FF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B4FF', endColorstr='#00B4FF', GradientType=0);
}

/* */

#tripWizard1,
#tripWizard2,
#tripWizard3,
#tripWizard4,
#tripWizard5,
#tripWizard6,
#tripWizard7,
#cmpyNav1,
#cmpyNav2,
#cmpyNav3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #444444;
    font-size: 18px;
    text-transform: uppercase;
}

.block-m {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0px 1px 0px #ffffff;
}

/*Standard Elements*/
body {
    background: #fff;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #666666;
    font-size: 14px;
}

.nav-tabs > li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;

}

th {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #444444;
    font-size: 14px;
}

label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    color: #666666;
    text-transform: none;
    font-size: 16px;
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #666666;
}

h1 {
    margin-top: 0px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

/*Navbar*/
.navbar {
    margin: 0px 0px 1em 0px;
    padding: 0px;
}

.navbar .brand {
    text-shadow: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 1%;
    margin-left: -40px;
    height: 62px;

    background: #0d8e27; /* Old browsers */
    background: -moz-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d8e27), color-stop(100%, #11a72f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0d8e27 0%, #11a72f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8e27', endColorstr='#11a72f', GradientType=0); /* IE6-9 */
    /* padding for bootstrap colspan 1
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:120px;
    padding-right:30px;
    margin-left: -40px;
    */
}

.navbar .nav > li {
    padding-top: 30px;
}

.navbar .nav > li > a {
    text-shadow: none;
    margin-top: -10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15.71px;
    color: #666666

}

.navbar .nav > li:hover {

    color: #fff
}

.navbar .nav > li > a:hover {
    background-color: #00b4ff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15.71px;
    color: #fff
}

.navbar .navbar-inner {
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px;
    border-bottom: 1px solid #222;
    -webkit-box-shadow: 0px 1px 0px #f0f0f0;
    -moz-box-shadow: 0px 1px 0px #f0f0f0;
    box-shadow: 0px 1px 0px #f0f0f0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15.71px;
    color: #666666;

}

.navbar .nav li.dropdown.open > .dropdown-toggle {
    background-color: #444;
    color: #fff;
}

footer {
    padding: 1em;
    margin-top: 4em;
    color: #666;
    font-size: .85em;
    line-height: 1.3em;
}

footer hr {
    margin: 2em -2em;
}

/*Quick Toolbar*/
.btn-toolbar.quick-toolbar {
    float: right;
}

.btn-toolbar.quick-toolbar .btn {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.stats .stat {
    margin-left: 1em;
    float: right;
    line-height: 40px;
}

.stats .stat .number {
    font-weight: bold;
    margin-right: .5em;
    padding: .5em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #eeeeee;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #e0e0e0, #ffffff);
    background: -moz-linear-gradient(center bottom, #e0e0e0 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e0e0e0, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e0e0e0')";
    -webkit-box-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: 1px 1px 0px #ffffff;
    box-shadow: 1px 1px 0px #ffffff;
    text-shadow: 1px 1px 1px #fff;
}

/*Blocks*/
.block {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0px 1px 0px #ffffff;
}

.block-heading[data-toggle="collapse"] {
    cursor: pointer;
}

.block-heading[data-toggle="collapse"]:hover {
    background: #d0d0d0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #d0d0d0, #ffffff);
    background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #d0d0d0, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#d0d0d0')";
}

.block-heading {
    display: block;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    background: #dddddd;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
    background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #dddddd, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #aaa;
    font-size: 1em;
    line-height: 3em;
    text-transform: none;
    padding: 0em .75em;
    margin-bottom: 0px;
}

.block-heading .label {
    float: right;
    margin-top: 1em;
    line-height: 1.5em;
}

.block-body {
    margin: 1em;
    min-height: .25em;
}

.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
    margin-top: 12px;
}

.block-body.collapse {
    margin-top: 0em;
    margin-bottom: 0em;
}

/*Navigation*/
.sidebar-nav {
    padding: 0px;
}

.sidebar-nav .nav-header {
    display: block;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    background: #dddddd;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
    background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #dddddd, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #aaa;
    font-size: 1em;
    line-height: 3em;
    text-transform: none;
    padding: 0em .75em;
    margin-bottom: 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
}

.sidebar-nav .nav-header .label {
    float: right;
    margin-top: 1em;
    line-height: 1.5em;
}

.sidebar-nav .nav-header:hover {
    background: #cecece;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cecece), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #cecece, #ffffff);
    background: -moz-linear-gradient(center bottom, #cecece 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #cecece, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#cecece')";
}

.sidebar-nav .nav-header .label {
    float: right;
    margin-top: 1em;
    line-height: 1.5em;
}

.sidebar-nav .nav-header.collapsed {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.sidebar-nav .nav-header i[class^="icon-"] {
    margin-right: .75em;
}

.sidebar-nav .nav-list {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0px 1px 0px #ffffff;
    margin: 1em;
    margin: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: 0px;
}

.sidebar-nav .nav-list h1,
.sidebar-nav .nav-list h2,
.sidebar-nav .nav-list h3,
.sidebar-nav .nav-list h4,
.sidebar-nav .nav-list h5,
.sidebar-nav .nav-list h6,
.sidebar-nav .nav-list table {
    margin-top: 12px;
}

.sidebar-nav .nav-list.collapse {
    margin-top: 0em;
    margin-bottom: 0em;
}

.sidebar-nav .nav-list li:last-child a {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.sidebar-nav .nav-list.collapse {
    margin-bottom: 1em;
}

.sidebar-nav .nav-list > li > a:hover {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.sidebar-nav .nav-list > .active > a,
.sidebar-nav .nav-list > .active > a:hover {
    background: #1e5995;
    background: #1e5995;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e5995), color-stop(1, #2266aa));
    background: -ms-linear-gradient(bottom, #1e5995, #2266aa);
    background: -moz-linear-gradient(center bottom, #1e5995 0%, #2266aa 100%);
    background: -o-linear-gradient(bottom, #1e5995, #2266aa);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2266aa',EndColorStr='#1e5995')";
    border-bottom: 1px solid #194c80;
    border-top: 1px solid #194c80;
}

.sidebar-nav .nav-list > li > a {
    padding: .5em 1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sidebar-nav .nav-list.collapse {
    border-bottom: 0px;
}

.sidebar-nav .nav-list.collapse.in {
    border-bottom: 1px solid #ccc;
}

.sidebar-nav .nav-list .nav-header:first-child {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/*Buttons*/
/*Buttons*/
.btn {

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Open Sans Condensed', sans-serif;


}

.btn-primary {
    background-color: #0e649a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e649a), to(#0e649a));
    background-image: -webkit-linear-gradient(top, #0e649a, #0e649a);
    background-image: -o-linear-gradient(top, #0e649a, #0e649a);
    background-image: linear-gradient(to bottom, #0e649a, #0e649a);
    background-image: -moz-linear-gradient(top, #0e649a, #0e649a);
}

.btn-info {
    background-color: #00B4FF;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B4FF), to(#00B4FF));
    background-image: -webkit-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: -o-linear-gradient(top, #00B4FF, #00B4FF);
    background-image: linear-gradient(to bottom, #00B4FF, #00B4FF);
    background-image: -moz-linear-gradient(top, #00B4FF, #00B4FF);
}


.btn-info:hover {
    background-color: #00B4FF;
}

.btn-primary:hover {
    background-color: #0e649a;
}

.btn-danger {
    background-color: #b74141;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b74141), to(#b74141));
    background-image: -webkit-linear-gradient(top, #b74141, #b74141);
    background-image: -o-linear-gradient(top, #b74141, #b74141);
    background-image: linear-gradient(to bottom, #b74141, #b74141);
    background-image: -moz-linear-gradient(top, #b74141, #b74141);
}

.btn-danger:hover {
    background-color: #b74141;
}

.btn-success {
    background-color: #18bc69;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18bc69), to(#18bc69));
    background-image: -webkit-linear-gradient(top, #18bc69, #18bc69);
    background-image: -o-linear-gradient(top, #18bc69, #18bc69);
    background-image: linear-gradient(to bottom, #18bc69, #18bc69);
    background-image: -moz-linear-gradient(top, #18bc69, #18bc69);
}

.btn-success:hover {
    background-color: #18bc69;
}

.btn-warning {
    background-color: #aaaa55;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddd77), to(#aaaa55));
    background-image: -webkit-linear-gradient(top, #dddd77, #aaaa55);
    background-image: -o-linear-gradient(top, #dddd77, #aaaa55);
    background-image: linear-gradient(to bottom, #dddd77, #aaaa55);
    background-image: -moz-linear-gradient(top, #dddd77, #aaaa55);
}

.btn-warning:hover {
    background-color: #aaaa55;
    *background-color: #aaaa55;
}

.navbar .dropdown-menu a:hover {
    background: none;
    color: #000;
}

.well {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: 1px 1px 0px #ffffff;
    box-shadow: 1px 1px 0px #ffffff;
}

/*Faq*/
.faq-content ul,
.faq-content ol {
    padding-left: 1em;
}

.faq-content ul .top,
.faq-content ol .top {
    float: right;
    line-height: 1.25em;
    padding: .75em 0em;
}

/*Gallery*/
.gallery {
    text-align: center;
}

.gallery > img {
    margin: .5em .5em .5em .5em;
}

.img-polaroid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

.dialog,
.row .dialog,
.row-fluid .dialog,
.row-fluid [class*="span"].dialog:first-child {
    margin: 0px auto;
    margin-top: 5em;
    float: none;
}

.dialog input[type="checkbox"],
.row .dialog input[type="checkbox"],
.row-fluid .dialog input[type="checkbox"],
.row-fluid [class*="span"].dialog:first-child input[type="checkbox"] {
    margin: 0px;
}

.dialog .alert,
.row .dialog .alert,
.row-fluid .dialog .alert,
.row-fluid [class*="span"].dialog:first-child .alert {
    margin-bottom: 1em;
}

.dialog form,
.row .dialog form,
.row-fluid .dialog form,
.row-fluid [class*="span"].dialog:first-child form {
    margin-bottom: 0px;
}

.dialog .remember-me,
.row .dialog .remember-me,
.row-fluid .dialog .remember-me,
.row-fluid [class*="span"].dialog:first-child .remember-me {
    padding: .5em 0em 0em 0em;
}

input[type="text"],
input[type="password"] {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/*Alerts*/
.alert {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: .25em 1em;
    border: 1px solid #f2e187;
    background: #f7ecb5;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7ecb5), color-stop(1, #fcf8e3));
    background: -ms-linear-gradient(bottom, #f7ecb5, #fcf8e3);
    background: -moz-linear-gradient(center bottom, #f7ecb5 0%, #fcf8e3 100%);
    background: -o-linear-gradient(bottom, #f7ecb5, #fcf8e3);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
}

.alert .close {
    right: -0.25em;
}

.alert.alert-error {
    border: 1px solid #c77070;
    background: #d59595;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d59595), color-stop(1, #e4b9b9));
    background: -ms-linear-gradient(bottom, #d59595, #e4b9b9);
    background: -moz-linear-gradient(center bottom, #d59595 0%, #e4b9b9 100%);
    background: -o-linear-gradient(bottom, #d59595, #e4b9b9);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e4b9b9',EndColorStr='#d59595')";
}

.alert.alert-info {
    border: 1px solid #85c5e5;
    background: #afd9ee;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
    background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
    background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
    background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}

.alert.alert-success {
    border: 1px solid #a3d48e;
    background: #c1e2b3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1e2b3), color-stop(1, #dff0d8));
    background: -ms-linear-gradient(bottom, #c1e2b3, #dff0d8);
    background: -moz-linear-gradient(center bottom, #c1e2b3 0%, #dff0d8 100%);
    background: -o-linear-gradient(bottom, #c1e2b3, #dff0d8);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dff0d8',EndColorStr='#c1e2b3')";
}

/*Error Pages*/
.http-error {
    margin-top: 5em;
    text-align: center;
    color: #444;
}

.http-error h1 {
    font-size: 5em;
    line-height: 1em;
    text-shadow: 1px 1px 0px #fff;
}

.http-error p {
    margin: 0px;
}

.http-error .info {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.http-error i {
    font-size: 3em;
    line-height: .75em;
    text-shadow: 1px 1px 0px #fff;
}

/*Tabs*/
.nav-tabs > li {
    margin-left: .5em;
}

.nav-tabs > li > a {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.breadcrumb {
    border: 1px solid #ccc;
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #f0f0f0, #ffffff);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #f0f0f0, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f0f0f0')";
    -webkit-box-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: 1px 1px 0px #ffffff;
    box-shadow: 1px 1px 0px #ffffff;
}

/*Model*/
.modal.small {
    width: 400px;
    margin: -170px 0 0 -200px;
}

.modal .modal-icon {
    vertical-align: middle;
    font-size: 4em;
    float: left;
    margin-right: .25em;
}

.modal:focus {
    outline: none;
}

.modal .modal-header {
    display: block;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    background: #dddddd;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
    background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #dddddd, #ffffff);
    filter: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #aaa;
    font-size: 1em;
    line-height: 3em;
    text-transform: none;
    padding: 0em .75em;
    margin-bottom: 0px;
}

.modal .modal-header .label {
    float: right;
    margin-top: 1em;
    line-height: 1.5em;
}

.modal .modal-header h3 {
    font-size: .95em;
}

.modal .modal-footer {
    padding: .5em;
}

.modal .modal-body {
    padding: 2em;
}

.modal p {
    margin: 0em;
    line-height: 1.5em;
}

/*Search*/
.well.search-well {
    text-align: center;
}

.well.search-well form {
    margin-bottom: 0px;
}

.well.search-well label {
    margin-bottom: 0px;
    vertical-align: middle;
}

/*Table of Contents*/
.well.toc h3 {
    font-size: 1em;
    margin-top: 0em;
    padding-top: 0em;
    line-height: 1.4em;
}

.well.toc h4 {
    color: #555;
    font-size: 1em;
    margin-top: 0em;
    padding-top: 0em;
    line-height: 1.4em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

/* Tweaks for mobile */
@media (max-width: 480px) {
    h1 {
        text-align: center;
    }

    .stats {
        text-align: center;
    }

    .stats .stat {
        float: none;
        display: inline;
    }
}


.help_window {
    width:850px;
    overflow:auto;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    max-height: 800px;
}

.help_title {
    margin-top:0px;
    margin-left:0px;
    padding-top:20px;
    padding-left:70px;
    background-image: url(/assets/img/u_btn_info_w.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    width:780px;
    height:40px;
    background-color: #00b4ff ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: #ffffff;

}

.help_body {
    margin-top:10px;
    margin-left: 20px ;
    margin-right: 20px ;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 24px;
    width:790px;

    color: #666666;
}

.help_body_center {
    margin-top:30px;
    margin-left: 10px ;
    margin-right: 10px ;
    font-family: 'Open Sans', sans-serif;
    width: 820px;
    font-weight: 400;
    font-size: 12pt;
    line-height: 24px;
    color: #666666;
    text-align:center;
}

.help_body_c {
     margin-top:10px;
     font-family: 'Open Sans', sans-serif;
     margin-left: 10px;
    margin-right: 10px ;

    font-weight: 400;
     font-size: 12pt;
     line-height: 24px;
     width: 480px;
     color: #666666;
 }

.help_sm_window {
    width:500px;
}

.help_sm_title {
    margin-top:-10px;
    margin-left:-10px;
    padding-top:20px;
    padding-left:70px;
    background-image: url(/assets/img/u_btn_info_w.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    width:450px;
    height:40px;
    background-color: #00b4ff ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: #ffffff;

}

.help_strong {
    font-size: 12pt;
    font-weight: 700;
    color: #00b4ff;
    text-transform:uppercase;
}

.booking_owner {
    padding-left: 10px;
    font-size: 11pt;
    color: #666666;
    font-weight: 400;
}

.alert {
    background-color: #d9edf7;
    color: #666666;
    border: 0;
}

/* Input field spinner to show when AJAX is being executed */
.inputSpinner {
  color: #666666;
  text-decoration: none;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 8px;
}

/* Input field spinner to show when AJAX is being executed */
.inputSpinner {
  color: #666666;
  text-decoration: none;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 8px;
}

/**
 * Progress bars with centered text
 */
.progress {
  position: relative;
}

.bar {
  z-index: 1;
  position: absolute;
}

.progress span {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #000000;
  text-align: center;
  width: 100%;
}

.subTitle {
  background-color: #999999;
  height: 30px;
  color: #ffffff;
  font-size: 18pt;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;

}



