/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.error {
  color: red;
  font-size: 12pt;
  padding: 0px 0px;
  margin-top: 2px;
}

.titleFont {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #424242;
  margin-top: 30px;
  margin-left: 20%;
}

.titleFont1 {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #424242;
  margin-top: 80%;
  padding-left: 1%;
}

.menuFont {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.tagFont {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 13px;
  color: #444444;

}

/* NAVIGATION */
.right {
  float: right;
}

.left {
  float: left;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 960px;
}

#navwrapper {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

#navbg_left {
  width: 50%;
  float: left;
  background: #0d8e27; /* Old browsers */
  background: -moz-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d8e27), color-stop(100%, #11a72f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0d8e27 0%, #11a72f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8e27', endColorstr='#11a72f', GradientType=0); /* IE6-9 */
  height: 50px;
}

#navbg_right {
  width: 50%;
  float: right;
  background-color: #fff;
  height: 80px;
}

#logo {
  background-color: #1B1C21;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#logoInner {
  display: inline-block;
}

#logo img {
  width: 55px;
  display: block;

}

#brand {
  background: #424242; /* Old browsers */
  min-width: 300px;
  text-align: left;

}

.brandFont {
  color: #ffffff;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 19pt;
  font-weight: 500;
  padding-right: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 20px;
  line-height: 25px;
}

#brand img {
  margin-top: 10px;
}

#topNavbar {
  width: 100%;
  min-width: 1000px;
  background-color: #424242;
}

.topSubNav {
  background-color: transparent;
  margin-left: 0px;

}

.topSubNav .navbar {
  background: #ffffff;
}

.topSubNav .navbar .navbar-inner {
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);

}

#topNavbar_white {
  background-color: #424242;
  width: 100%;

}

#topNavbar .topNav > li {
  display: inline-block;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 50px;
  height: 50px;
  color: #ffffff;
  vertical-align: middle;
  padding-bottom: 0px;
}

#topNavbar .topNav > li > span {
  color: #ffffff;
  vertical-align: middle;
  display: block;
}

#topNavbar .topNav > li > a {
  color: #ffffff;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 7px;
}

#topNavbar .topNav > li > a:hover {
  color: #00B4FF;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 7px;
  height: 80px;
}

.topIcon {
  font-size: 25px;
  vertical-align: middle;
}

.topNav {
  margin-left: 0px;
  margin-top: 0px;
  display: inline;
  list-style-type: none;
}

#topNavbar .topNav li.dropdown.open > .dropdown-toggle {
  top: -30px;
}

#topNavbar .topNav li.dropdown.open > .dropdown-toggle > span {
  color: #00B4FF;

}

.topSubNav .nav li > a > span {
  font-size: 15px;
}

.topSubNav .nav .dropdown > a {
  font-size: 15px;
}

.menuSelected {
  color: #00A651;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 100px;
  padding: 7px;
  margin-left: 75px;
  text-decoration: underline;
  background-image: url('../img/header/menu_select.png');
  background-position: 100% 58%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.menuActive {
  color: #00B4FF;
  text-decoration: none;
  outline: 0;
  background-color: #ffffff;
}

.menuActiveFont {
  color: #424242;
}

.support > a > .menuActiveFont {
  color: #ffffff !important;
}

.dropdown > a > .menuActiveFont {
  color: #424242;
}

.profileFont {
  color: #ffffff;
  font-size: 18px;
}

.subMenuActive {
  color: #00B4FF;
  text-decoration: none;
  outline: 0;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #00B4FF;
}

.subMenuActiveFont {
  color: #00B4FF;
}

/* end top nav */
#contact_header {
  height: 80px;
  background-color: #00B4FF;

}

#contact_header h1 {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

/* FOOTER */

footer {
  clear: both;
  width: 100%;
  /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); */
  margin: auto;
  position: relative;
  font-family: 'Roboto',  "Open Sans";
  color: #666;
  font-size: .85em;
  line-height: 1.3em;
  background-color: #ffffff;
}

footer, .push {
  height: 50px; /* .push must be the same height as .footer */
}

footer hr {
  margin: 2em -2em;
}

footer a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

#footer_inner {
  margin-top: 15px !important;
}

.footer_right {
  float: right;
  margin-top: 10px;
}

.footer_left {
  float: left;
  margin-top: 10px;
  font-family: 'Roboto', "Open Sans";
}

.footer_left a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #494949;
  font-family: 'Roboto', "Open Sans";
}

.footer_left p {
  color: #515151;
  margin-top: 5px;
  font-size: 11px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #00B4FF;
  text-decoration: none;
  outline: 0;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);

}



/* */

#tripWizard1,
#tripWizard2,
#tripWizard3,
#tripWizard4,
#tripWizard5,
#tripWizard6,
#tripWizard7,
#cmpyNav1,
#cmpyNav2,
#cmpyNav3 {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  color: #444444;
  font-size: 18px;
  text-transform: uppercase;
}

.block-m {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}

/*Standard Elements*/
body {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 500;
  color: #424242;
  font-size: 14px;
}

.nav-tabs > li {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  text-transform: none;
  color: #424242;

}

th {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  color: #444444;
  font-size: 14px;
}

label {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  color: #424242;
  font-size: 13pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 500;
  color: #424242;
}

h1 {
  margin-top: 0px;
  color: #00B4FF;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 15pt;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  color: #424242;

}

hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

/*Navbar*/
.navbar {
  margin: 0px 0px 1em 0px;
  padding: 0px;
}

.navbar .brand {
  text-shadow: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 1%;
  margin-left: -40px;
  height: 62px;

  background: #0d8e27; /* Old browsers */
  background: -moz-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d8e27), color-stop(100%, #11a72f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d8e27 0%, #11a72f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0d8e27 0%, #11a72f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8e27', endColorstr='#11a72f', GradientType=0); /* IE6-9 */
  /* padding for bootstrap colspan 1
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:120px;
  padding-right:30px;
  margin-left: -40px;
  */
}

.navbar .nav > li {
  padding-top: 10px;
}

.navbar .nav > li > a {
  text-shadow: none;
  margin-top: -10px;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 14.71px;
  color: #424242;
  padding: 5px 15px 5px;
}

.navbar .nav > li:hover {
  color: #fff
}

.navbar .nav > li > a:hover {
  color: #00b4ff;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
}

.navbar .navbar-inner {
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px;
  border-bottom: 0px solid #222;
  -webkit-box-shadow: 0px 0px 0px #f0f0f0;
  -moz-box-shadow: 0px 0px 0px #f0f0f0;
  box-shadow: 0px 0px 0px #f0f0f0;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 14.71px;
  color: #424242;
  padding-left: 0px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #FFFFFF;
  color: #00B4FF;
}

/*Quick Toolbar*/
.btn-toolbar.quick-toolbar {
  float: right;
}

.btn-toolbar.quick-toolbar .btn {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.stats .stat {
  margin-left: 1em;
  float: right;
  line-height: 40px;
}

.stats .stat .number {
  font-weight: bold;
  margin-right: .5em;
  padding: .5em;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e0e0e0, #ffffff);
  background: -moz-linear-gradient(center bottom, #e0e0e0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e0e0e0, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e0e0e0')";
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 1px #fff;
}

/*Blocks*/
.block {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}

.block-heading[data-toggle="collapse"] {
  cursor: pointer;
}

.block-heading[data-toggle="collapse"]:hover {
  background: #d0d0d0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #d0d0d0, #ffffff);
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #d0d0d0, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#d0d0d0')";
}

.block-heading {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
}

.block-heading .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}

.block-body {
  margin: 1em;
  min-height: .25em;
}

.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
  margin-top: 12px;
}

.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}

/*Navigation*/
.sidebar-nav {
  padding: 0px;
}

.sidebar-nav .nav-header {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
}

.sidebar-nav .nav-header .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}

.sidebar-nav .nav-header:hover {
  background: #cecece;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cecece), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #cecece, #ffffff);
  background: -moz-linear-gradient(center bottom, #cecece 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #cecece, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#cecece')";
}

.sidebar-nav .nav-header .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}

.sidebar-nav .nav-header.collapsed {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.sidebar-nav .nav-header i[class^="icon-"] {
  margin-right: .75em;
}

.sidebar-nav .nav-list {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  margin: 1em;
  margin: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 0px;
}

.sidebar-nav .nav-list h1,
.sidebar-nav .nav-list h2,
.sidebar-nav .nav-list h3,
.sidebar-nav .nav-list h4,
.sidebar-nav .nav-list h5,
.sidebar-nav .nav-list h6,
.sidebar-nav .nav-list table {
  margin-top: 12px;
}

.sidebar-nav .nav-list.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}

.sidebar-nav .nav-list li:last-child a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.sidebar-nav .nav-list.collapse {
  margin-bottom: 1em;
}

.sidebar-nav .nav-list > li > a:hover {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.sidebar-nav .nav-list > .active > a,
.sidebar-nav .nav-list > .active > a:hover {
  background: #1e5995;
  background: #1e5995;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e5995), color-stop(1, #2266aa));
  background: -ms-linear-gradient(bottom, #1e5995, #2266aa);
  background: -moz-linear-gradient(center bottom, #1e5995 0%, #2266aa 100%);
  background: -o-linear-gradient(bottom, #1e5995, #2266aa);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2266aa',EndColorStr='#1e5995')";
  border-bottom: 1px solid #194c80;
  border-top: 1px solid #194c80;
}

.sidebar-nav .nav-list > li > a {
  padding: .5em 1em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.sidebar-nav .nav-list.collapse {
  border-bottom: 0px;
}

.sidebar-nav .nav-list.collapse.in {
  border-bottom: 1px solid #ccc;
}

.sidebar-nav .nav-list .nav-header:first-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/*Buttons*/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  /* text-transform: uppercase; */
  font-size: 11pt;
  font-family: 'Roboto', 'Open Sans', sans-serif;

}

.btn-primary {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #0e649a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e649a), to(#0e649a));
  background-image: -webkit-linear-gradient(top, #0e649a, #0e649a);
  background-image: -o-linear-gradient(top, #0e649a, #0e649a);
  background-image: linear-gradient(to bottom, #0e649a, #0e649a);
  background-image: -moz-linear-gradient(top, #0e649a, #0e649a);
}

.btn-info {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #00B4FF;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B4FF), to(#00B4FF));
  background-image: -webkit-linear-gradient(top, #00B4FF, #00B4FF);
  background-image: -o-linear-gradient(top, #00B4FF, #00B4FF);
  background-image: linear-gradient(to bottom, #00B4FF, #00B4FF);
  background-image: -moz-linear-gradient(top, #00B4FF, #00B4FF);
}

.btn-info:hover {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #00B4FF;
}

.btn-primary:hover {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #0e649a;
}

.btn-danger {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #b74141;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b74141), to(#b74141));
  background-image: -webkit-linear-gradient(top, #b74141, #b74141);
  background-image: -o-linear-gradient(top, #b74141, #b74141);
  background-image: linear-gradient(to bottom, #b74141, #b74141);
  background-image: -moz-linear-gradient(top, #b74141, #b74141);
}

.btn-danger:hover {
  background-color: #b74141;
}

.btn-success {
  border-width: 0;
  outline: none;
  border-radius: 2px;
  background-color: #18bc69;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18bc69), to(#18bc69));
  background-image: -webkit-linear-gradient(top, #18bc69, #18bc69);
  background-image: -o-linear-gradient(top, #18bc69, #18bc69);
  background-image: linear-gradient(to bottom, #18bc69, #18bc69);
  background-image: -moz-linear-gradient(top, #18bc69, #18bc69);
}

.btn-success:hover {
  border-width: 0;
  outline: none;
  border-radius: 2px;
  background-color: #18bc69;
}

.btn-warning {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #aaaa55;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddd77), to(#aaaa55));
  background-image: -webkit-linear-gradient(top, #dddd77, #aaaa55);
  background-image: -o-linear-gradient(top, #dddd77, #aaaa55);
  background-image: linear-gradient(to bottom, #dddd77, #aaaa55);
  background-image: -moz-linear-gradient(top, #dddd77, #aaaa55);
}

.btn-warning:hover {
  border-width: 0;
  outline: none;
  border-radius: 2px;

  background-color: #aaaa55;
  *background-color: #aaaa55;
}

.navbar .dropdown-menu a:hover {
  background: none;
  color: #000;
}

.well {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}

/*Faq*/
.faq-content ul,
.faq-content ol {
  padding-left: 1em;
}

.faq-content ul .top,
.faq-content ol .top {
  float: right;
  line-height: 1.25em;
  padding: .75em 0em;
}

/*Gallery*/
.gallery {
  text-align: center;
}

.gallery > img {
  margin: .5em .5em .5em .5em;
}

.img-polaroid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

.dialog,
.row .dialog,
.row-fluid .dialog,
.row-fluid [class*="span"].dialog:first-child {
  margin: 0px auto;
  margin-top: 5em;
  float: none;
}

.dialog input[type="checkbox"],
.row .dialog input[type="checkbox"],
.row-fluid .dialog input[type="checkbox"],
.row-fluid [class*="span"].dialog:first-child input[type="checkbox"] {
  margin: 0px;
}

.dialog .alert,
.row .dialog .alert,
.row-fluid .dialog .alert,
.row-fluid [class*="span"].dialog:first-child .alert {
  margin-bottom: 1em;
}

.dialog form,
.row .dialog form,
.row-fluid .dialog form,
.row-fluid [class*="span"].dialog:first-child form {
  margin-bottom: 0px;
}

.dialog .remember-me,
.row .dialog .remember-me,
.row-fluid .dialog .remember-me,
.row-fluid [class*="span"].dialog:first-child .remember-me {
  padding: .5em 0em 0em 0em;
}

input[type="text"],
input[type="password"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/*Alerts*/
.alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .25em 1em;
  border: 1px solid #f2e187;
  background: #f7ecb5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7ecb5), color-stop(1, #fcf8e3));
  background: -ms-linear-gradient(bottom, #f7ecb5, #fcf8e3);
  background: -moz-linear-gradient(center bottom, #f7ecb5 0%, #fcf8e3 100%);
  background: -o-linear-gradient(bottom, #f7ecb5, #fcf8e3);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
}

.alert .close {
  right: -0.25em;
}

.alert.alert-error {
  border: 1px solid #c77070;
  background: #d59595;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d59595), color-stop(1, #e4b9b9));
  background: -ms-linear-gradient(bottom, #d59595, #e4b9b9);
  background: -moz-linear-gradient(center bottom, #d59595 0%, #e4b9b9 100%);
  background: -o-linear-gradient(bottom, #d59595, #e4b9b9);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e4b9b9',EndColorStr='#d59595')";
}

.alert.alert-info {
  border: 1px solid #85c5e5;
  background: #afd9ee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
  background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
  background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
  background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}

.alert.alert-success {
  border: 1px solid #a3d48e;
  background: #c1e2b3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1e2b3), color-stop(1, #dff0d8));
  background: -ms-linear-gradient(bottom, #c1e2b3, #dff0d8);
  background: -moz-linear-gradient(center bottom, #c1e2b3 0%, #dff0d8 100%);
  background: -o-linear-gradient(bottom, #c1e2b3, #dff0d8);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dff0d8',EndColorStr='#c1e2b3')";
}

/*Error Pages*/
.http-error {
  margin-top: 5em;
  text-align: center;
  color: #444;
}

.http-error h1 {
  font-size: 5em;
  line-height: 1em;
  text-shadow: 1px 1px 0px #fff;
}

.http-error p {
  margin: 0px;
}

.http-error .info {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.http-error i {
  font-size: 3em;
  line-height: .75em;
  text-shadow: 1px 1px 0px #fff;
}

/*Tabs*/
.nav-tabs > li {
  margin-left: .5em;
}

.nav-tabs > li > a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.breadcrumb {
  border: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -moz-linear-gradient(center bottom, #f0f0f0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f0f0f0, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f0f0f0')";
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}

/*Model*/
.modal.small {
  width: 400px;
  margin: -170px 0 0 -200px;
}

.modal.large {
  width: 940px;
  margin: -170px 0 0 -470px;
}

.modal .modal-icon {
  vertical-align: middle;
  font-size: 4em;
  float: left;
  margin-right: .25em;
}

.modal:focus {
  outline: none;
}

.modal .modal-header {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
}

.modal .modal-header .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}

.modal .modal-header h3 {
  font-size: .95em;
}

.modal .modal-footer {
  padding: .5em;
}

.modal .modal-body {
  padding: 2em;
}

.modal p {
  margin: 0em;
  line-height: 1.5em;
}

/*Search*/
.well.search-well {
  text-align: center;
}

.well.search-well form {
  margin-bottom: 0px;
}

.well.search-well label {
  margin-bottom: 0px;
  vertical-align: middle;
}

/*Table of Contents*/
.well.toc h3 {
  font-size: 1em;
  margin-top: 0em;
  padding-top: 0em;
  line-height: 1.4em;
}

.well.toc h4 {
  color: #555;
  font-size: 1em;
  margin-top: 0em;
  padding-top: 0em;
  line-height: 1.4em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

/* Tweaks for mobile */
@media (max-width: 480px) {
  h1 {
    text-align: center;
  }

  .stats {
    text-align: center;
  }

  .stats .stat {
    float: none;
    display: inline;
  }
}

.help_window {
  width: 650px;
  overflow: auto;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  max-height: 800px;
}

.help_title {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 20px;

  width: 630px;
  height: 30px;
  background-color: #00b4ff;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16pt;
  color: #ffffff;

}

.help_body {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  line-height: 24px;
  width: 590px;

  color: #424242;
}

.help_body_center {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  width: 620px;
  font-weight: 400;
  font-size: 12pt;
  line-height: 24px;
  color: #424242;
  text-align: center;
}

.help_body_c {
  margin-top: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin-left: 10px;
  margin-right: 10px;

  font-weight: 400;
  font-size: 12pt;
  line-height: 24px;
  width: 480px;
  color: #424242;
}

.help_body_sm_c {
  margin-top: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 12pt;
  line-height: 24px;
  width: 480px;
  color: #424242;
}

.help_sm_window {
  width: 500px;
}

.help_sm_title {
  margin-top: -10px;
  margin-left: -10px;
  padding-top: 10px;
  padding-left: 20px;
  width: 500px;
  height: 30px;
  background-color: #00b4ff;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16pt;
  color: #ffffff;

}

.help_strong {
  font-size: 12pt;
  font-weight: 500;
  color: #00b4ff;
  text-transform: uppercase;
}

.booking_owner {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

.subTitle {
  background-color: #ffffff;
  height: 30px;
  color: #424242;
  font-size: 18pt;
  padding-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans Condensed', sans-serif;

}

.subTitleModal {
  background-color: #999999;
  height: 30px;
  color: #ffffff;
  font-size: 14pt;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;

}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #00b4ff;
  background-color: #ffffff;
  border: 0px none transparent;
  border-bottom: 4px solid #00b4ff;
  cursor: default;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #424242;
  text-transform: none;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #666;
  white-space: nowrap;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;

}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  color: #00b4ff;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .brandFont {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .mainDisplayArea {
    padding: 0 2% 0 2%;
  }

  .footer_left {
    margin-left: 2%;
  }

  .footer_right {
    margin-right: 2%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .mainDisplayArea {
    padding: 0 3% 0 3%;
  }

  .footer_left {
    margin-left: 3%;
  }

  .brandFont {
    padding-left: 6%;
  }
}

@media only screen and (min-width: 1600px) {
  .mainDisplayArea {
    padding: 0 120px 0 120px;
  }

  .footer_left {
    margin-left: 120px;
  }

  .footer_right {
    margin-right: 120px;
  }
}

.notificationArea {
  margin-top: 70px;
}

/*
 * The bookings style
 */
.clear {
  clear: both;
}

#bookingsTable {
  border-collapse: collapse;
  width: 100%;
  vertical-align: text-top;
}

#bookingsTableTd {
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #cfcfcf;
  vertical-align: text-top;
}

.icon-right-open-1:before {
  content: '\e801';
}

.bookings h1 {
  text-transform: uppercase;
  color: #00b4ff;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

.bookings h2 {
  text-transform: uppercase;
  color: #333f;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #575757;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.bookings h3 {
  text-transform: uppercase;
  color: #00b4ff;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #575757;
  padding-bottom: 5px;
}

.bookings h4 {
  color: #424242;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  width: 250px;

}

.schedule {
  height: 40px;
  line-height: 40px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin: 5px 0 5px 0;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  padding-bottom: 4px;
}

.flightCal {
  background-color: #66C2FF;
  color: #333333;
  padding: 2px;
}

.flight {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-plane-64-dgrey.png);
  background-size: 32px 32px;
}

.cruiseCal {
  background-color: #00FFFF;
  color: #333333;
  padding: 2px;
}

.cruise {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-cruise-64-dgrey.png);
  background-size: 32px 32px;
}

.hotelCal {
  background-color: #CCFFCC;
  color: #333333;
  padding: 2px;
}

.hotel {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-hotel-64-dgrey.png);
  background-size: 32px 32px;
}

.activityCal,
.foodCal,
.goingsonCal,
.shoppingCal {
  background-color: #FFFF75;
  color: #333333;
  padding: 2px;
}

.activity {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-activity-star-64-grey.png);
  background-size: 32px 32px;
}

.transportCal,
.busCal,
.trainCal {
  background-color: #CCFFFF;
  color: #333333;
  padding: 2px;
}

.transport {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-car-64-dgrey.png);
  background-size: 32px 32px;
}

.train {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-bus-64-dgrey.png);
  background-size: 32px 32px;
}

.bus {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-bus-64-dgrey.png);
  background-size: 32px 32px;
}

.shopping {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-shopping-64-dgrey.png);
  background-size: 32px 32px;
}

.food {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-food-64-dgrey.png);
  background-size: 32px 32px;
}

.goingson {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-calendar-64-dgrey.png);
  background-size: 32px 32px;
}

.other {
  background-image: url(//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-balloon-64-dgrey.png);
  background-size: 32px 32px;
}

.fc-event:hover {
  color: #00b4ff;
}

.calendarEventX {
  font-weight: bold;
}

.calendarEventX:hover {
  color: red;
}

.calendarLabelIcon {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 2px;
}

.calendarLabel {
  font-weight: bold;
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  vertical-align: top;
  color: #333333;
}

#external-events {
  padding: 0 10px;
  border: 1px solid #ccc;
  /* background: #eee; */
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

.event_details {
  border: 1px solid #575757;
  display: block;
  -webkit-border-top-left-radius: 22px;
  -moz-border-radius-topleft: 22px;
  border-top-left-radius: 22px;
  margin-bottom: 7px;
  position: relative;
  min-height: 130px;
}

.details_left {
  width: 30%;
  display: block;
  position: absolute;
  top: 20px;
  left: 30px;
}

.details_left .add {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  color: #424242;
  line-height: 18px;
  width: 250px;
  padding-bottom: 20px;
}

.details_right {
  width: 70%;
  display: block;
  float: right;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}

.details_right p {
  padding: 7px;
}

.note {
  margin-bottom: 20px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.dropdown-menu2 a:hover {
  color: #00b4ff;
  background-color: #ffffff;
}

.first-step {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-inactive.png);
  background-repeat: no-repeat;
  background-size: 170px 35px;
  width: 170px;
  height: 26px;
  line-height: 26px;
  position: relative;
  background-color: #f1f1f1;

}

.first-step > a > span {
  height: 33px;
  color: #999999;
}

.first-step > a > span:hover {
  color: #00b4ff;
}

.next-step > a {
  display: block;
}

.next-step > a > span {
  color: #999999;
}

.next-step > a > span:hover {
  color: #00b4ff;
}

.next-step {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-inactive.png);
  background-size: 170px 35px;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f1f1f1;
  line-height: 26px;
  height: 26px;
  width: 170px;
}

.last-step {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-inactive.png);
  background-size: 170px 35px;
  background-repeat: no-repeat;
  position: relative;
  line-height: 33px;
  height: 33px;
  width: 170px;
}

.last-step > span {
  color: #999999;
}

.last-step > a > span {
  color: #999999;
}

.next-step > span {
  color: #999999;
}

.last-step > a > span:hover {
  color: #00b4ff;
}

.stepactive {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-active1.png);
  background-size: 170px 35px;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  margin-left: -10px;
  padding-left: 10px;
  width: 170px;
}

.stepactiveFirst {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-active.png);
  background-size: 170px 35px;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  margin-left: 0px;
  padding-left: 4px;
  width: 170px;
}

.stepactiveFirst > a > span {
  color: #fff;
}

.stepactiveLast {
  background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/steps-active1.png);
  background-size: 170px 35px;
  background-repeat: no-repeat;
  margin-left: -10px;
  padding-left: 10px;
  width: 170px;
}

.stepactiveLast > a > span {
  color: #FFFFFF;
}

.stepactive > a > span {
  color: #FFFFFF;
  margin-left: 10px;
}

.stepactive > a > span:hover,
.stepactiveFirst > a > span:hover,
.stepactiveLast > a > span:hover {
  color: #FFFFFF;
}

.tripWizardTitle {
  position: absolute;
  top: 4px;
}

.tripWizardTitleLast {
  position: absolute;
  top: 2px;
}

.fixed-div {
  position: absolute;
  right: 1em;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #555555;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
  color: #00b4ff;
  border-color: #ffffff;
}

.label-success,
.badge-success {
  background-color: #18bc69;
}

.badge-info {
    background-color: #00B4FF;
}

#tripWizard .navbar-inner {
  background: #ffffff;
  padding: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.documentModal ul {
  list-style: disc;
}

.documentModal ol {
  list-style: decimal;
}

.documentFont strong {
  font-weight: 600;
  color: #333333;
}

.documentFont {
  font-weight: 400;
  font-family: 'Roboto', "Open Sans" sans-serif;
  line-height: 20px;

}

/* attempt to control mobilizer font*/
.documentFont p {
  padding-top: 5px;
  line-height: 20px;
  font-size: 16px;
}

.documentFont h1 {
  margin-top: 30px;
  padding-bottom: 0px;
  color: #424242;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  font-weight: 500;
  font-family: 'Roboto', 'Open Sans', sans-serif;

}

.documentFont h2 {
  margin-top: 30px;
  padding-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  font-weight: 500;
  font-family: 'Roboto', 'Open Sans', sans-serif;

}

.documentFont h3 {
  margin-top: 30px;
  padding-bottom: 0px;
  font-size: 19px;
  line-height: 24px;
  text-transform: none;
  font-weight: 500;
  font-family: 'Roboto', 'Open Sans', sans-serif;

}

.documentFont img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;

}

.pageTitle {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert {
  background-color: #d9edf7;
  color: #424242;
  border: 0;
}

/* cruise icon */
@font-face {
  font-family: 'cruisefont';
  src: url('https://s3.amazonaws.com/static-umapped-com/public/font/cruise.eot?51616153');
  src: url('https://s3.amazonaws.com/static-umapped-com/public/font/cruise.eot?51616153#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/static-umapped-com/public/font/cruise.woff?51616153') format('woff'),
  url('https://s3.amazonaws.com/static-umapped-com/public/font/cruise.ttf?51616153') format('truetype'),
  url('https://s3.amazonaws.com/static-umapped-com/public/font/cruise.svg?51616153#cruisefont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51616153#fontello') format('svg');
  }
}
*/

[class^="icon1-"]:before, [class*=" icon1-"]:before {
  font-family: "cruisefont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 22px;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon1-cruise:before {
  content: '\e810';
}

/* '' */

/* Input field spinner to show when AJAX is being executed */
.inputSpinner {
  color: #666666;
  text-decoration: none;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 8px;
}

/**
 * Progress bars with centered text
 */
.progress {
  position: relative;
}

.bar {
  z-index: 1;
  position: absolute;
}

.progress span {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #000000;
  text-align: center;
  width: 100%;
}

ul.umSortList {
  list-style-type: none;
  margin: 0px 10px 0px 10px;
  padding: 0;
}

li.umSortItem {
  width: 20%;
  float: left;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

/* This should be the last rule as it sometimes get overwritten */
.hide {
  display: none;
}

.badge-notify {
  /*background:orange;*/
  position: relative;
  top: -10px;
  left: -20px;
}

.badge-new {
    position: relative;
    top: -10px;
    left: -5px;
}

/**** Index page styles ********/
div.spinner {
  display: none;
  /*
  background: rgba(255, 255, 255, .7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;
  */
  background: rgba(255, 255, 255, .7) url('//static-umapped-com.s3.amazonaws.com/public/img/ajax-loader-white-1.gif') center center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  min-height: 200px
}

div.contentBody {
  position: relative;
  margin-top: 10px
}

.the-legend {
  padding: 0;
  margin-left: 10px;
  margin-bottom: -9px;
  border: 0;
  color: #999999;
  background-color: #333333;
  border-style: none;
  border-width: 0;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 0;
}

.the-fieldset {
  border: 2px groove threedface #444;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

/* remove default Bootstrap table row */
.tableNoBorder {
  like: ".table";
}

.tableNoBorder th, .tableNoBorder td {
  border-top: none;
}

/* new modal form size */
body .modal {
  /* new custom width */
  width: 700px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -320px;
}

.fixed_width {
  width: 60px;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #00B4FF;
  text-decoration: none;
  outline: 0;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);

}
/*

.dropdown-menu .active > a {
  background-color: #73D5FF;
  color: #ffffff;
}
*/

.selectedFont {
  color: #00A651;
  text-decoration: underline;
}

.menuFont {
  font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
  font-size: 15.71px;
  font-weight: 500;
}

.ui-datepicker {
  z-index: 10000 !important;
}

#line-chart {
  height: 300px;
  width: 800px;
  margin: 0px auto;
  margin-top: 1em;
}

.brand {
  font-family: georgia, serif;
}

.brand .first {
  color: #ccc;
  font-style: italic;
}

.brand .second {
  color: #fff;
  font-weight: bold;
}

/**** Publisher Extracted Previously Embedded Styles *****/
.bookingBox {
  box-sizing: border-box;
  padding:4px;
  width: 99%; /* Why was it 99% */
  margin: 10px auto 10px auto;
  background-color: #ffffff;
  word-wrap:break-word;

}

.bookingBox table.noteTable {
  width: 99%;
  background-color: #ffffff;
  margin-left: 10px;
}

.bookingContent {
    vertical-align: text-top;
    color: #787878;
    font-size:13px;
    line-height:15px;
    padding-bottom: 10px
    word-wrap:break-word;
    max-width: 500px;
}

.noteContent {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
    word-wrap:break-word;
  max-width: 500px;
}

.noteContent h1,
.noteContent h2,
.noteContent h3,
.noteContent h4,
.noteContent h5
{
  color: #666666;
}

.noteContent h1 {
  font-size: 18px;
  font-weight: 500;
}
.noteContent h2 {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
.noteContent h3 {
  font-size: 16px;
  font-weight: 400;
}
.noteContent h4 {

}
.noteContent h5 {

}


.noteContent h1 {
  font-size: 18px;
  font-weight: 500;
}
.noteContent h2 {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
.noteContent h3 {
  font-size: 16px;
  font-weight: 400;
}
.noteContent h4 {

}
.noteContent h5 {

}

table.dataTable td {
  vertical-align: middle;
}

/**** COMMUNICATOR STYLES ******/
/* jQuery UI Changes */
#communicatorArea.ui-dialog-content,
#communicatorArea.ui-dialog {
  padding: 0px;
  overflow-y: hidden;
}

div[aria-describedby="communicatorArea"] {
    z-index: 1001;
}

div[aria-describedby="communicatorArea"] .ui-widget-header {
  background: #b5cfc6;
  border-bottom: 0px;
}

div[aria-describedby="communicatorArea"] .ui-dialog-titlebar {
  background: url('https://s3.amazonaws.com/static-umapped-com/public/img/umapped.png');
  background-color: #b5cfc6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83px 24px;
}

div[aria-describedby="communicatorArea"] .ui-button:focus,
div[aria-describedby="communicatorArea"] .ui-button:hover,
div[aria-describedby="communicatorArea"] .ui-button.ui-state-hover,
div[aria-describedby="communicatorArea"] .ui-dialog-titlebar-close:focus,
div[aria-describedby="communicatorArea"] .ui-dialog-titlebar-close:hover,
div[aria-describedby="communicatorArea"] .ui-dialog-titlebar-close:active, {
  background: #006c43;
}
