@(m:  com.mapped.publisher.view.BookingInboxView, tripId: String, fromTrip: Boolean)
@import com.mapped.publisher.view.TabType

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg" xmlns="http://www.w3.org/1999/html">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->

}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Booking Inbox</h1>

</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
    function importBookings() {
      var bookings = $("input[name=inSelectedBookings]:checked").map(function () {return this.value;}).get().join(",");

      if (bookings.length > 0) {
        var numOfBookings = bookings.split(",").length - 1;
        $('#bkImportLabel').text('Enter a name for your trip and a new trip will be created with the ' + numOfBookings + " selected bookings");
      $('#bkImportLabel1').text('Select an existing trip and the ' + numOfBookings + " selected bookings will be copied to it.");


      $('#inBookings' ).val(bookings);

        $('#bkImportModal').modal('show');
      } else {
        alert("Please select a booking first");
      }
    }

    function importBookingsFromTrip() {
      var bookings = $("input[name=inSelectedBookings]:checked").map(function () {return this.value;}).get().join(",");

      if (bookings.length > 0) {
        var numOfBookings = bookings.split(",").length - 1;
        $('#bkImportLabel').text('Enter a name for your trip and a new trip will be created with the ' + numOfBookings + " selected bookings");
      $('#bkImportLabel1').text('Select an existing trip and the ' + numOfBookings + " selected bookings will be copied to it.");


      $('#inBookings' ).val(bookings);
      postForm('@routes.BookingInboxController.copyTrip(true)', 'bkImportForm')
      } else {
        alert("Please select a booking first");
      }

    }

    $(function () {
    $("#addToTripSubmit").prop('disabled', true);
    });
    $('#targetTripName').autocomplete({
    source: '@controllers.routes.TripController.tripAutocompleteSearch()',
    minLength: 4,
    delay: 500,
    select: function (event, ui) {
    setTripName(ui.item.label, ui.item.id);

    return false;
    },
    response: function (event, ui) {
    $("#targetTripId").val("");
    if (ui.content.length == 1) {
      setTripName(ui.content[0 ].label, ui.content[0 ].id);

    $ ( this ).autocomplete ( "close" ) ;
    }
    }
    });


    function setTripName (name, identifier) {
    $("#targetTripName").addClear({
      right:10,
      top:8,
      showOnLoad: true,
      color: "#666666",
      onClear: function(){
      $("#targetTripName").val('');
      $("#targetTripId").val('');
      $("#targetTripName").prop('readonly', false);
      $("#addToTripSubmit").prop('disabled', true);

      }
    });

    $("#targetTripName").val(name);
    $("#targetTripId").val(identifier);
    $("#targetTripId").change();
    $("#targetTripName").prop('readonly',  (name.length != 0 && identifier.length != 0));
    $("#addToTripSubmit").prop('disabled', false);

    }


    $("#targetTripName").autocomplete( "option", "appendTo", "#bkImportForm" );



    @if(m.reservations != null && m.reservations.size() > 0) {
  $(document).ready(function() {
    @for(p <- m.reservations) {
      $('#accordion@p.pk').on('hidden', function () {
        $('#detailsBtn@p.pk').text("More");
      });
      $('#accordion@p.pk').on('shown', function () {
        $('#detailsBtn@p.pk').text("Hide");
      });

      $('#checkBoxAll@p.pk').click(function(event) {  //on click
        if(this.checked) { // check select status
          $('.checkBoxAll@p.pk').each(function() { //loop through each checkbox
            this.checked = true;  //select all checkboxes with class "checkbox1"
          });
          //set default trip name
          $('#targetTripName1').val('@p.reservationName.replaceAll("'","").replaceAll("&#x27;","").replaceAll("&#x60;","").replaceAll("&#x60;","").replaceAll(">","").replaceAll("<","").replaceAll("","").replaceAll("\"","")');
        }else{
          $('.checkBoxAll@p.pk').each(function() { //loop through each checkbox
            this.checked = false; //deselect all checkboxes with class "checkbox1"
          });
        }
      });
    }
  });
}

  </script>

  <form id="searchForm">
  <input type="hidden" name="inStartPos" id="inStartPos" value="0">
  <legend>Search Bookings</legend>
  <div class="row-fluid">
    <div class="span4">
      <label>Keyword</label>
      <input class="input-block-level" type="text" name="inKeyword" id="inKeyword" placeholder="Record Locator, PNR, Rescard Number, Invoice Number, Passenger Name..." @if(m.term != null && m.term.length >0){value="@m.term" }>
      <br/><font size="2"><i>*Sabre records can only be searched by PNR</i></font>
    </div>
    <div class="span3">
      <label>Source</label>
      <select name="inSource">
        @for(p <- m.sourceList){
          <option @if((m.selectedSrc == null || m.selectedSrc.trim.length == 0) && m.selectedSrc == "All"){selected="Y"} else {@if(m.selectedSrc != null && m.selectedSrc.trim.length > 0 && m.selectedSrc == p){selected="Y"}} value="@p">@p</option>
        }
      </select>
    </div>
    <div class="span2">
      <label>&nbsp;</label>
      <div style="padding-top: 4px"><input type="checkbox" name="inNewBookingsOnly" id="inNewBookingsOnly" value="true" @if(m.newBookingsOnly){checked}> Search New Bookings Only</input></div>
    </div>
    <div class="span3">
      <label>&nbsp;</label>
      <button class="btn btn-info" onclick="javascript:postForm('@routes.BookingInboxController.bookingInbox(tripId, fromTrip)', 'searchForm');return false;">Search</button>
      @if(tripId != null && !tripId.isEmpty) {
        <a role="button" class="btn btn-info " style="margin-left: 20px"
        onclick="javascript:getPage('@routes.BookingController.bookings(tripId, new TabType.Bound(TabType.ITINERARY))');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
      }

    </div>

  </div>
  </form>

  @if(m.reservations != null && m.reservations.size() > 0) {
  <table class="table table-striped" id="inboxTable">
    <thead>
      <tr>
        @if(fromTrip) {
          <th style="width: 120px"><button class="btn btn-primary" onclick="javascript:importBookingsFromTrip();return false;">Add To Trip</button></th>
        } else {
          <th style="width: 120px"><button class="btn btn-primary" onclick="javascript:importBookings();return false;">Add To Trip</button></th>
        }
        <th style="width: 120px">Locator/Invoice #</th>
        <th style="width: 160px">Travel Dates</th>
        <th style="width: 15%">Traveler</th>
        <th style="width: 35%">Details</th>
        <td>Source</td>
        <td></td>
      </tr>
    </thead>
    <tbody>

    @for(p <- m.reservations) {
      @views.html.bookings.inboxReservation(p)
    }

    @if(m.startPos > 0) {
      <td colspan="6"><a onclick="javascript:$('#inboxTable tr:last').remove();javascript:getSearchResult('/bookings/inbox/more?inKeyword=@m.term&inSource=@m.selectedSrc&inIncludeNewBookings=@m.newBookingsOnly&inStartPos=@m.startPos','inboxTable');" >Load More Bookings</a></td>
    }
    </tbody>
  </table>
  }


  <!-- Modal -->
  <script>
  $('#bkImportSubmit').click(function() {
  $('#bkImportModal').modal('hide');
  });
  $('#createNewTripSubmit').click(function() {
  $('#bkImportModal').modal('hide');
  });
  $('#addToTripSubmit').click(function() {
  $('#bkImportModal').modal('hide');
  });
  </script>

  <div id="bkImportModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add Bookings</h3>
    </div>
    <div class="modal-body">

      <form id="bkImportForm" >
        <ul class="nav nav-tabs" id="bkImportTab">
          <li class="active"><a href="#bkImportNewTripTab" data-toggle="tab">Add to a New Trip</a></li>
          <li><a href="#bkImportCopyTripTab" data-toggle="tab">Add to an Existing Trip</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="bkImportNewTripTab">
            <p class="muted" id="bkImportLabel">Enter a name for your trip and a new trip will be created with the selected bookings.</p>
            <div class="row-fluid" style="padding-top: 10px">
              <div class="span8">
                <label> Trip Name</label>
                <input type="text" name='inTripName' id="targetTripName1" class="input-block-level" value="" placeholder="Trip name"/>
                <input type="hidden" id="inBookings" name="inBookings" >
              </div>
              <div class="span3">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success " id="createNewTripSubmit" onclick="javascript:postForm('@routes.BookingInboxController.createTrip()', 'bkImportForm');return false;">Create Trip</button>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="bkImportCopyTripTab">
            <p class="muted" id="bkImportLabel1">Select an existing trip and the selected bookings will be copied to it.</p>
            <div class="row-fluid" style="padding-top: 10px">
              <div class="span8">
                <label> Select Trip</label>
                <input type="text" name='inTripName1' id="targetTripName" class="input-block-level" value="" placeholder="Trip name"/>
                <input type="hidden" id="targetTripId" name="inTripId" @if(tripId != null) {value="@tripId"} else {value=""}>
              </div>
              <div class="span3">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-danger " id="addToTripSubmit" onclick="javascript:postForm('@routes.BookingInboxController.copyTrip()', 'bkImportForm');return false;">Add to Trip</button>
              </div>
            </div>
          </div>
        </div>
      </form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
  <--endPageBody-->