@(m:  com.mapped.publisher.view.BookingInboxView)
@if(m.reservations != null && m.reservations.size() > 0) {
  @for(p <- m.reservations) {
    @views.html.bookings.inboxReservation(p)
  }
}

@if(m.startPos > 0) {
  <td colspan="6"><a onclick="javascript:$('#inboxTable tr:last').remove();javascript:getSearchResult('/bookings/inbox/more?inKeyword=@m.term&inSource=@m.selectedSrc&inIncludeNewBookings=@m.newBookingsOnly&inStartPos=@m.startPos','inboxTable');" >Load More Bookings</a></td>
}