@(m:  com.mapped.publisher.view.BaseView, i: com.mapped.publisher.view.ImageView)

<div id="imgCropperModal" class="modal hide  fade" tabindex="-1" data-replace="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Photo Cropper</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid" style="padding-top: 20px;padding-bottom: 20px">
      <img id="imgCropperId" src="" crossorigin>
      <div id="imgCropSpinner" class="spinner"
           style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px;">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    @if(!i.cropped) {
      <button type="button" class="btn  btn-primary" onclick="javascript:submitCropImg()"> Crop</button>
    } else {
      <button class="btn btn-success" onclick="javascript:restoreImgCropper();return false;"> Restore Original</button>
    }
    <button class="btn btn-success " onclick="javascript:resetImgCropper();return false;"> Reset</button>
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    <br/>
  </div>
</div>
