@(trip: models.publisher.Trip, tripShare: models.publisher.TripShare,
  senderUser: models.publisher.UserProfile, hostUrl: String)
@import models.publisher.UserProfile
@import play.i18n._


@fullName(name: UserProfile) = {@name.getFirstname @name.getLastname}
@fullNameToUpperCase(name: UserProfile) = {@name.getFirstname.toUpperCase @name.getLastname.toUpperCase}


@views.html.email.emailTemplateHeader("LOG IN TO COLLABORATE")

@* @formatter:off*@


                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding: 9px 0px;font-weight: bold;text-align: left;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;">

                            <h3 class="null"
                                style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.5px;text-align: left;color: #606060 !important;">
                              Hi<strong> @tripShare.user.getFirstname</strong>!<br><br>
                              <strong> @fullName(senderUser)</strong>&nbsp;would like to collaborate on&nbsp;<strong>@trip.getName</strong>&nbsp;with you!</h3>

                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>
                @if(trip.getImageUrl != null) {
                 <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         class="mcnTextContentContainer"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>

                      @* Trip name and dates*@
                      <tr>
                        <td valign="top" align="center" class="mcnTextContent"
                            style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">
                          <img align="center" alt=""
                            src="@trip.getImageUrl()"
                            width="600"
                            style="max-width:600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                }

                @if(tripShare.note != null && tripShare.note.length() > 0) {
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td class="mcnDividerBlockInner"
                        style="padding: 18px 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                             style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                            <span style="color:#666666"><strong>NOTE FROM @senderUser.getFirstname.toUpperCase():</strong></span><br>
                            @tripShare.note
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td class="mcnDividerBlockInner"
                        style="padding: 18px 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                             style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                }
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding: 9px 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                            Please click&nbsp;<a href='@{hostUrl}' style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #00b4ff;font-weight: bold;text-decoration: none;">here</a>&nbsp;to log in to your Umapped account to collaborate on&nbsp;<strong>@trip.getName</strong>.<br>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding: 9px 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                            For any questions, contact us at&nbsp;<a href="mailto:support@@umapped.com"
                                                                     style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #00b4ff;font-weight: bold;text-decoration: none;">support@@umapped.com</a>.
                            We'll be glad to help you out!
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>

@* @formatter:on*@

@views.html.email.emailTemplateFooter()
