@(card: com.mapped.publisher.view.BusinessCardView,  trip: models.publisher.Trip, tripInvite: models.publisher.TripInvite,
  senderUser: models.publisher.UserProfile, umappedShifted: String, hostUrl: String)
@import models.publisher.UserProfile



@fullName(name: UserProfile) = {@name.getFirstname @name.getLastname}
@fullNameToUpperCase(name: UserProfile) = {@name.getFirstname.toUpperCase @name.getLastname.toUpperCase}


@views.html.email.emailTemplateHeader(Messages("email.inviteCollaborate"))
@* @formatter:off *@

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding: 9px 18px;font-weight: bold;text-align: left;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;">

                            <h3 style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: -.5px;text-align: left;color: #666666 !important;">
                              Hi<strong> @tripInvite.getUserInvite.getFirstname</strong>!<br><br></h3>
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                                   class="mcnTextContentContainer"
                                   style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
                              <tr>

                                <td valign="top" class="mcnTextContent"
                                    style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                                  <strong>@umappedShifted</strong> has made the shift to <a
                                        href="http://www.umapped.com" target="_blank"
                                        style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color:#666666; font-weight: bold;text-decoration: none;">Umapped</a>&nbsp;-
                                  a collaborative tool to save time delivering trip itineraries while engaging customers at all stages of travel.<br>
                                  <br>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top" class="mcnTextContent"
                                    style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                                <strong> @senderUser.getFirstname</strong>&nbsp;has invited you to collaborate on this trip itinerary:
                                </td>
                              </tr>
                              <tr>
                                <td valign="top" class="mcnTextContent"
                                    style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">
                                  <strong>@trip.getName().toUpperCase()</strong>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>
                @if(trip.getImageUrl != null) {
                 <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         class="mcnTextContentContainer"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>

                      @* Trip name and dates*@
                      <tr>
                        <td valign="top" align="center" class="mcnTextContent"
                            style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">
                          <img align="center"
                            src="@trip.getImageUrl()"
                            width="600"
                            style="max-width:600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                }
                @if(tripInvite.note != null && tripInvite.note.length() > 0) {
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td class="mcnDividerBlockInner"
                        style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                             style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">

                            <span style="color:#666666"><strong>NOTE FROM @senderUser.getFirstname.toUpperCase():</strong></span><br>
                            @tripInvite.note
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td class="mcnDividerBlockInner"
                        style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                             style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                }

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnButtonBlockOuter">
                  <tr>
                       <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                         <span style="color:#666666"><strong>GETTING STARTED</strong></span><br>

                         By logging into your <strong> free and secure </strong> Umapped account, you can: <br>
                            &nbsp;&nbsp;- &nbsp; Add additional bookings or documents for this itinerary. <br>
                            &nbsp;&nbsp;- &nbsp; Upload your branded profile information to be displayed on this trip <br><br>

                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        valign="top" align="center" class="mcnButtonBlockInner">
                      <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                             style="border-collapse: separate !important;border: 2px solid #666666; border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color:#999999; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                              style="font-family: Arial;font-size: 16px;padding: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                            <a class="mcnButton " title="CLICK HERE TO COMPLETE YOUR FREE ACCOUNT" href="@{hostUrl}@{controllers.routes.RegistrationController.register()}?inAuthCode=@tripInvite.getUserInvite.getPk"
                               target="_blank"
                               style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #ffffff;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">CLICK HERE TO COMPLETE YOUR FREE ACCOUNT</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">



                            @views.html.email.businessCard(card)
                            <br/>

                            <a href="https://www.youtube.com/watch?v=TDCpaiYPkDQ" title="" class="" target="_blank"
                               style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <img align="none"
                                 src="https://s3.amazonaws.com/static-umapped-com/public/email_invite/UMapped_EmailYouTube-600.jpg?v=1"
                                 style="width: 600px;height: 326px;margin: 0px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                 width="600" height="326"></a><br>
                            <br>


                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>




                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                            <br>
                            For any questions, contact us at&nbsp;<a href="mailto:support@@umapped.com"
                                                                     style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #00b4ff;font-weight: bold;text-decoration: none;">support@@umapped.com</a>.
                            We'll be glad to help you out!
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>
@* @formatter:on *@

@views.html.email.emailTemplateFooter.render()



