@(v: com.mapped.publisher.view.CollaboratorUserInviteView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.utils.Utils;


<div id="@{v.targetDivId}Table">
  <legend>Invite New Member</legend>
  <div id="invitePit">

    <form id="inviteNewUserForm">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <label>Invite First Name<em>*</em> : </label>
            <input type="text" class="input-block-level required" name="inFirstName" />
          </div>
          <div class="span3">
            <label>Invite Last Name<em>*</em> : </label>
            <input type="text" class="input-block-level required" name="inLastName" />
          </div>
          <div class="span3">
            <label>Invite Email: </label>
            <input type="text" class="email input-block-level" name="inEmail" @if(Utils.isValidEmailAddress(v.email)) {value=} else { placeholder=}"@v.email"/>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <label>Select Access Level: </label>
              @if(v.currUserAccessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="READ">
                  Review Only
                </label>
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="APPEND">
                  Contribute
                </label>
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="APPEND_N_PUBLISH" checked>
                  Contribute, Publish & Invite
                </label>
              }
              @if(v.currUserAccessLevel.ge(AccessLevel.OWNER)) {
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="OWNER">
                  Full Control
                </label>
              }
          </div>
          <div class="span6">
            <label>Note to Collaborator: </label>
            <textarea name="inNote" class="input-block-level" rows="4" id="inNote"
            placeholder="Please enter a note for your collaborator"></textarea>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <button type="submit" class="btn btn-primary btn-large btn-block"
          onclick="javascript:doPostFormAndReplace('/user/tripInviteNewUser',
                                                   'inviteNewUserForm',
                                                   'invitePit');return false;">
            Invite and Share Trip
          </button>

        </div>
      </div>
    </form>
  </div>


  <form id="inviteNewUserForm">

  </form>

</div>
