@(m:  com.mapped.publisher.view.TripBookingView)
@import com.umapped.persistence.enums.ReservationType
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1.0 maximum-scale=1.0" />
    <link href="web/css/bootstrap.css" rel="stylesheet">
    <link href="web/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
        body {
        padding-top: 2px;
        padding-bottom: 2px;
        }
        #audio h5 {
        color:white;
        }
        .white {
        color: #fff;
        }
        .black {
        color: #666
        }

        .accordion {
        margin-bottom: 20px;
        }

        .accordion-group {
        margin-bottom: 2px;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-left:-15px;
        width:310px;
        }

        .accordion-heading {
        border-bottom: 0;
        }

        .accordion-heading .accordion-toggle {
        display: block;
        -webkit-box-shadow: 0 0 2px rgba(255,255,255,.75);
        -moz-box-shadow: 0 0 2px rgba(255,255,255,.75);
        box-shadow: 0 0 2px rgba(255,255,255,.75);
        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -moz-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -o-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -ms-linear-gradient(bottom, #ededed, #fefefe);
        background-image: linear-gradient(to top, #ededed, #fefefe);

        }

        .accordion-toggle {
        cursor: pointer;
        }

        .accordion-inner {
        border-top: 1px solid #e5e5e5;

        border: solid 1px #ccc;
        background-color:#fff;

        }
    </style>
    <script type="text/javascript" src="web/js/jquery.min.js"></script>
    <script type="text/javascript" src="web/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="web/js/gmap3.min.js"></script>



</head>



<body id='body'>
<script type="text/javascript">

{{#isConnected}}
var gaId ="UA-42022122-2";
var _gaq = _gaq || [];


_gaq.push(['_setAccount', gaId]);
_gaq.push(['_trackPageview']);
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', gaId, 'auto');
ga('send', 'pageview','/mobile/attachment?tripId=@m.tripId');
{{/isConnected}}



  function getDocHeight() {
    var h = Math.max($(document).height(), $(window).height(),document.documentElement.clientHeight);
    return (h * 3);
  };

  $(function() {
    @defining(m.getSubtreeBookings(ReservationType.HOTEL)) { hotels =>
      @for(p <- hotels) {
        @if(p.photos != null && p.photos.size >0) {
          $('carousel_@p.detailsId').carousel({
            interval: false
          });
        }
      }
    }

    @defining(m.getSubtreeBookings(ReservationType.TRANSPORT)) { transports =>
      @for(p <- transports) {
        @if(p.photos != null && p.photos.size >0) {
          $('carousel_@p.detailsId').carousel({
            interval: false
          });
        }
      }
    }

    @defining(m.getSubtreeBookings(ReservationType.ACTIVITY)) { activities =>
      @for(p <- activities) {
        @if(p.photos != null && p.photos.size >0) {
          $('carousel_@p.detailsId').carousel({
            interval: false
          });
        }
      }
    }
    });

    $(document).ready(function(){
      @if(m.orderedBookings != null){
        @for(p <- m.orderedBookings) {
          $('#booking_@p.detailsId').on('hidden', function () {
          $("#icon_@p.detailsId").removeClass("icon-chevron-down").addClass("icon-chevron-right");
    });

    $('#booking_@p.detailsId').on('shown', function () {
    $("#icon_@p.detailsId").removeClass("icon-chevron-right").addClass("icon-chevron-down");
    });
    }
    }
    });

</script>

<div id='container' >
    @if(m.comments != null && m.comments.length > 0) {
        <h4 class="black">Note:  </h4>
        <p class="black">
        @Html(m.comments)
        </p>
    }





    @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
    <div style="padding-top:0px">
        <table class="table table-striped">
            <tbody>
            @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
            @for(p <- m.tripAttachments) {
            <tr>
                <td style="100%">
                    <a href="@p.attachUrl" target="_blank">
                        @if(p.attachType == "doc"){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                        } else {
                        @if(p.attachType == "pdf"){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                        } else {
                        <img src=https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
                        }
                        }
                        @p.attachName
                    </a>
                    @if(p.comments != null && p.comments.length > 0) {
                    <br/><br/>
                    @p.comments
                    }
                </td>


            </tr>
            }
            } else {
            <tr>
                No Attachments.
            </tr>
            }
            </tbody>


        </table>

    </div>
    }
<br/>
Brought to you by:<br/>
<table style="width:100%;">
    <tr>
        <td style="width:35%">
        @if(m.logoUrl != null && m.logoUrl.length > 0) {
            <img src="@m.logoUrl" ></img>
        }
        </td>
        <td style="width:5%">
                &nbsp;
        </td>
        <td style="width:60%">
        @if(m.agentView != null) {
            @if(m.agentView.agentName != null) {
                @m.agentView.agentName
                <br/>
            }
            @if(m.agentView.agentEmail != null) {
                E: @m.agentView.agentEmail
                <br/>
            }
            @if(m.agentView.agentPhone != null) {
                T: @m.agentView.agentPhone
                <br/>
            }
            @if(m.agentView.agentMobile != null) {
                M: @m.agentView.agentMobile
                <br/>
            }
            @if(m.agentView.agentFax != null) {
                F: @m.agentView.agentFax
                <br/>
            }
            @if(m.agentView.cmpyName != null) {
                @m.agentView.cmpyName
                <br/>
            }
            @if(m.agentView.cmpyWeb != null) {
                @m.agentView.cmpyWeb
                <br/>
            }
            @if(m.agentView.agentFacebook != null) {
                @m.agentView.agentFacebook
                <br/>
            }
            @if(m.agentView.agentTwitter != null) {
                @m.agentView.agentTwitter
                <br/>
            }
        }
        </td>
    </tr>

</table>
    @if(m.tripBranding != null && m.tripBranding.size() > 1) {
        <br/>
        In Collaboration With:<br/>
        <table style="width:100%">
        @for(p <- m.tripBranding) {
            @if(!p.isMainBrand) {
                @views.html.mobile.bookingBrand.render(p)
            }
        }
        </table>
    }

</div>
</div>
</body>
</html>
