@(p:  com.mapped.publisher.view.TripBookingDetailView)
@import com.mapped.publisher.utils.Utils

<div class="" style="padding-right:5px;padding-left:5px;" >
  @if((p.providerAddr1 != null && p.providerAddr1.length > 0)|| (p.city != null && p.city.length > 0) || (p.country != null && p.country.length > 0)) {

    <div style="text-align : center ;">
      @if(p.providerAddr1 != null && p.providerAddr1.length > 0) {
        @p.providerAddr1 &nbsp;
        }
      @if(p.city != null && p.city.length > 0) {
        @p.city &nbsp;
      }
      @if(p.country != null && p.country.length > 0) {
        @p.country &nbsp;
      }
    </div>
    <br/>
  }
  <div class="documentFont">
    @if(p.intro != null && p.intro.length > 0) {

      @Html(Utils.addTelHref(p.intro)) <br/>
    }

    @if(p.description != null && p.description.length > 0) {
      @Html(Utils.addTelHref(p.description))   <br/>
    }
  </div>

  @if((p.intro != null && p.intro.contains("<img")) || (p.description != null && p.description.contains("<img"))){

  } else {
    @if(p.photos !=null && p.photos.size > 0) {
      @for(a <- p.photos) {
        <div class="row-fluid">
          <img class="img-rounded" src="@a.attachUrl"></img>
          @if(a.comments != null && a.comments.length > 0) {
            @Html(a.comments)
          }
        </div>
        <br>
      }
    }
  }


  @if(p.videos !=null && p.videos.size > 0) {
    <h4 style="text-align:center;">Videos</h4>

    @for(a <- p.videos) {
      <div class="row-fluid">

        <iframe width='100%' src="@a.attachUrl" frameborder="0" allowfullscreen></iframe>

        @if(a.comments != null && a.comments.length > 0) {
          @Html(a.comments)
        }
      </div>
    }
  }


  @if(p.links !=null && p.links.size > 0) {
    @for(a <- p.links) {
      <div class="row-fluid" style="padding-bottom: 10px">

        <a href="@a.attachUrl" target="_blank">@a.attachName</a>
        @if(a.comments != null && a.comments.length > 0) {
          @Html(a.comments)
        }
      </div>
    }
  }

</div>  <!-- inner -->