@(m:  com.mapped.publisher.view.TripBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.ViewUtils
@m.getChronologicalBookings()

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1.0 maximum-scale=1.0" />
    <link href="web/css/bootstrap.css" rel="stylesheet">
    <link href="web/css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css">
        body {
        padding-top: 2px;
        padding-bottom: 2px;
        }
        #audio h5 {
        color:white;
        }
        .white {
        color: #fff;
        }
        .black {
        color: #666
        }


        .dayColor {
        background-image: -webkit-linear-gradient(bottom, #00B4FF, #00B4FF);
        background-image: -moz-linear-gradient(bottom, #00B4FF, #00B4FF);
        background-image: -o-linear-gradient(bottom, #00B4FF, #00B4FF);
        background-image: -ms-linear-gradient(bottom, #00B4FF, #00B4FF);
        background-image: linear-gradient(to top, #00B4FF, #00B4FF);
        }

        .bookingColor {
        background-image: -webkit-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -moz-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -o-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -ms-linear-gradient(bottom, #ededed, #fefefe);
        background-image: linear-gradient(to top, #ededed, #fefefe);
        }

        .accordion {
        margin-bottom: 5px;
        border-style:none;

        }

        .accordion-group {
        margin-bottom: 2px;
        border-style:none;

        }


        .msgBadge{
          position: relative;
          top: -7px;
          left: -16px;
          font-size: 14px;
        }

    </style>
    <script type="text/javascript" src="web/js/jquery.min.js"></script>
    <script type="text/javascript" src="web/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="web/js/gmap3.min.js"></script>



</head>



<body id='body'>
<script type="text/javascript">


function getDocHeight() {
    var h = Math.max($(document).height(), $(window).height(),document.documentElement.clientHeight);
    @if(m.chronologicalDates.size() < 5){
      var factor = 14;
    } else {
      @if(m.chronologicalDates.size() < 10){
        var factor = 8;
      } else {
        @if(m.chronologicalDates.size() < 20){
          var factor = 5;
        } else {
          @if(m.chronologicalDates.size() < 30){
            var factor = 2;
          } else {
            var factor = 1;
          }
        }
      }
    }
    var height = (h * factor);

    return 5000;
    };

    $(function() {

        @if(m.hotels != null && m.hotels.size > 0) {
            @for(p <- m.hotels) {
                @if(p.photos != null && p.photos.size >0) {
    $('carousel_@p.detailsId').carousel({
    interval: false
    });
                }
            }
        }

    @if(m.transfers != null && m.transfers.size > 0) {
    @for(p <- m.transfers) {
    @if(p.photos != null && p.photos.size >0) {
    $('carousel_@p.detailsId').carousel({
    interval: false
    });
    }
    }
    }

    @if(m.activities != null && m.activities.size > 0) {
    @for(p <- m.activities) {
    @if(p.photos != null && p.photos.size >0) {
    $('carousel_@p.detailsId').carousel({
    interval: false
    });
    }
    }
    }

    });

    $(document).ready(function(){
        @if(m.orderedBookings != null){
            @for(p <- m.orderedBookings) {
        $('#booking_@p.detailsId').on('hidden', function () {
            $("#icon_@p.detailsId").removeClass("icon-chevron-down").addClass("icon-chevron-right");
        });

        $('#booking_@p.detailsId').on('shown', function () {
            $("#icon_@p.detailsId").removeClass("icon-chevron-right").addClass("icon-chevron-down");
        });
            }
        }

  @if(m != null){

    @for((k, i) <- m.chronologicalDates.zipWithIndex ) {
      $('#booking_day_@i').on('hidden', function () {
      $("#icon_day_@i").removeClass("icon-chevron-down").addClass("icon-chevron-right");
      });

      $('#booking_day_@i').on('shown', function () {
      $("#icon_day_@i").removeClass("icon-chevron-right").addClass("icon-chevron-down");
      });
    }
  }
   });

   /* get the unread mesaage count for this user/trip */
   /* mustache
    $(document).ready(function (){

    $('#msgCount').hide();


    $.ajax({ // ajax call starts
      url: '@m.url/traveler/{{tId}}/unread/@m.tripId', // JQuery loads serverside.php
      dataType: 'json', // Choosing a JSON datatype
      type: 'GET',
      crossDomain: 'true'
    })
    .done(function(data) { // Variable data contains the data we get from serverside
      if (data.msgCount > 0) {
      	$('#msgCount').text(data.msgCount);
      	$('#msgCount').show();
      } else {
    		$('#msgCount').hide();
      }
    });

    });

	mustache */

</script>

<div id='container' >
  <div style="padding-left:5px;min-height:40px;padding-top:10px;">
  <!-- add support for communicator -->
    <!-- mustache
  {{#isConnected}}
  {{#tId}}
  <div style="padding-right:5px;">
  <a class="" class="" href="@m.url/traveler/{{tId}}/communicator/@m.tripId">
     <span style="font-size:18px">Messages and Notifications </span>
    <img src="http://static-umapped-com.s3.amazonaws.com/public/img/notifications.png" width="20">
    <span class="badge badge-success msgBadge" id="msgCount"></span>

   </a>
  </div>
  {{/tId}}
  {{/isConnected}}
  mustache -->
    @if(m.comments != null && m.comments.length > 0) {
        <h4 class="black">Note:  </h4>
        <p class="black">
        @Html(m.comments)
        </p>
    } else {
        <br/>
    }
    </div>

    <div class="accordion" id="accordionDay">
      @for((k, i) <- m.chronologicalDates.zipWithIndex){
        @if(k != null && k.trim.length > 0) {
          <div class="accordion-group" id="booking_day_@i">
            <div class="accordion-heading dayColor" style="position:relative;">
              <a class="accordion-toggle dayColor" style="text-decoration:none;" data-toggle="collapse" data-parent="#accordionDay" href="#collapse_day_@i">
                <h5 class="white">&nbsp; @k <i id="icon_day_@i" class="@if(m.chronologicalDates.size() < 10 || i == 0){icon-chevron-down} else {icon-chevron-right} icon-white " style="position : absolute ; top:40% ; left:90%;"></i></h5>
              </a>
            </div>
            <div id="collapse_day_@i" class="accordion-body collapse @if(m.chronologicalDates.size() < 10 || i == 0){in}">
              <div class="accordion-inner">
              @views.html.mobile.bookingDetail(m, k, i)
              </div>
            </div>
          </div>
        } else {
          @views.html.mobile.bookingDetail(m, k, i)
        }
      }
    </div>
    <br/>
  <!-- link to download the PDF version -->
<a href="@m.url/trips/loadPdf?inTripId=@m.tripId">
  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="36px"> Download as a PDF
</a>
    <br/>

    Brought to you by:<br/>
    <table style="width:100%;">
        <tr>
            <td style="width:35%">
            @if(m.logoUrl != null && m.logoUrl.length > 0) {
                <img src="@m.logoUrl" ></img>
            }
            </td>
            <td style="width:5%">
                    &nbsp;
            </td>
            <td style="width:60%">
            @if(m.agentView != null) {
                @if(m.agentView.agentName != null) {
                    @m.agentView.agentName
                    <br/>
                }
                @if(m.agentView.agentEmail != null) {
                    E: @m.agentView.agentEmail
                    <br/>
                }
                @if(m.agentView.agentPhone != null) {
                    T: @m.agentView.agentPhone
                    <br/>
                }
                @if(m.agentView.agentMobile != null) {
                    M: @m.agentView.agentMobile
                    <br/>
                }
                @if(m.agentView.agentFax != null) {
                    F: @m.agentView.agentFax
                    <br/>
                }
                @if(m.agentView.cmpyName != null) {
                    @m.agentView.cmpyName
                    <br/>
                }
                @if(m.agentView.cmpyWeb != null) {
                    @m.agentView.cmpyWeb
                    <br/>
                }
                @if(m.agentView.agentFacebook != null) {
                    @m.agentView.agentFacebook
                    <br/>
                }
                @if(m.agentView.agentTwitter != null) {
                    @m.agentView.agentTwitter
                    <br/>
                }
            }
            </td>
        </tr>
    </table>

        @if(m.tripBranding != null && m.tripBranding.size() > 1) {
            <br/>
            In Collaboration With:<br/>
            <table style="width:100%">
            @for(p <- m.tripBranding) {
                @if(!p.isMainBrand) {
                    @views.html.mobile.bookingBrand.render(p)
                }
            }
            </table>
        }



</div>
</div>
</body>
</html>
