@(m:  com.mapped.publisher.view.TripBookingView, d: String, i: Int)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.ViewUtils
@import com.mapped.publisher.view.UmAccommodationReservationView

@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.flight.UmFlightTraveler


<div class="accordion" id="accordion_day_@i">
  @if(m.orderedBookings != null){
    @for((p, j) <- m.chronologicalBookings.get(d).zipWithIndex) {
      <div class="accordion-group" id="booking_@p.detailsId" style="padding-top: 15px;">
        <div class="accordion-heading bookingColor" style="position:relative;">
          <a class="accordion-toggle bookingColor" style="text-decoration: none;"  data-toggle="collapse" data-parent="#accordion_day_@i" href="#collapse_@p.detailsId">
            @if(p.noteId != null && p.noteId > 0){
                <h5 class="black">&nbsp;
                  @p.name
                @if(p.hasStartTimestamp) {
                  @if(m.display12Hr) {
                    - @Utils.formatTime12(p.startDateMs)
                  } else {
                    - @Utils.formatTime24(p.startDateMs)
                  }

                }
                  <i id="icon_@p.detailsId" class="icon-chevron-right " style="position: absolute; top:40%; left:90% ;"></i></h5> <div class="black" style="margin-left : 10px; margin-right : 20px">

                </div>
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                <h5 class="black">&nbsp;    <img src='web/img/airplane-gray.png' width="8%" ></img> &nbsp; @p.startDatePrint
                  @if(m.display12Hr) {
                   - @Utils.formatTime12(p.startDateMs)
                  } else {
                   - @Utils.formatTime24(p.startDateMs)
                  }
                  <i id="icon_@p.detailsId" class="icon-chevron-right " style="position:absolute;top:40%;left:90%;"></i></h5> <div class="black" style="margin-left:10px; margin-right : 20px">
                  Flight: @p.providerName (@p.flightId) to @p.arrivalAirport </div>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                <h5 class="black">&nbsp;  <img src='web/img/hotel-gray.png' width="7%" ></img> &nbsp; @p.startDatePrint <i id="icon_@p.detailsId" class="icon-chevron-right " style="position:absolute;top:40%;left:90%;"></i></h5> <div class="black" style="margin-left : 10px; margin-right : 20px">
                  Check-In: @p.providerName @if(p.city != null && p.city.length > 0) {, @p.city} </div>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                <h5 class="black">&nbsp; <img src='@ViewUtils.getimgNameForBookingTypeMobile(p.detailsTypeId)' width="8%" ></img> &nbsp; @p.startDatePrint @if(p.startTime != null && p.startTime.trim.length > 0) {

                  @if(m.display12Hr) {
                    - @Utils.formatTime12(p.startDateMs)
                  } else {
                    - @Utils.formatTime24(p.startDateMs)
                  }
                } <i id="icon_@p.detailsId" class="icon-chevron-right " style="position:absolute;top:40%;left:90%;"></i></h5> <div class="black" style="margin-left : 10px; margin-right : 20px">
                @if(p.getServiceType != null && !p.getServiceType.trim.isEmpty) {
                  @p.getServiceType():
                } else {
                  @if(p.detailsTypeId == ReservationType.CAR_RENTAL){
                    Car Rental:
                  } else {
                    @if(p.detailsTypeId == ReservationType.CAR_DROPOFF){
                      Car Rental Drop-Off:
                    } else {
                      @if(p.detailsTypeId == ReservationType.RAIL) {
                        Train:
                      } else {
                        @if(p.detailsTypeId == ReservationType.FERRY) {
                          Ferry:
                        } else {
                          Transfer:
                        }
                      }
                    }
                  }
                  }
                  @p.providerName @if(p.city != null && p.city.length > 0) {, @p.city}  </div>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
                <h5 class="black">&nbsp;  <img src='@ViewUtils.getimgNameForBookingTypeMobile(p.detailsTypeId)' width="8%" ></img> &nbsp; @p.startDatePrint @if(p.startTime != null && p.startTime.trim.length > 0) {

                  @if(m.display12Hr) {
                   - @Utils.formatTime12(p.startDateMs)
                  } else {
                   - @Utils.formatTime24(p.startDateMs)
                  }
                } <i c id="icon_@p.detailsId" class="icon-chevron-right " style="position:absolute;top:40%;left:90%;"></i></h5> <div class="black" style="margin-left : 10px; margin-right : 20px">
                  @if(p.getServiceType != null && !p.getServiceType.trim.isEmpty) {
                    @p.getServiceType():
                  } else {
                  @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                  Reservation:
                  } else {
                    @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                      Cruise Stop:
                    } else {
                      @if(p.detailsTypeId == ReservationType.EVENT) {
                        Event:
                      } else {
                        @if(p.detailsTypeId == ReservationType.SKI_LESSONS) {
                          Ski Lessons:
                        } else {
                          @if(p.detailsTypeId == ReservationType.SKI_LIFT) {
                            Lift Tickets:
                          } else {
                            @if(p.detailsTypeId == ReservationType.SKI_RENTALS) {
                              Equipment Rentals:
                            } else {
                              Activity:
                            }
                          }
                        }
                      }
                    }
                  }
                }
                   @p.providerName @if(p.city != null && p.city.length > 0) {, @p.city}
                 </div>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                <h5 class="black">&nbsp;  <img src='https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise-mobile.png' width="10%" ></img> &nbsp; @p.startDatePrint @if(p.startTime != null && p.startTime.trim.length > 0) {

                  @if(m.display12Hr) {
                   - @Utils.formatTime12(p.startDateMs)
                  } else {
                   - @Utils.formatTime24(p.startDateMs)
                  }
                } <i id="icon_@p.detailsId" class="icon-chevron-right " style="position:absolute;top:40%;left:90%;"></i></h5> <div class="black" style="margin-left : 10px; margin-right : 30px">
                  Cruise: @p.providerName @if(p.cruise != null) { - @p.cruise.portDepart to @p.cruise.portArrive }  </div>
              }
            }
          </a>
        </div>
        <div id="collapse_@p.detailsId" class="accordion-body collapse">
          <div class="accordion-inner " style="background-color:#FBFBFB; padding-left:5px; padding-right:15px;">

            <div class="row-fluid" style="padding-top: 15px">
              @if(p.noteId != null && p.noteId > 0) {
                @views.html.mobile.bookingnote(p)

              } else {


              @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                <h5 class="black"> Depart: @p.departureAirport <br/> @p.startDatePrint
                @if(m.display12Hr) {
                  @Utils.formatTime12(p.startDateMs)
                } else {
                  @Utils.formatTime24(p.startDateMs)
                } </h5>
                <h5 class="black"> Arrive: @p.arrivalAirport <br/> @p.endDatePrint
                  @if(m.display12Hr) {
                    @Utils.formatTime12(p.endDateMs)
                  } else {
                    @Utils.formatTime24(p.endDateMs)
                  }
                </h5>
                @if(p.reservation != null && p.reservation.getTravelers != null) {
                  @for(t@(_t:UmFlightTraveler) <- p.reservation.getTravelers) {
                    Name: @t.getGivenName @t.getFamilyName <br/>
                    @if(t.getTicketNumber != null){
                      eTicket: @t.getTicketNumber<br/>
                    }
                    @if(t.getSeat != null) {
                      Seat: @t.getSeat <br/>
                    }
                    @if(t.getSeatClass != null && t.getSeatClass.seatCategory != null) {
                      Class: @t.getSeatClass.seatCategory <br/>
                    }
                    @if(t.getProgram != null && t.getProgram.programName != null) {
                      FrequentFlyer: @t.getProgram.programName <br/>
                    }
                    @if(t.getMeal != null) {
                      Meal: @t.getMeal <br/>
                    }
                    <br/>
                  }
                }
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                  @p.providerAddr1 <br/>
                }
                @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                  @p.providerAddr2 <br/>
                }
                @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                  T:<a href="tel:@p.providerPhone"> @p.providerPhone </a> <br/>
                }
                @if(p.providerEmail != null &&  p.providerEmail.length > 0){
                  E:<a href="mailto:@p.providerEmail">  @p.providerEmail </a> <br/>
                }
                @if(p.providerWeb != null &&  p.providerWeb.length > 0){
                  W: @if(p.providerWeb.startsWith("http:")){<a href="@p.providerWeb" target="_blank"> View Website</a>} else {@p.providerWeb} <br/>
                }
                <h5 class="black"> Check-In: @p.startDatePrint  @if(p.startTime != null && p.startTime.trim.length > 0){
                  @if(m.display12Hr) {
                    @Utils.formatTime12(p.startDateMs)
                  } else {
                    @Utils.formatTime24(p.startDateMs)
                  }
                } </h5>
                <h5 class="black"> Check-Out: @p.endDatePrint
                  @if(m.display12Hr) {
                    @Utils.formatTime12(p.endDateMs)
                  } else {
                    @Utils.formatTime24(p.endDateMs)
                  }
                </h5>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT || p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                @if(p.checkinUrl != null) {
                  <a style="" href="@p.checkinUrl" target="_blank"> Web Check-In</a><br/><br/>
                }
                @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                  @p.providerAddr1 <br/>
                }
                @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                  @p.providerAddr2 <br/>
                }
                @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                  T: <a href="tel:@p.providerPhone"> @p.providerPhone </a>  <br/>
                }
                @if(p.providerEmail != null &&  p.providerEmail.length > 0){
                  E:<a href="mailto:@p.providerEmail">  @p.providerEmail </a> <br/>
                }
                @if(p.providerWeb != null &&  p.providerWeb.length > 0){
                  W: @if(p.providerWeb.startsWith("http:")){<a href="@p.providerWeb" target="_blank"> View Website</a>} else {@p.providerWeb} <br/>
                }
                @if(p.contact != null &&  p.contact.length > 0){
                  Contact: @Html(Utils.addTelHref(p.contact)) <br/>
                }
                @if(p.baggageUrl != null) {
                  <a style="" href="@p.baggageUrl" target="_blank"> Baggage Policy</a><br/>
                }

                @if(p.detailsTypeId.getRootLevelType != ReservationType.FLIGHT) {
                  <h5 class="black">
                    @if(p.detailsTypeId == ReservationType.CAR_DROPOFF){Drop-Off:
                    } else {
                      @if(p.detailsTypeId == ReservationType.RAIL) {
                        Departs:
                      } else {
                        Pick-Up:
                      }
                    } @p.startDatePrint
                    @if(m.display12Hr) {
                      @Utils.formatTime12(p.startDateMs)
                    } else {
                      @Utils.formatTime24(p.startDateMs)
                    }</h5>
                  @if(p.locStartName != null && p.locStartName.length > 0) {
                    <h5>@if(p.detailsTypeId == ReservationType.CAR_DROPOFF){
                      Drop-Off
                    } else {
                      @if(p.detailsTypeId == ReservationType.RAIL) {
                        Departure Station:
                      } else {
                        Pick-Up Location:
                      }
                    }   @p.locStartName </h5>
                  }
                  @if(p.endDateMs > p.startDateMs && p.detailsId != ReservationType.CAR_DROPOFF) {
                    <h5 class="black">
                      @if(p.detailsTypeId == ReservationType.RAIL){
                        Arrives:
                      } else {
                        Drop-Off:
                      }@p.endDatePrint
                      @if(m.display12Hr) {
                        @Utils.formatTime12(p.endDateMs)
                      } else {
                        @Utils.formatTime24(p.endDateMs)
                      }
                    </h5>
                    @if(p.locFinishName != null && p.locFinishName.length > 0) {
                      <h5> @if(p.detailsTypeId == ReservationType.RAIL){Arrival Station:} else {Drop-Off Location:}  @p.locFinishName </h5>
                    }
                  }
                }
              }

              @if(p.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
                @if(p.providerAddr1 != null &&  p.providerAddr1.length > 0){
                  @p.providerAddr1 <br/>
                }
                @if(p.providerAddr2 != null &&  p.providerAddr2.length > 0){
                  @p.providerAddr2 <br/>
                }
                @if(p.providerPhone != null &&  p.providerPhone.length > 0){
                  T: <a href="tel:@p.providerPhone"> @p.providerPhone </a>  <br/>
                }
                @if(p.providerEmail != null &&  p.providerEmail.length > 0){
                  E:<a href="mailto:@p.providerEmail">  @p.providerEmail </a> <br/>
                }
                @if(p.providerWeb != null &&  p.providerWeb.length > 0){
                  W: @if(p.providerWeb.startsWith("http:")){<a href="@p.providerWeb" target="_blank"> View Website</a>} else {@p.providerWeb} <br/>
                }
                @if(p.contact != null &&  p.contact.length > 0){
                  Contact: @Html(Utils.addTelHref(p.contact)) <br/>
                }
                @if(p.startDate != null && p.startDate.length() > 0) {
                  @if(p.detailsTypeId == ReservationType.EVENT || p.detailsTypeId == ReservationType.RESTAURANT) {
                    <h5> Date: @p.startDatePrint
                      @if(m.display12Hr) {
                        @Utils.formatTime12(p.startDateMs)
                      } else {
                        @Utils.formatTime24(p.startDateMs)
                      }
                    </h5>
                  } else {
                    @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                      <h5> Arrives: @p.startDatePrint
                        @if(m.display12Hr) {
                          @Utils.formatTime12(p.startDateMs)
                        } else {
                          @Utils.formatTime24(p.startDateMs)
                        }
                      </h5>
                    } else {
                      <h5> Starts: @p.startDatePrint
                        @if(m.display12Hr) {
                          @Utils.formatTime12(p.startDateMs)
                        } else {
                          @Utils.formatTime24(p.startDateMs)
                        }
                      </h5>
                    }
                  }

                }
                @if(p.locStartName != null && p.locStartName.length > 0) {
                  @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                    <h5>Location:  @p.locStartName </h5>
                  } else {
                    @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                      <h5>Port:  @p.locStartName </h5>
                    } else {
                      <h5>Pick-up:  @p.locStartName </h5>

                    }
                  }
                }
                @if(p.detailsTypeId != ReservationType.RESTAURANT && p.detailsTypeId != ReservationType.EVENT) {
                  @if(p.endDate != null && p.endDate.length() > 0) {
                    @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                      <h5> Departs: @p.endDatePrint
                        @if(m.display12Hr) {
                          @Utils.formatTime12(p.endDateMs)
                        } else {
                          @Utils.formatTime24(p.endDateMs)
                        }
                      </h5>
                    } else {
                      <h5> Ends: @p.endDatePrint
                        @if(m.display12Hr) {
                          @Utils.formatTime12(p.endDateMs)
                        } else {
                          @Utils.formatTime24(p.endDateMs)
                        }
                      </h5>
                    }
                  }
                  @if(p.locFinishName != null && p.locFinishName.length > 0) {
                    <h5>Drop-off:  @p.locFinishName </h5>

                  }
                }

              }

              @if(p.bookingNumber != null && p.bookingNumber.length > 0) {
                Confirmation Number: @p.bookingNumber <br/>
              }
              @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                @if(p.comments != null || p.cruise.category != null || p.cruise.cabinNumber != null || p.cruise.deck != null || p.cruise.bedding) {
                  <br/>
                  @if(p.cruise.category != null && p.cruise.category.length > 0) {
                    <strong>Category:</strong> &nbsp; @p.cruise.category <br/>
                  }
                  @if(p.cruise.cabinNumber != null && p.cruise.cabinNumber.length > 0) {
                    <strong>Cabin Number:</strong> &nbsp; @p.cruise.cabinNumber <br/>
                  }
                  @if(p.cruise.deck != null && p.cruise.deck.length > 0) {
                    <strong>Deck:</strong> &nbsp; @p.cruise.deck <br/>
                  }
                  @if(p.cruise.bedding != null && p.cruise.bedding.length > 0) {
                    <strong>Bedding:</strong> &nbsp; @p.cruise.bedding <br/>
                  }
                  @if(p.cruise.meal != null && p.cruise.meal.length > 0) {
                    <strong>Dining:</strong> &nbsp; @p.cruise.meal <br/>
                  }
                  @Html(Utils.addTelHref(p.comments))
                }
              } else {
                @if(p.detailsTypeId == ReservationType.HOTEL) {
                  @views.html.mobile.hotelRooms(p.asInstanceOf[UmAccommodationReservationView])

                }
                @if(p.comments != null && p.comments.length > 0) {
                 <br/>
                  @Html(Utils.addTelHref(p.comments)) <br/>
                }
              }

              <!-- photos if any -->
              @if(p.photos != null && p.photos.size() > 0) {
                <div id="carousel_@p.detailsId" class="carousel slide" style="width:100%;margin:10% auto;" >
                  <div class="carousel-inner">

                    @for((a,i) <- p.photos.zipWithIndex){
                      @if(i == 0) {
                        <div class="item active">
                        } else {
                        <div class="item">
                        }
                      <img  src="@a.attachUrl" width="100%" class="text-center"/>
                      @if(a.comments != null && a.comments.length > 0) {
                        <div id="audio" class="carousel-caption">
                          <p >@Html(a.comments)</p>
                        </div>
                      }
                    </div> <!--item-->
                    }
                  </div> <!-- inner carousel-->
                    <!-- Carousel nav -->
                    @if(p.photos.size() > 1) {
                      <a class="carousel-control left" href="#carousel_@p.detailsId" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#carousel_@p.detailsId" data-slide="next">&rsaquo;</a>
                    }
                  </div> <!-- carousel -->
                  }
              @if(p.providerComments != null && p.providerComments.length > 0) {
                <h5>About:</h5>
                @Html(p.providerComments)
              }

    <!-- price -->
            @if((p.getSubtotal != null && !p.getSubtotal.isEmpty) || (p.getTaxes != null && !p.getTaxes.isEmpty) || (p.getFees != null && !p.getFees.isEmpty) || (p.getCurrency != null && !p.getCurrency.isEmpty) || (p.getTotal != null && !p.getTotal.isEmpty)) {
              <div style="padding-top: 10px">
              @if(p.getSubtotal != null && !p.getSubtotal.isEmpty){<strong>Price:</strong> @p.getSubtotal <br/>}
              @if(p.getTaxes != null && !p.getTaxes.isEmpty){<strong>Taxes:</strong> @p.getTaxes <br/>}
              @if(p.getFees != null && !p.getFees.isEmpty){<strong>Fees:</strong> @p.getFees <br/>}
              @if(p.getCurrency != null && !p.getCurrency.isEmpty){<strong>Currency:</strong> @p.getCurrency <br/>}
              @if(p.getTotal != null && !p.getTotal.isEmpty) {<strong>Total:</strong> @p.getTotal <br/>}
              </div>
            }
    <!-- rates -->
            @if(p.getRates != null && p.getRates.size() > 0){
              @for(v <- p.getRates){
              <div style="padding-top: 10px">
              @if(v.getDescription != null){
                <strong>@Html(v.getDescription)</strong> @if(!v.getDisplayName.equals("N/A")){- @Html(v.getDisplayName)}
              }
                @if(v.getPrice != null){
                  @v.getPrice
                }
              </div>
              }
            }
                  <!-- cancellation policy -->
                @if(p.getCancellation != null && p.getCancellation.trim.length > 0) {
                  <div>
                    <strong>Cancellation Policy:</strong> @Html(Utils.escapeHtml(p.getCancellation))
                  </div>
                }
              <!-- attached files -->
                @if(p.files != null && p.files.size() > 0) {
                  @for(f <- p.files) {
                    <a style="" href="@f.attachUrl" target="_blank">
                      @if(f.attachType == "doc"){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                      } else {
                        @if(f.attachType == "pdf"){
                          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                        } else {
                          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
                          }
                      }
                      @f.attachName
                    </a> <br/>

                  }
                }

             }
            </div>
            </div>
          </div>
        </div>
        }
  }
</div>
