@(m:  com.mapped.publisher.view.TripBrandingView)


    <tr>
        <td style="width:35%">
        @if(m.cmpyLogoName != null && m.cmpyLogoName.length > 0) {
            <img src="@m.cmpyLogoName" ></img>
        }
        </td>
        <td style="width:5%">
                &nbsp;
        </td>
        <td style="width:60%">
            @if(m.cmpyName != null) {
                @m.cmpyName
                <br/>
            }
            @if(m.cmpyPhone != null) {
                T: @m.cmpyPhone
                <br/>
            }
            @if(m.cmpyEmail != null) {
                @m.cmpyEmail
                <br/>
            }
            @if(m.cmpyWebsite != null) {
                @m.cmpyWebsite
                <br/>
            }
        </td>
    </tr>
