@(m:  com.mapped.publisher.view.DestinationView)
@import com.mapped.publisher.utils.Utils

<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1.0 maximum-scale=1.0" />
    <link href="web/css/bootstrap.css" rel="stylesheet">
    <link href="web/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="web/js/jquery-latest.js" type="text/javascript"></script>
    <script src="web/js/bootstrap.js" type="text/javascript"></script>


    {{#isConnected}}
       @if(m.displayMap){
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY7RX8nj6vPo9YBtSAsKXSc9wBgUk8QXI&v=3.exp&sensor=false&libraries=places"></script>
    <!-- Google Maps Helper -->
    <script type="text/javascript" src="web/js/gmap3.min.js"></script>
    }
    {{/isConnected}}

    <style type="text/css">
        body {
        padding-top: 10px;
        padding-bottom: 10px;
        }
        #audio h5 {
        color:white;
        }

        .accordion {
        margin-bottom: 20px;
        }

        .accordion-group {
        margin-bottom: 2px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-left:-15px;
        width:310px;
        }


        .accordion-heading {
        border-bottom: 0;
        }

        .accordion-heading .accordion-toggle {
        display: block;
        background-image: -webkit-linear-gradient(bottom, #555555, #555555);
        background-image: -moz-linear-gradient(bottom, #555555, #555555);
        background-image: -o-linear-gradient(bottom, #555555, #555555);
        background-image: -ms-linear-gradient(bottom, #555555, #555555);
        background-image: linear-gradient(to top, #555555, #555555);

        }

        .accordion-toggle {
        cursor: pointer;
        }

        .accordion-inner {

        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -moz-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -o-linear-gradient(bottom, #ededed, #fefefe);
        background-image: -ms-linear-gradient(bottom, #ededed, #fefefe);
        background-image: linear-gradient(to top, #ededed, #fefefe);

        }

        {{#isConnected}}
        @if(m.displayMap){
            #mapGuideModal{
             height: 200px;
             width: 100%;
             margin:0 auto;
            }

            #mapGuideModal img {
             max-width: none;
            }
        }
        {{/isConnected}}

        /*styles for mobilizer */
        .documentFont strong {
        font-weight: 600;
        color: #333333;
        }

        .documentFont {
        font-weight: 400;
        font-family: "Open Sans" sans-serif;
        }


        /* attempt to control mobilizer font*/
        .documentFont p {
        padding-top: 5px;
        line-height:18px;
        font-size: 14px;
        }

        .documentFont h1 {
        margin-top:20px;
        padding-bottom:0px;
        font-size: 18px;
        line-height:18px;
        }

        .documentFont h2 {
        margin-top:20px;
        padding-bottom:0px;
        font-size: 16px;
        line-height:18px;
        }

        .documentFont h3 {
        margin-top:20px;
        padding-bottom:0px;
        font-size: 16px;
        line-height:18px;
        }

        .documentFont img {
        padding-top:20px;
        padding-bottom:20px;
        display:block;margin:0 auto;

        }

        .documentFont dt{
        width:100%;
        }
        .js-poi-list {
        display: none;
        }
        .ttd__section--included {
        display: none;
        }
        .ttd__section--exclusions {
        display: none;
        }
        .slider__controls {
        display: none;
        }
        .slider__container {
        display: none;
        }
    </style>
</head>



<body id='body'>
    <script type="text/javascript">

    {{#isConnected}}
    var gaId ="UA-42022122-2";
    var _gaq = _gaq || [];


    _gaq.push(['_setAccount', gaId]);
    _gaq.push(['_trackPageview']);
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', gaId, 'auto');
    ga('send', 'pageview','/mobile/guide?tripId=@m.tripId');
    {{/isConnected}}


    function getDocHeight() {
            var h = Math.max($(document).height(), $(window).height(),document.documentElement.clientHeight);
            return h * 2 ;
        };

        function scrollTo(hash) {
            window.location.hash = "#" + hash;
        }


        $(document).ready(function(){
            @if(m.intro != null && m.intro.length > 0) {
                $('#guide_@m.id').on('hidden', function () {
                    $("#icon_@m.id").removeClass("icon-chevron-down").addClass("icon-chevron-right");
                });

                $('#guide_@m.id').on('shown', function () {
                    $("#icon_@m.id").removeClass("icon-chevron-right").addClass("icon-chevron-down");
                });
            }

            @if(m.guides != null && m.guides.length > 0) {
                @for(p <- m.guides) {

                $('#guide_@p.id').on('hidden', function () {
                    $("#icon_@p.id").removeClass("icon-chevron-down").addClass("icon-chevron-right");
                });

                $('#guide_@p.id').on('shown', function () {
                    $("#icon_@p.id").removeClass("icon-chevron-right").addClass("icon-chevron-down");
                });
                }
            }


        });


        {{#isConnected}}
        @if(m.displayMap){
        var myBookingLocations = new Array();
        @if(m.guides != null) {
        @for(pl <- m.guides) {
            @if(pl.groupedViews != null && pl.groupedViews.size() > 0 ) {
                @for(pl1 <- pl.groupedViews) {
                    @if(pl1.locLat != null && pl1.locLong != null &&  pl1.locLat != "0.0" && pl1.locLong != "0.0") {
                        myBookingLocations.push({latLng:[@pl1.locLat, @pl1.locLong], data:"<div> @escapeEcmaScript(pl1.destinationName)<br/>@escapeEcmaScript(pl1.name) <br/> &nbsp;@escapeEcmaScript(pl1.streetAddr1)</div>", id:"@pl1.id"});
                    }
                }
            } else {
                @if(pl.locLat != null && pl.locLong != null &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
                    myBookingLocations.push({latLng:[@pl.locLat, @pl.locLong], data:"<div> @escapeEcmaScript(pl.destinationName)<br/>@escapeEcmaScript(pl.name) <br/> &nbsp;@escapeEcmaScript(pl.streetAddr1)</div>", id:"@pl.id"});
                }
            }
        }
        }

        $(document).ready(function() {
        if(myBookingLocations.length > 0) {
        $('#mapGuideModal').gmap3({
        map:{
        options:{
        zoom: 5
        }
        },
        marker:{
        values:myBookingLocations,
        options:{
        draggable: false
        },
        events:{
        mouseover: function(marker, event, context){
        var map = $("#mapGuideModal").gmap3("get"),
        infowindow = $("#mapGuideModal").gmap3({get:{name:"infowindow"}});
        if (infowindow){
        infowindow.open(map, marker);
        infowindow.setContent(context.data);
        } else {
        $("#mapGuideModal").gmap3({
        infowindow:{
        anchor:marker,
        options:{content: context.data}
        }
        });
        }
        },
        mouseout: function(){
        var infowindow = $("#mapGuideModal").gmap3({get:{name:"infowindow"}});
        if (infowindow){
        infowindow.close();
        }
        }
        }
        },
        autofit:{}
        });

        }
        });
        }
        {{/isConnected}}

    </script>

    <div id='container' >
        {{#isConnected}}
        @if(m.displayMap){
        <div id="map_canvas"  style="width:100%;padding-bottom:15px;">
            <div id="mapGuideModal" class="border"></div>
        </div>
        }
        {{/isConnected}}

        @if(m.coverUrl != null && m.coverUrl.length > 0) {
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                <img width="100%" src="@m.coverUrl"></img>
            </div>
            <div class="span1"></div>
        </div>
        }

        <div class="accordion" id="accordion2">

         @if(m.intro != null && m.intro.length > 0) {
            <div class="accordion-group" id="guide_@m.id">
                <div class="accordion-heading daycolor" style="position:relative;">
                    <a class="accordion-toggle daycolor" style="text-decoration: none;" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@m.id">
                        <h4 class="white" style="font-family:'HelveticaNeue-CondensedBold';text-transform:uppercase;">
                            &nbsp;About
                            <i id="icon_@m.id" class="icon-chevron-right icon-white " style="position:absolute;top: 40%;left:90%;"></i>

                        </h4>
                    </a>
                </div>
                <div id="collapse_@m.id" class="accordion-body collapse">
                    <div class="accordion-inner" style="padding-right:15px;padding-left:15px">
                      <br/>
                      @Html(Utils.addTelHref(m.intro))
                    </div>
                </div>
           </div>
        }


        @if(m.guides != null && m.guides.length > 0) {
        @for(p <- m.guides) {

        <div class="accordion-group" id="guide_@p.id">
            <div class="accordion-heading" style="position:relative;">
                <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@p.id">
                    <h4 class="white" style="font-family:'HelveticaNeue-CondensedBold';text-transform:uppercase;">
                        &nbsp;@p.name
                        <i id="icon_@p.id" class="icon-chevron-right icon-white " style="position:absolute;top: 40%;left:90%;"></i>

                    </h4>

                </a>
            </div>
            <div id="collapse_@p.id" class="accordion-body collapse">
               @if(p.groupedViews != null && p.groupedViews.size() > 0) {
                  @for(p1 <- p.groupedViews) {
                    @views.html.mobile.guidePage(p1)
                   }
               } else {
                   @views.html.mobile.guidePage(p)
               }
            </div>
        </div>
        }
        }

        <br>

          {{#isConnected}}
          <!-- link to download the PDF version -->
        <a href="@m.url/guide/loadPdf?inDestId=@m.id&inTripId=@m.tripId" target="_blank">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="36px"> Download as a PDF
        </a>
          {{/isConnected}}

        <!-- cobranding-->
        @if(m.tripBrand != null) {
            <br/>
            Brought to you by:
            <table style="width:100%">
            @views.html.mobile.bookingBrand.render(m.tripBrand)
            </table>

        }
        </div>




    </div> <!-- container -->
</body>
</html>