@(m:  List[com.mapped.publisher.view.TripBrandingView] )

<ul >
@for(p <- m) {
    @if(!p.isMainBrand) {

        <li style="margin-top: 1px;background-color: #ffffff">
    @if(p.cmpyLogoUrl != null && p.cmpyLogoUrl.trim.length > 0) {
        <div style="padding-top: 5px;padding-bottom: 5px">
            <img src="@p.cmpyLogoUrl" style="width: 150px;display: block;margin-left: auto; margin-right: auto">
        </div>
    } else {
        <div style="width: 200px; margin-left: auto; margin-right: auto;display: block;background: #ffffff">
            <div style="padding-top: 10px;padding-bottom: 20px; margin-left: 10px; margin-right: 10px">
                <p>
                    <strong> @p.cmpyName </strong>
                    @if(p.cmpyEmail != null && p.cmpyEmail.trim.length > 0) {
                        <br>@p.cmpyEmail
                    }
                    @if(p.cmpyPhone != null && p.cmpyPhone.trim.length > 0) {
                        <br>@p.cmpyPhone
                    }
                    @if(p.cmpyWebsite != null && p.cmpyWebsite.trim.length > 0) {
                        <br>@p.cmpyWebsite
                        }
                </p>

            </div>
        </div>
    }
    </li>
    }
}

</ul>