@(arv:  com.mapped.publisher.view.UmAccommodationReservationView)

@if(arv != null && arv.getPassengers != null && arv.getPassengers.size > 0) {
  @for(t <- arv.getPassengers) {
    <PASSENGER>
      @if(t.getName != null && !t.getName.isEmpty){
        <LASTNAME>@t.getFamilyName()</LASTNAME>
        <FIRSTNAME>@t.getGivenName()</FIRSTNAME>
      }
    </PASSENGER>
  }
}