@(m: com.mapped.publisher.view.ClientBaseBookingGroupView, bookingView: com.mapped.publisher.view.TripBookingView, allBookings: com.mapped.publisher.view.TripBookingView, importedDetails: List[models.publisher.TripDetail])
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.{EnhancedTripBookingDetailView, TabType}
@import controllers.ClientbaseController
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView

<RESERVATION>
    <VENDORCODE>@m.vendorCode</VENDORCODE>
    <VENDORNAME>@m.vendorName</VENDORNAME>
    <RESTYPE>@m.resType</RESTYPE>
        @if(m.startMS > 0) {
    <RESDATE>@Utils.formatTimestamp(m.startMS, "MMddyyyy")</RESDATE>
        } else {
    <RESDATE/>
     }
    <CONFIRMATIONNUMBER>@m.confirmationNo</CONFIRMATIONNUMBER>
    <SOURCEOFBOOKING>Umapped</SOURCEOFBOOKING>
    <BOOKINGSTATUS>Confirmed</BOOKINGSTATUS>
    <TOTALBASE>@m.totalPrice</TOTALBASE>
    <TOTALTAX>@m.totalTaxes</TOTALTAX>
    <TOTALCOMMISSION></TOTALCOMMISSION>
    @if(m.startMS != null && m.startMS > 0) {
    <STARTDATE>@Utils.formatTimestamp(m.startMS, "MMddyyyy")</STARTDATE>
        } else {
    <STARTDATE/>
       }
       @if(m.endMS != null && m.endMS > 0) {
    <ENDDATE>@Utils.formatTimestamp(m.endMS, "MMddyyyy")</ENDDATE>
       } else {
    <ENDDATE/>
       }
    <DURATION/>
    <STATUS>Confirmed</STATUS>
    <SERVICEPROVIDERLIST>
      @for(p <- m.bookingDetailViews) {
        @if(p.detailsTypeId != null && (p.noteId == null || p.noteId == 0)) {
          @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
            @views.html.clientbase.xml.ServiceProviderDetails(p, EnhancedTripBookingDetailView.parseFlight(p))
          } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
              @views.html.clientbase.xml.ServiceProviderDetails(p, EnhancedTripBookingDetailView.parseHotel(p))
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                @views.html.clientbase.xml.ServiceProviderDetails(p, EnhancedTripBookingDetailView.parseCruiseCB(bookingView, p, allBookings))
              } else {
                @views.html.clientbase.xml.ServiceProviderDetails(p, null)
              }
            }
          }
        }
      }
    </SERVICEPROVIDERLIST>
 </RESERVATION>
