@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.DestinationSearchView.Tab
@import models.publisher.ImageLibrary.ImgSrc


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    <h3> @m.tripInfo.tripName | @m.tripInfo.tripStartDatePrint to @m.tripInfo.tripEndDatePrint</h3>
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">


<script>
  $(function() {
    initMobilizer();

    $("#startPane" ).hide();
  });

  function reloadNeeded() {
    if (photoUploadedCount > 0) {
      getPage('@routes.TripController.guides(m.tripId, new Tab.Bound(Tab.CUSTOM_DOC))');
    }
  }

    // post-submit callback
    function showResponse(responseText, statusText, xhr, $form)  {
        $('#'  + uploadDiv + 'Modal').modal('hide');
        if (uploadDiv == "uploadPhoto") {
            getPage(uploadSuccessUrl);
        } else {
            doPost(uploadSuccessUrl);
        }
    }

    @if(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {



    //photo upload
    function uploadPhoto() {
      var uploadurl= '/guide/signedS3CoverUrl?inTripId=@m.tripId&inDestId=@m.tripDestinationView.id&inDestPhotoName=' +
                     escapeFilename($("#inDestPhotoFile").val().replace("C:\\fakepath\\", ""));

      $("#uploadSpinner").show();
      if($.browser.msie) {
        signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
          return iFrameUpload( signedURL, publicURL, s3Bucket);
        });
      } else {
        var s3upload = s3upload != null ? s3upload : new S3Upload({
          file_dom_selector: 'inDestPhotoFile',
          s3_sign_put_url: uploadurl,
          s3_object_caption: $("#inDestPhotoCaption").val(),
          onProgress: function(percent, message) {
            $("#progressUpload").text(percent + "%");
          },
          onFinishS3Put: function(public_url) {
            $('#uploadPhotoModal').modal('hide');
            getPage(public_url);
            console.log('Upload finished: ', public_url);
          },
          onError: function(status) {
            alert('Upload error: ', status);
            console.log('Upload error: ', status);
          }
        });
      }
    }


    $('input[id=inDestPhotoFile]').change(function() {
        var extension = $("#inDestPhotoFile").val().substring($("#inDestPhotoFile").val().lastIndexOf('.'));
        var ValidFileType = ".jpeg, .jpg , .png , .gif";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
            alert("Please only select an image file of type (JPG, GIF, PNG)");
            $("#uploadPhotoSubmit").attr('disabled', true);
            return;
        }

        if ( !$.browser.msie ) {
            var size = this.files[0].size;
            if (size > 1024000) {
                alert("The image file must be less than 1MB");
                $("#uploadPhotoSubmit").attr('disabled', true);
                return;
            }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadPhotoSubmit").attr('disabled', false);

    });
    }


    //file upload
    function uploadFile() {
        var uploadurl= '/tours/newTour/signedS3File?inTripId=@m.tripId&inFileName=' + escapeFilename($("#inDestPhotoFile_file").val().replace("C:\\fakepath\\", "")) + '&inDestFileCaption=' + $("#inDestFileCaption").val() ;

        $("#uploadSpinnerFile").show();
        if($.browser.msie) {
            signedS3(uploadurl, function(signedURL, publicURL, s3Bucket,  uploadFile) {
                return iFrameUpload( signedURL, publicURL, s3Bucket, uploadFile);
            },'_file','uploadFile');
        } else {

        var s3upload = s3upload != null ? s3upload : new S3Upload({
                file_dom_selector: 'inDestPhotoFile_file',
                s3_sign_put_url: uploadurl,
                s3_object_caption: $("#inDestFileCaption").val(),
                onProgress: function(percent, message) {
                    $("#progressUploadFile").text(percent + "%");
                },
                onFinishS3Put: function(public_url) {
                    $('#uploadFileModal').modal('hide');
                    doPost(public_url);
                    console.log('Upload finished: ', public_url);
                },
                onError: function(status) {
                    alert('Upload error: ', status);
                    console.log('Upload error: ', status);
                }
            });
        }
    }


    $('input[id=inDestPhotoFile_file]').change(function() {
        var extension = $("#inDestPhotoFile_file").val().substring($("#inDestPhotoFile_file").val().lastIndexOf('.'));
        var ValidFileType = ".doc , .docx , .pdf";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
            alert("Please only select an image file of type (DOC, DOCX, PDF)");
            $("#uploadFileSubmit").attr('disabled', true);
            return;
        }

        if ( !$.browser.msie ) {
            var size = this.files[0].size;
            if (size > 10485760) {
                alert("The image file must be less than 10MB");
                $("#uploadFileSubmit").attr('disabled', true);
                return;
            }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadFileSubmit").attr('disabled', false);

    });




    //Google maps
    var mapInitialized = false;
    @if(m.tripDestinationView != null && m.displayMap){
    var destinationLocations = new Array();
    @if(m.tripDestinationView.guides != null) {
        @for(pl <- m.tripDestinationView.guides) {
          @if(pl.groupedViews != null && pl.groupedViews.size() > 0) {
                @for(pl1 <- pl.groupedViews) {
                    @if(pl1.locLat != null && pl1.locLong != null && pl1.locLat != "0.0" && pl1.locLong != "0.0") {
                        @if(pl1.coverUrl != null) {
                            destinationLocations.push({latLng:[@escapeEcmaScript(pl1.locLat), @escapeEcmaScript(pl1.locLong)], data:"<DIV> @escapeEcmaScript(pl1.name) @if(pl1.timestampPrint != null && pl1.timestampPrint.length>0){<br> @pl1.timestampPrint} <br/> @escapeEcmaScript(pl1.streetAddr1) </DIV>", id:"@escapeEcmaScript(pl1.id)"});
                        } else {
                            destinationLocations.push({latLng:[@escapeEcmaScript(pl1.locLat), @escapeEcmaScript(pl1.locLong)], data:"@escapeEcmaScript(pl1.name) @if(pl1.timestampPrint != null && pl1.timestampPrint.length>0){<br> @pl1.timestampPrint} <br> @escapeEcmaScript(pl1.streetAddr1)", id:"@escapeEcmaScript(pl1.id)"});
                        }
                    }
                }
          } else {
            @if(pl.locLat != null && pl.locLong != null && pl.locLat != "0.0" && pl.locLong != "0.0") {
                @if(pl.coverUrl != null) {
                    destinationLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"<DIV> @escapeEcmaScript(pl.name) <br/> @escapeEcmaScript(pl.streetAddr1) </DIV>", id:"@escapeEcmaScript(pl.id)"});
                } else {
                    destinationLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"@escapeEcmaScript(pl.name) <br> @escapeEcmaScript(pl.streetAddr1)", id:"@escapeEcmaScript(pl.id)"});
                }
            }
          }
        }
    }
    $('#mapTabHref').on('shown', function (e) {

      if (!mapInitialized) {
        $("#map1").gmap3({
                           map:{
                             options:{
                             }
                           },
                           marker:{
                             values:destinationLocations,
                             options:{
                               draggable: false
                             },
                             events:{
                               click: function(marker, event, context) {
                                 getPage('@routes.DestinationController.newDestinationGuide(m.tripDestinationView.id)' +
                                         '&inDestGuideId='+context.id);
                               },
                               mouseover: function(marker, event, context){
                                 var map = $("#map1").gmap3("get"),
                                         infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                                 if (infowindow){
                                   infowindow.open(map, marker);
                                   infowindow.setContent(context.data);
                                 } else {
                                   $("#map1").gmap3({
                                                      infowindow:{
                                                        anchor:marker,
                                                        options:{content: context.data}
                                                      }
                                                    });
                                 }
                               },
                               mouseout: function(){
                                 var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                                 if (infowindow){
                                   infowindow.close();
                                 }
                               }
                             }
                           },
                           autofit:{}

                         });
        mapInitialized = true;
      }
    });
    }

    @if(m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {

        $(function(){
            $('#sortDiv').sortable({
                helper: "clone",
                update: function( event, ui ) {
                    var order = $(this).sortable('toArray').toString();
                    doPost('/guide/reorderPages?tripId=@m.tripId&inDestId=@m.tripDestinationView.id&inSelectedTab=@Tab.CUSTOM_DOC&inDestGuideIds=' + order);
                }
            });

        });
    }


  @if(m.tripAttachments !=null && m.tripAttachments.size() > 0 ) {

    $(function(){
    $('#sortAttachDiv').sortable(
    { update: function( event, ui ) {
    var order = $(this).sortable('toArray').toString();
    doPost('/tours/reorderAttachments?tripId=@m.tripId&inSelectedTab=@Tab.ATTACHMENTS&inAttachmentIds=' + order);
    }
    }
    );
    })
  }


    @if(m.selectedTab == Tab.CUSTOM_DOC) {
        $('document').ready(function() {
            $('#bookingTabs a[href="#extraDocsTab"]').tab('show');
        });
    }

    @if(m.selectedTab == Tab.ATTACHMENTS) {
        $('document').ready(function() {
            $('#bookingTabs a[href="#attachTab"]').tab('show');
        });
    }


    //script to switch to custom document from startpane
    function createCustomDoc() {
    //hide the startPane
      $('#startPane').hide();
      $('#mainPane').show();
      $('#bookingTabs a[href="#tripDocTab"]').tab('show');
    }
</script>
    <script>
  $(document).ready(function() { //wait for document ready
    var timer;
    var delay = 600; // 0.6 seconds delay after last input

    $('#searchTerm').keypress(function(event) {
      if (event.keyCode == 13) {
        event.preventDefault();
      }
    });

    $('#searchTerm').bind('input', function() {
      window.clearTimeout(timer);
      timer = window.setTimeout(function(){
        //insert delayed input change action/event here

        var tableDoc = $('#searchDocumentsTable').DataTable();
        // Search for a data point
        tableDoc.draw();
      }, delay);
    })
  }); // END READY


    $('#searchDocuments').on( "click", function () {
      var tableDoc = $('#searchDocumentsTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      return false;
    });


    $('#inSearchTitleOnly').on( "change", function () {
      var tableDoc = $('#searchDocumentsTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      return false;
    });

    $('#inDestType').on( "change", function () {
      var tableDoc = $('#searchDocumentsTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      return false;
    });
  </script>

<style>
    #map1{
    height: 500px;
    width: 98%;
    margin:0 auto;
    }

    #map1 img {
    max-width: 700px; }

    #searchGuideModal {
        width: 60%!important;
        margin-left: 0!important;
        left: 20%!important;
    }

    table.dataTable tbody td {
        word-wrap: break-word;
        word-break: break-word;
    }

    #searchDocumentsTable thead th:nth-child(1) {
        width: 25%!important;
    }
    #searchDocumentsTable thead th:nth-child(2) {
        width: 20%!important;
    }
    #searchDocumentsTable thead th:nth-child(3) {
        width: 45%!important;
    }
    #searchDocumentsTable thead th:nth-child(4) {
        width: 10%!important;
    }
</style>



@views.html.trip.tripWizard(m.tripId, m.imgUrl, 3, m.accessLevel)
  <div class="" id="startPane">
     <div>
       <h1> Documents</h1>

       @if(m.accessLevel.ge(AccessLevel.OWNER)) {
         <div class="row">
           <div class="span5" style="text-align: left;padding-bottom: 10px;padding-left: 40px">
             <legend> Custom Document</legend>
             <h4>
               Create a custom document for this trip.</h4>
               <ul>
                 <li style="margin-bottom: 10px">Add your <img src='@m.imgUrl/img/travel42_logo.png' style="width: 75px;vertical-align: middle;margin-bottom: 10px" >&nbsp; Trip Plans
                   <br/><strong>Not a travel42 member?</strong><a href="http://www.travel-42.com/umapped" target="_blank"> Click here to start your free trial</a> </li>
                 <li style="margin-bottom: 10px">Add destination content from the web</li>
                 <li style="margin-bottom: 10px">Add content from your Umapped Documents</li>
                 <li style="margin-bottom: 10px">Add new content including photos, links and Youtube videos</li>
                 <li style="margin-bottom: 10px">Organize the content by date and much more</li>
              </ul>

           </div>
           <div class="span2" style="text-align: center;padding-top:70px;padding-bottom: 80px" >
             <a  @if((m.tripAttachments == null|| m.tripAttachments.size() == 0)&& (m.destinationList == null || m.destinationList.size() ==0 ) &&(m.tripDestinationView == null || m.tripDestinationView.id == null || m.tripDestinationView.id.length == 0)) {
                 id = 'createCustomDocBtn'
                 }
                     href="#"  class="btn btn-primary btn-large btn-block" onclick="javascript:createCustomDoc();return false;"> <i class="fa fa-book"></i> Create A Custom document</a>
           </div>
         </div>


       }

       @if(m.accessLevel.ge(AccessLevel.APPEND)) {
         <div class="row">
           <div class="span5" style="text-align: left;padding-bottom: 10px;padding-left: 40px">
             <legend> Attach Documents</legend>
             <h4>
               Attach documents from your Umapped library<br><br><br/><br/>
               Attach PDF and Word files <br> (e.g. e-tickets, vouchers, tour details, etc)

             </h4>
           </div>
           <div class="span2" style="text-align: center;padding-bottom: 30px;padding-top: 60px">

             <a @if((m.tripAttachments == null|| m.tripAttachments.size() == 0)&& (m.destinationList == null || m.destinationList.size() ==0 ) &&(m.tripDestinationView == null || m.tripDestinationView.id == null || m.tripDestinationView.id.length == 0)) {
                id = 'addDocumentBtn'
                } href="#searchGuideModal" data-toggle="modal" class="btn btn-primary btn-large  btn-block"> <i class="fa fa-plus"></i> Add a Document</a>
             <br/><br/>

             <a @if((m.tripAttachments == null|| m.tripAttachments.size() == 0)&& (m.destinationList == null || m.destinationList.size() ==0 ) &&(m.tripDestinationView == null || m.tripDestinationView.id == null || m.tripDestinationView.id.length == 0)) {
                id = 'attachFileBtn'
                }  data-controls-modal="uploadFileModal" data-backdrop="static" data-keyboard="false" href="#uploadFileModal" data-toggle="modal" class="btn btn-primary btn-large btn-block ">
               <i class="fa fa-arrow-up"></i> Attach Word or PDF</a>

           </div>
         </div>
       }

       @if(m.accessLevel.lt(AccessLevel.APPEND)) {
         <div class="row">
           <div class="span12" style="text-align : left ; padding-bottom : 10px ; padding-left : 40px">
             <h3> No Documents or Attachments</h3>
           </div>
         </div>
       }



       </div>
  </div>


<div class="" id="mainPane">
  <div class="tabbable" style="background-color : #fff"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="bookingTabs">
      <li @if(m.selectedTab == Tab.ATTACHMENTS) {class="active"}>
        <a id="attachTabHref" href="#attachTab" data-toggle="tab"> <i class="fa fa-plus pull-left"></i>
          ADD
            <span class="badge badge-success">
            @if(m.tripAttachments != null && m.destinationList != null) {
              @(m.tripAttachments.size() + m.destinationList.size())
            } else {
              @if(m.tripAttachments != null) {
                @m.tripAttachments.size()
              } else {
                @if(m.destinationList != null) {
                  @m.destinationList.size()
                } else {
                  0
                }
              }
            }
            </span>
        </a>
      </li>

      @if((m.tripDestinationView == null || m.tripDestinationView.id == null || m.tripDestinationView.id.length() == 0) && m.accessLevel.lt(AccessLevel.OWNER)) {
        <!-- hide the create doc pane if user does not have access -->
      } else {

        <li @if(m.selectedTab == Tab.CUSTOM_DOC) {
          class="active"}
            @if((m.tripAttachments != null && m.tripAttachments.size() > 0) || (m.destinationList != null && m.destinationList.size() > 0 ) ||(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length > 0)) {
            id = 'createCustomDocBtn'
            }
        >
        <a id="tripDocTabHref" href="#tripDocTab" data-toggle="tab"> <i class="fa fa-book pull-left"></i>
          @if(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {
            CUSTOM DOCUMENT <span class="badge badge-success">1</span>
          } else {
            CREATE
          }
        </a>

        </li>
      }
    </ul>

    <div class="tab-content"  style="overflow: visible;">
        <!-- Linked Existing Trip Guides -->

        <!-- Uploaded Trip Documents -->
      @views.html.trip.documents.uploads(m)

      @if((m.tripDestinationView == null || m.tripDestinationView.id == null || m.tripDestinationView.id.length() == 0) && m.accessLevel.lt(AccessLevel.OWNER)) {
        <!-- hide the create doc pane if user does not have access -->
      } else {
        <!-- Custom Trip Guides -->
       @views.html.trip.documents.custom(m)
      }
    </div> <!-- tab-content -->
  </div> <!-- tabbale -->
</div> <!-- well -->


<!-- modal search guides -->
<div id="searchGuideModal" class="modal hide fade">
    <form id="searchGuideForm">
        <input type="hidden" id='inTripId' name='inTripId' value="@m.tripId"/>
        <input type="hidden" id='inDestIds' name='inDestIds'
               value="@if(m.destinationList != null) {@for(p <- m.destinationList) {@p.id,}}"/>


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add a Document</h3>
        </div>
        <div class="modal-body">
            <div id="searchResults">

                <form id="destSearchForm">
                    <div class="">
                        <div class="row-fluid">
                            <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId"/>
                            <div class="span4">
                                <label> Search</label>
                                <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2">
                            </div>
                            <div class="span3">
                              <label> Document Type</label>
                              @if(m != null && m.destinationTypeList != null && m.destinationTypeList.size() > 0) {
                              <select style="width: 90%" name="inDestType" id="inDestType">
                                <option selected="Y" value="0">All</option>
                                @for(p <- m.destinationTypeList) {
                                <option value=@p.id>@p.name</option>
                                }
                              </select>
                              }
                            </div>
                            <div class="span3">
                                <label>&nbsp;</label>
                                <input type="checkbox" id="inSearchTitleOnly" name="inSearchTitleOnly" value="true"> search in title only
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>

                <script>
                        $(function(){
                        initSearchDocuments('@controllers.routes.DestinationController.destinationSearchDT()');
                        });
                        </script>
                <table class="table table-striped" id="searchDocumentsTable">
                    <thead>
                    <tr>
                        <th style="width:25%!important">NAME</th>
                        <th style="width:20%!important">TYPE</th>
                        <th style="width:45%!important">ABOUT</th>
                        <th style="width:10%!important"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


        </div>
    </form>
</div>

<!-- delete guides confirm modal -->
  @if(m.destinationList != null) {
    @for(v <- m.destinationList) {

      <script>
      $ ( '#deleteTripGuideSubmit_@v.id').click(function() {
      $ ( '#deleteTripGuideModal_@v.id').modal('hide');
      } ) ;
      </script>

      <div id="deleteTripGuideModal_@v.id" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
          <p>Delete @v.name?</p>

        </div>
        <div class="modal-footer">
          <form id="deleteTripGuideForm_@v.id">
            <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
            <input type="hidden" id="inDestId" name="inDestId" value=@v.id>

            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-danger " id="deleteTripGuideSubmit_@v.id"
            onclick="javascript : postForm ( '/trips/newTrip/deleteGuide', 'deleteTripGuideForm_@v.id ');return false;">
                Delete
            </button>
          </form>
        </div>
      </div>
    }
  }

<div id="dynamicModal">
</div>



    <!-- Modal for uploading File -->
    <script>
        $('#uploadFileSubmit').click(function() {
        $('#uploadFileModal').modal('hide');
        });
    </script>

    <div id="uploadFileModal" class="modal container hide fade" tabindex="-1" data-replace="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Attach a PDF or Word File</h3>
        </div>
        <div class="modal-body">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="fileTabs">
                    <li class="active">
                        <a href="#fileUploadTab" data-toggle="tab">
                            <i class="fa fa-th pull-left"></i>Upload File</a>
                    </li>
                    <li>
                        <a href="#fileSearchTab" data-toggle="tab">
                            <i class="fa fa-globe pull-left"></i> Search File Library</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="fileSearchTab" class="tab-pane">
                        <legend>Search File Library</legend>
                        <div class="">

                            <form id="fileSearchForm">
                                <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                <input type="hidden" name="inFileSearchType" value="@ImgSrc.UMAPPED" >
                                <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
                                <input type="hidden" id="inPageId" name="inPageId" value="@m.destGuideId">
                                <input type="hidden" id="inDocId" name="inDocId" value="@m.destId">
                                <input type="hidden" id="inFileCaption" name="inFileCaption">

                                <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">

                                <div class="row-fluid">

                                    <div class="span6">
                                        <label>Keyword</label>
                                        <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                               class="input-block-level required"/>
                                    </div>
                                    <div class="span3 ">
                                        <label>&nbsp;</label>

                                        <button type="submit" class="btn btn-success pull-left btn-large" id="fileSearchBtn"
                                                onclick="javascript:$('#fileSearchSpinner').show();javascript:doSearchForm('/file/search?inSearchOrigin=TRIP', 'fileSearchForm', 'fileSearchResults');return false;"> Search File
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="row-fluid">
                                <p class="muted"> Search for a file from your library.</p>
                            </div>
                        </div>
                        <div id="searchResultsFile">
                            <div id="fileSearchResults">

                            </div>
                        </div>
                    </div>

                    <div id="fileUploadTab" class="tab-pane active ">
                        <form id="uploadFileForm" method="post" enctype="multipart/form-data">
                            <div class="row-fluid">
                                <legend>Upload a File</legend>
                                <div class="span9">
                                    <input type="hidden" id="key_file" name='key'/>
                                    <input type="hidden" id="AWSAccessKeyId_file" name='AWSAccessKeyId'/>
                                    <input type="hidden" id="policy_file" name='policy'/>
                                    <input type="hidden" id="signature_file" name='signature'/>
                                    <input type="hidden" id="success_action_status_file" name='success_action_status' value='201'/>
                                    <input type="file" id='inDestPhotoFile_file' name='file'/>

                                </div>
                                <div class="span2 pull-right">
                                    <button type="button" class="btn btn-success btn-large pull-right " id="uploadFileSubmit"
                                            onclick="javascript:uploadFile();return false;" >Upload
                                    </button>
                                </div>
                            </div>
                            <br/>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label> Note</label>
                                    <textarea id="inDestFileCaption" name="inDestFileCaption" class="field span12" rows="5"></textarea>
                                </div>
                            </div>
                            <div style="height: 120px">
                                <div id="uploadSpinnerFile" style="display:none;text-align:center">
                                    <img src="@{m.imgUrl}/img/ajax-loader.gif">

                                    <h3> Uploading...
                                        <div id="progressUploadFile"></div>
                                    </h3>

                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="fileSearchSpinner" class="spinner" style="display: none;
          background: rgba(255, 255, 255, .7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 100;
          min-height: 200px    ">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="javascript:reloadNeeded();">Close</button>

        </div>
    </div>




    <!-- additional modals -->
    @if(m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {
        <!-- Modal for adding a new page -->
        <script>
            $('#addNewPageSubmit').click(function() {
              $('#newPageModal').modal('hide');
            });
        </script>

        <div id="newPageModal" class="modal hide fade">
            <form id="newPageForm">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>New Page</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <label> Title <em>*</em> </label>
                            <input type="text" id="inDestGuideName" name="inDestGuideName" class="required input-block-level"
                                   placeHolder="Enter the Title">
                        </div>


                    </div>
                    <br/>

                    <div class="row-fluid">
                        <div class="span12">
                            <label>Introduction</label>
                            <textarea id="inDestGuideIntro" name="inDestGuideIntro" class="field span12" rows="5"></textarea>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">

                    <input type="hidden" id="inDestId" name="inDestId" value="@m.tripDestinationView.id">

                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-success " id="addNewPageSubmit"
                            onclick="javascript:postForm('/trips/newTrip/newDestinationGuide','newPageForm');return false;">
                        Create
                    </button>

                </div>
            </form>
        </div>

        <!-- Modal for deleting a cover photo-->
        @if(m.tripDestinationView.cover != null) {
            <!-- image cropping modal -->
            @views.html.img.imgCropperModal(m.tripDestinationView, m.tripDestinationView.cover)
            <!-- allow for delete cover photo  -->
            <script>
              $('#deleteCoverSubmit').click(function() {
                $('#deletePhotoModal').modal('hide');
              });
            </script>

            <div id="deletePhotoModal" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Confirm Delete Cover Photo</h3>
                </div>
                <div class="modal-body">
                    <p>Delete the cover Photo?</p>
                </div>
                <div class="modal-footer">
                    <form id="deleteCoverForm">
                        <input type="hidden" id="inDocId" name="inDocId" value=@m.tripDestinationView.id>
                        <input type="hidden" id="inSource" name="inSource" value="CUSTOM_DOC">
                        <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-danger " id="deleteCoverSubmit"
                                onclick="javascript:postForm('/guide/deleteCover', 'deleteCoverForm');
                                return false;">Delete</button>
                    </form>
                </div>
            </div>
        }

        <!-- copy modal -->
        <script>
          $('#copyDestSubmit').click(function() {
            $('#copyModal').modal('hide');
          });
        </script>

        <div id="copyModal" class="modal hide fade">
            <form id="copyDestForm" class="form-horizontal">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Confirm Copy</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="destId" name="inDestId" value="@m.tripDestinationView.id">
                    <div class="control-group">
                        <label class="control-label" for="destName">New Document Name</label>
                        <div class="controls">
                            <input type="text" id="destName" name="inDestName" value="@m.tripDestinationView.name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-danger " id="copyDestSubmit"
                            onclick="javascript:postForm('/guide/copyDestination', 'copyDestForm');return false;">Copy
                    </button>
                </div>
            </form>
        </div>



        <!-- modal for delete -->
        <!--modal for delete -->
        <script>
            $('#deleteDestSubmit').click(function() {
            $('#deleteModal').modal('hide');
            });
        </script>

        <div id="deleteModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Delete</h3>
            </div>
            <div class="modal-body">
                <p>Delete this document?</p>


            </div>
            <div class="modal-footer">
                <form id="deleteDestForm">
                    <input type="hidden" id="destId" name="inDestId" value="@m.tripDestinationView.id">
                    <input type="hidden" id="tripId" name="inTripId" value="@m.tripId">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-danger " id="deleteDestSubmit"
                            onclick="javascript:postForm('/guide/deleteDestination', 'deleteDestForm');return false;">Delete
                    </button>
                </form>
            </div>
        </div>


        <div id="uploadPhotoModal" class="modal hide container fade" tabindex="-1" data-replace="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Add a Cover Photo</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs" id="photoTabs">
                                <li class="active">
                                    <a href="#imgLibraryTab" data-toggle="tab">
                                        <i class="fa fa-th pull-left"></i>Search Image Library</a>
                                </li>
                                <li>
                                    <a href="#imgWebTab" data-toggle="tab">
                                        <i class="fa fa-globe pull-left"></i> Search Web</a>
                                </li>
                                <li>
                                    <a href="#uploadTab" data-toggle="tab">
                                        <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
                                </li>
                            </ul>



                            <div class="tab-content">
                              <div id="imgLibraryTab" class="tab-pane active ">
                                <legend>Search Image Library</legend>
                                <div class="">

                                  <form id="imgSearchForm">
                                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                    <input type="hidden" name="inImgSearchType" value="@ImgSrc.UMAPPED" >
                                    <input type="hidden" id="inDocId" name="inDocId" value=@m.tripDestinationView.id>
                                    <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">
                                    <div class="row-fluid">
                                      <div class="span6">
                                        <label>Keyword</label>
                                        <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                        class="input-block-level required"/>
                                      </div>
                                      <div class="span3 ">
                                        <label>&nbsp;</label>

                                        <button type="submit" class="btn btn-success pull-left btn-large"
                                        onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search',
                                                                                                                  'imgSearchForm',
                                                                                                                  'imgSearchResults');return false;"> Search
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="row-fluid">
                                    <p class="muted"> Search for a photo from your library and the Umapped database.</p>
                                  </div>
                                </div>
                                <div id="searchResults1">
                                  <div id="imgSearchResults">

                                        </div>
                                </div>
                              </div>

                              <div id="imgWebTab" class="tab-pane ">
                                    <legend>Search/Save Image From a Website</legend>
                                    <div class="">

                                        <form id="imgWebSearchForm">
                                            <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                            <input type="hidden"  name="inImgSearchType" value="@ImgSrc.WEB" >
                                            <input type="hidden" id="inDocId" name="inDocId" value=@m.tripDestinationView.id>
                                            <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

                                            <div class="row-fluid">

                                                <div class="span6">
                                                    <label>Keyword</label>
                                                    <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                                           class="input-block-level"/>
                                                </div>

                                            </div>
                                            <div class="row-fluid">

                                                <div class="span6">
                                                    <label>Website</label>
                                                    <input type="text" id='inWebUrl' name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                                                           class="input-block-level required"/>
                                                </div>
                                                <div class="span3 ">
                                                    <label>&nbsp;</label>

                                                    <button type="submit" class="btn btn-success pull-left btn-large"
                                                            onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgWebSearchForm','imgWebSearchResults');return false;"> Search
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row-fluid">
                                            <p class="muted"> Search photos from an external website.</p>
                                        </div>
                                    </div>

                                    <div id="searchResults2">
                                        <div id="imgWebSearchResults">

                                        </div>
                                    </div>
                                </div>

                                <div id="uploadTab" class="tab-pane">

                                    <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

                                        <div class="row-fluid">
                                            <legend>Upload a Photo</legend>
                                            <div class="span9">
                                                <input type="hidden" id="key" name='key'/>
                                                <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                                                <input type="hidden" id="policy" name='policy'/>
                                                <input type="hidden" id="signature" name='signature'/>
                                                <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                                                <input type="file"  id='inDestPhotoFile' name='file' />

                                            </div>
                                            <div class="span2 pull-right">
                                                <button type="submit" class="btn btn-success " id="uploadPhotoSubmit"
                                                        onclick="javascript:uploadPhoto();return false;">Upload
                                                </button>
                                            </div>
                                        </div>
                                        <br/>
                                        <div style="height:120px">
                                            <div id="uploadSpinner" style="display:none;text-align:center">
                                                <img src="@{m.imgUrl}/img/ajax-loader.gif" >  Uploading... <div id="progressUpload"></div>

                                            </div>
                                        </div>

                                    </form>


                                </div>
                                <div id="imgSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
                                </div>
                            </div>


                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
        </div>

        <!-- modal search guides -->
        <div id="searchPageModal" class="modal hide fade container">
            <form id="searchPageForm">
                <input type="hidden" id='inTripId' name='inTripId' value="@m.tripId"/>
                <input type="hidden" id='inDestIds' name='inDestIds'
                       value="@if(m.tripDestinationView != null){@m.tripDestinationView.id}"/>


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Add an Existing Page</h3>
                </div>
                <div class="modal-body">
                    <legend>
                       Search for an existing page
                    </legend>
                    <div class="">
                        <div class="row-fluid">
                            <div class="span6">
                                <label>Keyword</label>
                                <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                       class="input-block-level"/>
                            </div>
                            <div class="span3 ">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-success pull-left" id="searchPageButton"
                                        onclick="javascript:doSearchForm('guide/destinationPageSearch','searchPageForm','pageSearchResults');return false;">
                                    Search
                                </button>
                            </div>
                            ​
                        </div>
                        <div class="row-fluid">
                            <input type="checkbox" name="inSearchTitleOnly" value="true" checked> search in page title only
                         </div>
                        <br>

                    </div>
                    <div id="pageSearchResults">
                        <div id="pageSearchResultsTable">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


                </div>
            </form>
        </div>

        @views.html.guide.mobilizerModal(m.tripDestinationView)

    }

</div>
<--endPageBody-->
