@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.mapped.publisher.view.GenericTypeView
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    @if(m.bookings != null) {
    <h3> @m.bookings.tripName | @m.bookings.tripStartDatePrint to @m.bookings.tripEndDatePrint</h3>
    }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
<style>
    #placeCss {
    font-size: 29px;
    }
    #map1{
    height: 600px;
    width: 98%;
    margin:0 auto;
    }

    #map1 img {
    max-width: none; }

    #searchGuideModal .modal-body {
    max-height: 1000px;
    }

    #searchGuideModal {
    width: 900px;
    margin: -300px 0 0 -450px;
    }
</style>
<script>

@if(m.activeTab == null || (!m.activeTab.equals("Guides") && !m.activeTab.equals("Map"))) {
  $(function() {
    var myEvents = new Array();

    @if(m.bookings != null && m.bookings.flights != null) {
      @for((p, i) <- m.bookings.flights.zipWithIndex) {
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {
          myEvents.push ( {
          title: '@if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.flightId != null) { @Html(escapeEcmaScript(p.flightId))}   @if(p.startTime != null) {\n @@ @Html(escapeEcmaScript(p.startTime))} @if(p.departureAirport != null) {\nFrom @Html(escapeEcmaScript(p.departureAirport))}',
          start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour, @p.startMin, 0, @i),
          color: '#659BD9',
          textColor: '#333333',
          allDay: false,
          flight: true
          });
        }
      }
    }

    @if(m.bookings != null && m.bookings.hotels != null) {
      @for(p <- m.bookings.hotels) {
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {

          myEvents.push ( {
          title : 'Hotel:  @if(p.providerName != null) {@Html(escapeEcmaScript(p.providerName))} \
          @if(p.providerAddr2 != null) { \n @Html(escapeEcmaScript(p.providerAddr2))} ',
          start : new Date ( @p.startYear, @p.startMonth, @p.startDay, @p.startHour, @p.startMin, 0, 0 ),
          end : new Date ( @p.endYear, @p.endMonth, @p.endDay + 1, @p.endHour, @p.endMin, 0, 0 ),
          color : '#CCFFCC',
          allDay : true,
          hotel : true,
          textColor : '#000000'
          } ) ;
        }
      }
    }

    @if(m.bookings != null && m.bookings.cruises != null) {
      @for(p <- m.bookings.cruises) {
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 &&
            p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 &&
            p.startMin != null && p.startMin.length > 0) {

          myEvents.push ( {
          title : 'Cruise:  @if(p.providerName != null) {@Html(escapeEcmaScript(p.providerName))} \
          @if(p.cruise != null && p.cruise.portDepart != null){\n @Html(escapeEcmaScript(p.cruise.portDepart))} else { @if(p.providerAddr2 != null){\n @Html(escapeEcmaScript(p.providerAddr2))}}',
          start : new Date ( @p.startYear, @p.startMonth, @p.startDay, @p.startHour, @p.startMin, 0, 0 ),
          end : new Date ( @p.endYear, @p.endMonth, @p.endDay, @p.endHour, @p.endMin, 0, 0 ),
          color : '#00FFFF',
          allDay : true,
          cruise : true,
          textColor : '#000000'
          } ) ;
        }
      }
    }

    @if(m.bookings!=null && m.bookings.transfers!=null){
    @for(p <- m.bookings.transfers) {
    @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {

    myEvents.push({
    title: 'Transport: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
    start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
    color: '#CCFFFF',
      @if(p.startHour.equals("0") && p.startMin.equals("0")){
        allDay : true,
      } else {
        allDay : false,
      }
      transport: true,
    textColor: '#000000'
    });
    }
    }
    }
    @if(m.bookings!=null && m.bookings.activities!=null){
    @for(p <- m.bookings.activities) {
    @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {

    @if(p.endHour.toInt >= 9) {
        myEvents.push({
        title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
        end: new Date(@p.endYear,@p.endMonth, @p.endDay, @p.endHour, @p.endMin, 0, 0 ),
        color: '#FFFF75',
        @if(p.startHour.equals("0") && p.startMin.equals("0")){
            allDay : true,
        } else {
            allDay : false,
        }
        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
            cruiseStop : true,
        } else {
            activity : true,
        }
        textColor: '#000000'
        });
    } else {
        myEvents.push({
        title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
        end: new Date(@p.endYear,@p.endMonth, @p.endDay + 1, @p.endHour, @p.endMin, 0, 0 ),
        color: '#FFFF75',
        @if(p.startHour.equals("0") && p.startMin.equals("0")){
            allDay : true,
        } else {
            allDay : false,
        }
        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
            cruiseStop : true,
        } else {
            activity : true,
        }
        textColor: '#000000'
        });
    }
    }
    }
    }


  @if(m.bookings!=null && m.bookings.notes!=null){
    @for(p <- m.bookings.notes) {
      @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {
        myEvents.push({
        title: '@if(p.name != null) { @Html(escapeEcmaScript(p.name))}',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
        color: '#FFFF75',
        @if(p.startHour.equals("0") && p.startMin.equals("0")){
          allDay : true,
        } else {
          allDay : false,
        }
        note: true,
        textColor: '#000000'
        });
      }
    }
  }

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next ',
        center: 'title',
        right: ''
      },
      defaultDate:moment("@m.startMonth-@m.startDay- @m.startYear", "MM-DD-YYYY"),
      editable: false,
      events: myEvents,
      eventRender: function(event, element) {
        if (event.flight) {
          $(element).prepend ('<div><i class="fa fa-plane">&nbsp;Flight</i></div>') ;
          $(element).find(".fc-time").remove();
        } else if (event.hotel)
          $(element).prepend('<div><i class="fa fa-home">&nbsp;Hotel</i></div>');
        else if (event.cruise)
          $(element)
                  .prepend('<div><i><img width="15px" src="@{m.imgUrl}/img/666-cruise.png"></img>&nbsp;Cruise</i></div>');
        else if (event.transport)
          $(element).prepend('<div><i class="fa fa-road">&nbsp;Transfer</i></div>');
        else if (event.activity)
          $(element).prepend('<div><i class="fa fa-globe">&nbsp;Activity</i></div>');
        else if (event.cruiseStop)
          $(element).prepend('<div><img width="15px" src="@{m.imgUrl}/img/666-cruise.png">' +
                             '</img>&nbsp;Cruise Stop</i></div>');

      }
    });

  });
} else {
  var calendarInitialized = false;
  var myEvents = new Array();
  @if(m.bookings != null && m.bookings.flights != null) {
    @for(p <- m.bookings.flights) {

      @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {
        console.log('@p.flightId')
        myEvents.push ( {
        title: '@if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.flightId != null) { @Html(escapeEcmaScript(p.flightId))}   @if(p.startTime != null) {@@ @Html(escapeEcmaScript(p.startTime))} @if(p.departureAirport != null) {\n From @Html(escapeEcmaScript(p.departureAirport))}',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,0,0, 0, 0),
        color: '#659BD9',
        textColor: '#333333',
        allDay: true,
        flight: true
        });
      }
    }
  }

  @if(m.bookings!=null && m.bookings.hotels!=null){
  @for(p <- m.bookings.hotels) {
  @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {

  myEvents.push({
  title: 'Hotel: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.providerAddr2 != null) {\n @Html(escapeEcmaScript(p.providerAddr2))} ',
  start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
  end: new Date(@p.endYear,@p.endMonth, @p.endDay + 1, @p.endHour, @p.endMin, 0, 0 ),
  color: '#CCFFCC',
  allDay: true,
  hotel: true,
  textColor: '#000000'
  });
  }
  }
  }

  @if(m.bookings != null && m.bookings.cruises != null) {
    @for(p <- m.bookings.cruises) {
      @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 &&
          p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 &&
          p.startMin != null && p.startMin.length > 0) {

        myEvents.push ( {
        title : 'Cruise:  @if(p.providerName != null) {@Html(escapeEcmaScript(p.providerName))} \
          @if(p.cruise != null && p.cruise.portDepart != null){\n @Html(escapeEcmaScript(p.cruise.portDepart))} else { @if(p.providerAddr2 != null){\n @Html(escapeEcmaScript(p.providerAddr2))}}',
        start : new Date ( @p.startYear, @p.startMonth, @p.startDay, @p.startHour, @p.startMin, 0, 0 ),
        end : new Date ( @p.endYear, @p.endMonth, @p.endDay, @p.endHour, @p.endMin, 0, 0 ),
        color : '#00FFFF',
        allDay : true,
        cruise : true,
        textColor : '#000000'
        } ) ;
      }
    }
  }

  @if(m.bookings!=null && m.bookings.transfers!=null){
  @for(p <- m.bookings.transfers) {
  @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {

  myEvents.push({
  title: 'Transport: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
  start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
  color: '#CCFFFF',
  allDay: false,
  transport: true,
  textColor: '#000000'
  });
  }
  }
  }
  @if(m.bookings!=null && m.bookings.activities!=null){
  @for(p <- m.bookings.activities) {
  @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0 && p.startHour != null && p.startHour.length > 0 && p.startMin != null && p.startMin.length > 0) {
  @if(p.endHour.toInt >= 9) {
    myEvents.push({
    title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
    start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
    end: new Date(@p.endYear,@p.endMonth, @p.endDay, @p.endHour, @p.endMin, 0, 0 ),
    color: '#FFFF75',
    allDay: false,
    activity: true,
    textColor: '#000000'
    });
  } else {
    myEvents.push({
    title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
    start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
    end: new Date(@p.endYear,@p.endMonth, @p.endDay + 1, @p.endHour, @p.endMin, 0, 0 ),
    color: '#FFFF75',
    allDay: false,
    activity: true,
    textColor: '#000000'
    });
  }

  @if(p.endHour.toInt >= 9) {
    myEvents.push({
    title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
    start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
    end: new Date(@p.endYear,@p.endMonth, @p.endDay, @p.endHour, @p.endMin, 0, 0 ),
    color: '#FFFF75',
    allDay: false,
    activity: true,
    textColor: '#000000'
    });
  } else {
    myEvents.push({
    title: 'Activities: @if(p.providerName != null) { @Html(escapeEcmaScript(p.providerName))} @if(p.contact != null) {\n @Html(escapeEcmaScript(p.contact))} ',
    start: new Date(@p.startYear,@p.startMonth,@p.startDay,@p.startHour,@p.startMin, 0, 0),
    end: new Date(@p.endYear,@p.endMonth, @p.endDay + 1, @p.endHour, @p.endMin, 0, 0 ),
    color: '#FFFF75',
    allDay: false,
    activity: true,
    textColor: '#000000'
    });
  }
  }
  }
  }

  $('#calendarTabHref').on('shown', function (e) {
    if (!calendarInitialized) {
    $('#calendar').fullCalendar({
      header: {
      left: 'prev,next ',
      center: 'title',
      right: ''
      },
      defaultDate:moment("@m.startMonth-@m.startDay- @m.startYear", "MM-DD-YYYY"),
      editable: false,
      events: myEvents,
      eventRender: function(event, element) {
      if (event.flight)
      $(element).prepend('<div><i class="fa fa-plane">&nbsp;Flight</i></div>');
      else if (event.hotel)
      $(element).prepend('<div><i class="fa fa-home">&nbsp;Hotel</i></div>');
      else if (event.transport)
      $(element).prepend('<div><i class="fa fa-road">&nbsp;Transfer</i></div>');
      else if (event.activity)
      $(element).prepend('<div><i class="fa fa-globe">&nbsp;Activity</i></div>');
      }
    });
    calendarInitialized = true;
    }
  });
}

var mapInitialized = false;

var myBookingLocations = new Array();
var myBookingLocationsPlot = new Array();
@if((m.bookingsLocations!=null && m.bookingsLocations.size > 0) || (m.documentLocations != null && m.documentLocations.size > 0)) {

  @if(m.bookingsLocations!=null && m.bookingsLocations.size > 0) {
    @for(pl <- m.bookingsLocations) {
      @if(pl.locStartLat != null && pl.locStartLong != null &&  pl.locStartLat != 0.0 && pl.locStartLong != 0.0) {
        @if(pl.detailsTypeId == null) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <div> @escapeEcmaScript(pl.name)</div>", id:"@pl.detailsId"});

        } else {
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
          @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
            myBookingLocations.push({latLng:[@pl.locFinishLat, @pl.locFinishLong], data:" <img BORDER='0' ALIGN='Left' width='32px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-plane-64-dgrey.png'></img> &nbsp; @escapeEcmaScript(pl.flightId) departs  @escapeEcmaScript(pl.departureAirport)<br/> &nbsp;"});
            myBookingLocationsPlot.push([@pl.locFinishLat, @pl.locFinishLong]);
          }
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-plane-64-dgrey.png'></img> &nbsp; @escapeEcmaScript(pl.flightId) arrives  @escapeEcmaScript(pl.arrivalAirport)<br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
        }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-hotel-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
        }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
          @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
            myBookingLocations.push({latLng:[@pl.locFinishLat, @pl.locFinishLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-cruise-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.cruise.name) <br/> &nbsp;@escapeEcmaScript(if(pl.cruise != null && pl.cruise.portArrive != null){pl.cruise.portArrive} else { pl.arriveCity})"});
          }

          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-cruise-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.cruise.name) <br/> &nbsp;Depart: &nbsp;@escapeEcmaScript(if(pl.cruise != null && pl.cruise.portDepart != null){pl.cruise.portDepart} else { pl.providerAddr2})", id:"@pl.detailsId"});
        }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-car-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
        }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-runner-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
        }
        @if(pl.detailsTypeId.getRootLevelType == ReservationType.TOUR) {
          myBookingLocations.push({latLng:[@pl.locStartLat, @pl.locStartLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='//static-umapped-com.s3.amazonaws.com/public/img/icons/um-bt-icon-runner-64-dgrey.png'></img> &nbsp;@escapeEcmaScript(pl.providerName) <br/> &nbsp;@escapeEcmaScript(pl.providerAddr2)", id:"@pl.detailsId"});
        }
        myBookingLocationsPlot.push([@pl.locStartLat, @pl.locStartLong]);

        @if(pl.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
            @if(pl.locFinishLat != null && pl.locFinishLong != null && pl.locFinishLat != 0.0 && pl.locFinishLong != 0.0) {
                myBookingLocationsPlot.push([@pl.locFinishLat, @pl.locFinishLong]);
              }
        }
        }
      }
    }
  }
  @if(m.documentLocations != null && m.documentLocations.size > 0) {
    @for(pl <- m.documentLocations) {
      @if(pl.locLat != null && pl.locLong != null &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
        myBookingLocations.push({latLng:[@pl.locLat, @pl.locLong], data:" <div> @escapeEcmaScript(pl.destinationName)<br/>@escapeEcmaScript(pl.name) </div>", id:"@pl.id"});
        if (myBookingLocationsPlot.length == 0) {
          myBookingLocationsPlot.push([@pl.locLat, @pl.locLong]);
        }
      }
    }
  }

$('#mapTabHref').on('shown', function (e) {
  if (!mapInitialized) {
    google.maps.event.trigger(map1, 'resize');
    $('#map1').gmap3({
    map:{
    options:{
    zoom: 12
    }
    },
    marker:{
    values:myBookingLocations,
    options:{
    draggable: false
    },
    events:{
    mouseover: function(marker, event, context){
    var map = $("#map1").gmap3("get"),
    infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
    if (infowindow){
    infowindow.open(map, marker);
    infowindow.setContent(context.data);
    } else {
    $("#map1").gmap3({
    infowindow:{
    anchor:marker,
    options:{content: context.data}
    }
    });
    }
    },
    mouseout: function(){
    var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
    if (infowindow){
    infowindow.close();
    }
    }
    }
    },
    autofit:{},
    polyline:{
    options:{
    strokeColor: "#FF0000",
    strokeOpacity: 0.8,
    strokeWeight: 1,
    path:myBookingLocationsPlot
    }
    }
    });
    mapInitialized = true;
  }

});
}
</script>


@views.html.trip.tripWizard(m.bookings.tripId, m.imgUrl, 4, m.accessLevel)

  <form id='destGuidesForm'>
    <input type="hidden" name="inTripId" value='@m.bookings.tripId'>
    @if(m.destinations != null && m.destinations.destinationList != null) {
      @for(i <- 0 until m.destinations.destinationList.length) {
        <input type="hidden" name="inDestId[@i]" value= '@m.destinations.destinationList(i).id'>
        }
    }
  </form>

<div class="">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" id="reviewTabs">

            <li @if(m.activeTab == null || (!m.activeTab.equals("Guides") && !m.activeTab.equals("Map"))) {class="active"}><a id="calendarTabHref" href="#calendarTab" data-toggle="tab"> <i class="fa fa-check pull-left"></i> Calendar</a></li>


            @if((m.destinations != null && m.destinations.destinationList != null) || (m.tripAttachments != null && m.tripAttachments.size() > 0)){
            <li @if(m.activeTab != null && m.activeTab.equals("Guides")) {class="active"}><a href="#guideTab" data-toggle="tab"> <i class="fa fa-book pull-left"></i> Documents</a></li>
            }
            @if((m.bookingsLocations!=null && m.bookingsLocations.size > 0) || (m.documentLocations != null && m.documentLocations.size > 0)) {
            <li @if(m.activeTab != null && m.activeTab.equals("Maps")) {class="active"}><a id="mapTabHref" href="#mapTab" data-toggle="tab"> <i class="fa fa-map-marker pull-left"></i> Map</a></li>
            }

        </ul>



        <div class="tab-content">
            <div id="calendarTab" @if(m.activeTab == null || (!m.activeTab.equals("Guides") && !m.activeTab.equals("Map"))) {class="tab-pane active"} else { class="tab-pane fade"}">
            @if(m.bookings ==null || ((m.bookings.activities == null || m.bookings.activities.size() == 0) && (m.bookings.hotels ==null || m.bookings.hotels.size() == 0) && (m.bookings.transfers ==null || m.bookings.transfers.size() == 0) && (m.bookings.flights ==null|| m.bookings.flights.size() == 0) && (m.bookings.cruises ==null|| m.bookings.cruises.size() == 0))){
            <h3 style="text-align:center"> NO BOOKINGS TO REVIEW </h3>
            }else {
                <a class="btn btn-info pull-right"  href="/trips/loadPdf?inTripId=@m.tripId" target="_blank">
                    <i class="fa fa-cloud-download"></i> Preview PDF
                </a>
                <div id='calendar'></div>
            }
             </div>

        @if((m.destinations != null && m.destinations.destinationList != null) || (m.tripAttachments != null && m.tripAttachments.size() > 0)){
        <div id="guideTab" @if(m.activeTab != null && m.activeTab.equals("Guides")) {class="tab-pane active" }else{class="tab-pane fade"}>
        <!--
        <div class="row-fluid">
            <div class="span11">
                <a href="#searchGuideModal" data-toggle="modal" class="btn btn-info btn-large pull-left"> Add a Document</a>
            </div>
        </div>
        -->
        @if((m.destinations == null || m.destinations.destinationList == null || m.destinations.destinationList.size() == 0) && (m.tripAttachments == null || m.tripAttachments.size() == 0)) {
            <h3 style="text-align:center"> NO DOCUMENTS TO REVIEW </h3>

        }

        @if(m.destinations != null && m.destinations.destinationList != null && m.destinations.destinationList.size() > 0) {
        <div class="row-fluid" style="">
            @for(v <- m.destinations.destinationList) {
            <div class="span3 well">
                <table class="tableNoBorder">
                    <body>
                    <tr>
                        <td style="text-align: center">
                            <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                                <h5> @v.name</h5>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">
                            <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                                @v.destinationTypeDesc
                                @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() > 0)) {
                                @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                                -  @v.city, @v.country
                                } else {
                                - @v.country
                                }
                                }
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
                            @if(v.coverUrl!=null) {
                              <img class="img-rounded span12" src="@v.coverUrl"></img>
                            } else {
                              <img class="img-rounded span12" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Cover Photo"/>
                            }
                            </a>


                        </td>
                    </tr>

                     <tr >
                        <td style="text-align: center">
                            <a style="margin-top: 5px" class="btn btn-info" href="/guide/loadPdf?inDestId=@v.id&inTripId=@m.tripId" target="_blank">
                                <i class="fa fa-cloud-download"></i> Preview PDF
                            </a>
                        </td>
                     </tr>
                    <!--
                    <tr>
                        <td>
                            <br/>
                            <a href="#deleteTripGuideModal_@v.id" data-toggle="modal" class="btn btn-danger pull-right"> Delete</a>
                        </td>
                    </tr>
                        -->
                    </body>

                </table>

            </div>
            }

        </div>
        <br/>
        }


        @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {


        <div style="">
            <div class="subTitle">
                UPLOADED FILES
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width:70%"> File</th>
                    <th style="width:20%"> Uploaded On</th>

                </tr>
                </thead>
                <tbody>
                @for(p <- m.tripAttachments) {
                <tr>
                    <td>
                        <a href="@p.attachUrl" target="_blank">
                            @if(p.attachType == "doc"){
                            <img src="@{m.imgUrl}/img/word_icon.png" width="48px">
                            } else {
                            @if(p.attachType == "pdf"){
                            <img src="@{m.imgUrl}/img/pdf_icon.png" width="48px">
                            } else {
                            <img src="@{m.imgUrl}/img/spacer.gif" width="48px">
                            }
                            }
                            @p.attachName
                        </a>
                        @if(p.comments != null && p.comments.length > 0) {
                        <br/><br/>
                        @p.comments
                        }
                    </td>
                    <td> @p.lastUpdateTimestampPrint</td>


                </tr>
                }

                </tbody>


            </table>
        </div>

        }

    </div>
    }

    @if((m.bookingsLocations!=null && m.bookingsLocations.size > 0) || (m.documentLocations != null && m.documentLocations.size > 0)) {
    <div @if(m.activeTab != null && m.activeTab.equals("Maps")) {class="tab-pane active" }else{ class="tab-pane fade"} id="mapTab">
    <div class="row-fluid" id="map_canvas">
        <div class="span12">
            <div id="map1" class="border "></div>
        </div>
    </div>
    <br/> <br/>
</div>
}

</div>
</div>


</div>

@if(m.destinations != null && m.destinations.destinationList != null){
<!-- Search guides modal -->
<div id="searchGuideModal" class="modal hide fade">
    <form id="searchGuideForm">
        <input type="hidden"  id='inTripId' name='inTripId' value="@m.tripId"/>
        <input type="hidden"  id='inDestIds' name='inDestIds' value="@if(m.destinations != null && m.destinations.destinationList != null) {@for(p <- m.destinations.destinationList) {@p.id,}}"/>


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add a Document</h3>
        </div>
        <div class="modal-body">
            <div class="well">
                <div class="row-fluid">
                    <div class="span9">
                        <label>Keyword</label>
                        <input type="text"  id='inKeyword' name='inKeyword' placeholder="keywords" class="input-block-level"/>
                    </div>
                </div>
                <div class="row-fluid">
                    @for(destinationType: GenericTypeView <- m.destinationTypeList) {
                    <label class="checkbox inline">
                        <input type="checkbox" id='type_@destinationType.id' value=@destinationType.id name='type_@destinationType.id' checked> @destinationType.name
                    </label>
                    }

                </div>
                <br/>
                <div class="row-fluid" >
                    <div class="span12 ">
                        <button type="submit" class="btn btn-success pull-right"  id="searchButton"
                                onclick="javascript:doSearchForm('guide/destinationSearch','searchGuideForm');return false;" >Search
                        </button>
                    </div>​
                </div>
            </div>
            <div id="searchResults">
                <div id="searchResultsTable">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


        </div>
    </form>
</div>

<!-- delete guides confirm modal -->
@if(m.destinations != null && m.destinations.destinationList != null){
@for(v <- m.destinations.destinationList) {

<script>
    $('#deleteTripGuideSubmit_@v.id').click(function() {
    $('#deleteTripGuideModal_@v.id').modal('hide');
    });
</script>

<div id="deleteTripGuideModal_@v.id" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">

        <p>Delete this document?</p>


    </div>
    <div class="modal-footer">
        <form id="deleteTripGuideForm_@v.id">
            <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
            <input type="hidden" id="inDestId" name="inDestId" value=@v.id>

            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-danger " id="deleteTripGuideSubmit_@v.id"
                    onclick="javascript:postForm('/trips/newTrip/deleteGuide', 'deleteTripGuideForm_@v.id');return false;">Delete
            </button>
        </form>
    </div>
</div>
}
}

<div id="dynamicModal">
</div>
        }


</div>
<--endPageBody-->
