@(v: com.mapped.publisher.view.RecentActivityView)


@if(v != null && v.auditEvents != null) {
  @for(auditEvent <- v.auditEvents) {
    <tr>
      <td>@v.getTime(auditEvent)</td>
      <td>@v.getAgentName(auditEvent)</td>
      <td>@v.getAction(auditEvent)</td>
      <td>@v.getDescription(auditEvent)</td>
      <td><a class="btn btn-info" onclick="javascript : getPage ( '@v.getEventReviewUrl(auditEvent)');">Details</a></td>
    </tr>
  }

  <tr id="moreRowBtn">
  @if(v.hasMore){

    <td> <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/trips/audit/recentActivity?tripId=@v.tripModel.tripid&inStartPos=@v.nextStartPos&inMaxResults=@v.nextMaxResults',
    'recentActivityTable');">More Activities</a></td>
  }
  </tr>
} else {
  <tr>
    <td colspan="5">
      <h4>No Recent Trip Activity Found</h4>
    </td>
  </tr>
}

