@(v: com.mapped.publisher.view.RecentActivityView)


<div class="">
  <div class="subTitle">RECENT TRIP ACTIVITY</div>
  <table id="recentActivityTable" class="table table-hover">
    <thead>
      <tr><th>Date and Time</th><th>Agent</th><th>Action</th><th>Description</th><th>Review Item</th></tr>
    </thead>
    <tbody>
    @if(v != null) {
      @views.html.trip.recentActivityRecords.render(v)
    }
    </tbody>
  </table>
</div>



