@(v: com.mapped.publisher.view.RecentActiveTripsView)

@* Generates table data for a variety of trip types *@

@if(v.activeTrips != null && v.activeTrips.size() > 0) {

  @for(t <- v.activeTrips) {
    <tr style="height: 62px">
        <td>
        @if(t.tripCoverUrl!=null && t.tripCoverUrl.length > 0) {
            <div style="background-image:url(@t.tripCoverUrl);center;width:62px;height:62px;margin:auto;background-size:cover;" >
                    &nbsp;
            </div>
        } else {
            <div style="background-image:url(@v.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                    &nbsp;
            </div>
        }
        </td>
      <td style="vertical-align: middle">
          @if(t.status >= 0) {
            <a onclick="javascript:activateTopMenu('mainMenuDashboard');javascript:getPage('@controllers.routes.TripController.tripInfo(t.tripid)');">
              <h5>
                @t.name
              </h5>
            </a>
          } else {
              <h5>
                  @t.name
              </h5>
          }
      </td>
      <td style="vertical-align: middle">@v.getDate(t)</td>
      <td style="vertical-align: middle">@t.numEvents updates by
        @if(t.numUsers == 1) {
          one agent.
        } else {
          @{t.numUsers} agents.
        }
      </td>
      @if(t.status < 0) {
        <td style="vertical-align: middle">
            <p class="pull-right"><em>DELETED</em></p>
        </td>
      } else {
        <td style="vertical-align: middle">
            <a class="btn btn-info pull-right" onclick="javascript:activateTopMenu('mainMenuDashboard');javascript:getPage('@controllers.routes.TripController.tripInfo(t.tripid)');">
                Edit
            </a>
        </td>
        }
    </tr>
  }

} else {
  <tr>
    <td colspan="5">
    @if(v.daysAgo == 1 ){
      <h5> No trip activity found in the last 24 hours</h5>

    } else {
      <h5> No trip activity found in the preceeding @v.daysAgo days</h5>
    }
    </td>
  </tr>
}

  <tr id="@{v.tableName}MoreRowBtn">
    <td colspan="5">
      <a onclick="javascript:$('#@{v.tableName}MoreRowBtn').remove();javascript:getSearchResult('/trips/audit/recentActiveTrips?searchType=@v.searchType.toString()&daysAgo=@v.daysAgo&inTableName=@v.tableName', '@{v.tableName}Activity');" >Load More</a>
    </td>
  </tr>
