@(m:  com.mapped.publisher.view.TripReviewView)
@import com.mapped.publisher.view.GenericTypeView
@import controllers.WebItineraryApiController

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    @if(m!= null) {
    <h3> @m.tripName | @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
    }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        $(document).ready(function() {
	        $('.p-toggle1').change(function(){
		        $(this).parents().next('.hide').toggle();
	        });
        });
        $(document).ready(function() {
	        $('.p-toggle2').change(function(){
		        $(this).parents().next('.hide').toggle();
	        });
        });

        $(document).ready(function() {
	        $('.p-toggle3').change(function(){
		        $(this).parents().next('.hide').toggle();
	        });
        });


      function previewEmail(passengerId, groupId) {
        var url = '/previewEmail/@m.tripId' + '/' + passengerId +  '?inGroupId=' + groupId + '&inLang=en';

      $('#emailPreviewLink' ).attr('href', '@m.url' +  url);
      $('#emailPreviewiFrame').attr('src', url);

        $('#previewEmailModal').modal('show');
      }

      function viewArchivedEmail(pk) {
          var url = '/email/trip/archive/' + pk;

          $('#emailPreviewLink' ).attr('href', '@m.url' +  url);
          $('#emailPreviewiFrame').attr('src', url);

          $('#previewEmailModal').modal('show');
      }


    $('#inEmail').autocomplete({
    source: "@controllers.routes.TripController.travelerAutocomplete()",
    minLength: 3,
    select: function (event, ui) {
      var obj = jQuery.parseJSON(ui.item.id);

      $("#inEmail").val(ui.item.label);
      $("#inFirstName").val(obj.firstName);
      $("#inLastName").val(obj.lastName);
      $("#inMSISDN").val(obj.msisdn);
      return false;
    },
    response: function (event, ui) {
      $("#targetTripId").val("");

      }
    });
    </script>
    @if(m.tripBranding != null && m.tripBranding.size() > 0) {
        <script>
            function toggleTripBranding(cmpyid) {
                var isChecked = $('#brandingEnable'+cmpyid).is(':checked');
                if (isChecked) {
                    //enable the main brand radio
                    $('#brandingMain'+cmpyid).prop("disabled", false);
                    doPost('/trips/toggleBranding?inTripId=@m.tripId&inCmpyId='+cmpyid+'&inEnabled='+isChecked);

                } else {
                    //if this is the main brand, return error message
                    var isMain = $('#brandingMain'+cmpyid).is(':checked');
                    if (isMain) {
                        $('#brandingEnable'+cmpyid ).attr("checked", true);
                        alert('This company is the primary contact and cannot be disabled.');
                        return;
                    } else {
                        $('#brandingMain'+cmpyid).prop("disabled", true);
                        doPost('/trips/toggleBranding?inTripId=@m.tripId&inCmpyId='+cmpyid+'&inEnabled='+isChecked);
                    }

                }
            }



            function makeMainBrand (cmpyid) {
                var isChecked = $('#brandingMain'+cmpyid).is(':checked');
                doPost('/trips/toggleMainBrand?inTripId=@m.tripId&inEnabled=true&inCmpyId='+cmpyid);

            }
        </script>
    }

    @if(m.groups != null && m.groups.size() > 0) {
    <script>
        $(document).ready(function(){
            $('#travelGroups').change(function(){
                getPage('/tours/newTour/publish?inGroupId='+$('#travelGroups').val());
            });
        });
    </script>
    }


  @views.html.trip.tripWizard(m.tripId, m.imgUrl, 5, m.accessLevel)


  <div class="row-fluid">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="emailTabs" >
        <li class="active">
          <a href="#travelerTab" data-toggle="tab"> <i class="fa fa-user pull-left"></i> &nbsp; Publish to Travelers </a>

        </li>
        @if(m.collaborationEnabled) {
          <li>
            <a id="shareBtn" href="#collaborateTab" data-toggle="tab"> <i class="fa fa-group pull-left"></i> &nbsp; Share with Travel Professionals </a>
          </li>
        }
      </ul>
      </div>
    </div>
  <div class="tab-content" style="overflow: visible;">


  @if(m.collaborationEnabled) {
  <div id="collaborateTab" class="tab-pane ">
      <!-- Trip Collaboration -->
    @views.html.trip.collaborate.collaborators(m.collabView, controllers.routes.TourController.reviewTour().toString().concat("?tripId=").concat(m.tripId), "review")
      <!-- END Trip Collaboration -->

       <!-- collaboration -->
     <div class="">
       <div class="row-fluid">
         <legend> CO-BRANDING</legend>

       </div>
       @if(m.tripBranding != null && m.tripBranding.size() > 1) {
         <p style="text-align:left" class="muted"> Select the brand(s) that will appear to the travelers and set the primary contact for this trip itinerary. <br/> </p>
         <table class="table table-stripped">
           <thead>
             <tr>
               <th style="width: 100px">Company</th>
               <th style="width: 100px"></th>

               <th style="width: 50px;text-align: center;">Show/Hide</th>
               <th style="width: 50px;text-align: center;">Primary Contact</th>

             </tr>
           </thead>
           @for(p <- m.tripBranding) {
             <tr style="padding-bottom: 10px">
               <td style="width: 100pxl; vertical-align: middle">
               @p.cmpyName
               </td>
               <td style="width: 100px">
               @if(p.cmpyLogoUrl != null && p.cmpyLogoUrl.length > 0){ &nbsp <img src="@p.cmpyLogoUrl" alt="@p.cmpyName Logo" style="width: 70px;margin-top: 5px">}
               </td>
               <td style="text-align: center;width: 50px">
                 <input type="checkbox" name="brandingEnable@p.cmpyId" id="brandingEnable@p.cmpyId" value="Y" @if(p.isEnabled){checked} onchange="javascript:toggleTripBranding('@p.cmpyId')"><br>

               </td>
               <td style="text-align: center;width: 50px">
                 <input type="radio" name="brandingMain" id="brandingMain@p.cmpyId" value="Y" @if(p.isMainBrand){checked} @if(!p.isEnabled){disabled} onchange="javascript:makeMainBrand('@p.cmpyId')"><br>

               </td>
             </tr>
           }
         </table>
       } else {
         <p style="text-align:left" class="muted">
           Your trip itinerary can be co-branded to display your profile as well as that of the travel professional(s) that you are collaborating with.
           You can select who should be the primary contact and whether or not to hide a specific brand, including your own.<br/>
          <ul>
            <li class="muted">
           The co-branding feature is available for both Umapped members and non-members. Non-members are invited to create a free account and upload their branded profile information.
            </li>
            <li class="muted">
            The user who created the trip itinerary is the only one that can manage co-branding. Co-ordinate with your collaborators to decide how you would like your shared trip itinerary to be branded.
           </li>
         </ul>
       </p>
       }
     </div>
    </div>
  }



<div id="travelerTab" class="tab-pane active">
    <div>


      <div class="row-fluid" style="padding-bottom:30px">
        <div class="span6">
          <label>Travel Group: </label>
          <select id="travelGroups" name="inGroupId" <!--class="input-block-level"-->>
            <option value="" @if(m.groupId == null || m.groupId.trim().length == 0) {
              selected="Y"}>Travelers (Default)</option>
          @if(m.groups != null) {
            @for(p <- m.groups) {
              <option value="@p.groupId" @if(m.groupId != null && m.groupId.equals(p.groupId)) {
                selected="Y"}> @p.groupName </option>
            }
          }

          </select>
        </div>

        <div class="span6 pull-right">
          <label>&nbsp; </label>
          @if(m.groupId != null && m.groupId.trim().length > 0){
            <a href="#deleteGroupModal" data-toggle="modal" class="btn btn-danger  btn-large pull-right " style="margin-left:10px; margin-right:10px">Delete Group</a>
          }
          <a href="#addGroupModal" data-toggle="modal" class="btn btn-primary btn-large pull-right"> <i class="fa fa-plus"></i>&nbsp;New Group</a>

        </div>

      </div>

      <br/>
      <legend>
        Travel Group - @if(m.groupName == null || m.groupName.trim().length == 0){DEFAULT} else {@m.groupName}
      </legend>

      <div class="row">
        <div class="span2 offset8">
          @if(m.publishList != null && m.publishList.size() > 0) {
              <a class="btn btn-info btn-large input-block-level" href="@routes.WebItineraryController.index(m.compositeId)" target="_blank">Preview Web Itinerary</a>
          }
        </div>
        <div class="span2"><a id="publishTripBtn" href="#publishTripModal" data-toggle="modal" class="btn btn-success btn-large input-block-level"> @if(m.tripStatus != 0){Publish Trip} else {Re-Publish Trip}</a></div>
      </div>



        <div class="" style="margin-top: 20px">

        @if(m.agents != null && m.agents.size() > 0){

          <div class="row-fluid">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="emailTabs" >
                    <li class="active">
                        <a href="#passengerTab" data-toggle="tab"> <i class="fa fa-user pull-left"></i> &nbsp; Travelers @if(m.passengers != null && m.passengers.size() > 0){&nbsp; (@m.passengers.size()) } else{ &nbsp;(0) }</a>
                    </li>
                    <li>
                        <a href="#agentTab" data-toggle="tab"> <i class="fa fa-share-alt pull-left"></i> &nbsp; Travel Agents @if(m.agents != null && m.agents.size() > 0){&nbsp; (@m.agents.size()) } else{ &nbsp;(0) }</a>
                    </li>
                </ul>

            <div class="tab-content">
                <div id="passengerTab" class="tab-pane active">
                    <fieldset><legend> Travelers</legend>  </fieldset>
                    <form id="tripPassengerForm">
                        <input type="hidden" id="inTripId" value="@m.tripId" name="inTripId">
                        <input type="hidden" id="inGroupId" value="@m.groupId" name="inGroupId">
                        <div class="row-fluid">
                            <div class="span4">
                                <label>Name <em>*</em> </label>
                                <input type="text" class="input required input-block-level" placeholder="Traveler's Name" id="inName" name="inName">
                            </div>
                            <div class="span4">
                                <label>Email <em>*</em> </label>
                                <input type="text" class="input required email input-block-level" placeholder="Traveler's Email" id="inEmail1" name="inEmail">
                            </div>
                            <div class="span4 pull-right">
                                <label>&nbsp; </label>
                                <button  type="submit" class="btn btn-primary btn-large pull-right"
                                    onclick="javascript:postForm('/tours/newTour/reviewAddPassenger', 'tripPassengerForm');return false;">Add Traveler
                                </button>
                            </div>
                        </div>
                    </form>

                    @if(m.passengers != null && m.passengers.size() > 0) {
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th style="width:30%"> NAME</th>
                                <th style="width:30%">EMAIL</th>
                                <th style="width:20%">NOTE</th>
                                <th style="width:20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(p <- m.passengers) {
                            <tbody>
                                <tr>
                                    <td style="width:5%">
                                        @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.email) != null && m.tripEmailLogs.get(p.email).size() > 0) {
                                            <label for="@p.name" style="cursor: pointer"><i class="fa fa-envelope" style="color: #00b4ff;"></i>
                                            <input class="p-toggle1" type="checkbox" name="@p.name" id="@p.name" data-toggle="toggle" style="display:none;"></label>
                                        }
                                    </td>
                                    <td style="width:30%">@p.name</td>
                                    <td style="width:30%">@p.email</td>
                                    <td style="width:20%">
                                    @if(p.isUmappedUser){
                                        Registered Mobile User
                                    } else {
                                        Not a registered Mobile user
                                    }
                                    </td>
                                    <td style="width:20%"  >
                                      <a role="button" class="btn btn-info" onclick="javascript:previewEmail('@p.id','@m.groupId');return false;" >Preview Email</a>
                                      &nbsp;
                                      <a href="#deletePassengerModal@p.id" role="button" class="btn btn-danger" data-toggle="modal">Remove</a>

                                    </td>
                                </tr>
                            </tbody>
                            @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.email) != null && m.tripEmailLogs.get(p.email).size() > 0) {
                                <tbody class="hide" style="background-color:#fff; margin-bottom: 20px;">
                                    <tr>
                                        <td style="background-color:#fff;"></td>
                                        <td style="background-color:#fff;" colspan="5">
                                            <table class="table" style="background-color:#fff;font-style:italic;font-size: 12px;">
                                                <thead>
                                                <tr style="background-color:#fff;">
                                                    <th style="background-color:#fff;width:25%;font-size: 12px;">EMAIL SENT ON</th>
                                                    <th style="background-color:#fff;width:15%;font-size: 12px;">STATUS</th>
                                                    <th style="background-color:#fff;width:30%;font-size: 12px;">STATUS UPDATED AT</th>
                                                    <th style="background-color:#fff;width:15%;font-size: 12px;">EMAIL OPEN COUNT</th>
                                                    <th style="background-color:#fff;width:15%;font-size: 12px;">CLICK COUNT</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                @for(e <- m.tripEmailLogs.get(p.email)) {
                                                <tr style="background-color:#fff;font-weight: 400;">
                                                    <td style="background-color:#fff;width:25%">@e.sentTs</td>
                                                    <td style="background-color:#fff;width:15%">@e.status</td>
                                                    <td style="background-color:#fff;width:30%">@e.timestamp</td>
                                                    <td style="background-color:#fff;width:15%">@e.openCounter</td>
                                                    <td style="background-color:#fff;width:15%">@e.clickCounter</td>
                                                </tr>
                                                }
                                                <tr style="background-color:#fff;font-weight: 400;">
                                                    <td colspan="5" style="background-color:#fff;"> <div style="padding-top:10px;">Web Itinerary was clicked <b>@p.webItineraryStats.clicks</b> times.
                                                        @if(p.webItineraryStats.firstClick != null || p.webItineraryStats.lastClick != null){
                                                            First clicked at: <b>@p.webItineraryStats.firstClick</b> and Last clicked at:  <b>@p.webItineraryStats.lastClick</b>.
                                                        }else{
                                                            @if(p.webItineraryStats.firstClick != null) {First clicked at: <b>@p.webItineraryStats.firstClick</b>.}
                                                            @if(p.webItineraryStats.lastClick != null) {Last clicked at:  <b>@p.webItineraryStats.lastClick</b>.} </div></td>
                                                        }
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        }
                        </tbody>
                     </table>
                    } else {
                     <h3> NO TRAVELERS ADDED</h3>
                    }
                </div> <!-- passenger Tab-->
            @if(m.agents != null && m.agents.size() > 0){

                <div id="agentTab" class="tab-pane">
                    <fieldset><legend> Travel Agents</legend>  </fieldset>
                    <p>
                        Once the trip is published or sent for review, the travel agent(s) will receive an email notification with a link to the trip information on the web.  <br/>
                        The travel agent(s) can forward/email the same web link to their clients; their clients can access their trip information on the web and/or register to receive their itinerary on the mobile App.
                        <br/> <br/>
                        This functionality has been move to the new Umapped Collaborator feature - to invite an agent, please add them as a collaborator.
                    </p>


                    @if(m.agents != null && m.agents.size() > 0) {
                        <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th style="width:30%"> NAME</th>
                                <th style="width:30%">EMAIL</th>
                                <th style="width:10%"></th>
                            </tr>
                            </thead>
                            <tbody>
                                @for(p <- m.agents) {
                                    <tbody>
                                        <tr>
                                            <td style="width:5%">
                                                @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.agentEmail) != null && m.tripEmailLogs.get(p.agentEmail).size() > 0) {
                                                    <label for="@p.agentName" style="cursor: pointer"><i class="fa fa-envelope" style="color: #00b4ff;"></i>
                                                    <input class="p-toggle2" type="checkbox" name="@p.agentName" id="@p.agentName" data-toggle="toggle" style="display:none;"></label>
                                                }
                                            </td>
                                            <td style="width:30%">@p.agentName</td>
                                            <td style="width:30%">@p.agentEmail</td>

                                            <td style="width:10%">
                                                <a href="#deleteAgentModal@p.pk" role="button" class="btn btn-danger pull-right" data-toggle="modal">Remove</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.agentEmail) != null && m.tripEmailLogs.get(p.agentEmail).size() > 0) {
                                        <tbody class="hide" style="background-color:#fff; margin-bottom: 20px;">
                                            <tr>
                                                <td style="background-color:#fff;"></td>
                                                <td style="background-color:#fff;" colspan="5">
                                                    <table class="table" style="background-color:#fff;font-style:italic;font-size: 12px;">
                                                        <thead>
                                                        <tr style="background-color:#fff;">
                                                            <th style="background-color:#fff;width:25%;font-size: 12px;">EMAIL SENT</th>
                                                            <th style="background-color:#fff;width:15%;font-size: 12px;">STATUS</th>
                                                            <th style="background-color:#fff;width:30%;font-size: 12px;">STATUS UPDATED</th>
                                                            <th style="background-color:#fff;width:15%;font-size: 12px;">OPEN COUNT</th>
                                                            <th style="background-color:#fff;width:15%;font-size: 12px;">CLICK COUNT</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for(e <- m.tripEmailLogs.get(p.agentEmail)) {
                                                        <tr style="background-color:#fff;font-weight: 400;">
                                                            <td style="background-color:#fff;width:25%">@e.sentTs</td>
                                                            <td style="background-color:#fff;width:15%">@e.status</td>
                                                            <td style="background-color:#fff;width:30%">@e.timestamp</td>
                                                            <td style="background-color:#fff;width:15%">@e.openCounter</td>
                                                            <td style="background-color:#fff;width:15%">@e.clickCounter</td>
                                                        </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                            </tbody>
                        </table>
                    } else {
                        <h3> NO TRAVEL AGENTS ADDED</h3>
                    }
                </div> <!-- passenger Tab-->
              }

            </div> <!-- Tab Content-->
            </div> <!-- Tabbable-->

        </div> <!-- row-->
        } else { <!-- no passenger tabs -->
          <div class="row-fluid">
            <div id="passengerTab" class="">
              <fieldset><legend> Travelers @if(m.passengers != null && m.passengers.size>0){<span class="badge badge-success">@m.passengers.size()</span>}</legend>  </fieldset>

              <form id="tripPassengerForm">
                <input type="hidden" id="inTripId" value="@m.tripId" name="inTripId">
                <input type="hidden" id="inGroupId" value="@m.groupId" name="inGroupId">
                <div class="row-fluid">
                  <div class="span4">
                    <label>Email <em>*</em> </label>
                    <input type="text" class="input required email input-block-level" placeholder="Traveler's Email" id="inEmail" name="inEmail">
                  </div>
                  <div class="span2">
                    <label>First Name <em>*</em> </label>
                    <input type="text" class="input required input-block-level" placeholder="Traveler's First Name" id="inFirstName" name="inFirstName">
                  </div>
                  <div class="span2">
                    <label>Last Name <em>*</em> </label>
                    <input type="text" class="input required input-block-level" placeholder="Traveler's Last Name" id="inLastName" name="inLastName">
                  </div>

                  <div class="span2">
                    <label>Mobile Phone Number</label>
                    <input type="text" class="input phone input-block-level" placeholder="Traveler's Mobile Phone" id="inMSISDN" name="inMSISDN">
                  </div>
                  <div class="span2">
                    <label>&nbsp; </label>
                    <button id="addTravelerBtn" type="submit" class="btn btn-primary input-block-level"
                    onclick="javascript:postForm('/tours/newTour/reviewAddPassenger', 'tripPassengerForm');return false;">Add Traveler
                    </button>
                  </div>
                </div>
              </form>

              @if(m.passengers != null && m.passengers.size() > 0) {
                <table class="table table-striped table-condensed" style="border-collapse:collapse;">
                  <thead>
                    <tr>
                      <th style="width:5%"></th>
                      <th style="width:20%">NAME</th>
                      <th style="width:20%">EMAIL</th>
                      <th style="width:15%">MOBILE</th>
                      <th style="width:20%">NOTE</th>
                      <th style="width:20%"></th>
                    </tr>
                  </thead>
                  <tbody>
                      @for(p <- m.passengers) {
                        <tbody>
                            <tr>
                              <td style="width:5%">
                                  @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.email) != null && m.tripEmailLogs.get(p.email).size() > 0) {
                                      <label for="@p.name" style="cursor: pointer"><i class="fa fa-envelope" style="color: #00b4ff;"></i>
                                      <input class="p-toggle3" type="checkbox" name="@p.name" id="@p.name" data-toggle="toggle" style="display:none;"></label>
                                  }
                              </td>
                              <td style="width:20%">@p.name</td>
                              <td style="width:20%">@p.email</td>
                              <td style="width:15%">@p.msisdn</td>
                              <td style="width:20%">
                              @if(p.isUmappedUser){
                                Registered Mobile User
                              } else {
                                Not a registered Mobile user
                              }
                              </td>
                              <td style="width:20%">
                                <a role="button" class="btn btn-info" onclick="javascript:previewEmail('@p.id','@m.groupId');return false;" >Preview Email</a>
                                &nbsp;
                                <a href="#deletePassengerModal@p.id" role="button" class="btn btn-danger" data-toggle="modal">Remove</a>
                              </td>
                            </tr>
                        </tbody>
                          @if(m.tripEmailLogs != null && m.tripEmailLogs.get(p.email) != null && m.tripEmailLogs.get(p.email).size() > 0) {
                            <tbody class="hide" style="background-color:#fff; margin-bottom: 20px;">
                                <tr>
                                    <td style="background-color:#fff;"></td>
                                    <td style="background-color:#fff;" colspan="5">
                                      <table class="table" style="background-color:#fff;font-style:italic;font-size: 12px;">
                                          <thead>
                                          <tr style="background-color:#fff;">
                                              <th style="background-color:#fff;width:25%;font-size: 12px;">EMAIL SENT ON</th>
                                              <th style="background-color:#fff;width:15%;font-size: 12px;">STATUS</th>
                                              <th style="background-color:#fff;width:30%;font-size: 12px;">STATUS UPDATED AT</th>
                                              <th style="background-color:#fff;width:15%;font-size: 12px;">EMAIL OPEN COUNT</th>
                                              <th style="background-color:#fff;width:15%;font-size: 12px;">CLICK COUNT</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          @for(e <- m.tripEmailLogs.get(p.email)) {
                                          <tr style="background-color:#fff;font-weight: 400;">
                                              <td style="background-color:#fff;width:25%">@e.sentTs @if(e.archived){&nbsp;&nbsp; <a  onclick="javascript:viewArchivedEmail('@e.pk');return false;" >View Email</a>}</td>
                                              <td style="background-color:#fff;width:15%">@e.status</td>
                                              <td style="background-color:#fff;width:30%">@e.timestamp</td>
                                              <td style="background-color:#fff;width:15%">@e.openCounter</td>
                                              <td style="background-color:#fff;width:15%">@e.clickCounter</td>
                                          </tr>
                                          }
                                          <tr style="background-color:#fff;font-weight: 400;">
                                            <td colspan="5" style="background-color:#fff;"> <div style="padding-top:10px;">
                                              @if(p.webItineraryStats.clicks > 0) {
                                                Web Itinerary accessed <b>@p.webItineraryStats.clicks</b> times.
                                                @if(p.webItineraryStats.firstClick != null && p.webItineraryStats.lastClick != null) {
                                                  First accessed on <b>@p.webItineraryStats.firstClick</b> @if(p.webItineraryStats.firstClick != p.webItineraryStats.lastClick) {and last accessed on <b>@p.webItineraryStats.lastClick</b>.}
                                                }else{
                                                   @if(p.webItineraryStats.firstClick != null) {First accessed on <b>@p.webItineraryStats.firstClick</b>.}
                                                   @if(p.webItineraryStats.lastClick != null) {Last accessed on <b>@p.webItineraryStats.lastClick</b>.} </div>
                                                }
                                              }
                                            </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                    </td>
                                </tr>
                            </tbody>
                          }
                      }
                  </tbody>
                </table>
              } else {
                <h3> NO TRAVELERS ADDED</h3>
              }
            </div> <!-- passenger Tab-->
           </div>

        }

        </div> <!-- well-->
        <br/>
    </div>
  </div> <!-- passenger tab-- >
    </div> <!-- end tabbable-->
  </div> <!-- end tab-->

    <!-- modal for publish -->
    <script>
        $('#publishTripSubmit').click(function() {
          $('#publishTripModal').modal('hide');
        });
    </script>

    <div id="publishTripModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Publish Trip</h3>
        </div>
        <form id="publishTripForm">

        <div class="modal-body">
               <div class="row-fluid">
                   <p>
                       When you publish this trip, an email notification will be sent to all the travelers and collaborators with a link to the
                       @if(m.publishList != null && m.publishList.size() > 0) {
                           <a href="@routes.WebItineraryController.index(m.compositeId)"  target="_blank"> online itinerary  </a>
                       } else {online itinerary} and the mobile app. <br><br>
                      </p>
                   <br/>
                   <label> Note:</label>
                   <textarea id="inComments" class="field span12" rows="3" name="inComments"></textarea>
                   <input type="hidden" id="inTripId" value="@m.tripId" name="inTripId">
                   <input type="hidden" id="inGroupId" value="@m.groupId" name="inGroupId">
                   @if(m.tripStatus != 0){
                       <br/>
                       <label class="radio"><input type="radio" name="inPublish" value="Y" checked>Publish an interactive version of this trip<br></label>
                           <label class="radio"><input type="radio" name="inPublish" value="">Publish a read only version of this trip<br></label>
                     Tip: Publish as read-only for a proposal or before the trip is confirmed - the Trip will remain in Pending status <br/>


                   } else {
                    <input type="hidden" id="inPublish" value="Y" name="inPublish">
                   }

                   @if(m.publishList == null || m.publishList.size() == 0) {
                       <input type="hidden" id="inSkipTravellerEmail" name="inSkipTravellerEmail" value="false">
                   } else {
                       @if(m.passengers != null && m.passengers.size() > 0) {
                           <br/>
                           <p>AUTOMATED TRAVELER NOTIFICATION:</p>

                           <label class="radio"> <input type="radio" name="inSkipTravellerEmail" value="true" checked>Do Not Send Email Notification to Travelers<br></label>
                           <label class="radio">   <input type="radio" name="inSkipTravellerEmail" value="false">Send Notification Email to Travelers<br></label>

                       } else {
                           <input type="hidden" id="inSkipTravellerEmail" name="inSkipTravellerEmail" value="false">
                       }

                   }
                   <br/>
                   <p>
                       If you don't have the email addresses of the travelers, check the box below "Allow Self-Registration for Mobile". The travelers will be able to register and access the trip on the mobile app via the web link.
                   </p>
                   <label class="checkbox">
                       <input type="checkbox" name="inAllowSelfRegistration" value="Y" @if(m.allowSelfRegistration || m.publishList == null || m.publishList.size() == 0){checked}> ALLOW SELF-REGISTRATION FOR MOBILE
                   </label>


               </div>
        </div>
        <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="publishTripSubmit"
                        onclick="javascript:postForm('/trips/newTrip/review','publishTripForm');return false;">Publish
                </button>
        </div>
        </form>
    </div>



    <!--modal to delete passengers -->
    <!-- generate modal for each passengger -->
    @if(m.passengers != null && m.passengers.size() > 0) {
        @for(p <- m.passengers) {
            <script>
                $('#deletePassengerSubmit@p.id').click(function() {
                    $('#deletePassengerModal@p.id').modal('hide');
                });
            </script>

            <div id="deletePassengerModal@p.id" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Delete @p.name</h3>
            </div>
            <div class="modal-body">
                <p>Remove @p.name from this trip?</p>
            </div>
            <div class="modal-footer">
                <form id="deletePassengerForm@p.id">
                    <input type="hidden" id="tripId" name="inTripId" value=@m.tripId>
                    @if(m.groupId != null && m.groupId.trim().length() > 0){
                        <input type="hidden" id="inGroupId" name="inGroupId" value="@m.groupId">
                    }

                    <input type="hidden" id="passengerId" name="inPassengerId" value=@p.id>
                    <input type="hidden" id="email" name="inEmail" value=@p.email>


                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-danger " id="deletePassengerSubmit@p.id"
                        onclick="javascript:postForm('/tours/newTour/reviewDeletePassenger', 'deletePassengerForm@p.id');return false;">Delete
                    </button>
                </form>
            </div>
            </div>

        }
    }

    <!-- generate modal for each passengger -->
    @if(m.agents != null && m.agents.size() > 0) {
    @for(p <- m.agents) {
    <script>
        $('#deleteAgentSubmit@p.pk').click(function() {
        $('#deleteAgentModal@p.pk').modal('hide');
        });
    </script>

    <div id="deleteAgentModal@p.pk" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Remove Travel Agent</h3>
        </div>
        <div class="modal-body">
            <p>Remove @p.agentName from this trip?</p>
        </div>
        <div class="modal-footer">
            <form id="deleteAgentForm@p.pk">
                <input type="hidden" id="tripId" name="inTripId" value=@m.tripId>
                @if(m.groupId != null && m.groupId.trim().length() > 0){
                <input type="hidden" id="inGroupId" name="inGroupId" value="@m.groupId">
                }

                <input type="hidden" id="inTripAgentId" name="inTripAgentId" value=@p.pk>


                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteAgentSubmit@p.pk"
                        onclick="javascript:postForm('/tours/newTour/removeAgent', 'deleteAgentForm@p.pk');return false;">Delete
                </button>
            </form>
        </div>
    </div>

    }
    }



    <!-- modal to add a group -->
    <script>
        $('#addGroupSubmit').click(function() {
        $('#addGroupModal').modal('hide');
        });
    </script>

    <div id="addGroupModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>New Group of Travelers</h3>
        </div>
        <form id="addGroupForm">

            <div class="modal-body">
                <div class="row-fluid">
                    <p>You can add a new group of travelers for this trip. All the travelers in this group will share the same trip on their mobile.</p>
                    <br/>
                    <input type="hidden" id="inTripId" value="@m.tripId" name="inTripId">
                    <label> Group Name<em>*</em>:</label>
                    <input type="text" class="input required input-block-level" placeholder="Group Name" id="inName" name="inName">

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="addGroupSubmit"
                        onclick="javascript:postForm('/tours/newTour/addGroup','addGroupForm');return false;">Add Group
                </button>
            </div>
        </form>
    </div>

    <!-- modal to delete a group -->
    <script>
        $('#deleteGroupSubmit').click(function() {
        $('#deleteGroupModal').modal('hide');
        });
    </script>

    <div id="deleteGroupModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Delete Travel Group - @m.groupName</h3>
        </div>
        <form id="deleteGroupForm">

            <div class="modal-body">
                <div class="row-fluid">
                    <p> All the travelers in @m.groupName will no longer have access to this trip.</p>
                    <br/>
                    <input type="hidden" id="inTripId" value="@m.tripId" name="inTripId">
                    <input type="hidden" id="inGroupId" value="@m.groupId" name="inGroupId">


                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="deleteGroupSubmit"
                        onclick="javascript:postForm('/tours/newTour/deleteGroup','deleteGroupForm');return false;">Delete Group
                </button>
            </div>
        </form>
    </div>


    <!-- modal preview new web itinerary -->
  <script>
    $('#newItineraryPreview').click(function() {
      $('#newItineraryPreview').modal('hide');
    });
  </script>

  <div id="newItineraryPreview" class="modal  container hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Umapped Progressive Web Itinerary</h3>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="span12">
            <p>Umapped has developed next generation web itinerary currently available for evaluation. This is not a default itinerary.
              We welcome your feedback.</p>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="span3 offset3">
            <a class="btn btn-success btn-large input-block-level" target="_blank" href="@WebItineraryApiController.getItineraryUrl(m.tripId)">Visit Itinerary</a>
          </div>
          <div class="span3">
            <a class="btn btn-info btn-large input-block-level" target="_blank" href="https://docs.google.com/forms/d/1J9hN-CCq-aG7m0NuIMKjXFRAX8_5fMO0w9-VnmbTpBI/viewform?entry.1780520375=@m.userId">Leave Feedback</a>
          </div>
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>


  <!-- modal to preview email -->
<div id="previewEmailModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Email</h3>
  </div>

    <div class="modal-body">
      <a href="#" id="emailPreviewLink" target="_blank" class="btn btn-info pull-right">View this email on the web</a>
      <br/><br/>
      <iframe id="emailPreviewiFrame" src="" style="width: 100%;height: 600px"></iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

</div>
<--endPageBody-->
