@(m:  com.mapped.publisher.view.TripsView)
@if(m.searchResults != null && m.searchResults.size() > 0) {
    @for(p <- m.searchResults){
    <tr style="height: 62px">
        <td>
        @if(p.cover!=null) {
            <div style="background-image:url(@p.cover.url);center;width:62px;height:62px;margin:auto;background-size:cover;" >
                    &nbsp;
            </div>
        } else {
            <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                    &nbsp;
            </div>
        }
        </td>
        <td style="vertical-align: middle">
            @if(!p.isComplete) {
            <a onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> <h5> @p.tripName </h5></a>
            } else {
            <h5>@p.tripName </h5>
            }
        </td>
        <td style="vertical-align: middle">
            <h5>@p.tripStartDate - @p.tripEndDate</h5>
        </td>
        <td style="vertical-align: middle">
            <h5>@p.tripAgency </h5>
        </td>

        @if(p.userName != null && p.userName.length > 0) {
        <td style="vertical-align: middle">
            @p.userName
        </td>
        }
        <td style="vertical-align: middle">
            @if(!p.isComplete) { <a   class="btn btn-info pull-right" onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> Edit </a>}
        </td>
    </tr>
    }
    @if(m.nextPos!=0) {
    <tr id="moreRowBtn">
      @if(m.searchType == 2 || m.searchType == 3) {
          <td colspan="5"><a onclick="javascript:$('#@m.tableName tr:last').remove();javascript:getSearchResult('/tours/otherTours?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&searchType=@m.searchType&inStartPos=@m.nextPos&inTableName=@m.tableName','@m.tableName');" >Load More Trips</a></td>
      } else {
          <td colspan="5"><a onclick="javascript:$('#@m.tableName tr:last').remove();javascript:getSearchResult('/tours/myTours?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&searchType=@m.searchType&inStartPos=@m.nextPos&inTableName=@m.tableName','@m.tableName');" >Load More Trips</a></td>
      }
    </tr>
    }

} else {
<tr>
    <td colspan=4>
        @if(m.prevPos == -1 ){
          <h4> No Trips Found</h4>
        } else {
          <h4> No More Trips Found</h4>
        }
    </td>
</tr>
}
