@(m:  com.mapped.publisher.view.TripInfoView, tbv: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.APPConstants
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import models.publisher.ImageLibrary.ImgSrc
@import com.mapped.publisher.common.Capability
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.view.EnhancedTripBookingDetailView
@import com.mapped.publisher.utils.Utils
@import controllers.WebItineraryApiController
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView
@tbv.getChronologicalBookings()


@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    <h3> TRIP: @m.tripName <br>
        DATE: @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
      $(document).ready(function(){
          try {
              $(this).scrollTop(0);
          }catch (e) {

          }
      });

      @if(m.accessLevel.lt(AccessLevel.APPEND)) {
        $("#tripInfoForm :input").attr("disabled", true);
      }

      @if(m.accessLevel.ge(AccessLevel.APPEND)) {
        $("#messengerSubscription").bootstrapSwitch();
      }

      function reloadNeeded() {
        if (photoUploadedCount > 0) {
          var url = "trips/collab/tripInfo?tripId=@m.tripId";
          getPage(url);
        }
      }


      //update recently updated trip menu - remove duplicates and keep limit to 10
      @if(m != null && m.tripId !=null && m.tripName != null && m.tripName.length > 0) {
          $(function() {
            addRecentHistory('RecentTrips',
                             '@m.tripId',
                             '@m.tripName',
                             "javascript:getPage('@controllers.routes.TripController.simpleTripInfo(m.tripId)');");
          });
      }





      function showResponse(responseText, statusText, xhr, $form)  {
        $('#uploadPhotoModal').modal('hide');
        getPage(uploadSuccessUrl);
      }

      function uploadPhoto() {
        $("#uploadSpinner").show();
        var uploadurl= '/cmpy/signedS3LogoUrl?inOriginPage=SimpleTripInfo&inTripId=@m.tripId&inCmpyId=@m.userCmpyId&inCmpyPhotoName=' + escapeFilename($("#inCmpyPhotoFile").val().replace("C:\\fakepath\\", ""));
        if($.browser.msie) {
          signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
          return iFrameUpload( signedURL, publicURL, s3Bucket);
          });
        } else {
          var s3upload = s3upload != null ? s3upload : new S3Upload({
            file_dom_selector: 'inCmpyPhotoFile',
            s3_sign_put_url: uploadurl,
            s3_object_caption: $("#inCmpyPhotoCaption").val(),
            onProgress: function(percent, message) {

             $("#progressUpload").text(percent + "%");

            },
            onFinishS3Put: function(public_url) {
              $('#uploadPhotoModal').modal('hide');
              getPage(public_url);
              console.log('Upload finished: ', public_url);
            },
            onError: function(status) {
              $("#progressBarDiv").hide();
              alert('Upload error: ', status);
              console.log('Upload error: ', status);
            }
          });
        }
      }

      $('input[id=inCmpyPhotoFile]').change(function() {
        var extension = $("#inCmpyPhotoFile").val().substring($("#inCmpyPhotoFile").val().lastIndexOf('.'));
        var ValidFileType = ".jpeg, .jpg , .png , .gif";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
          alert("Please only select an image file of type (JPG, GIF, PNG)");
          $("#uploadPhotoSubmit").attr('disabled', true);
          return;
        }

        if ( !$.browser.msie ) {
          var size = this.files[0].size;
          if (size > 1024000) {
            alert("The image file must be less than 1MB");
            $("#uploadPhotoSubmit").attr('disabled', true);
            return;
          }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadPhotoSubmit").attr('disabled', false);

      });

  </script>
    @views.html.trip.simpleTripWizard(m.tripId, m.imgUrl, 1, m.accessLevel)

    <div class="">
        <legend>
        <div class="row-fluid">
            <div class="span8"></div>

        </div>
        </legend>
        <div class="row-fluid">
            <div class="span4">
                <h2 style="padding-bottom: 20px;">@m.userCmpyName </h2>
            </div>
            <div class="span2">
                @if(m.userCmpyLogo != null && m.userCmpyLogo.length > 0){
                    <a href="@m.userCmpyLogo" target="_blank">
                        <img class="img-rounded pull-right" src="@m.userCmpyLogo" width="100%">
                    </a>
                }
            </div>
            <div class="span2">
                @if(m.accessLevel.gt(AccessLevel.APPEND) && m.isCmpyAdmin) {
                    <button type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary btn-large pull-right" data-toggle="modal">Upload Logo </button>
                }
            </div>
          <div class="span2">
          @if(m.accessLevel.ge(AccessLevel.APPEND)) {

            <a id="moreEditBtn" data-toggle="modal" class="btn btn-success btn-large input-block-level"
            onclick="javascript:activateTopMenu('mainMenuDashboard');javascript:getPage('@controllers.routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY), null)');return false;"> Edit Trip</a>
          }
          </div>
          <div class="span2">
            <div class="btn-group input-block-level">
              <button class="btn btn-info btn-large" data-toggle="dropdown" style="width:90%;">Preview Itinerary</button>
              <button class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu" style="width: 100%">
                <li><a  href="/trips/loadPdf?inTripId=@m.tripId" target="_blank">Preview PDF</a></li>
                <li><a href="@WebItineraryApiController.getItineraryUrl(m.tripId)" target="_blank">Preview Web Itinerary</a></li>
              </ul>
            </div>
          </div>

        </div>
    <div/>




    @if(tbv.orderedBookings != null && tbv.orderedBookings.size() > 0) {

        <div id="allBookingList" style="background-color: #ffffff;min-height: 400px;padding-top:10px">

            @for((k, i) <- tbv.chronologicalDates.zipWithIndex ) {
                @if(k.trim().length() > 0) {
                    <a name="date_@i"></a>
                    <div id='@Utils.getJSDateFormat(k)' style="padding:0px;width: 100%;margin: auto;margin-top: 30px;padding-bottom:40px;background-color: #ffffff;">
                        <div style="margin: auto;width: 100%;margin-left:2px;padding-right:4px;border-bottom: 2px solid #000000">
                            <div style="padding-left: 0px">
                                <h2 style="color: #000000">
                                    @k
                                    <a style="float: right; font-size:13px;font-weight: 500"  onclick="javascript:toTop();return false;">Top</a>
                                </h2>
                            </div>
                        </div>
                }
                <ul id="sortNoteListDiv_@i" style="list-style-type: none; margin-left:0px; padding: 0;">

                    @for((p, j) <- tbv.chronologicalBookings.get(k).zipWithIndex) {

                        <!-- Hack: Kept hitting a .iLightBox is not a function error. So got rid of photos. -->
                        @* TODO: Fix the iLightBox plugin error. *@
                        @{p.photos = null}

                        <li id="@p.detailsId">

                            @if(p.noteId != null && p.noteId > 0) {
                                @views.html.webItinerary.bookings.details.tripNote(tbv, p, j, null)
                            } else {
                                @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                                    @views.html.trip.bookings.details.flight(tbv, p.asInstanceOf[UmFlightReservationView], j)
                                } else {
                                    @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                                        @views.html.trip.bookings.details.hotel(tbv, p.asInstanceOf[UmAccommodationReservationView], j)
                                    } else {
                                        @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                                            @views.html.trip.bookings.details.cruise(tbv, p.asInstanceOf[UmCruiseReservationView], j)
                                        } else {
                                            @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                                                @views.html.trip.bookings.details.transport(tbv, p.asInstanceOf[UmTransferReservationView], j)

                                            } else {
                                                @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                                                    @views.html.trip.bookings.details.restaurant(tbv, p.asInstanceOf[UmActivityReservationView], j)
                                                } else {
                                                    @if(p.detailsTypeId != null) {
                                                        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                                            @views.html.trip.bookings.details.cruiseStop(tbv, p.asInstanceOf[UmActivityReservationView], j)
                                                        } else {
                                                            @views.html.trip.bookings.details.activity(tbv, p.asInstanceOf[UmActivityReservationView], j)
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </li>
                    }
                </ul>

                @if(k.trim().length() > 0) {
                    </div>
                }
            }
        </div>
    }

    <!-- modal for LOGO -->

    <div id="uploadPhotoModal" class="modal hide fade">
        <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a Logo</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span9">
                        <input type="hidden" id="key" name='key'/>
                        <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                        <input type="hidden" id="policy" name='policy'/>
                        <input type="hidden" id="signature" name='signature'/>
                        <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                        <input type="file"  id='inCmpyPhotoFile' name='file' />

                    </div>
                </div>
                <br/>

                <div id="uploadSpinner" style="display:none;text-align:center">
                    <img src="@{m.imgUrl}/img/ajax-loader.gif" > <h3> Uploading... <div id="progressUpload"></div></h3>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-success "  id="uploadPhotoSubmit"
                        onclick="javascript:uploadPhoto();" >Upload
                </button>

            </div>
        </form>
    </div>

</div>

<--endPageBody-->
