@(tripId: String, imgUrl: String, wizardId: Int, accessLevel: com.mapped.publisher.common.SecurityMgr.AccessLevel)
@import com.mapped.publisher.view.DestinationSearchView.Tab
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType;
@import com.mapped.publisher.view.DestinationSearchView;

<div id="tripWizard" >
    <div class="navbar">
        <script type="application/javascript">
            @if(wizardId == 1) {
              $ ( "#tripWizard@{wizardId}" ).addClass(" stepactiveFirst ");
            } else {
                $("#tripWizard@{wizardId}").addClass(" stepactiveLast ");
            }

            function confirmExit ( url ) {
              if ( $ ( ".currentWizardForm" ).data ( 'changed' ) ) {
                if ( confirm ( "Please click Save or your changes will be lost! Continue?" ) ) {
                  getPage ( url ) ;
                }
              } else {
                getPage ( url ) ;
              }
            }
            @* Removing links in case wizard is being rendered for the new trip *@
            @if(tripId==null) {
              $(".tripWizardLink").prop("onclick", null);
              $("span.tripWizardLink" ).addClass("muted");
            }
        </script>
        <style>
            .stepactiveLast {
                margin-left: -15px;
            }
        </style>
        <div class="navbar-inner" >
            <ul class="nav">
                <li id="tripWizard1" class="first-step" style="background-size: 250px 35px; width: 250px;" ><a class="tripWizardLink" onclick="javascript : confirmExit ( '@controllers.routes.TripController.simpleTripInfo(tripId)');"><span class="tripWizardLink tripWizardTitle" >1. Review Itinerary</span></a></li>
                @if(accessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {
                <li id="tripWizard2" class="last-step" style="background-size: 250px 35px; width: 250px; height:26px; line-height: 26px;"><a class="tripWizardLink" @if(tripId != null && tripId.length() > 0) { onclick="javascript:confirmExit ( '/tours/newTour/simplePublish?tripId=@{tripId}' ) ;"}><span class="tripWizardLink tripWizardTitle">2. Branding and Publish</span></a></li>
                }
            </ul>
            @*TODO: Implement Help Page for this view *@
            @if(tripId != null && !tripId.isEmpty) {
            <a href="javascript:showHelpCurrentPage()" style="padding-left: 40px">  <img src="@imgUrl/img/u_btn_info.png?v20170405"></a>
            }
        </div>
    </div>

</div>