@(tripId: String, imgUrl: String, wizardId: Int, accessLevel: com.mapped.publisher.common.SecurityMgr.AccessLevel)
@import com.mapped.publisher.view.DestinationSearchView.Tab
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType;
@import com.mapped.publisher.view.DestinationSearchView;

<div id="tripWizard" >
  <div class="navbar">
    <script type="application/javascript">
        @if(wizardId == 1) {
          $ ( "#tripWizard@{wizardId}" ).addClass(" stepactiveFirst ");
        } else {
          @if(accessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {
            @if(wizardId == 5) {
              $("#tripWizard@{wizardId}").addClass(" stepactiveLast ");
            } else {
              $("#tripWizard@{wizardId}").addClass(" stepactive ");
            }
          }else {
            @if(wizardId == 4) {
              $("#tripWizard@{wizardId}").addClass(" stepactiveLast ");
            } else {
              $("#tripWizard@{wizardId}").addClass(" stepactive ");

            }
          }
        }
    function confirmExit ( url ) {
      if ( $ ( ".currentWizardForm" ).data ( 'changed' ) ) {
        if ( confirm ( "Please click Save or your changes will be lost! Continue?" ) ) {
          getPage ( url ) ;
        }
      } else {
        getPage ( url ) ;
      }
    }
    @* Removing links in case wizard is being rendered for the new trip *@
    @if(tripId==null) {
      $(".tripWizardLink").prop("onclick", null);
      $("span.tripWizardLink" ).addClass("muted");
    }

    </script>
    <div class="navbar-inner" >
      <ul class="nav">
        <li id="tripWizard1" class="first-step " ><a class="tripWizardLink" onclick="javascript : confirmExit ( '@controllers.routes.TripController.tripInfo(tripId)');"><span class="tripWizardLink tripWizardTitle" >1. Trip Info</span></a></li>
        <li id="tripWizard2" class="next-step"><a class="tripWizardLink" @if(tripId != null && tripId.length() > 0) { onclick="javascript:confirmExit('@routes.BookingController.bookings(tripId,new TabType.Bound(TabType.ITINERARY), "")') ;"}><span class="tripWizardLink tripWizardTitle">2. Itinerary</span></a></li>
        <li id="tripWizard3" class="next-step"><a class="tripWizardLink" @if(tripId != null && tripId.length() > 0) { onclick="javascript:confirmExit('@routes.TripController.guides(tripId, new Tab.Bound(Tab.ATTACHMENTS))' ) ;"}><span class="tripWizardLink tripWizardTitle">3. Documents</span> </a></li>
        <li id="tripWizard4" class=" @if(accessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {next-step} else {last-step}"><a class="tripWizardLink" onclick="javascript : confirmExit ( '/trips/newTrip/preview?tripId=@{tripId}' );"><span class="tripWizardLink @if(accessLevel.ge(AccessLevel.APPEND_N_PUBLISH)){tripWizardTitle} else {tripWizardTitleLast}">4. Review</span></a></li>
        @if(accessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {
        <li id="tripWizard5" class="last-step"><a class="tripWizardLink" onclick="javascript : confirmExit ( '/tours/newTour/publish?tripId=@{tripId}' ) ;"><span class="tripWizardLink tripWizardTitleLast">5. Publish</span></a></li>
        }
      </ul>
      @if(tripId != null && !tripId.isEmpty) {
       <a href="javascript:showHelpCurrentPage()" style="padding-left: 20px">  <img src="@imgUrl/img/u_btn_info.png?v20170405"></a>
      }
    </div>
  </div>

</div>


