@(m:  com.mapped.publisher.view.TripsView)
@import com.mapped.publisher.view.GenericTypeView
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import org.apache.commons.lang3.StringEscapeUtils.unescapeHtml4


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Monthly Trip Calendar</h1>
    <br/>
    <div class="">
    <div class="subTitle"> SUMMARY</div>


    <div style="position:relative;">
         <p class="" style="margin-left:35px"> My Published Trips: @if(m.publishedTrips!=null){@m.publishedTrips.size()} else {0} </p>
         <div style="background-color:#5FB404;width:30px;height:30px;position:absolute; top:0px; left: 0px;">
                &nbsp;
         </div>

        <p class="" style="position:absolute; top:0px; left: 260px;"> My Pending Trips: @if(m.pendingTrips!=null){@m.pendingTrips.size()} else {0} </p>
        <div style="background-color:#66C2FF;width:30px;height:30px;position:absolute; top:0px; left: 225px;">
            &nbsp;
        </div>

        <p class="" style="position:absolute; top:0px; left: 475px;"> Other Published Trips: @if(m.groupPublishedTrips!=null){@m.groupPublishedTrips.size()} else {0} </p>
        <div style="background-color:#CCFFCC;width:30px;height:30px;position:absolute; top:0px; left: 440px;">
            &nbsp;
        </div>
        <p class="" style="position:absolute; top:0px; left: 715px;"> Other Pending Trips: @if(m.groupPendingTrips!=null){@m.groupPendingTrips.size()} else {0} </p>

        <div style="background-color:#CCFFFF;width:30px;height:30px;position:absolute; top:0px; left: 680px;">
            &nbsp;
        </div>
    </div>

   </div>


</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        var myEvents = new Array();
        @if(m.publishedTrips!=null){
         @for(p <- m.publishedTrips){
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0){
            myEvents.push({
                title: '@if(p.tripName != null) {@Html(escapeEcmaScript(p.tripName))  (@p.tripStartDatePrint to @p.tripEndDatePrint)} ',
                start: new Date(@p.startYear,@p.startMonth,@p.startDay,0,0, 0, 0),
                end: new Date(@p.endYear,@p.endMonth,@p.endDay + 1,0,0, 0, 0),
                className: 'placeCss',
                color: '#5FB404',
                textColor: '#fff',
                allDay: true,
                published: true,
                tripId:'@p.tripId'
            });
        }
         }
        }

        @if(m.pendingTrips!=null){
        @for(p <- m.pendingTrips){
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0){
        myEvents.push({
        title: '@if(p.tripName != null) {@Html(escapeEcmaScript(p.tripName))  (@p.tripStartDatePrint - @p.tripEndDatePrint)}',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,0,0, 0, 0),
        end: new Date(@p.endYear,@p.endMonth,@p.endDay + 1,0,0, 0, 0),
        className: 'placeCss',
        color: '#66C2FF',
        textColor: '#fff',
        allDay: true,
        pending: true,
        tripId:'@p.tripId'
        });
        }
        }
        }

        @if(m.groupPublishedTrips!=null){
        @for(p <- m.groupPublishedTrips){
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0){
        myEvents.push({
        title: '@if(p.tripName != null) {@Html(escapeEcmaScript(p.tripName))  (@p.tripStartDatePrint - @p.tripEndDatePrint)}',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,0,0, 0, 0),
        end: new Date(@p.endYear,@p.endMonth,@p.endDay + 1,0,0, 0, 0),
        className: 'placeCss',
        color: '#CCFFCC',
        textColor: '#000',
        allDay: true,
        published: true,
        tripId:'@p.tripId'
        });
        }
        }
        }

        @if(m.groupPendingTrips!=null){
        @for(p <- m.groupPendingTrips){
        @if(p.startYear != null && p.startYear.length > 0 && p.startMonth != null && p.startMonth.length > 0 && p.startDay != null && p.startDay.length > 0){
        myEvents.push({
        title: '@if(p.tripName != null) {@Html(escapeEcmaScript(p.tripName))  (@p.tripStartDatePrint - @p.tripEndDatePrint)}',
        start: new Date(@p.startYear,@p.startMonth,@p.startDay,0,0, 0, 0),
        end: new Date(@p.endYear,@p.endMonth,@p.endDay + 1,0,0, 0, 0),
        className: 'placeCss',
        color: '#CCFFFF',
        textColor: '#000000',
        allDay: true,
        pending: true,
        tripId:'@p.tripId'
        });
        }
        }
        }



        $('#calendar').fullCalendar({
        header: {
        left: 'prev,next ',
        center: 'title',
        right: ''
        },
        defaultDate:moment("@m.startMonth-@m.startDay- @m.startYear", "MM-DD-YYYY"),
        editable: false,
        events: myEvents,
        eventRender: function(event, element) {
            /*
            if (event.published)
                $(element).prepend('<div><i class="icon-ok">&nbsp;Published</i></div>');
            else if (event.pending)
                $(element).prepend('<div><i class="icon-warning-sign">&nbsp;Pending</i></div>');
            */
        },
        eventClick: function(calEvent, jsEvent, view) {
        if (calEvent.tripId.length > 0) {
        activateMenu('#myTripsMenu');
            getPage('@routes.TripController.previewTrip()?tripId='+ calEvent.tripId);
        }

        }
        });



    $('.fc-event').css('font-size', '0.9em');

    $('body').on('click', 'button.fc-prev-button', function() {
      getPage('/trips/upcomingTrips?inDate=@m.prevDate');
    });

    $('body').on('click', 'button.fc-next-button', function() {
      getPage('/trips/upcomingTrips?inDate=@m.nextDate');
    });

    </script>
    <div style="background-color:#fff;padding-top:50px">
    <div id='calendar' style="margin-left:20px;padding-right:20px;padding-bottom:50px"></div>
    </div>

  </div>

</div>
<--endPageBody-->


