@(apiCmpyTokens:  List[com.mapped.publisher.view.ApiCmpyTokenView],
        apiUserLinks:  List[com.mapped.publisher.view.ApiUserLinkView],
        userId: String, cmpyId: String)

@if(apiCmpyTokens != null && !apiCmpyTokens.isEmpty && userId != null) {
  <div style="padding-top: 20px">
    <div class="subTitle">External User Id mapping</div>
    <div class="row-fluid" style="padding-bottom: 20px">
      <form id="apiUserLinkForm">

        <input type="hidden" id="inUserId" name="inUserId" value="@userId">
        <input type="hidden" id="inCmpyId" name="inCmpyId" value="@cmpyId">
        <div class="span2">
          <label>External User Id</label>
          <input type="text" id="inSrcUserId" name="inSrcUserId">
        </div>
        <div class="span2">
          <label>External System</label>
          <select name="inCmpyTokenPk">
          @for(p <- apiCmpyTokens){
            <option value="@p.pk">@p.srcCmpyId (@p.srcName)</option>
          }
          </select>
        </div>
        <div class="span2">
          <label>&nbsp;</label>
          <button class="btn btn-primary" onclick="javascript:postForm('@routes.ApiBookingController.addApiUserLink()',
                                                                       'apiUserLinkForm');return false;">Map External User Id</button>
        </div>
      </form>
    </div>

    @if(apiUserLinks != null && !apiUserLinks.isEmpty) {
      <table class="table table-striped">
        <tr>
          <th>External User Id</th>
          <th>External Company</th>
          <th></th>
        </tr>
      @for(p <- apiUserLinks) {
        <tr>
          <td>@p.srcUserId</td>
          <td>@p.externalCmpyName (@p.srcName)</td>
          <td><button class="btn btn-danger" onclick="javascript:doPost('@routes.ApiBookingController.deleteApiUserLink(p.pk, cmpyId)');return false;">Delete</button></td>
        </tr>

      }
      </table>
    }
  </div>
}

