@(m:  com.mapped.publisher.view.UserBillingView)
@import models.publisher.BillingEntity;


@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Plan And Add-ons<a href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"></a></h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
          var submitAddonChange = function() {
            var addon = $(this).parents('tr[data-addonid]');

            var config = {
              addonId: addon.data('addonid'),
              userId: addon.data('user'),
              enabled:  addon.find('input[name="addonEnabled"]').bootstrapSwitch('state')
            };

            console.log(JSON.stringify(config));
            $.ajax({
              type: "POST",
              url: '/user/addons/edit',
              data: JSON.stringify(config),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
            })
             .always(function (data, textStatus, jqXHR) {
               if (textStatus == 'success') {
                 reloadPage();
               }
               else if (textStatus == 'parsererror') {
                 //Need to go to login page
                 window.location.href = "/";
               }
               else if (textStatus != 'abort') {
                 debugger;
                 switch (jqXHR.status) {
                   case 400:
                     headLineAlertDisplay("Bad Request:");
                     break;
                   case 401:
                     headLineAlertDisplay("Not Authorized: ");
                     break;
                   case 501:
                     headLineAlertDisplay("Feature not yet implemented.");
                     break;
                   case 503:
                   case 504:
                     headLineAlertDisplay("Request timeout. Please try again in a couple of minutes.");
                     break;
                   default:
                     headLineAlertDisplay("Unknown System Error has occurred - " + textStatus);
                 }
               }
             });
            console.log("Updated requested...");
          };
          $(function(){
            var addonToggles = $('tr[data-addonid] input[type="checkbox"]');
            addonToggles.bootstrapSwitch('destroy');
            addonToggles.bootstrapSwitch({
                                           onColor: "success",
                                           offColor: "danger"
                                         });
            addonToggles.on('switchChange.bootstrapSwitch', submitAddonChange);
          });
  </script>
  <div class="subTitle">PLAN</div>
  <table class="table table-stripped">
    <thead>
      <th style="width: 30%">Plan Name</th>
      <th>Payment Schedule</th>
    </thead>
    <tbody>
      <tr>
        <td>@m.plan.getName</td>
        <td>@m.plan.getSchedule.getScheduleName</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="subTitle">ADD-ONS</div>
  <table class="table table-stripped">
    <thead>
      <th style="width: 30%">Plan Add-on</th>
      <th>Billing Start Date</th>
      <th>Expiration Date</th>
      <th>Cost</th>
      <th></th>
    </thead>
    <tbody>
    @for(addon <- m.addons) {
      <tr data-addonid="@addon.addon.getPlanId" data-user="@addon.addonParams.getPk.userid">
        <td>@addon.addon.getName</td>
        <td>
          @addon.startDate
        </td>
        <td>
          @addon.cutoffDate
        </td>
        <td>
          $@("%.0f".format(addon.addon.getCost()))&nbsp;@addon.addon.getCurrency
        </td>
        <td>
          <input type="checkbox" name="addonEnabled" @if(addon.addonParams.getEnabled) {checked}>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
<--endPageBody-->
