@(m:  com.mapped.publisher.view.UserParseView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.UserCmpyLink.LinkType

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.pageMode) {
    <h1 class="page-title">@m.cmpyName - Create a New User from an Email</h1>
    } else {
    <h1 class="page-title">Create Umapped User from an Email<a  href="javascript:showHelp('createUserHelp');"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>
    }

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
    </script>

    @if(m.pageMode) {
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li class='' id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=@m.pageMode');">Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
            </ul>
        </div>
    </div>
    }
    <form id="userParseForm">
        <div class="subTitle">  USER INFORMATION </div>
        <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
        <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
        <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
        <div class="row-fluid">
            <div class="span12">
                <label>Email <em>*</em></label>
                <textarea type="text" id="inUserEmail" class="field span12" rows="5" name="inUserEmail">@m.userEmail</textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <button type="submit" class="btn btn-success btn-large" onclick="javascript:postForm('user/parseUserForm','userParseForm'); return false;">Save</button>
            </div>
        </div>
    </form>
</div>
<--endPageBody-->