@(m:  com.mapped.publisher.view.BaseView)

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Manage Member Users</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      initUsersAdmin('@controllers.routes.UserController.usersAdminDT()');
    });
  </script>
  <table class="table table-striped" id="usersTable">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Plan</th>
        <th>Add-ons</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Plan</th>
        <th>Add-ons</th>
        <th></th>
      </tr>
    </tfoot>
  </table>

</div>
<--endPageBody-->
