@(m: com.mapped.publisher.view.AfarPoiView)

<div class="afar-pois-only" style="font-weight: normal; word-wrap: break-word; padding: 10px;">
  @if(m != null) {
    <div class="row-fluid afar-poi-section" style="width: 100%;">
      <hr>
      <div class="afar-poi-container" style="width: 100%;">
        <div class="poi-sub-container" style="">
          <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
            @if(m.images != null && m.images.size() > 0) {
              <div class="afar-poi-image" style="height: 300px;
                background-position: center;
                background-size: cover;
                background-image: url(@m.images(0).url)">
              </div>
            }
            <div class="afar-poi-description">
              <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.title</h2>
              <p style="margin: 0;">@Html(m.description)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="afar-see-more-btn" style="margin: 25px 0; padding: 0 10px;">
        <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
        color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
           href="@m.url" target="_blank">SEE MORE ON AFAR.COM</a>
      </div>
    </div>
  }
</div>