@(m: com.mapped.publisher.view.TripBookingView, frv:  com.mapped.publisher.view.UmFlightReservationView, i: Integer)
@import com.mapped.publisher.utils.Utils
  @import com.umapped.persistence.enums.ReservationType
  @import com.mapped.publisher.view.TabType
  <div class="bookingBox">

    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: top;padding-top:5px;">
          <div style="margin-top: 10px;margin-left: 6px;text-align: right">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/38-airplane.png" >
          </div>
        </td>
        <td style="vertical-align: top;padding-top:5px;">
          <div>
            <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
              <tr>
                <td style="width: 100%;vertical-align: top;">
                  <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                    <tr>
                      <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                        @views.html.trip.bookings.bookingScheduleBtns(ReservationType.FLIGHT, TabType.FLIGHTS, m, frv)

                      </td>
                    </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                      <td style="padding-bottom: 10px;width: 140px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">AIRLINE CODE & FLIGHT #</div></td>
                      <td style="width:15px;border-top: none;"></td>
                      <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DEPARTURE</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">ARRIVAL</div></td>
                      <td style="width:15px"></td>
                      <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                    </tr>

                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td style="width:140px ; padding-bottom: 20px;;vertical-align: text-top">
                        @if(frv.getProviderName != null && frv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@frv.getProviderName</span> <br/>
                        }
                        @frv.getFlightId
                        @if(frv.getCheckinUrl != null) {
                          <br/>
                          <a class="" href="@frv.getCheckinUrl" target="_blank"> Web Check-In</a>
                        }
                        @if(frv.getBaggageUrl != null) {
                          <br/><br/>
                          <a class="" href="@frv.getBaggageUrl" target="_blank"> Baggage Policy</a>
                        }
                      </td>
                      <td style="width:15px"></td>
                      <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">@frv.getBookingNumber</td>
                      <td style="width:15px"></td>
                      <td style="width:150px ; padding-bottom: 20px;vertical-align: top;">
                        @if(frv.getStartDateMilli != null) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(m.display12Hr) {
                          @Utils.formatTime12(frv.getStartDateMilli)
                        } else {
                          @Utils.formatTime24(frv.getStartDateMilli)
                        }
                        </div>
                        }
                        @if(frv.getStartDateItin != null && frv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@frv.getStartDateItin  </div>
                        }
                        @if(frv.getDepartAirportCode != null && frv.getDepartAirportCode.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 700">@frv.getDepartAirportCode:</span>
                        }
                        @if(frv.getDepartAirport != null && frv.getDepartAirport.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@frv.getDepartAirport</span>
                        }
                        @if(frv.getDepartTerminal != null && frv.getDepartTerminal.trim.length > 0) {
                        <br/><span style="font-size: 12px;font-weight: 400">@if(!frv.getDepartTerminal.contains("erminal")){Terminal }@Html(frv.getDepartTerminal)</span>
                        }
                      </td>
                      <td style="width:15px"></td>
                      <td style="width:150px ; padding-bottom: 20px;vertical-align: top;">
                        @if(frv.getEndDateMilli != null) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(m.display12Hr) {
                          @Utils.formatTime12(frv.getEndDateMilli)
                        } else {
                          @Utils.formatTime24(frv.getEndDateMilli)
                        }
                        </div>
                        }
                        @if(frv.getEndDateItin != null && frv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px"> @frv.getEndDateItin</div>
                        }
                        @if(frv.getArriveAirportCode != null && frv.getArriveAirportCode.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 700">@frv.getArriveAirportCode:</span>
                        }
                        @if(frv.getArriveAirport != null && frv.getArriveAirport.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@frv.getArriveAirport</span>
                        }
                        @if(frv.getArriveTerminal != null && frv.getArriveTerminal.trim.length > 0) {
                        <br/><span style="font-size: 12px;font-weight: 400">@if(!frv.getArriveTerminal.contains("erminal")){Terminal }@Html(frv.getArriveTerminal)</span>
                        }
                      </td>

                      <td style="width:15px"></td>
                      <td style="padding-bottom: 20px;">
                        <div>
                          <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                            @if(frv.getPassengers != null && frv.getPassengers.size() > 0) {
                              <tr style="page-break-inside: avoid;">
                                <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                  <table style="page-break-inside: avoid;width: 100%">
                                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                      <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px">PASSENGER</td>
                                      <td style="width:10px"></td>
                                      <td style="border-top: 1px solid #AFAFAF;width: 80px ; padding-bottom: 10px;padding-top: 5px">SEAT</td>
                                      <td style="width:10px"></td>
                                      <td style="border-top: 1px solid #AFAFAF;width: 70px ; padding-bottom: 10px;padding-top: 5px">CLASS</td>
                                      <td style="width:10px"></td>
                                      <td style="border-top: 1px solid #AFAFAF;width: 90px ; padding-bottom: 10px;padding-top: 5px">E-TICKET</td>
                                      <td style="width:10px"></td>
                                      <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px">FREQUENT FLYER</td>
                                      <td style="width:10px"></td>
                                      <td style="border-top: 1px solid #AFAFAF;width: 70px ; padding-bottom: 10px;padding-top: 5px">MEAL</td>
                                    </tr>
                                    @for(v <- frv.getPassengers) {
                                      <tr style="font-size : 11px ;">
                                        <td style="padding-bottom : 5px">
                                        @if(v.getName != null){
                                          @Html(v.getName)
                                        }
                                        </td>
                                        <td></td>
                                        <td style="font-size : 10px ; padding-bottom : 5px">
                                        @if(v.getSeat != null){
                                          @Html(v.getSeat)
                                        }
                                        </td>
                                        <td></td>
                                        <td style="font-size : 10px ; padding-bottom : 5px">
                                        @if(v.getSeatCategory != null){
                                          @Html(v.getSeatCategory)
                                        }
                                        </td>
                                        <td></td>
                                        <td style="font-size : 10px ; padding-bottom : 5px">
                                        @if(v.getTicketNumber != null){
                                          @Html(v.getTicketNumber)
                                        }
                                        </td>
                                        <td></td>
                                        <td style="font-size : 10px ; padding-bottom : 5px">
                                        @if(v.getMembershipNumber != null) {
                                          @Html(v.getMembershipNumber)
                                        }
                                        </td>
                                        <td></td>
                                        <td style="font-size : 10px ; padding-bottom : 5px">
                                        @if(v.getMeal != null){
                                          @Html(v.getMeal)
                                        }
                                        </td>
                                      </tr>
                                    }
                                  </table>
                                </td>
                              </tr>

                            }
                            @if(frv.getNotesPlain != null && frv.getNotesPlain.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td  style="padding-bottom:20px;" class="bookingContent">
                                @Html(Utils.escapeHtml(frv.getNotesPlain))
                              </td>
                            </tr>
                            }
                            @if(frv.getProviderComments != null && frv.getProviderComments.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td  class="bookingContent">
                                @Html(frv.getProviderComments)
                              </td>
                            </tr>
                            }
                            @views.html.trip.bookings.details.bookingRate(frv)
                            @if(frv.getCancellation != null && frv.getCancellation.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">Cancellation Policy: @Html(Utils.escapeHtml(frv.getCancellation))
                              </td>
                            </tr>
                            }
                          </table>
                        </div>
                      </td>

                    </tr>
                  </table>
                @views.html.webItinerary.bookings.details.bookingFiles(frv, "7")
                </td>
              </tr>
            </table>
          </div>
        </td>

      </tr>
    </table>

</div>
