@(m: com.mapped.publisher.view.TripBookingView, arv: com.mapped.publisher.view.UmAccommodationReservationView, i: Integer)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType


  <div class="bookingBox">
    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:25px;vertical-align: top;padding-top:5px;">
        <div style="margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png" >
        </div>
        </td>
        <td style=";vertical-align: top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                    @views.html.trip.bookings.bookingScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, arv)
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">ACCOMMODATIONS</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-IN</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-OUT</div></td>
                    <td style="width:15px"></td>
                    <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                        @Html(arv.getProviderAddr1) <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                        @Html(arv.getProviderAddr2) <br/>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.trim().length > 0) {
                        Phone: @Html(arv.getProviderPhone) <br/>
                      }
                      @if(arv.getProviderFax != null && arv.getProviderFax.trim().length > 0) {
                        Fax: @Html(arv.getProviderFax) <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.trim().length > 0) {
                        Email: @Html(arv.getProviderEmail) <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.trim().length > 0) {
                        <a href="@arv.getProviderWeb" target="_blank">Website</a> <br/>
                      }
                    </td>
                      <td style="width:15px"></td>
                      <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">
                        @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                          @arv.getBookingNumber <br/>
                        }
                        @if(arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0) {
                          @arv.getReservationStatus
                        }
                      </td>

                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                          @if(arv.getStartTime != null && arv.getStartTime.trim.length > 0) {
                            @if(m.display12Hr) {
                              @Utils.formatTime12(arv.getStartDateMilli)
                            } else {
                              @Utils.formatTime24(arv.getStartDateMilli)
                            }
                          }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(m.display12Hr) {
                          @Utils.formatTime12(arv.getEndDateMilli)
                        } else {
                          @Utils.formatTime24(arv.getEndDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="padding-bottom: 20px;vertical-align: text-top;">
                      <div >
                        <table style="margin-left: 0px;margin-top: 0px;vertical-align: text-top;">
                          @if(arv.getPassengers != null && arv.getPassengers.size() > 0) {
                          <tr style="page-break-inside: avoid;">
                            <td style="width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                              <table style="page-break-inside: avoid;width: 630px">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">NAME</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 120px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">ROOM TYPE</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 120px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">BEDDING</td>

                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 90px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">STATUS</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">MEMBERSHIP ID</td>
                                </tr>
                                @for(v <- arv.getPassengers) {
                                <tr class="descFont" style="font-size : 11px ;">
                                  <td style="padding-bottom : 5px">
                                    @if(v.getName != null){
                                    @Html(v.getName)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getRoomType != null){
                                    @Html(v.getRoomType)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getBedding != null){
                                    @Html(v.getBedding)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getStatus != null){
                                    @Html(v.getStatus)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getMembershipId != null) {
                                    @Html(v.getMembershipId)
                                    }
                                  </td>
                                </tr>
                                  @if(v.getAmenities != null && !v.getAmenities.trim.isEmpty){
                                    <tr>
                                      <td colspan="9" style="font-size: 10px;padding-bottom : 5px">
                                        <strong>AMENITIES:</strong> @Html(v.getAmenities)
                                      </td>
                                    </tr>
                                  }
                                }
                              </table>
                            </td>
                          </tr>

                          }
                          @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td  style="padding-bottom:20px;" class="bookingContent">
                              @Html(Utils.escapeHtml(arv.getNotesPlain))
                            </td>
                          </tr>
                          }
                          @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                          <tr style="page-break-inside: auto">
                            <td class="bookingContent">
                              @Html(arv.getProviderComments)
                            </td>
                          </tr>
                          }
                          @views.html.trip.bookings.details.bookingRate(arv)
                          @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">Cancellation Policy: @Html(Utils.escapeHtml(arv.getCancellation))
                            </td>
                          </tr>
                          }
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
                @views.html.webItinerary.bookings.details.bookingFiles(arv, "7")
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>


</div>

