@(m: com.mapped.publisher.view.InsuranceNoteView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.utils.Utils
<div class="" style="page-break-inside: auto">
    <div class="row-fluid">

        <table class="insurance" style="width: 100%">
            <tr>
                <td style="border-bottom: 1px solid #AFAFAF; padding-bottom: 10px;" >
                    <table>
                        @if(m.policyNum != null && m.policyNum.trim.length > 0) {
                            <tr>
                                <td style="padding-top: 5px">
                                    <b>Policy Number: </b>&nbsp; @Html(m.policyNum)
                                </td>
                            </tr>
                        }

                        @if(m.policyType != null && m.policyType.trim.length > 0) {
                        <tr>
                            <td style="padding-top: 5px">
                                <b>Policy Type: </b>&nbsp; @Html(m.policyType)
                            </td>
                        </tr>
                        }

                        @if(m.emergencyNum != null && m.emergencyNum.trim.length > 0) {
                        <tr>
                            <td style="padding-top: 5px">
                                <b>Emergency Number: </b>&nbsp; @Html(m.emergencyNum)
                            </td>
                        </tr>
                        }
                    </table>
                    <br/>
                </td>
            </tr>
            @if(m.importantInfo != null && m.importantInfo.trim.length > 0) {
                <tr style="page-break-inside: auto">
                    <td style="padding-top: 20px">
                        <p style="color: #818181;font-weight: 700">Important Information</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 5px">
                        @Html(m.importantInfo)
                    </td>
                </tr>
            }
            @if(m.policyDesc != null && m.policyDesc.trim.length > 0) {
                <tr style="page-break-inside: auto">
                    <td style="padding-top: 20px">
                        <p style="color: #818181;font-weight: 700">Policy Description</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 5px">
                        @Html(m.policyDesc)
                    </td>
                </tr>
            }

            @if(m.passengers != null && m.passengers.size() > 0) {
                <tr style="page-break-inside: auto">
                    <td style="padding-top: 20px;">
                        <b>Traveler@if(m.passengers.size() > 1){s}</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 10px">
                        <table style="page-break-inside: avoid;width: 70%">
                            <tr style="font-size: 12px;color: #818181;font-weight: 700">
                                <td style="border-top: 1px solid #AFAFAF;width:100px ; padding-bottom: 10px;padding-top: 5px">Passenger</td>
                                <td style="width:10px"></td>
                                <td style="border-top: 1px solid #AFAFAF;width: 50px ; padding-bottom: 10px;padding-top: 5px">Start Date</td>
                                <td style="width:10px"></td></td>
                                <td style="border-top: 1px solid #AFAFAF;width: 50px ; padding-bottom: 10px;padding-top: 5px">End Date</td>
                            </tr>
                            @for(v <- m.passengers) {
                                <tr style="font-size : 12px ;">
                                    <td style="padding-bottom : 5px">
                                        @if(v.name != null){
                                            @Html(v.name)
                                        }
                                    </td>
                                    <td></td>
                                    <td style=" padding-bottom : 5px">
                                        @if(v.startDate != null){
                                            @Html(v.startDate)
                                        }
                                    </td>
                                    <td></td>
                                    <td style="padding-bottom : 5px">
                                        @if(v.endDate != null){
                                            @Html(v.endDate)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </table>

        <br/>

    </div>
</div>



