@(m:  com.mapped.publisher.view.DestinationView)

<div id="dynamicModalBody" class="modal container hide fade documentModal">
    <style>
      @if(m.displayMap){
        #mapGuideModal{
          height: 280px;
          width: 100%;
          margin:0 auto;
        }

        #mapGuideModal img {
          max-width: none;
        }
      }
    </style>
    <script>
      $(function() {
        @if(m.guides != null) {
          @for(p <- m.guides) {
            @if(p.photos !=null && p.photos.size > 0 && !p.isMobilized){
              $('carousel_@p.id').carousel({
                  interval: false
              });
            }
          }
        }
      });


      $(document).ready(function(){
        @if(m.intro != null && m.intro.length > 0) {
        $('#guide_@m.id').on('hidden', function () {
        $("#icon_@m.id").removeClass("fa-chevron-down").addClass("fa-chevron-right");
        });

        $('#guide_@m.id').on('shown', function () {
        $("#icon_@m.id").removeClass("fa-chevron-right").addClass("fa-chevron-down");

        });
        }

        @if(m.guides != null && m.guides.length > 0) {
          @for(p <- m.guides) {
            $('#guide_@p.id').on('hidden', function () {
            $("#icon_@p.id").removeClass("fa-chevron-down").addClass("fa-chevron-right");
            });

            $('#guide_@p.id').on('shown', function () {
            $("#icon_@p.id").removeClass("fa-chevron-right").addClass("fa-chevron-down");

            });
          }
        }
        });



        var myBookingLocations = new Array();
        @if(m.guides != null) {
            @for(pl <- m.guides){
                @if(pl.groupedViews != null && pl.groupedViews.size() > 0) {
                    @for(pl1 <- pl.groupedViews) {
                        @if(pl1.locLat != null && pl1.locLong != null &&  pl1.locLat != "0.0" && pl1.locLong != "0.0") {
                            myBookingLocations.push({latLng:[@pl1.locLat, @pl1.locLong], data:" <div> @escapeEcmaScript(pl1.name) @if(pl1.timestampPrint != null && pl1.timestampPrint.length>0){<br> @pl1.timestampPrint} <br/> &nbsp;@escapeEcmaScript(pl1.streetAddr1)</div>", id:"@pl1.id"});
                        }

                    }
                } else {
                    @if(pl.locLat != null && pl.locLong != null &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
                        myBookingLocations.push({latLng:[@pl.locLat, @pl.locLong], data:" <div>>@escapeEcmaScript(pl.name) <br/> &nbsp;@escapeEcmaScript(pl.streetAddr1)</div>", id:"@pl.id"});
                    }
                }
            }
        }

        $(document).ready(function() {
            if(myBookingLocations.length > 0) {
                $('#mapGuideModal').gmap3({
                    map:{
                        options:{
                        }
                    },
                    marker:{
                        values:myBookingLocations,
                        options:{
                            draggable: false
                        },
                        events:{
                            mouseover: function(marker, event, context){
                                var map = $("#mapGuideModal").gmap3("get"),
                                infowindow = $("#mapGuideModal").gmap3({get:{name:"infowindow"}});
                                if (infowindow){
                                    infowindow.open(map, marker);
                                    infowindow.setContent(context.data);
                                } else {
                                    $("#mapGuideModal").gmap3({
                                    infowindow:{
                                    anchor:marker,
                                    options:{content: context.data}
                                }
                            });
                        }
                    },
                    mouseout: function(){
                        var infowindow = $("#mapGuideModal").gmap3({get:{name:"infowindow"}});
                            if (infowindow){
                                infowindow.close();
                            }
                        }
                        }
                    },
                    autofit:{}
                 });

            }
        });


      @if(m.displayMap){
        /*
            For Modals (dynamic layers) Google Maps need to be retriggered so the canvas is resized properly
        */
        $('#dynamicModalBody').on('shown', function () {
            if(myBookingLocations.length > 0) {
                var map =  $('#mapGuideModal').gmap3('get');
                google.maps.event.trigger(map, 'resize');
        $('#mapGuideModal').gmap3('autofit');
            }
        })
      }
    </script>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 style="text-align:center;">@m.name</h2>
    </div>
    <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
        @if(m.displayMap){
        <div id="map_canvas"  style="position:absolute;top:0px;width:100%;left:0px;">
            <div id="mapGuideModal" class="border"></div>
        </div>
        }
        <div id='destinationModal-body' @if(m.displayMap){style="margin-top:280px"}  >
            @if(m.coverUrl != null && m.coverUrl.length > 0 && !m.displayMap) {
            <div class="row-fluid" >
                <div class="span2"></div>
                <div class="span8">
                    <img width="100%" src="@m.coverUrl"></img>
                </div>
                <div class="span2"></div>
            </div>
            }
            <br/><br/>

            <div class="accordion" id="accordion2">

            @if(m.intro != null && m.intro.length > 0) {
                <a id="a_@m.id"></a>
                <div class="accordion-group" id="guide_@m.id">
                    <div class="accordion-heading" style="position:relative;">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@m.id">
                            <h4 style="text-transform:uppercase;">About
                                <i id="icon_@m.id" class="fa fa-chevron-right" style="position:absolute;top: 40%;left:90%;"></i>
                            </h4>

                        </a>
                    </div>
                    <div id="collapse_@m.id" class="accordion-body collapse">
                        <div class="accordion-inner documentFont">
                            <p > @Html(m.intro) </p>
                        </div>
                    </div>
                </div>
            }
            @if(m.guides != null && m.guides.length > 0) {
                @for(p <- m.guides) {
                <a id="a_@p.id"></a>
                <div class="accordion-group" id="guide_@p.id">
                    <div class="accordion-heading" style="position:relative;">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@p.id">
                            <h4 style="text-transform:uppercase;">
                                @p.name
                                <i id="icon_@p.id" class="fa fa-chevron-right" style="position:absolute;top: 40%;left:90%;"></i>

                            </h4>

                        </a>
                    </div>
                    <div id="collapse_@p.id" class="accordion-body collapse">
                          @if(p.groupedViews != null && p.groupedViews.size() > 0) {
                              @for(p1 <- p.groupedViews) {
                              @views.html.guide.destinationModalPage(p1)

                              }
                          } else {
                              @views.html.guide.destinationModalPage(p)
                          }

                    </div>
                 </div> <!-- accordion group -->
                 }
            }
            </div> <!-- accordion -->





        </div> <!-- container -->



    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
