@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.view.GenericTypeView

<div id="pageSearchResultsTable">
    <h3 class="page-title">@m.message</h3>

    RESULTS @if(m.destinationGuideList != null){(@m.destinationGuideList.size() pages found)}</th>
    <table class="table table-striped" style="border-bottom: solid 1px #DDDDDD;">
        <thead>
            <tr>
                <th width="200px">Document Name</th>
                <th  width="200px"> Page Name</th>
                <th>About</th>
                <th ></th>

            </tr>
        </thead>
        <tbody>
        @if(m.destinationGuideList != null && m.destinationGuideList.size() > 0) {
        @for(v <- m.destinationGuideList) {
        <tr>
            <td style="border-right: solid 1px #DDDDDD;border-left: solid 1px #DDDDDD">
                @v.destinationName
            </td>
            <td style="border-right: solid 1px #DDDDDD">
                @v.name

                @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() > 0)) {
                    <br/><br/>
                    @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                        @v.city, @v.country
                    } else {
                        @v.country
                    }

                }

            </td>
            <td>

                @if(v.intro != null && v.intro.length() > 0) {
                    @Html(v.intro)

                    <br/>
                }
                @if(v.tag != null && v.tag.length() > 0) {
                    <span class="text-info">Tag:</span> @v.tag
                }
            </td>

            <td style="border-right: solid 1px #DDDDDD">

              <button type="button" class="btn btn-success pull-right"
                @if(m.tripNote) {
                  onclick="javascript:$('#searchPageModal').modal('hide');doPost('@controllers.routes.BookingNoteController.copyPage(m.tripId, v.id, m.tripDetailId, m.tripNoteDate)');"
                } else {
                onclick="javascript:$('#searchPageModal').modal('hide');doPost('guide/copyDestinationGuide?inDestId=@m.destId&inDestGuideId=@v.id');"
                }
              > Copy </button>

            </td>

        </tr>
        }
        } else {
            <tr>
                <td colspan="4">
                    No Pages Found
                </td>
            </tr>
        }

        </tbody>
    </table>


</div>