@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.view.GenericTypeView

<div id="searchResultsTable">
    <h3 class="page-title">@m.message</h3>

    <table class="table">
        <thead>
        <tr>
            <!-- <th></th> -->
            <th style="width:30%">NAME</th>
            <th style="width:20%">LOCATION</th>
            <th style="width:45%">ABOUT</th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>
        @if(m.destinationList != null) {
        @for(p <- m.destinationList) {
        <tr>
            <!--<td>@if(p.coverUrl != null){<img class="fixed_width" src="@p.coverUrl"></img>}</td>-->
            <td>@p.name</td>
            <td>@p.city @p.country</td>
            <td>@if(p.intro != null){@Html(p.intro)}</td>
            @if(!m.tripNote) {
                <td><button type="button" class="btn btn-success" onclick="javascript:$('#searchGuideModal').modal('hide');doPost('guide/copyDestinationGuide?inDestId=@p.id&inDestGuideId=@m.destGuideId');"> Copy to Document </button></td>
            }else{
                <td><button type="button" class="btn btn-success" onclick="javascript:$('#searchGuideModal').modal('hide');doPost('trips/newTrip/note/copyNoteToDoc?inDestId=@p.id&inDestGuideId=@m.destGuideId');"> Copy to Document </button></td>
            }
        </tr>
        }
        }

        </tbody>
    </table>


</div>