@(m:  com.mapped.publisher.view.DestinationSearchView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Documents <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        @if(m != null && m.keyword !=null && m.keyword.length > 0) {
        $(function () {


        var pUrl = "javascript:doPost('/guide/destination?inKeyword=@m.keyword&inCmpyId=@m.cmpyId&inSearchTitleOnly=@m.searchTitleOnly');";
         addRecentHistory('RecentDocumentSearches','@m.keyword','@m.keyword', pUrl);
        });
        }


        var mapInitialized = false;


    @if(m.displayMap) {

        $('#mapTabHref').on('shown', function (e) {
             var destLocations = new Array();

        @if(m.destinationList != null) {
        @for(pl <- m.destinationList) {
        @if(pl.locLat != null && pl.locLong != null &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
        @if(pl.coverUrl != null && pl.coverUrl.length() > 0) {
            destLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"@escapeEcmaScript(pl.name)", id:"@escapeEcmaScript(pl.id)"});
        } else {
        destLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"@escapeEcmaScript(pl.name)",id:"@escapeEcmaScript(pl.id)"});
        }
        }
        }
        }
            if (!mapInitialized) {
                google.maps.event.trigger(map1, 'resize');
                    $('#map1').gmap3({
                        map:{
                            options:{
                            zoom: 12
                            }
                        },
                    marker:{
                        values:destLocations,
                        options:{
                            draggable: false
                        },
                        events:{
                            click: function(marker, event, context) {
                                getPage('/guide/newDestination?inDestId='+context.id);
                            },
                            mouseover: function(marker, event, context){
                                var map = $("#map1").gmap3("get"),
                                infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                                if (infowindow){
                                    infowindow.open(map, marker);
                                    infowindow.setContent(context.data);
                                } else {
                                    $("#map1").gmap3({
                                        infowindow:{
                                            anchor:marker,
                                            options:{content: context.data}
                                        }
                                    });
                                }
                             },
                            mouseout: function(){
                                var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                                if (infowindow){
                                    infowindow.close();
                                }
                            }
                        }
                    },
                autofit:{}
            });
            mapInitialized = true;
        }


        });
    }

  </script>

    <script>
  $(document).ready(function() { //wait for document ready
    var timer;
    var delay = 600; // 0.6 seconds delay after last input

    $('#searchTerm').keypress(function(event) {
      if (event.keyCode == 13) {
        event.preventDefault();
      }
    });

    $('#searchTerm').bind('input', function() {
      window.clearTimeout(timer);
      timer = window.setTimeout(function(){
        //insert delayed input change action/event here

        var tableDoc = $('#allDocumentsTable').DataTable();
        // Search for a data point
        tableDoc.draw();

        var tablePage = $('#allPagesTable').DataTable();
        // Search for a data point
        tablePage.draw();
      }, delay);
    })
  }); // END READY


    $('#searchDocuments').on( "click", function () {
      var tableDoc = $('#allDocumentsTable').DataTable();
      var tablePage = $('#allPagesTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      tablePage.draw();
      return false;
    });

    $('#inCmpyId').on( "change", function () {
      var tableDoc = $('#allDocumentsTable').DataTable();
      var tablePage = $('#allPagesTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      tablePage.draw();
      return false;
    });

    $('#inDestType').on( "change", function () {
      var tableDoc = $('#allDocumentsTable').DataTable();
      // Search for a data point
      tableDoc.draw();
      return false;
    });


    $('#inSearchTitleOnly').on( "change", function () {
      var tableDoc = $('#allDocumentsTable').DataTable();
      var tablePage = $('#allPagesTable').DataTable();

      // Search for a data point
      tableDoc.draw();
      tablePage.draw();
      return false;
    });
  </script>
    <style>

        #map1{

        height: 600px;
        width: 98%;
        margin:0 auto;

        }

        #map1 img {
        max-width: none; }

        table#allDocumentsTable {
            width: 100%!important;
        }

        table.dataTable tbody td {
            word-wrap: break-word;
            word-break: break-word;
        }

        #allDocumentsTable thead th:nth-child(1) {
            width: 3%!important;
        }
        #allDocumentsTable thead th:nth-child(2) {
            width: 20%!important;
        }
        #allDocumentsTable thead th:nth-child(3) {
            width: 10%!important;
        }
        #allDocumentsTable thead th:nth-child(4) {
            width: 22%!important;
        }
        #allDocumentsTable thead th:nth-child(5) {
            width: 10%!important;
        }
        #allDocumentsTable thead th:nth-child(6) {
            width: 10%!important;
        }
        #allDocumentsTable thead th:nth-child(7) {
            width: 10%!important;
        }
        #allDocumentsTable thead th:nth-child(8) {
            width: 10%!important;
        }
        #allDocumentsTable thead th:nth-child(9) {
            width: 5%!important;
        }


    </style>

    <div class="">
        <legend>
            <div style="font-family:'Open Sans Condensed',sans-serif;">Search Documents</div>
        </legend>
       <form id="destSearchForm">
        <div class="row-fluid">
            <div class="span4">
                <label> Search</label>
                <!--input type="text" placeholder="keywords" id='inKeyword' class="input-block-level" name='inKeyword' @if(m.keyword != null){value="@m.keyword"}-->
                <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                       @if(m.keyword != null && m.keyword.length() > 0) {value="@m.keyword"}>
            </div>
            <div class="span3">
                <label> Document Type</label>
                @if(m != null && m.destinationTypeList != null && m.destinationTypeList.size() > 0) {
                    <select style="width: 90%" name="inDestType" id="inDestType">
                        <option selected="Y" value="0">All</option>
                        @for(p <- m.destinationTypeList) {
                            <option value=@p.id>@p.name</option>
                        }
                    </select>
                }
            </div>
            <div class="span3">
                <label> Company</label>
                @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 0) {
                <select style="width: 80%" name="inCmpyId" id="inCmpyId">

                    @for((key, value) <- m.tripAgencyList) {
                    @if((m.cmpyId == null || m.cmpyId.length == 0) && key.equals("All")) {
                    <option selected="Y" value=@key>@value</option>

                    } else {

                    @if(key == m.cmpyId) {
                    <option selected="Y" value=@key>@value</option>
                    } else {
                    <option value=@key>@value</option>
                    }
                    }
                    }
                </select>
                }
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="checkbox" id="inSearchTitleOnly" name="inSearchTitleOnly" value="true" @if(m.searchTitleOnly){ checked}> search in title only

                <!--button type="submit" class="btn btn-info btn-large pull-right" onclick="javascript:postForm('/guide/destination','destSearchForm');return false;"> Search</button-->
            </div>
        </div>



       </form>
    </div>

    <div class="tabbable " style=""> <!-- Only required for left/right tabs -->
        <div id="searchMsg" class="subTitle" style="font-family:'Open Sans Condensed',sans-serif;">@if(m.keyword == null || m.keyword.length == 0){RECENTLY UPDATED} else {SEARCH RESULTS: @m.keyword}</div>
        <ul class="nav nav-tabs" id="bookingTabs">

            <li @if((m.destinationList !=null && m.destinationList.size > 0) || m.destinationGuideList == null || m.destinationGuideList.size() == 0){class="active"}><a id="mainTabHref" href="#mainTab" data-toggle="tab"> <i class="fa fa-book pull-left"></i> Documents </a></li>
            <li @if((m.destinationList ==null || m.destinationList.size == 0) && m.destinationGuideList != null && m.destinationGuideList.size() > 0){class="active"}><a id="pageTabHref" href="#pageTab" data-toggle="tab"> <i class="fa fa-list-alt pull-left"></i> Pages </a></li>
           <!--
            @if(m.displayMap) {
                <li ><a id="mapTabHref" href="#mapTab" data-toggle="tab"> <i class="icon-map-marker pull-left"></i> Map</a></li>
            }
            -->
        </ul>

        <div class="tab-content">
            <div class="tab-pane @if((m.destinationList !=null && m.destinationList.size > 0) || m.destinationGuideList == null || m.destinationGuideList.size() == 0){active}" id="mainTab">
                <!--div>
                    @if(m.nextPos > 0){
                        <a  class="btn" style="float:right" onclick="javascript:getPage('/guide/destination?inKeyword=' + @if(m.keyword != null){escape('@m.keyword')}else{''} + '&inCmpyId=' + @if(m.cmpyId == null || m.cmpyId.length == 0){'All'}else{escape('@m.cmpyId')} + '&inStartPos=' + '@m.nextPos'  )"> <i class="fa fa-caret-right fa-lg"></i> </a>
                    }
                    @if(m.prevPos > -1){
                        <a  class="btn" style="float:left" onclick="javascript:getPage('/guide/destination?inKeyword=' + @if(m.keyword != null){escape('@m.keyword')}else{''} + '&inCmpyId=' + @if(m.cmpyId == null || m.cmpyId.length == 0){'All'}else{escape('@m.cmpyId')} + '&inStartPos=' + '@m.prevPos'  )"> <i class="fa fa-caret-left fa-lg"></i>  </a>
                    }
                </div>
                <br/-->

                <!--table class="table table-striped">
                    @if(m.destinationList != null && m.destinationList.size() > 0) {
                    <thead>
                    <tr>
                        <th style="width:62px"></th>
                        <th style="width:40%">NAME</th>
                        <th style="width:25%">TYPE</th>
                        <th style="width:25%">ABOUT</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    }
                    <tbody>
                    @if(m.destinationList != null && m.destinationList.size() > 0) {
                    @for(v <- m.destinationList) {

                    <tr style="height:62px">
                        <td style="vertical-align: middle">
                            @if(v.canEdit){
                            <a  onclick="javascript:getPage('/guide/newDestination?inDestId=@v.id')">
                            } else {
                            <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
                            }
                            @if(v.coverUrl!=null) {
                                <div style="background-image:url(@v.coverUrl);center;width:62px;height:62px;;background-size:cover;" >
                                             &nbsp;
                                </div>
                            } else {
                                <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                                    &nbsp;
                                </div>
                            }
                            </a>



                        </td>
                        <td style="width:25%;vertical-align: middle">
                            @if(v.canEdit){
                            <a  onclick="javascript:getPage('/guide/newDestination?inDestId=@v.id')">
                                } else {
                                <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
                            }
                            <h5>  @v.name </h5>
                            </a>
                        </td>
                        <td style="width:20%;vertical-align: middle">
                            <h5>
                                @if(m.tripAgencyList !=null && m.tripAgencyList.size() > 1) {
                                @v.cmpyName
                                <br>
                                }
                                @v.destinationTypeDesc
                                @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() > 0)) {
                                    @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                                        <br> @v.city, @v.country
                                    } else {
                                        <br/> @v.country
                                    }
                                }
                            </h5>
                        </td>
                        <td style="width:25%;vertical-align: middle">
                            @if(v.intro != null) {
                                @Html(v.intro)
                            }
                        </td>
                        <td style="width:10%;vertical-align: middle;text-align: right">
                            @if(v.canEdit){
                                <a   class="btn btn-info btn-large" onclick="javascript:getPage('/guide/newDestination?inDestId=@v.id')"> Edit </a>
                            } else {
                                <a   class="btn btn-info btn-large" onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')"> View </a>
                            }


                        </td>


                    </tr>
                    }
                    } else {
                    <tr>
                        <td>
                            <h4> No Documents Found.</h4>
                        </td>
                    </tr>
                    }



                    </tbody>
                </table-->


                <div class="" >
                    <!--div class="subTitle" >@if(m.keyword == null || m.keyword.length == 0){RECENTLY UPDATED} else {SEARCH RESULTS: @m.keyword} </div-->
                    <div style="padding:20px;">
                        <form id="documentSearchForm">
                            <!--div class="row-fluid">
                                <div class="span3">
                                    <Label> Keyword <em>*</em></Label>
                                    <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                                           @if(m.keyword != null && m.keyword.length() > 0) {
                                    value="@m.keyword"
                                    }
                                    >
                                </div>
                                <div class="span3">
                                    <label> Company</label>
                                    @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 0) {
                                    <select name="inCmpyId" id="inCmpyId">

                                        @for((key, value) <- m.tripAgencyList) {
                                        @if((m.cmpyId == null || m.cmpyId.length == 0) && key.equals("All")) {
                                        <option selected="Y" value=@key>@value</option>

                                        } else {

                                        @if(key == m.cmpyId) {
                                        <option selected="Y" value=@key>@value</option>
                                        } else {
                                        <option value=@key>@value</option>
                                        }
                                        }
                                        }
                                    </select>
                                    }
                                </div>
                                <div class="span4">
                                    <label>&nbsp;</label>
                                    <input type="checkbox" id="inSearchTitleOnly" name="inSearchTitleOnly" value="true" @if(m.searchTitleOnly){ checked}> search in title only

                                </div>
                                <div class="">
                                    <!--
                                    <label>&nbsp;</label>
                                    <button id="searchTrips" class="btn btn-info btn-large">Search
                                    </button>

                                </div>
                            </div>
                            <div class="row-fluid">
                                </div-->

                        </form>
                        <script>
                        $(function(){
                        initAllDocuments('@controllers.routes.DestinationController.searchAllDocuments()');
                        });
                        </script>
                        <table class="table table-striped" id="allDocumentsTable">
                            <thead>
                            <tr>
                                <th style="width:3%!important"></th>
                                <th style="width:20%!important">NAME</th>
                                <th style="width:10%!important">TYPE</th>
                                <th style="width:22%!important">ABOUT</th>
                                <th style="width:10%!important">CREATED BY</th>
                                <th style="width:10%!important">CREATED TIME</th>
                                <th style="width:10%!important">MODIFIED BY</th>
                                <th style="width:10%!important">MODIFIED TIME</th>
                                <th style="width:5%!important"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>




            </div>

            <div class="tab-pane @if((m.destinationList ==null || m.destinationList.size == 0) && m.destinationGuideList != null && m.destinationGuideList.size() > 0){active}" id="pageTab">

                <!--table class="table table-striped">
                    @if(m.destinationGuideList != null && m.destinationGuideList.size() > 0) {

                    <thead>
                    <tr>
                        <th style="width:62px"></th>
                        <th style="width:35%">DOCUMENT NAME</th>
                        <th style="width:25%">PAGE NAME</th>
                        <th style="width:30%">ABOUT</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    }
                    <tbody>

                    @if(m.destinationGuideList != null && m.destinationGuideList.size() > 0) {
                    @for(v <- m.destinationGuideList) {

                    <tr style="height:62px">
                        <td style="vertical-align: middle">
                            @if(v.canEdit){
                                <a  onclick="javascript:getPage('@routes.DestinationController.newDestinationGuide(v.destinationId, v.id)')">
                            } else {
                                <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.destinationId')">
                            }
                            @if(v.coverUrl!=null) {
                                <div style="background-image:url(@v.coverUrl);center;width:62px;height:62px;background-size:cover;" >
                                      &nbsp;
                                 </div>
                            } else {
                                <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                                        &nbsp;
                                </div>
                            }

                            </a>



                        </td>
                        <td style="width:25%;vertical-align: middle">
                            @if(v.canEdit){
                            <a  onclick="javascript:getPage('@routes.DestinationController.newDestinationGuide(v.destinationId, v.id)')">
                                } else {
                                <a   onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.destinationId')">
                                    }
                            <h5>  @v.destinationName </h5>
                            </a>

                        </td>
                        <td style="width:20%;vertical-align: middle">
                            <h5>
                                @v.name
                                @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() > 0)) {
                                    <br>
                                @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                                <br> @v.city, @v.country
                                } else {
                                <br/> @v.country
                                }
                                }

                            </h5>
                        </td>
                        <td style="width:25%;vertical-align: middle">
                            <h5>
                            @if(v.intro != null) {
                                @Html(v.intro)
                            }

                            </h5>
                        </td>
                        <td style="width:10%;vertical-align: middle;text-align: right">
                            @if(v.canEdit){
                            <a   class="btn btn-info btn-large" onclick="javascript:getPage(
                                    '@routes.DestinationController.newDestinationGuide(v.destinationId, v.id)')"> Edit </a>
                            } else {
                            <a   class="btn btn-info btn-large" onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.destinationId')"> View </a>
                            }


                        </td>


                    </tr>
                    }
                    } else {
                    <tr style="border-style: none">
                        <td>
                            <h4> No Pages Found.</h4>
                        </td>
                    </tr>
                    }

                    </tbody>
                </table-->
                <div class="" >
                    <div style="padding:20px;">
                        <form id="pageSearchForm">
                            <!--div class="row-fluid">
                                <div class="span3">
                                    <Label> Keyword <em>*</em></Label>
                                    <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                                           @if(m.keyword != null && m.keyword.length() > 0) {
                                    value="@m.keyword"
                                    }
                                    >
                                </div>
                                <div class="span3">
                                    <label> Company</label>
                                    @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 0) {
                                    <select name="inCmpyId" id="inCmpyId">

                                        @for((key, value) <- m.tripAgencyList) {
                                        @if((m.cmpyId == null || m.cmpyId.length == 0) && key.equals("All")) {
                                        <option selected="Y" value=@key>@value</option>

                                        } else {

                                        @if(key == m.cmpyId) {
                                        <option selected="Y" value=@key>@value</option>
                                        } else {
                                        <option value=@key>@value</option>
                                        }
                                        }
                                        }
                                    </select>
                                    }
                                </div>
                                <div class="span4">
                                    <label>&nbsp;</label>
                                    <input type="checkbox" id="inSearchTitleOnly" name="inSearchTitleOnly" value="true" @if(m.searchTitleOnly){ checked}> search in title only

                                </div>
                                <div class="">
                                    <!--
                                    <label>&nbsp;</label>
                                    <button id="searchTrips" class="btn btn-info btn-large">Search
                                    </button>

                                </div>
                            </div>
                            <div class="row-fluid">
                                </div-->

                        </form>
                        <script>
                            $(function(){
                            initAllPages('@controllers.routes.DestinationController.searchAllPages()');
                            });
                        </script>
                        <table class="table table-striped" id="allPagesTable">
                            <thead>
                            <tr>
                                <th style="width:3%!important"></th>
                                <th style="width:20%!important">DOCUMENT NAME</th>
                                <th style="width:10%!important">PAGE NAME</th>
                                <th style="width:22%!important">ABOUT</th>
                                <th style="width:10%!important">CREATED BY</th>
                                <th style="width:10%!important">CREATED TIME</th>
                                <th style="width:10%!important">MODIFIED BY</th>
                                <th style="width:10%!important">MODIFIED TIME</th>
                                <th style="width:5%!important"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>





            </div>

            @if(m.displayMap) {
            <div class="tab-pane fade" id="mapTab">
                <div class="row-fluid" id="map_canvas">
                    <div class="span12">
                        <div id="map1" class="border "></div>
                    </div>
                    <div class="span1"></div>
                </div>
                <br/> <br/>
             </div>
            }




            </div>
    </div>

    <div id="dynamicModal">
    </div>

</div>
<--endPageBody-->
