@(p:  com.mapped.publisher.view.DestinationGuideView)
@import com.mapped.publisher.common.APPConstants

  <!-- logic for different variation of layouts -->

    <div style="padding-top: 10px">
      <span class="h2_title">@p.name </span>
      <br>
      <table width="750" style="margin-top: 10px">
        <tr>
          <td style="width: 700px">
            @if(p.timestamp != null && p.timestamp > 0) {
              <div class="date">
                @if(p.time12hr != null && p.time12hr.size > 0) { @p.time12hr }

              </div>
            }
            @if((p.streetAddr1 != null && p.streetAddr1.size > 0) || (p.country != null && p.country.size > 0) || (p.city != null && p.city.size > 0)) {
              <p style="text-align: left">
                <strong>@if(p.streetAddr1 != null && p.streetAddr1.size > 0) {@p.streetAddr1<br/>}
                  @p.city @if(p.country != null && p.country.size > 0) {@if(p.city != null && p.city.trim.length > 0){,} @p.country} <br />
                </strong>
              </p>
            }

          </td>
          <td style="width:70px">
          @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_FOOD) {
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_food_drinks_blue.png" style="float: right;padding-right: 10px">
          } else {
            @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_GOINGS_ON) {
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_goingson_blue.png"  style="float: right;padding-right: 10px">
            } else {
              @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_HOTEL) {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_hotels_blue.png"  style="float: right;padding-right: 10px">
              } else {
                @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_OTHER) {
                  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_other_blue.png"  style="float: right;padding-right: 10px">
                } else {
                  @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_SHOPPING) {
                    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_shopping_blue.png"  style="float: right;padding-right: 10px">
                  } else {
                    @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_SIGHTS) {
                      <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_sights_blue.png"  style="float: right;padding-right: 10px">
                      }
                  }
                }
              }
            }
          }
          </td>
        </tr>

      </table>
    </div>
    @if(p.photos != null && p.photos.size() > 0) {
      <div style="background: url(@p.photos.get(0).attachUrl) no-repeat center; overflow: hidden; height:175px;" class="full_img" >
          &nbsp;
      </div>
      <br>

    }
    <br>
    @if(p.intro != null && p.intro.size > 0) {
      <p>
      @Html(p.intro)
      </p>
    }
    @if(p.description != null && p.description.length > 0) {
      <p>
      @Html(p.description)
      </p>
    }
    @if(p.links != null && p.links.size() > 0) {
      <br>

      <p>
      @for(v <- p.links) {
        <a href="@v.attachUrl">@v.attachName</a> <br/>
        (@v.attachUrl) <br/>
        @if(v.comments != null && v.comments.trim.length > 0) {
          @Html(v.comments)<br/>
        }
        <br/>
      }
      </p>
    }
