@(m:  com.mapped.publisher.view.DestinationView)
@import com.mapped.publisher.view.GenericTypeView
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import models.publisher.ImageLibrary.ImgSrc
@import com.mapped.publisher.common.Capability;

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.id != null) {
    <h1 class="page-title">@m.name <a href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"></h1>
    } else {
    <h1 class="page-title">New Document <a href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"></h1>
    }
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      @* @formatter:off *@

      initDocument(@if(m.id != null){'@m.id'}else{''} @if(m.id != null){, '@routes.DestinationController.newDestination(m.id)'});
      var mapInitialized = false;
      @if(m.displayMap){
        var destinationLocations = new Array();
        @if(m.guides != null) {
          @for(pl <- m.guides) {
            @if(pl.locLat != null && pl.locLong != null &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
              @if(pl.coverUrl != null) {
                destinationLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"<div> @escapeEcmaScript(pl.name) <br/> @escapeEcmaScript(pl.streetAddr1)</div>", id:"@escapeEcmaScript(pl.id)"});
              } else {
                destinationLocations.push({latLng:[@escapeEcmaScript(pl.locLat), @escapeEcmaScript(pl.locLong)], data:"@escapeEcmaScript(pl.name) <br> @escapeEcmaScript(pl.streetAddr1)", id:"@escapeEcmaScript(pl.id)"});
              }
            }
          }
        }
        $('#mapTabHref').on('shown', function (e) {
          if (!mapInitialized) {
            $("#map1").gmap3({
              map:{
                options:{
                }
              },
              marker:{
                values:destinationLocations,
                options:{
                  draggable: false
                },
                events:{
                  click: function(marker, event, context) {
                    getPage('@routes.DestinationController.newDestinationGuide(m.id)' + '&inDestGuideId='+context.id);

                  },
                  mouseover: function(marker, event, context){
                    var map = $("#map1").gmap3("get"),
                            infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                    if (infowindow){
                      infowindow.open(map, marker);
                      infowindow.setContent(context.data);
                    } else {
                      $("#map1").gmap3({
                        infowindow:{
                          anchor:marker,
                          options:{content: context.data}
                        }
                      });
                    }
                  },
                  mouseout: function(){
                    var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
                    if (infowindow){
                      infowindow.close();
                    }
                  }
                }
              },
              autofit:{}

            });
          }
          mapInitialized = true;
        });
      }

      //update recently updated trip menu - keep limit to 10
      @if(m != null && m.id !=null && m.name != null && m.name.length > 0) {
        @if(m != null && m.destinationTypeList != null) {
          var documentType = "";
          @for(destinationType: GenericTypeView <- m.destinationTypeList){
            @if(destinationType.id == m.destinationType ) {
              documentType = " (@{destinationType.name})";
            }
          }
        }
        addRecentHistory('RecentDocuments','@{m.id}','@m.name' + documentType,
                "javascript:getPage('/guide/newDestination?inDestId=@m.id')");
      }
      @* @formatter:on *@
    });





    function reloadNeeded() {
      if (photoUploadedCount > 0) {
        var reqParam = "inDestId=@m.id";
        reloadPage(reqParam);
      }
    }

    function showResponse(responseText, statusText, xhr, $form)  {
      $('#uploadPhotoModal').modal('hide');
      getPage(uploadSuccessUrl);
    }

    @if(m.cover != null) {
        //Image cropper handlers
        function submitCropImg() {
          var url = '@routes.DestinationController.newDestination(m.id)';
          cropImg(url, '@m.cover.id', '@ImageController.CropUse.DOC_COVER', '@m.id');
        }

        function restoreImgCropper() {
          var url = '@routes.DestinationController.newDestination(m.id)';
          restoreOrigImg(url, '@m.cover.id', '@ImageController.CropUse.DOC_COVER', '@m.id');
        }
    }
  </script>
  <style>
    #map1{
      height: 500px;
      width: 98%;
      margin:0 auto;
    }

    #map1 img {
      max-width: 700px;
    }
  </style>

  <div id="form" style="min-width:960px">
      <form id="destinationForm">
          <div>
              <fieldset class="">
                  <legend>About This Document</legend>
                  <div class="row-fluid">
                  <div class="span9">
                  <div class="row-fluid">
                      <div class="span6">
                          <label> Title <em>*</em></label>

                          @if(m!= null && m.id!=null) {
                          <input type="hidden" id="inDestId" name="inDestId"   minlength="5"  value="@m.id" >
                          }


                          <input type="text" id="inDestName" name="inDestName" placeholder="Name" class="required input-block-level" minlength="2"
                          @if(m!= null && m.name!=null) {
                          value="@m.name"
                          }
                          >

                      </div>


                      @if(m != null && m.tripAgencyList != null && m.id ==null) {
                          @for((key, value) <- m.tripAgencyList) {
                            <input type="hidden" id="inCmpyId" name="inCmpyId" value="@key">
                          }
                      } else {
                        <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                      }

                      @if(m.id == null || m.createdByThisUser) {
                      <div class="span3" style="margin-top: 20px">
                          <input type="checkbox" id="inPrivateDest" name="inPrivateDest" value="true" @if(m.isPrivate){checked}> Make Document Private

                      </div>
                      }


                  </div>
                  <br/>
                  <div class="row-fluid">
                      <div class="span3">
                          <label> Document Type</label>
                          @if(m != null && m.destinationTypeList != null) {
                          <select name="inDestinationTypeId" id="inDestinationTypeId" class="input-block-level" >
                              @for(destinationType: GenericTypeView <- m.destinationTypeList){
                                @if(destinationType.id == m.destinationType ) {
                                  <option selected="Y" value=@destinationType.id>@destinationType.name</option>
                                } else {
                                  @if(m.id == null && destinationType.id == "8") {
                                    <option selected="Y" value=@destinationType.id>@destinationType.name</option>
                                  } else {
                                    <option value=@destinationType.id>@destinationType.name</option>
                                  }
                                }
                              }
                          </select>
                          }
                      </div>
                      <div class="span3">
                          @if(m.destinationType != null &&  m.destinationType =="2"){
                              <label id="inDestCityLbl"> City *</label>
                              <input type="text" name="inDestCity" id="inDestCity" placeholder="City" class="required input-block-level" @if(m.city!=null) {value="@m.city"}>
                          } else {
                              <label id="inDestCityLbl"> City</label>
                              <input type="text" name="inDestCity" id="inDestCity" placeholder="City" class="input-block-level" @if(m.city!=null) {value="@m.city"}>
                          }

                      </div>
                      <div class="span3">
                          @if(m.destinationType == null || m.destinationType =="1" || m.destinationType =="2"){
                               <label id="inDestCountryLbl"> Country *</label>
                               <input type="text"  name="inDestCountry" id="inDestCountry" placeholder="Country" class="required input-block-level" @if(m.country!=null) {value="@m.country"}>

                          } else {
                              <label id="inDestCountryLbl"> Country</label>
                              <input type="text"  name="inDestCountry" id="inDestCountry" placeholder="Country" class="input-block-level" @if(m.country!=null) {value="@m.country"}>

                          }


                      </div>
                  </div>
                  <br/>
                  <div class="row-fluid">
                      <div class="span3">
                          <label id="inDestLocLatLbl"> Latitude</label>

                          <input type="text" id="inDestLocLat" name="inDestLocLat"     value="@m.locLat" >
                      </div>

                      <div class="span3">
                          <label id="inDestLocLongLbl"> Longitude</label>

                          <input type="text" id="inDestLocLong" name="inDestLocLong"    value="@m.locLong" >
                      </div>

                  </div>
                  <br/>

                  <div class="row-fluid">
                      <div class="span9">
                          <label>Summary</label>

                          <textarea id="inDestIntro" name="inDestIntro" class="field span9" maxlength="200" rows="2">@if(m!= null && m.intro!=null) {@Html(m.intro)}</textarea>
                          <script>CKEDITOR.replace('inDestIntro');</script>

                      </div>
                  </div>
                  <br/>
                  <div class="row-fluid">
                      <div class="span6">
                          <label>Tag</label>
                          <input type="text" name="inDestTag" id="inDestTag" placeholder="Tags" class="input-block-level" @if(m.tag!=null) {value="@m.tag"}>
                      </div>
                  </div>
                </div>
                <div class="span3" style="text-align:center">
                    @if(m.id != null && m.id.length() > 0) {
                    <label style="text-align:left">Cover Photo</label>
                      @if(m.coverUrl != null) {
                          <a href="@m.coverUrl" data-lightbox="image-1" data-title= "" target="_blank">
                              <img style="" src="@m.coverUrl" width="100%" ></img>
                          </a>
                      } else {
                          <a  href="#uploadPhotoModal"  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal">  <img class="img-rounded" width="290" height="290" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Add Cover Photo"/> </a>
                      }
                    }
                    <br/><br/>
                    @if(m.id != null && m.id.length() > 0) {
                    @if(m.coverUrl != null){
                    <button type="button" href="#deletePhotoModal" id="deleteBtn" class="btn btn-danger btn-small"  data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    <button type="button"  id="cropBtn" class="btn btn-info btn-small"  onclick='imageCropper("@m.coverUrl");return false;'><i class="fa fa-crop"></i>&nbsp;Crop</button>
                    }
                    <button  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary btn-small" data-toggle="modal"><i class="fa fa-picture-o"></i> Upload </button>
                    }

                </div>
               </div>

                  <div class="row-fluid">
                      @if(m.id != null && m.id.length() > 0) {
                        <div class="span12">
                          <div style="float:right">

                          <!--<button data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-large btn-primary" data-toggle="modal"> Add Cover Photo </button>-->
                          <div class="btn-group" id="manageDocBtn">
                              <button class="btn btn-primary btn-large" data-toggle="dropdown">Manage Document</button>
                              <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                  <li style="padding-top: 5px;padding-bottom: 5px">
                                      <a href="#copyModal" data-toggle="modal">
                                          Duplicate This Document
                                      </a>
                                  </li>
                                  <li style=" padding-top: 5px;padding-bottom: 5px">
                                      <a href="/guide/loadPdf?inDestId=@m.id" target="_blank">
                                          Download as PDF
                                      </a>
                                  </li>
                              </ul>
                              </li>
                              </ul>
                          </div>
                          &nbsp;&nbsp;&nbsp;

                          <a href="#deleteModal" role="button" class="btn btn-danger btn-large" data-toggle="modal">Delete</a>
                          &nbsp;&nbsp;&nbsp;
                              <button type="submit" class="btn btn-success btn-large" onClick="javascript:postRichTextForm('/guide/newDestination','inDestIntro','destinationForm');return false;"> Save</button>
                          </div>
                        </div>
                      } else {
                        <div class="span9">
                            <button type="submit" class="btn btn-success btn-large pull-right" onClick="javascript:postForm('/guide/newDestination','destinationForm');return false;"> Create</button>
                        </div>
                      }
                  </div>

                @if(m.id != null && m.id.length() > 0) {
                  <br/>    <hr/>

                  <div class="row-fluid">

                    <div class="span4 ">
                        <div class="btn-group " id="addPagesBtn">
                            <button class="btn btn-primary btn-large" style="width: 230px" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Pages </button>
                            <button class="btn btn-primary  btn-large dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                                    <a href="#" onclick="javascript:getPage('/guide/newDestinationGuide?inDestId=@m.id');" id="newPageBtn" data-toggle="modal">
                                        <i class="fa fa-plus" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add a New Page </span>
                                    </a>
                                </li>
                                <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                                    <a href="#searchPageModal" id="searchPageBtn" data-toggle="modal">
                                        <i class="fa fa-plus" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add Existing Page </span>
                                    </a>
                                </li>
                                @if(m.hasCapability(Capability.TRAVEL42_GUIDES)){
                                <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                                    <a href="#mobilizerModal" id="mobilizerBtn" data-toggle="modal">
                                        <i class="fa fa-newspaper-o" style="padding-right:15px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add External Content&nbsp;&nbsp;<span class="badge badge-warning">Beta</span> </span>
                                    </a>
                                </li>

                                <li style=" padding-top: 5px;padding-bottom: 5px;">
                                    <a href="#t42SearchModal" id="t42Btn" data-toggle="modal">
                                        <i class="fa fa-plus" style="margin-left:8px;padding-right:18px;font-size: 16px"></i><span style="font-size: 16px;font-weight: 400;"><img src='@m.imgUrl/img/travel42_logo.png' style="width: 75px;vertical-align: text-top" >&nbsp;Content </span>
                                    </a>
                                </li>
                                } else {
                                <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;">
                                    <a href="#mobilizerModal" id="mobilizerBtn" data-toggle="modal">
                                        <i class="fa fa-newspaper-o" style="padding-right:15px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add External Content&nbsp;&nbsp;<span class="badge badge-warning">Beta</span> </span>
                                    </a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                  </div>
                }

              </fieldset>
          </div>
       </form>
  </div>

  <!-- display the list of places -->
  <div class="tabbable" style="min-width:960px; min-height:200px"> <!-- Only required for left/right tabs -->
      @if((m.guides != null && m.guides.size() > 0) || m.displayMap){
        <ul class="nav nav-tabs" id="bookingTabs">
            @if(m.guides != null && m.guides.size() > 0){
                <li class="active"><a href="#mainTab" data-toggle="tab"> <i class="fa fa-heart pull-left"></i> Pages</a></li>
            }
            @if(m.displayMap) {
                <li><a id="mapTabHref" href="#mapTab" data-toggle="tab"> <i class="fa fa-map-marker pull-left"></i> Map</a></li>
            }
        </ul>
      }

    <div class="tab-content" style="overflow: visible;">
        <div class="tab-pane active" id="mainTab" >

            @if(m.guides != null && m.guides.size() > 0){
              <p class="muted"> Simply drag and drop the pages to change the order they will appear in this document. </p>

              <div class="row-fluid"  style="padding-left:10px;padding-right:0px;">
                <ul id="sortDiv" style="list-style-type: none; margin-left:20px; padding: 0;">

                @for((v,i) <- m.guides.zipWithIndex) {
                  <li class="" style="width:13%;float: left;padding-bottom:10px;margin:5px;background-color:#fff;border:1px solid #cfcfcf;" id="@v.id">
                    <a   onclick="getPage('@routes.DestinationController.newDestinationGuide(v.destinationId, v.id)'); return false;">
                        <table class="tableNoBorder" style="width:100%;min-height: 250px">
                            <body>
                            <tr>
                                <td style="text-align:center;font-size: 11px;color: #666666;padding-left: 4px;padding-right: 4px;padding-top: 4px">
                                    @v.name

                                </td>
                            </tr>

                            @if(v.coverUrl!=null) {
                            <tr>
                                <td style="padding-bottom:4px; ">
                                    <div style="background-image:url(@v.coverUrl);background-size: cover;background-position: center;width:100%;height:100px;margin:auto; ">
                                        &nbsp;
                                    </div>
                                   <!-- <img class="img-rounded span12" src="@v.coverUrl"> -->
                                </td>
                            </tr>
                            } else {
                            <tr>
                                <td style="padding-bottom:4px; ">
                                  <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);background-size: cover;background-position: center;width:100%;height:100px;margin:auto; ">
                                      &nbsp;
                                    </div>
                                </td>
                            </tr>
                            }

                            <tr >
                                <td style="text-align: center;vertical-align: bottom" >
                                    <a  class="btn btn-info btn-small" onclick="return false;">
                                        Edit Page
                                    </a>

                                </td>
                            </tr>
                            </body>

                        </table>
                    </a>
                </li>
                }
               </ul>

            </div>
            }
        </div>
        @if(m.displayMap) {

        <div class="tab-pane active" id="mapTab">
            <div class="row-fluid">
                <div class="span12">

                    <div id="map1" class="border span12"></div>
                </div>


            </div>
            <br/> <br/>
        </div>
        }


    </div>
</div>

    <!-- Modal for deleting a cover photo-->
    @if(m.cover != null) {
    <!-- image cropping modal -->
    @views.html.img.imgCropperModal(m, m.cover)
    <!-- allow for delete cover photo  -->
    <script>
              $('#deleteCoverSubmit').click(function() {
                $('#deletePhotoModal').modal('hide');
              });
      </script>

    <div id="deletePhotoModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete Cover Photo</h3>
        </div>
        <div class="modal-body">
            <p>Delete the cover Photo?</p>
        </div>
        <div class="modal-footer">
            <form id="deleteCoverForm">
                <input type="hidden" id="inDocId" name="inDocId" value=@m.id>
                <input type="hidden" id="inSource" name="inSource" value="DOCUMENT">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteCoverSubmit"
                        onclick="javascript:postForm('/guide/deleteCover', 'deleteCoverForm');
                    return false;">Delete</button>
            </form>
        </div>
    </div>
    }

  <!-- Modal for adding a new page -->
  <script>
    $('#addNewPageSubmit').click(function() {
      $('#newPageModal').modal('hide');
    });
  </script>

  <div id="newPageModal" class="modal hide fade">
    <form id="newPageForm">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>New Page</h3>
      </div>
      <div class="modal-body">
          <div class="row-fluid">
              <div class="span6">
                  <label> Title <em>*</em> </label>
                  <input type="text" id="inDestGuideName" name="inDestGuideName" class="required input-block-level" placeHolder="Enter the Title">
              </div>


          </div>
          <br/>
          <div class="row-fluid">
              <div class="span12">
                  <label>Introduction</label>
                  <textarea id="inDestGuideIntro" name="inDestGuideIntro" class="field span9" rows="5"></textarea>
              </div>
          </div>
          <br/>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="inDestId" name="inDestId"  value="@m.id">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-success " id="addNewPageSubmit"
                onclick="javascript:postForm('/guide/newDestinationGuide','newPageForm');return false;">Create
        </button>
      </div>
    </form>
  </div>


    <!-- modal search guides -->
    <div id="searchPageModal" class="modal hide fade container">
        <form id="searchPageForm">
            <input type="hidden" id='inTripId' name='inTripId' value="@m.tripId"/>
            <input type="hidden" id="inDestIds" name="inDestIds"  value="@m.id"/>



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add an Existing Page</h3>
            </div>
            <div class="modal-body">
                <legend>
                    Search for an existing page
                </legend>
                <div class="">
                    <div class="row-fluid">
                        <div class="span6">
                            <label>Keyword</label>
                            <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                   class="input-block-level"/>
                        </div>
                        <div class="span3 ">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-success pull-left" id="searchPageButton"
                                    onclick="javascript:doSearchForm('guide/destinationPageSearch','searchPageForm','pageSearchResults');return false;">
                                Search
                            </button>
                        </div>
                        ​
                    </div>
                    <div class="row-fluid">
                        <input type="checkbox" name="inSearchTitleOnly" value="true" checked> search in page title only
                    </div>
                    <br>

                </div>
                <div id="pageSearchResults">
                    <div id="pageSearchResultsTable">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


            </div>
        </form>
    </div>

  <!--modal for delete -->
  @if(m.id != null){
  <script>
    $('#deleteDestSubmit').click(function() {
      $('#deleteModal').modal('hide');
    });
  </script>

  <div id="deleteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this document?</p>



        </div>
        <div class="modal-footer">
            <form id="deleteDestForm">
                <input type="hidden" id="destId" name="inDestId" value="@m.id">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteDestSubmit"
                        onclick="javascript:postForm('/guide/deleteDestination', 'deleteDestForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>

  <!-- copy modal -->
  <script>
    $('#copyDestSubmit').click(function() {
      $('#copyModal').modal('hide');
    });
  </script>

  <div id="copyModal" class="modal hide fade">
    <form id="copyDestForm" class="form-horizontal">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Confirm Copy</h3>
      </div>
      <div class="modal-body">
          <input type="hidden" id="destId" name="inDestId" value="@m.id">
          <div class="control-group">
              <label class="control-label" for="destName">New Document Name</label>
              <div class="controls">
                  <input type="text" id="destName" name="inDestName" value="@m.name">
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-danger " id="copyDestSubmit"
                onclick="javascript:postForm('/guide/copyDestination', 'copyDestForm');return false;">Copy
        </button>
      </div>
    </form>
  </div>
  }

  <!-- modal for cover -->
  @if(m.id != null && m.id.length() > 0) {
    <div id="uploadPhotoModal" class="modal container hide fade" tabindex="-1" data-replace="true">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Add a Cover Photo</h3>
      </div>
      <div class="modal-body">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs" id="photoTabs">
                  <li class="active">
                      <a href="#imgLibraryTab" data-toggle="tab">
                          <i class="fa fa-th pull-left"></i>Search Image Library</a>
                  </li>
                  <li>
                      <a href="#imgWebTab" data-toggle="tab">
                          <i class="fa fa-globe pull-left"></i> Search Web</a>
                  </li>
                  <li>
                      <a href="#uploadTab" data-toggle="tab">
                          <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
                  </li>
              </ul>



              <div class="tab-content">
                  <div id="imgLibraryTab" class="tab-pane active ">
                      <legend>Search Image Library</legend>
                      <div class="">

                          <form id="imgSearchForm">
                              <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                              <input type="hidden"  name="inImgSearchType" value="@ImgSrc.UMAPPED" >
                              <input type="hidden" id="inDocId" name="inDocId" value=@m.id>
                              <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

                              <div class="row-fluid">

                                  <div class="span6">
                                      <label>Keyword</label>
                                      <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                             class="input-block-level required"/>
                                  </div>
                                  <div class="span3 ">
                                      <label>&nbsp;</label>

                                      <button type="submit" class="btn btn-success pull-left btn-large"
                                              onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgSearchForm', 'imgSearchResults');return false;"> Search
                                      </button>
                                  </div>
                              </div>
                          </form>
                          <div class="row-fluid">
                              <p class="muted"> Search for a photo from your library and the Umapped database.</p>
                          </div>
                      </div>
                      <div id="searchResults1">
                          <div id="imgSearchResults">

                          </div>
                      </div>
                  </div>

                  <div id="imgWebTab" class="tab-pane ">
                      <legend>Search/Save Image From a Website</legend>
                      <div class="">

                          <form id="imgWebSearchForm">
                              <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                              <input type="hidden"  name="inImgSearchType" value="@ImgSrc.WEB" >
                              <input type="hidden" id="inDocId" name="inDocId" value=@m.id>
                              <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

                              <div class="row-fluid">

                                  <div class="span6">
                                      <label>Keyword</label>
                                      <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                             class="input-block-level"/>
                                  </div>

                              </div>
                              <div class="row-fluid">

                                  <div class="span6">
                                      <label>Website</label>
                                      <input type="text" id='inWebUrl' name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                                             class="input-block-level required"/>
                                  </div>
                                  <div class="span3 ">
                                      <label>&nbsp;</label>

                                      <button type="submit" class="btn btn-success pull-left btn-large"
                                              onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgWebSearchForm','imgWebSearchResults');return false;"> Search
                                      </button>
                                  </div>
                              </div>
                          </form>
                          <div class="row-fluid">
                              <p class="muted"> Search photos from an external website.</p>
                          </div>
                      </div>

                      <div id="searchResults2">
                          <div id="imgWebSearchResults">

                          </div>
                      </div>
                  </div>

                  <div id="uploadTab" class="tab-pane ">
                    <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">
                      <div class="row-fluid">
                        <legend>Upload a Photo</legend>
                        <div class="span9">
                          <input type="hidden" id="key" name='key'/>
                          <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                          <input type="hidden" id="policy" name='policy'/>
                          <input type="hidden" id="signature" name='signature'/>
                          <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                          <input type="file"  id='inDestPhotoFile' name='file' />
                        </div>
                        <div class="span2 pull-right">
                          <button type="submit" class="btn btn-success" id="uploadPhotoSubmit">Upload</button>
                        </div>
                      </div>
                      <br/>
                      <div style="height:120px">
                        <div id="uploadSpinner" style="display:none;text-align:center">
                          <img src="@{m.imgUrl}/img/ajax-loader.gif" > Uploading... <div id="progressUpload"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="imgSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
                  </div>
              </div>


          </div>



      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    @views.html.guide.afar.modals()
    @views.html.guide.mobilizerModal(m)
  }

  @views.html.guide.t42.modals()
</div>
<--endPageBody-->
