@(card: com.mapped.publisher.view.BusinessCardView)

@socialButton(accountUrl: String, iconUrl: String) = {

  <table align="left" border="0" cellpadding="0" cellspacing="0"
  style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody>
      <tr>
        <td valign="top"
        style="padding-right: 2px;padding-bottom: 5px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
        class="mcnShareContentItemContainer">
          <a href="@accountUrl"
          target="_blank"
          style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
          src="@iconUrl"
          style="display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
          height="22" width="22"></a>

        </td>
      </tr>
    </tbody>
  </table>
}


@if(card != null) {

<table border="0" cellpadding="0" cellspacing="0"
       style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;">
  <tbody>
    <tr>
        @if(card.companyLogoUrl != null && card.companyLogoUrl.trim.length > 0){
      <td align="center" valign="middle"
      style="padding-right:20px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
      @if(card.companyUrl != null && card.companyUrl.trim.length > 0) {
        <a @if(!card.companyUrl.startsWith("http")){href="http://@card.companyUrl"}else{href="@card.companyUrl"} title="" target="_blank"
        style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <img align="left" alt=""
          src="@card.companyLogoUrl"
          @if(card.agentView != null && card.agentView.cmpyTag != null && card.agentView.cmpyTag.contains("widelogo")) {
            style="padding-bottom: 0;
              display: inline !important;
              vertical-align: bottom;
              border: 0;
              outline: none;
              text-decoration: none;
              -ms-interpolation-mode: bicubic;
              width: 300px;">
          } else {
            height="80" style="max-width: 300px;
              padding-bottom: 0;
              display: inline !important;
              vertical-align: bottom;
              border: 0;
              outline: none;
              text-decoration: none;
              -ms-interpolation-mode: bicubic;">
            }
        </a>
      } else {
        <img align="left" alt=""
        src="@card.companyLogoUrl"
        @if(card.agentView != null && card.agentView.cmpyTag != null && card.agentView.cmpyTag.contains("widelogo")) {
          style="padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width:300px;">
        } else {
          height="80"
          style="max-width:300px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
          }
      }
      </td>
      }
      <td align="center" valign="middle"
      style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 125%;text-align: left; font-weight: bold">
        @card.getFirstName&nbsp;@card.getLastName<br/>

        @if(card.companyName != null && card.companyName.trim.length > 0) {
          @card.companyName <br/>
        }

        @if(card.phone != null && card.phone.trim.length > 0) {
          <a href="callto:@card.phone"  style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-weight: bold;text-decoration: none;">@card.phone</a> <br/>
        }

        @if(card.mobile != null && card.mobile.trim.length > 0) {
          <a href="callto:@card.mobile" style="word-wrap : break-word ; -ms-text-size-adjust : 100 % ; -webkit-text-size-adjust : 100 % ; color : #666666 ; font-weight : bold ; text-decoration : none ;">@card.mobile</a> <br/>
        }

        @if(card.fax != null && card.fax.trim.length > 0) {
        <a href="callto:@card.fax" style="word-wrap : break-word ; -ms-text-size-adjust : 100 % ; -webkit-text-size-adjust : 100 % ; color : #666666 ; font-weight : bold ; text-decoration : none ;">@card.fax</a> <br/>
        }

        @if(card.email != null && card.email.trim.length > 0) {
        <a href="mailto:@card.email" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-weight: bold;text-decoration: none;">@card.email</a> <br/>
        }

        @if(card.webUrl != null && card.webUrl.trim.length > 0) {
          <a @if(!card.webUrl.startsWith("http")){href="http://@card.webUrl"}else{href="@card.webUrl"} title="" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-weight: bold;text-decoration: none;">@card.webUrl</a><br/>
        }

        <table border="0" cellpadding="0" cellspacing="0"
        style="border: 1px solid #ffffff;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tbody>
            <tr>
              <td align="left" valign="top"
              style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                @* Facebook *@
                @if(card.socialFacebookUrl != null && card.socialFacebookUrl.trim.length > 0) {
                  @socialButton(card.socialFacebookUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Facebook_Gray_Square_44.png")
                    <!--[if gte mso 6]>
                </td>
                <td align="left" valign="top">
                <![endif]-->
                  }

                @if(card.socialTwitterUrl != null && card.socialTwitterUrl.trim.length > 0) {
                @* Twitter *@
                  @socialButton(card.socialTwitterUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Twitter_Gray_Square_44.png")

                  <!--[if gte mso 6]>
                </td>
                <td align="left" valign="top">
                <![endif]-->
                }

                @* LinkedIn *@
                @if(card.socialLinkedInUrl != null && card.socialLinkedInUrl.trim.length > 0) {

                  @socialButton(card.socialLinkedInUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_LinkedIn_Gray_Square_44.png")

                  <!--[if gte mso 6]>
                </td>
                <td align="left" valign="top">
                <![endif]-->
                }


                @* Instagram *@
                @if(card.socialInstagramUrl != null && card.socialInstagramUrl.trim.length > 0) {
                  @socialButton(card.socialInstagramUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Instagram_Gray_Square_44.png")

                  <!--[if gte mso 6]>
                </td>
                <td align="left" valign="top">
                <![endif]-->
                }

                @* YouTube *@
                @if(card.socialYouTubeUrl != null && card.socialYouTubeUrl.trim.length > 0) {
                  @socialButton(card.socialYouTubeUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_YouTube_Gray_Square_44.png")

                  <!--[if gte mso 6]>
                </td>
                <td align="left" valign="top">
                <![endif]-->
                }

                @* Google+ *@
                @if(card.socialGoogleUrl != null && card.socialGoogleUrl.trim.length > 0) {
                  @socialButton(card.socialGoogleUrl, "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Google_Gray_Square_44.png")

                  <!--[if gte mso 6]>
                </td>
                <![endif]-->
                }

              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>

}

