@(m:  com.mapped.publisher.view.NewRegistrationView)




@views.html.email.emailTemplateHeader(Messages("email.welcome"))
@* @formatter:off *@

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner"
                        style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                             class="mcnTextContentContainer"
                             style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                              style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color:#666666; font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">


                            @Messages("email.accountready")
                            &nbsp;
                            @Messages("email.completeregistration")

                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                                     class="mcnTextContentContainer"
                                     style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <tbody>
                                  <tr>

                                      <td align="center" valign="top" class="mcnTextContent"
                                          style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color:#666666; font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">
                                          @Messages("email.userid"): <span style="color:#666666"><strong> @m.userId.trim </strong> </span>

                                      </td>
                                  </tr>
                                  </tbody>
                              </table>

                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnButtonBlockOuter">
                  <tr>
                    <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        valign="top" align="center" class="mcnButtonBlockInner">
                      <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                             style="border-collapse: separate !important;border: 2px solid #666666; border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color:#999999; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                              style="font-family: Arial;font-size: 16px;padding: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                              <a class="mcnButton " title="CLICK HERE TO COMPLETE YOUR ACCOUNT" href="@m.pwdResetLink"
                               target="_blank"
                               style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #ffffff;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">@Messages("email.completeaccount")</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                            <br/><br/>@Messages("email.linkexpire")
                            <br/><br/>
                            @Messages("email.support") <a href="mailto:support@@umapped.com"
                                                                     style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #00b4ff;font-weight: bold;text-decoration: none;">support@@umapped.com</a>.

                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                  </tbody>
                </table>

@* @formatter:on *@
@views.html.email.emailTemplateFooter.render()
