@(bookingType: com.umapped.persistence.enums.ReservationType , tab: com.mapped.publisher.view.TabType, m: com.mapped.publisher.view.TripBookingView, p: com.mapped.publisher.view.TripBookingDetailView, travelerId: String, talkback: Boolean)

@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType


<div class="" style="width:100%;">
  <div >
  @tab match {
    case TabType.FLIGHTS => {                       <span style="font-size: 18px ;font-weight: 700">@Messages("webitinerary.flightTo") </span> <span style="font-size: 18px;font-weight: 400">@p.arrivalAirportCode @p.arrivalAirport</span>
    }
    case TabType.HOTELS => {                        <span style="font-size: 18px ;font-weight: 700">@Messages("webitinerary.checkinat") </span>
    }
    case TabType.CRUISES => {  <span style="font-size: 18px ;font-weight: 700">@Messages("webitinerary.cruise") </span> }
    case TabType.TRANSPORTS => {
      <span style="font-size: 18px ;font-weight: 700">
      @if(p.getServiceType != null) {
        @p.getServiceType
      } else {
        @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
          @Messages("webitinerary.rentalpickup")
        } else {
          @if(p.detailsTypeId == ReservationType.TAXI) {
            @Messages("webitinerary.taxi")
          } else {
            @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER) {
              @Messages("webitinerary.transfer")
            } else {
              @if(p.detailsTypeId == ReservationType.RAIL) {
                @Messages("webitinerary.train")
              } else {
                @if(p.detailsTypeId == ReservationType.PUBLIC_TRANSPORT || p.detailsTypeId == ReservationType.BUS) {
                  @Messages("webitinerary.transport")
                } else {
                  @if(p.detailsTypeId == ReservationType.CAR_DROPOFF) {
                    @Messages("webitinerary.cardropoff")
                  } else {
                    @if(p.detailsTypeId == ReservationType.FERRY) {
                      @Messages("webitinerary.ferry")
                    } else {
                      @Messages("webitinerary.transport")
                    }
                  }
                }
              }
            }
          }
        }
      }
      </span>
    }
    case TabType.ACTIVITIES => {
      <span style="font-size: 18px ;font-weight: 700">
      @if(p.getServiceType != null) {
        @p.getServiceType
      } else {
        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
          @Messages("webitinerary.cruiseStop")

        } else {
          @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
            @Messages("webitinerary.shoreExcursion")

          } else {
            @if(p.detailsTypeId == ReservationType.TOUR) {
              @Messages("webitinerary.sightseeing")

            } else {
              @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                @Messages("webitinerary.restaurantReservation")

              } else {
                @if(p.detailsTypeId == ReservationType.EVENT) {
                  @Messages("webitinerary.event")

                } else {
                  @if(p.detailsTypeId == ReservationType.SKI_LESSONS) {
                    @Messages("webitinerary.skilesson")

                  } else {
                    @if(p.detailsTypeId == ReservationType.SKI_LIFT) {
                      @Messages("webitinerary.skilift")

                    } else {
                      @if(p.detailsTypeId == ReservationType.SKI_RENTALS) {
                        @Messages("webitinerary.skiequipment")

                      } else {
                        @Messages("webitinerary.activity")

                      }

                    }

                  }

                }
              }
            }
          }
        }
      }
      </span>
    }
    case _ => {}
  }
  @if(travelerId != null && travelerId.length > 0 && talkback) {
  <a style="text-decoration: none;padding-left: 10px"  onclick="noti.talkback('@p.tripId','@p.detailsId');return false;"><i class="fa fa-comments"></i>&nbsp;@Messages("webitinerary.discuss")</a>
  }
  </div>

</div>
