@(m: com.mapped.publisher.view.TripBookingView, crv: com.mapped.publisher.view.UmCruiseReservationView, i: Integer, travelerId: String, talkback :Boolean)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType


<div class="bookingBox">



      <!-- iphone view -->
    <table style="width: 100%;" class="bkdetailsSmCol">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: text-top;padding-top:5px;">
          <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise.png">
          </div>
        </td>
        <td style="vertical-align: text-top;padding-top:5px;">
          <div>
            <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
              <tr>
                <td style="width: 100%;vertical-align: text-top;">
                  <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                    <tr>
                      <td style="width: 100%; vertical-align: text-top">
                        <table style="width: 100%;">
                          <tr>
                            <td colspan="3" style="padding-bottom: 20px;vertical-align: text-top;">
                            @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE, TabType.CRUISES, m, crv, travelerId, talkback)

                            </td>
                          </tr>
                          <tr>
                            <td style="width:100%;">
                              <table style="width:100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="width:300px;padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cruise").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>

                                </tr>

                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style=" ; padding-bottom: 20px;;vertical-align: text-top">
                                    @if(crv.getProviderName != null && crv.getProviderName.trim.length > 0) {
                                      <span style="font-weight: 700">@crv.getProviderName</span> <br/>
                                    }
                                    @if(crv.getProviderAddr1 != null && crv.getProviderAddr1.length > 0) {
                                    @crv.getProviderAddr1 <br>
                                    }
                                    @if(crv.getProviderAddr2 != null && crv.getProviderAddr2.length > 0) {
                                    @crv.getProviderAddr2 <br>
                                    }
                                    @if(crv.getProviderPhone != null && crv.getProviderPhone.length > 0) {
                                    Phone: @crv.getProviderPhone <br/>
                                    }
                                    @if(crv.getProviderEmail != null && crv.getProviderEmail.length > 0) {
                                    @crv.getProviderEmail <br/>
                                    }
                                    @if(crv.getProviderWeb != null && crv.getProviderWeb.length > 0) {
                                    <a href="@Html(crv.getProviderWeb)">Website</a> <br/>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">
                                    @crv.getBookingNumber
                                    @if(crv.getRecordLocator != null && crv.getRecordLocator.length > 0) {
                                      Record Locator: @crv.getRecordLocator <br/>
                                    }
                                  </td>

                                </tr>

                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style=" ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.boardingat").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style=" ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.disembarkingat").toUpperCase</div></td>
                                </tr>

                                <tr style="font-size: 13px;color: #000000;line-height: 16px">

                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getStartHour != null && crv.getStartHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                                      @Utils.formatTime12(crv.getStartDateMilli)
                                      </div>
                                    }
                                    @if(crv.getStartDateItin != null && crv.getStartDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getStartDateItin  </div>
                                    }
                                    @if(crv.getLocStartName != null && crv.getLocStartName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocStartName  </div>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getEndHour != null && crv.getEndHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(crv.getEndDateMilli) </div>
                                    }
                                    @if(crv.getEndDateItin != null && crv.getEndDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getEndDateItin </div>
                                    }
                                    @if(crv.getLocFinishName != null && crv.getLocFinishName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocFinishName  </div>
                                    }
                                  </td>

                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="padding-bottom:10px;width:100px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.duration").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="width:100px;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.category").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cabinnumber").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getNumNights
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getCategory
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getCabinNumber
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          @if(crv != null && ((crv.getDining != null && !crv.getDining.isEmpty) || (crv.getDeck != null && !crv.getDeck.isEmpty) || (crv.getBedding != null && !crv.getBedding.isEmpty) )){
                          <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.dining").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.deck").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bedding").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:130px ; padding-bottom: 20px;vertical-align: text-top">
                                  @crv.getDining
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getDeck
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:130px ; padding-bottom: 20px;vertical-align: text-top">
                                  @crv.getBedding
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          }

                          @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                            <tr>
                              <td>
                                <table style="width: 100%;">
                                  <tr style="width: 100%;">

                                    <td style="vertical-align: text-top;">
                                      <div >
                                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                        @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                                          <tr style="page-break-inside: avoid;">
                                            <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                              <table style="page-break-inside: avoid;width: 100%">
                                                <tr style="font-size: 13px;line-height:15px;color: #818181;font-weight: 700">
                                                  <td style="border-top: 1px solid #818181;width:315px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.cruiseStop").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.arrivingat").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.departingat").toUpperCase</td>
                                                </tr>
                                                @for(v <- crv.getCruiseStops(m)) {
                                                  <tr style="font-size : 11px ;">
                                                    <td style="padding-bottom : 5px">
                                                    @v.getItineraryName
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getArriveTime
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getDepartTime
                                                    </td>

                                                  </tr>
                                                }
                                              </table>
                                            </td>
                                          </tr>
                                        }
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          }
                        </table>

                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
                <tr><td style="width:15px"></td>
                </tr>
                <tr>
                  <td style="padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px;font-size: 11px;color: #818181;font-weight: 700">@Messages("webitinerary.details").toUpperCase</div>
                    <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                    @if(crv.getNotesPlain != null && crv.getNotesPlain.trim.length > 0) {
                      <tr style="page-break-inside: avoid">
                        <td class="bookingContent">
                        @Html(Utils.escapeHtml(crv.getNotesPlain))
                        </td>
                      </tr>
                    }
                    @if(crv.getProviderComments != null && crv.getProviderComments.trim.length > 0) {
                      <tr style="page-break-inside: avoid">
                        <td class="bookingContent">
                        @Html(crv.getProviderComments)
                        </td>
                      </tr>
                    }
                      @views.html.webItinerary.bookings.details.bookingWebItineraryRate(crv)
                      @if(crv.getCancellation != null && crv.getCancellation.trim.length > 0) {
                      <tr style="font-size: 11px;color: #818181;font-weight: 700">
                        <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                          <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                          @Html(Utils.escapeHtml(crv.getCancellation))
                          </span>
                        </td>
                      </tr>
                      }
                      </table>
                  </td>
                </tr>
              @views.html.webItinerary.bookings.details.bookingFiles(crv, "1")
            </table>
          </div>
        </td>
      </tr>
    </table>

      <!-- ipad view -->
    <table style="width: 100%;" class="bkdetailsMdCol">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: text-top;padding-top:5px;">
          <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise.png">
          </div>
        </td>
        <td style="vertical-align: text-top;padding-top:5px;">
          <div>
            <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
              <tr>
                <td style="width: 100%;vertical-align: text-top;">
                  <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                    <tr>
                      <td colspan="7" style="padding-bottom: 20px;vertical-align: text-top;">
                      @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE, TabType.CRUISES, m, crv, travelerId, talkback)

                      </td>
                    </tr>

                    <tr>
                      <td style=" vertical-align: text-top">
                        <table style="width: 100%">
                          <tr>
                            <td style="width: 100%;min-width: 500px">
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cruise").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.boardingat").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.disembarkingat").toUpperCase</div></td>
                                </tr>

                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @if(crv.getProviderName != null && crv.getProviderName.trim.length > 0) {
                                      <span style="font-weight: 700">@crv.getProviderName</span> <br/>
                                    }
                                    @if(crv.getProviderAddr1 != null && crv.getProviderAddr1.length > 0) {
                                    @crv.getProviderAddr1 <br>
                                    }
                                    @if(crv.getProviderAddr2 != null && crv.getProviderAddr2.length > 0) {
                                    @crv.getProviderAddr2 <br>
                                    }
                                    @if(crv.getProviderPhone != null && crv.getProviderPhone.length > 0) {
                                    Phone: @crv.getProviderPhone <br/>
                                    }
                                    @if(crv.getProviderEmail != null && crv.getProviderEmail.length > 0) {
                                    @crv.getProviderEmail <br/>
                                    }
                                    @if(crv.getProviderWeb != null && crv.getProviderWeb.length > 0) {
                                    <a href="@Html(crv.getProviderWeb)">Website</a> <br/>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">
                                    @crv.getBookingNumber
                                    @if(crv.getRecordLocator != null && crv.getRecordLocator.length > 0) {
                                      Record Locator: @crv.getRecordLocator <br/>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getStartHour != null && crv.getStartHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                                      @Utils.formatTime12(crv.getStartDateMilli)
                                      </div>
                                    }
                                    @if(crv.getStartDateItin != null && crv.getStartDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getStartDateItin  </div>
                                    }
                                    @if(crv.getLocStartName != null && crv.getLocStartName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocStartName  </div>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getEndHour != null && crv.getEndHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(crv.getEndDateMilli) </div>
                                    }
                                    @if(crv.getEndDateItin != null && crv.getEndDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getEndDateItin </div>
                                    }
                                    @if(crv.getLocFinishName != null && crv.getLocFinishName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocFinishName  </div>
                                    }
                                  </td>

                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="padding-bottom:10px;width:100px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.duration").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="width:100px;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.category").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cabinnumber").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getNumNights
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getCategory
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @crv.getCabinNumber
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          @if(crv != null && ((crv.getDining != null && !crv.getDining.isEmpty) || (crv.getDeck != null && !crv.getDeck.isEmpty) || (crv.getBedding != null && !crv.getBedding.isEmpty) )){
                            <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.dining").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.deck").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bedding").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getDining
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getDeck
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getBedding
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          }

                          @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                            <tr>
                              <td>
                                <table style="width: 100%;">
                                  <tr style="width: 100%;">

                                    <td style="vertical-align: text-top;">
                                      <div >
                                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                        @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                                          <tr style="page-break-inside: avoid;">
                                            <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                              <table style="page-break-inside: avoid;width: 100%">
                                                <tr style="font-size: 13px;line-height:15px;color: #818181;font-weight: 700">
                                                  <td style="border-top: 1px solid #818181;width:315px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.cruiseStop").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.arrivingat").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.departingat").toUpperCase</td>
                                                </tr>
                                                @for(v <- crv.getCruiseStops(m)) {
                                                  <tr style="font-size : 11px ;">
                                                    <td style="padding-bottom : 5px">
                                                    @v.getItineraryName
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getArriveTime
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getDepartTime
                                                    </td>

                                                  </tr>
                                                }
                                              </table>
                                            </td>
                                          </tr>
                                        }
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          }
                        </table>
                      </td>
                    </tr>
                    <tr><td style="width:15px"></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px;font-size: 11px;color: #818181;font-weight: 700">@Messages("webitinerary.details").toUpperCase</div>
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                        @if(crv.getNotesPlain != null && crv.getNotesPlain.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                            @Html(Utils.escapeHtml(crv.getNotesPlain))
                            </td>
                          </tr>
                        }
                        @if(crv.getProviderComments != null && crv.getProviderComments.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                            @Html(crv.getProviderComments)
                            </td>
                          </tr>
                        }
                        @views.html.webItinerary.bookings.details.bookingWebItineraryRate(crv)
                        @if(crv.getCancellation != null && crv.getCancellation.trim.length > 0) {
                        <tr style="font-size: 11px;color: #818181;font-weight: 700">
                          <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                            <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                            @Html(Utils.escapeHtml(crv.getCancellation))
                            </span>
                          </td>
                        </tr>
                        }
                      </table>
                    </td>
                      </tr>
                    @views.html.webItinerary.bookings.details.bookingFiles(crv, "1")
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>


    <!-- normal view -->
    <table style="width: 100%;" class="bkdetailsCol">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: text-top;padding-top:5px;">
          <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise.png">
          </div>
        </td>
        <td style="vertical-align: text-top;padding-top:5px;">
          <div>
            <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
              <tr>
                <td style="width: 100%;vertical-align: text-top;">
                  <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                    <tr>
                      <td colspan="7" style="padding-bottom: 20px;vertical-align: text-top;">
                      @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE, TabType.CRUISES, m, crv, travelerId, talkback)

                      </td>
                    </tr>
                    <tr>
                      <td style="width: 695px; vertical-align: text-top">
                        <table>
                          <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cruise").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.boardingat").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.disembarkingat").toUpperCase</div></td>

                                </tr>

                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                                    @if(crv.getProviderName != null && crv.getProviderName.trim.length > 0) {
                                      <span style="font-weight: 700">@crv.getProviderName</span> <br/>
                                    }
                                    @if(crv.getProviderAddr1 != null && crv.getProviderAddr1.length > 0) {
                                    @crv.getProviderAddr1 <br>
                                    }
                                    @if(crv.getProviderAddr2 != null && crv.getProviderAddr2.length > 0) {
                                    @crv.getProviderAddr2 <br>
                                    }
                                    @if(crv.getProviderPhone != null && crv.getProviderPhone.length > 0) {
                                    Phone: @crv.getProviderPhone <br/>
                                    }
                                    @if(crv.getProviderEmail != null && crv.getProviderEmail.length > 0) {
                                    @crv.getProviderEmail <br/>
                                    }
                                    @if(crv.getProviderWeb != null && crv.getProviderWeb.length > 0) {
                                    <a href="@Html(crv.getProviderWeb)">Website</a> <br/>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top;">
                                    @crv.getBookingNumber
                                    @if(crv.getRecordLocator != null && crv.getRecordLocator.length > 0) {
                                      Record Locator: @crv.getRecordLocator <br/>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getStartHour != null && crv.getStartHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                                      @Utils.formatTime12(crv.getStartDateMilli)
                                      </div>
                                    }
                                    @if(crv.getStartDateItin != null && crv.getStartDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getStartDateItin  </div>
                                    }
                                    @if(crv.getLocStartName != null && crv.getLocStartName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocStartName  </div>
                                    }
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:150px ; padding-bottom: 20px;vertical-align: text-top">
                                    @if(crv.getEndHour != null && crv.getEndHour.trim.length > 0) {
                                      <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(crv.getEndDateMilli) </div>
                                    }
                                    @if(crv.getEndDateItin != null && crv.getEndDateItin.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getEndDateItin </div>
                                    }
                                    @if(crv.getLocFinishName != null && crv.getLocFinishName.trim.length > 0) {
                                      <div style="padding-bottom:6px">@crv.getLocFinishName  </div>
                                    }
                                  </td>

                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="padding-bottom:10px;width:100px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.duration").toUpperCase</div></td>
                                  <td style="width:15px;border-top: none;"></td>
                                  <td style="width:100px;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.category").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.cabinnumber").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getNumNights
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:100px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getCategory
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getCabinNumber
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          @if(crv != null && ((crv.getDining != null && !crv.getDining.isEmpty) || (crv.getDeck != null && !crv.getDeck.isEmpty) || (crv.getBedding != null && !crv.getBedding.isEmpty) )){
                           <tr>
                            <td>
                              <table style="width: 100%">
                                <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.dining").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.deck").toUpperCase</div></td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bedding").toUpperCase</div></td>
                                </tr>
                                <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getDining
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getDeck
                                  </td>
                                  <td style="width:15px"></td>
                                  <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top">
                                  @crv.getBedding
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          }

                          @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                            <tr>
                              <td>
                                <table style="width: 100%;">
                                  <tr style="width: 100%;">

                                    <td style="vertical-align: text-top;">
                                      <div >
                                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                        @if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
                                          <tr style="page-break-inside: avoid;">
                                            <td style="width: 100%;vertical-align: top;padding-bottom: 20px;margin-top: 0px;">
                                              <table style="page-break-inside: avoid;width: 100%">
                                                <tr style="font-size: 13px;line-height:15px;color: #818181;font-weight: 700">
                                                  <td style="border-top: 1px solid #818181;width:315px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.cruiseStop").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.arrivingat").toUpperCase</td>
                                                  <td style="width:15px"></td>
                                                  <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">@Messages("webitinerary.departingat").toUpperCase</td>
                                                </tr>
                                                @for(v <- crv.getCruiseStops(m)) {
                                                  <tr style="font-size : 11px ;">
                                                    <td style="padding-bottom : 5px">
                                                    @v.getItineraryName
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getArriveTime
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                    @v.getDepartTime
                                                    </td>

                                                  </tr>
                                                }
                                              </table>
                                            </td>
                                          </tr>
                                        }
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          }
                        </table>
                      </td>
                      <td style="width:15px"></td>
                      <td style="padding-bottom: 10px;vertical-align: top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px;font-size: 11px;color: #818181;font-weight: 700">@Messages("webitinerary.details").toUpperCase</div>
                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: top;">
                          @if(crv.getNotesPlain != null && crv.getNotesPlain.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">
                              @Html(Utils.escapeHtml(crv.getNotesPlain))
                              </td>
                            </tr>
                          }
                            @if(crv.getProviderComments != null && crv.getProviderComments.trim.length > 0) {
                              <tr style="page-break-inside: avoid">
                                <td class="bookingContent">
                                @Html(crv.getProviderComments)
                                </td>
                              </tr>
                          }
                          @views.html.webItinerary.bookings.details.bookingWebItineraryRate(crv)
                          @if(crv.getCancellation != null && crv.getCancellation.trim.length > 0) {
                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                            <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                              <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                              @Html(Utils.escapeHtml(crv.getCancellation))
                              </span>
                            </td>
                          </tr>
                          }
                        </table>
                      </td>

                    </tr>

                    @views.html.webItinerary.bookings.details.bookingFiles(crv, "7")

                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  @views.html.webItinerary.bookingPhotos(crv.getPhotos, crv)

</div>
