@(m: com.mapped.publisher.view.TripBookingView, trv:  com.mapped.publisher.view.UmTransferReservationView,  i: Integer, travelerId: String, talkback: Boolean)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.mapped.publisher.view.TabType

<div class="bookingBox">

    <!--iphone view -->
  <table style="width: 100%;" class="bkdetailsSmCol">
    <tr style="width: 100%;">

      <td style="width:35px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top:@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){10px} else {12px};margin-left: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId)" width=@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){"22"}else{@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("cruise")){"28"}else{"16"}}>
        </div>
      </td>

      <td style="vertical-align: text-top;padding-top:5px;">
        <div>
          <table style="width:100%;margin-left: 0px;margin-top: 8px;">
            <tr>
              <td style="vertical-align: text-top;">
                <table style="width:100%;margin-left: 0px;margin-top: 0px;">
                  <tr>
                    <td  colspan="3" style="padding-bottom: 20px;vertical-align: text-top;">
                    @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m, trv, travelerId, talkback)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 120px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                    @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                      @Messages("webitinerary.train").toUpperCase
                    } else {
                      @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                        @Messages("webitinerary.contact").toUpperCase
                      } else {
                        @Messages("webitinerary.company").toUpperCase
                      }
                    }
                    </div>
                    </td>
                    @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px;border-top: none;"></td>

                    <td style="width: 80px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
                      }
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@trv.getProviderName</span> <br/>
                      } else {
                        @if(trv.getName != null && trv.getName.trim.length > 0) {
                          <span style="font-weight: 700">@trv.getName</span> <br/>
                        }
                      }
                      @if(trv.getContact != null && trv.getContact.length > 0) {
                        @trv.getContact <br/>
                      }
                      @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                      @trv.getProviderAddr1 <br>
                      }
                      @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                      @trv.getProviderAddr2 <br>
                      }
                      @if(trv.getProviderPhone != null && trv.getProviderPhone.length > 0) {
                      Phone: @trv.getProviderPhone <br/>
                      }
                      @if(trv.getProviderEmail != null && trv.getProviderEmail.length > 0) {
                      @trv.getProviderEmail <br/>
                      }
                      @if(trv.getProviderWeb != null && trv.getProviderWeb.length > 0) {
                      <a href="@Html(trv.getProviderWeb)">Website</a> <br/>
                      }
                    </td>
                    @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px"></td>
                      <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top;">@trv.getBookingNumber</td>
                     }


                  </tr>

                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                      @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                        @Messages("webitinerary.dropoff").toUpperCase
                      } else {
                        @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                          @Messages("webitinerary.pickup").toUpperCase
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                            @Messages("webitinerary.departingat").toUpperCase
                          } else {
                            @Messages("webitinerary.start").toUpperCase
                          }
                        }
                      }
                    </div></td>
                    @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
                      <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                    @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                      @Messages("webitinerary.dropoff").toUpperCase
                    } else {
                      @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                        @Messages("webitinerary.arrivingat").toUpperCase
                      } else {
                        @Messages("webitinerary.finish").toUpperCase
                      }
                    }

                    </div></td>
                    }

                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top">
                      @if(trv.getStartHour != null && trv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getStartDateMilli) </div>
                      }
                      @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@trv.getStartDateItin  </div>
                      }
                      @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@trv.getLocStartName  </span>

                      }
                    </td>
                    @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
                      <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getEndDateMilli) </div>
                      }
                      @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@trv.getEndDateItin </div>
                      }
                      @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@trv.getLocFinishName  </span>

                      }
                      </td>
                     }

                  </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                      <td style="padding-bottom: 10px;" colspan="3"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                    </tr>
                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td style="padding-bottom: 20px;" colspan="3">
                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                        @if(trv.getNotesPlain != null && trv.getNotesPlain.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                            @Html(Utils.escapeHtml(trv.getNotesPlain))
                            </td>
                          </tr>
                        }
                          @if(trv.getProviderComments != null && trv.getProviderComments.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">
                              @Html(trv.getProviderComments)
                              </td>
                            </tr>
                          }
                          @views.html.webItinerary.bookings.details.bookingWebItineraryRate(trv)
                          @if(trv.getCancellation != null && trv.getCancellation.trim.length > 0) {
                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                            <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                              <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                              @Html(Utils.escapeHtml(trv.getCancellation))
                              </span>
                            </td>
                          </tr>
                          }
                        </table>
                      </td>
                    </tr>
                  @views.html.webItinerary.bookings.details.bookingFiles(trv, "3")
                </table>
              </td>
            </tr>

          </table>

      </td>
    </tr>
  </table>


    <!--ipad view -->
  <table style="width: 100%;" class="bkdetailsMdCol">
    <tr style="width: 100%;">

      <td style="width:35px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top:@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){10px} else {12px};margin-left: 7px;text-align: right">
        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId)"
        width=@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){"22"}else{@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("cruise")){"28"}else{"16"}}>

        </div>
  </td>

<td style="vertical-align: text-top;padding-top:5px;">
  <div>
    <table style="width:100%;margin-left: 0px;margin-top: 8px;">
      <tr>
        <td style="vertical-align: text-top;">
          <table style="width:100%;margin-left: 0px;margin-top: 0px;">
            <tr>
              <td colspan="7" @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="7"} else {colspan="5"} style="padding-bottom: 20px;vertical-align: text-top;">
              @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m, trv, travelerId, talkback)

              </td>
            </tr>
            <tr style="font-size: 11px;color: #818181;font-weight: 700">
              <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 120px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                @Messages("webitinerary.train").toUpperCase
              } else {
                @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                  @Messages("webitinerary.contact").toUpperCase
                } else {
                  @Messages("webitinerary.company").toUpperCase
                }
              }
              </div>
              </td>
              <td style="width:15px;border-top: none;"></td>
              @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
              <td style="width: 80px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
              <td style="width:15px"></td>
              }
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                @Messages("webitinerary.dropoff").toUpperCase
              } else {
                @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                  @Messages("webitinerary.pickup").toUpperCase
                } else {
                  @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                    @Messages("webitinerary.departingat").toUpperCase
                  } else {
                    @Messages("webitinerary.start").toUpperCase
                  }
                }
              }

              </div></td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {

                <td style="width:15px"></td>
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                @Messages("webitinerary.dropoff").toUpperCase
              } else {
                @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                  @Messages("webitinerary.arrivingat").toUpperCase
                } else {
                  @Messages("webitinerary.finish").toUpperCase
                }
              }

              </div></td>
              }
            </tr>

            <tr style="font-size: 13px;color: #000000;line-height: 16px">
              <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                  <span style="font-weight: 700">@trv.getProviderName</span> <br/>
                } else {
                  @if(trv.getName != null && trv.getName.trim.length > 0) {
                    <span style="font-weight: 700">@trv.getName</span> <br/>
                  }
                }
                @if(trv.getContact != null && trv.getContact.length > 0) {
                  @trv.getContact <br/>
                }
                @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                @trv.getProviderAddr1 <br>
                }
                @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                @trv.getProviderAddr2 <br>
                }
                @if(trv.getProviderPhone != null && trv.getProviderPhone.length > 0) {
                Phone: @trv.getProviderPhone <br/>
                }
                @if(trv.getProviderEmail != null && trv.getProviderEmail.length > 0) {
                @trv.getProviderEmail <br/>
                }
                @if(trv.getProviderWeb != null && trv.getProviderWeb.length > 0) {
                <a href="@Html(trv.getProviderWeb)">Website</a> <br/>
                }
              </td>
              <td style="width:15px"></td>
              @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top;">@trv.getBookingNumber</td>
                <td style="width:15px"></td>
              }
              <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top">
                @if(trv.getStartHour != null && trv.getStartHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getStartDateMilli) </div>
                }
                @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@trv.getStartDateItin  </div>
                }
                @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                  <span style="font-size: 14px;font-weight: 400">@trv.getLocStartName  </span>

                }
              </td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {

                <td style="width:15px"></td>
              <td style="width:119px ; padding-bottom: 20px;;vertical-align: text-top">
                @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getEndDateMilli) </div>
                }
                @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@trv.getEndDateItin </div>
                }
                @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                  <span style="font-size: 14px;font-weight: 400">@trv.getLocFinishName  </span>

                }
               </td>
                }
            </tr>
            <tr style="font-size: 11px;color: #818181;font-weight: 700">
              <td style="padding-bottom: 10px;" colspan="7"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
            </tr>

            <tr style="font-size: 13px;color: #000000;line-height: 16px">
              <td style="padding-bottom: 20px;" colspan="7">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                @if(trv.getNotesPlain != null && trv.getNotesPlain.trim.length > 0) {
                  <tr style="page-break-inside: avoid">
                    <td class="bookingContent">
                    @Html(Utils.escapeHtml(trv.getNotesPlain))
                    </td>
                  </tr>
                }
                  @if(trv.getProviderComments != null && trv.getProviderComments.trim.length > 0) {
                    <tr style="page-break-inside: avoid">
                      <td class="bookingContent">
                      @Html(trv.getProviderComments)
                      </td>
                    </tr>
                  }
                  @views.html.webItinerary.bookings.details.bookingWebItineraryRate(trv)
                  @if(trv.getCancellation != null && trv.getCancellation.trim.length > 0) {
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                      <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                      @Html(Utils.escapeHtml(trv.getCancellation))
                      </span>
                    </td>
                  </tr>
                  }
                </table>
              </td>
            </tr>
            @views.html.webItinerary.bookings.details.bookingFiles(trv, "7")
          </table>
        </td>
      </tr>

    </table>

</td>
  </tr>
  </table>


<!--normal view -->
  <table style="width: 100%;" class="bkdetailsCol">
    <tr style="width: 100%;">

      <td style="width:35px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top:@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){10px} else {12px};margin-left: 7px;text-align: right">
        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId)"
        width=@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){"22"}else{@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("cruise")){"28"}else{"16"}}>

        </div>
      </td>

<td style="vertical-align: text-top;padding-top:5px;">
  <div>
    <table style="width:100%;margin-left: 0px;margin-top: 8px;">
      <tr>
        <td style="vertical-align: text-top;">
          <table style="width:100%;margin-left: 0px;margin-top: 0px;">
            <tr>
              <td  colspan="9" style="padding-bottom: 20px;vertical-align: text-top;">
              @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m, trv, travelerId, talkback)

              </td>
            </tr>
            <tr style="font-size: 11px;color: #818181;font-weight: 700">
              <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 120px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                @Messages("webitinerary.train").toUpperCase
              } else {
                @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                  @Messages("webitinerary.contact").toUpperCase
                } else {
                  @Messages("webitinerary.company").toUpperCase
                }
              }
              </div>
              </td>
              <td style="width:15px;border-top: none;"></td>
              @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
              <td style="width: 60px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
              <td style="width:15px"></td>
              }
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                  @Messages("webitinerary.dropoff").toUpperCase
                } else {
                  @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                    @Messages("webitinerary.pickup").toUpperCase
                  } else {
                    @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                      @Messages("webitinerary.departingat").toUpperCase
                    } else {
                      @Messages("webitinerary.start").toUpperCase
                    }
                  }
                }
              </div></td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
               <td style="width:15px"></td>
               <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                  @Messages("webitinerary.dropoff").toUpperCase
                } else {
                   @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                   @Messages("webitinerary.arrivingat").toUpperCase
                   } else {
                   @Messages("webitinerary.finish").toUpperCase
                   }
                }
              }

              </div></td>
              <td style="width:15px"></td>
              <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
            </tr>

            <tr style="font-size: 13px;color: #000000;line-height: 16px">
              <td @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {colspan="1" } else {colspan="3"} style="min-width:320px ; padding-bottom: 20px;;vertical-align: text-top">
                @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                  <span style="font-weight: 700">@trv.getProviderName</span> <br/>
                } else {
                  @if(trv.getName != null && trv.getName.trim.length > 0) {
                    <span style="font-weight: 700">@trv.getName</span> <br/>
                  }
                }
                @if(trv.getContact != null && trv.getContact.length > 0) {
                  @trv.getContact <br/>
                }
                @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                @trv.getProviderAddr1 <br>
                }
                @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                @trv.getProviderAddr2 <br>
                }
                @if(trv.getProviderPhone != null && trv.getProviderPhone.length > 0) {
                Phone: @trv.getProviderPhone <br/>
                }
                @if(trv.getProviderEmail != null && trv.getProviderEmail.length > 0) {
                @trv.getProviderEmail <br/>
                }
                @if(trv.getProviderWeb != null && trv.getProviderWeb.length > 0) {
                <a href="@Html(trv.getProviderWeb)">Website</a> <br/>
                }
              </td>
              <td style="width:15px"></td>
              @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                <td style="width:90px ; padding-bottom: 20px;;vertical-align: text-top;">@trv.getBookingNumber</td>
                <td style="width:15px"></td>
              }
              <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top">
                @if(trv.getStartHour != null && trv.getStartHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getStartDateMilli) </div>
                }
                @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@trv.getStartDateItin  </div>
                }
                @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                  <span style="font-size: 14px;font-weight: 400">@trv.getLocStartName  </span>

                }
              </td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF) {
               <td style="width:15px"></td>
               <td style="width:119px ; padding-bottom: 20px;;vertical-align: text-top">
                 @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(trv.getEndDateMilli) </div>
                 }
                 @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                   <div style="padding-bottom:6px">@trv.getEndDateItin </div>
                 }
                 @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                   <span style="font-size: 14px;font-weight: 400">@trv.getLocFinishName  </span>

                 }
                </td>
              }
              <td style="width:15px"></td>
              <td style="padding-bottom: 20px;min-width:200px">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                @if(trv.getNotesPlain != null && trv.getNotesPlain.trim.length > 0) {
                  <tr style="page-break-inside: avoid">
                    <td class="bookingContent">
                    @Html(Utils.escapeHtml(trv.getNotesPlain))
                    </td>
                  </tr>
                }
                  @if(trv.getProviderComments != null && trv.getProviderComments.trim.length > 0) {
                    <tr style="page-break-inside: avoid">
                      <td class="bookingContent">
                      @Html(trv.getProviderComments)
                      </td>
                    </tr>
                  }
                  @views.html.webItinerary.bookings.details.bookingWebItineraryRate(trv)
                  @if(trv.getCancellation != null && trv.getCancellation.trim.length > 0) {
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                      <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                      @Html(Utils.escapeHtml(trv.getCancellation))
                      </span>
                    </td>
                  </tr>
                  }
                </table>
              </td>
            </tr>
            @views.html.webItinerary.bookings.details.bookingFiles(trv, "7")

          </table>
        </td>
      </tr>

    </table>

</td>
  </tr>
  </table>

  @views.html.webItinerary.bookingPhotos(trv.getPhotos, trv)

  </div>
