@(m: com.mapped.publisher.view.TripBookingView, p:  com.mapped.publisher.view.TripBookingDetailView,  i: Integer, travelerId: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
<div class="bookingBox" id="@p.noteId">

  <table class="noteTable">
    <tr style="width: 100%;">
      <td style="vertical-align: text-top;border-top: none;padding-top:0px;">
        <table style="width: 100%;margin-top: 5px;">
          <tr>
            <td style="width: 100%;vertical-align: text-top;">
              <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                <tr>
                  <td colspan="1" style="vertical-align: text-top;">
                    <div class="span6" style="font-size: 18px;font-weight: 700;text-align: left;margin-left: 0px">
                      @if(p.hasStartTimestamp) {
                        <span style="color: #000000" class="timeField">@p.getStartTimeNote</span>
                      }
                      @p.getName
                    </div>
                  </td>
                </tr>
                @if((p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) || (p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0)) {
                  <tr style="font-size: 12px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px">
                      @if(p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) {
                        @p.getProviderAddr1 <br>
                        }
                      @if(p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0) {
                        @p.getProviderAddr2
                      }
                    </td>
                  </tr>
                }
                @if(p.getIntro != null || p.getDescription != null) {
                  <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 10px;vertical-align : top ;" class="noteContent">
                      @if(p.getIntro != null) {
                        <div>
                        @Html(p.getIntro)
                        </div>
                      }
                      @if(p.getDescription != null) {
                        <div>
                        @Html(p.getDescription)
                        </div>
                      }

                    </td>
                  </tr>
                }
                @if(p.links !=null && p.links.size > 0) {
                  <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                    <td colspan="1" style="padding-bottom : 10px; pa vertical-align : top ;">
                      <ul>
                        @for(a <- p.links) {
                          <li>
                            <a href="@a.attachUrl" target="_blank">@a.attachName</a>
                            @if(a.comments != null && a.comments.length > 0) {
                              @Html(a.comments)
                            }
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                }

                @if(p.files !=null && p.files.size > 0) {
                <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                  <div class="row-fluid">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th style="width:5%"></th>
                        <th style="width:30%"></th>
                        <th style="width:60%"> </th>

                      </tr>
                      </thead>
                      <tbody id="sortAttachDiv">
                      @for(a <- p.files) {
                      <tr id="@a.id">
                        <td>
                          <a href="@a.attachUrl" target="_blank">
                            @if(a.attachName.endsWith(".pdf")){
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">
                            }else {
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">

                            }
                          </a>

                        </td>
                        <td style="font-size: 12px; padding-right: 60px"><a href="@a.attachUrl" target="_blank" style="word-break: break-word;">@a.attachName</a></td>
                        <td style="font-size: 12px; font-weight: 100; padding-right: 60px"><em>@a.comments</em></td>

                      </tr>
                      }
                      </tbody>
                    </table>

                    <br/>
                  </div>
                </tr>
                }
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  @if(p.videos != null && p.videos.size() > 0){
    <div class="masonry" style="padding-bottom: 10px;padding-top: 10px;padding-left: 20px">
    @for(v <- p.videos){
      <div class="bookings_gallery">
        <a id="video1_@v.id-@i" href="@v.attachUrl" class="video_@v.attachId-@i"  @if(v.comments != null && v.comments.trim.length > 0){data-caption="@v.comments"} data-options="width:1920, height:1080">
        @if(i == -1) {
        <img src="" id="video_@v.id--1" style="height: 100">
        } else {
          <img src="" id="video_@v.id" style="height: 100">
        }
        </a>
      </div>
    }
    </div>

  }
  @views.html.webItinerary.bookingPhotos(p.photos, p)

  <script>
  // ILIGHTBOX
  $(document).ready(function(){
    @if(p.videos != null && p.videos.size() > 0){
      @for(v <- p.videos) {
        $('.video_@v.attachId-@i').iLightBox({
        skin: 'metro-white', path: 'horizontal',swipe: false
        });
      }
    }
  });

  </script>

</div>



