@(m:  com.mapped.publisher.view.BillingView)
@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @Html(m.message)</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Company Usage Report <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>


</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">

</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
<script>


    $( "#startDate" ).datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 2,
    onClose: function( selectedDate ) {
        var startDate = $( "#startDate" ).datepicker('getDate');
        var maxDate = $( "#startDate" ).datepicker('getDate');

        if (startDate  != null) {
            //add 30 days to selected date
            startDate.setDate(startDate.getDate() + 32);
            startDate.setDate(1);
            $( "#endDate" ).datepicker( "setDate", startDate );
            maxDate.setDate(maxDate.getDate() + 60);
            $( "#endDate" ).datepicker( "option", "maxDate", maxDate );
        }
    }
    });

    $( "#endDate" ).datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 2,
    maxDate: "+2M",
    onClose: function( selectedDate ) {
        var minDate = $("#endDate").datepicker('getDate');
        if (minDate  != null) {
            minDate.setDate(minDate.getDate() - 31);
            minDate.setDate(1);
            $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
        }
    }
    });


    //initialize sortable data tables
    $(document).ready(function() {
        @if(m.trips != null) {
        $('#summaryTable').dataTable();
        $('#detailTable').dataTable();
        $('#detailTable1').dataTable();

        }

        @if(m.addedTravellers != null && m.addedTravellers.size() > 0 ) {
        $('#summaryTable1').dataTable();
        $('#detailTable2').dataTable();
        }

        @if(m.addedAgents != null && m.addedAgents.size() > 0 ) {
        $('#summaryTable2').dataTable();
        $('#detailTable3').dataTable();
        }


    } );

</script>

<div class="">

    <form id="billingForm" action="/dashboard/doBillingCSV" method="POST">
        <fieldset><legend>
            Date Range
        </legend> </fieldset>
        <div class="row-fluid">

        @if(m != null && m.cmpies != null && m.cmpies.size > 1) {

            <div class="span6">
                <label> Company</label>
                <select name="inCmpyId">
                    @for((key, value) <- m.cmpies) {
                    @if(key == m.cmpyId) {
                    <option selected="Y" value=@key>@value</option>
                    } else {
                    <option value=@key>@value</option>
                    }
                    }
                </select>
            </div>
        } else {
            @if(m != null && m.cmpies != null && m.cmpies.size == 1) {
                @for((key, value) <- m.cmpies) {
                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@key" >
                    <div class="span6">
                    <label>Company</label>
                        @value
                    </div>
                }
            }
        }
        <div class="span2">
            <label> Start Date <em>*</em></label>
            <div class="input-append date" id="startDate1" >
                <span class="add-on"><i class="fa fa-calendar"></i></span>
                <input type="text"  id="startDate" name="inStartDate" readonly class="input-small required"
                @if(m!= null && m.startDate!=null) {
                    value=@m.startDate
                }>
            </div>
        </div>
        <div class="span2">

            <label> End Date <em>*</em></label>
            <div class="input-append date" id="endDate1" >
                <span class="add-on"><i class="fa fa-calendar"></i></span>
                <input type="text" id="endDate" name="inEndDate" readonly class="input-small required"
                @if(m!= null && m.endDate!=null) {
                    value=@m.endDate
                }>
            </div>
        </div>
        <div class="span2 pull-right">
            <label>&nbsp;</label>

            <button type="submit" class="btn btn-info btn-large"
            onclick="javascript:postForm('/cmpy/doBilling', 'billingForm');return false;"> Get Usage
            </button>
        </div>
    </div>




    </form>
</div>

@if(m.cmpyName != null) {
<div class="">
<div class="subTitle"> Usage Report for period: @m.startDatePrint to @m.endDatePrint</div>
Summary: <br/>
@m.numOfTrips New Trips Published to @m.numOfTravellers Travellers and @m.numOfAgents Travel Agents   <br/>
@m.numOfTravellersExistingTrips Travellers and @m.numOfAgentsExistingTrips Travel Agents added to Existing Trips  <br/>
Number of Transactions for the period: @m.numOfTransactions

<br/> <br/>

<div class="tabbable ">

<ul class="nav nav-tabs" id="myTab">
    <li class="active" ><a href="#summaryView" data-toggle="tab"><i class="fa fa-calendar pull-left"></i> &nbsp;Summary View</a></li>
    <li ><a href="#detailView" data-toggle="tab"><i class="fa fa-calendar pull-left"></i> &nbsp;Detail View</a></li>


</ul>

<div class="tab-content">

<div class="tab-pane active" id="summaryView">
    @if(m.trips != null) {
    <table class="table table-striped" id="summaryTable">
        <h2> NEWLY PUBLISHED TRIPS </h2>
        <thead>
        <tr>
            <th style="width:30%">Trip Name</th>
            <th style="width:10%">Published Date </th>
            <th style="width:10%"># Travellers </th>
            <th style="width:10%"># Travel Agents </th>

            <th style="width:30%">Published By </th>


        </tr>
        </thead>
        <tbody>
        @for((key, p) <- m.trips) {
        <tr>
            <td>
              <a onclick="javascript:activateTopMenu('mainMenuDashboard');getPage('@routes.TripController.tripInfo(p.tripId)');return false;">@p.tripName</a>  @if(p.groupName != null && p.groupName.length > 0){<br/>(Group: @p.groupName)}
              <br/><a href="@routes.WebItineraryController.index(p.tripId, null)" target="_blank">View Web Itinerary</a> &nbsp; &nbsp;
              <a href="@routes.TripController.loadPdf()?inTripId=@p.tripId" target="_blank">Download PDF</a>

            </td>
            <td>@p.publishedDate</td>

            @if(p.travellers != null && p.travellers.size() > 0){
            <td>@p.travellers.size()</td>
            } else {
            <td>0</td>
            }

            @if(p.agents != null && p.agents.size() > 0){
            <td>@p.agents.size()</td>
            } else {
            <td>0</td>
            }


            <td>@p.firstName&nbsp;@p.lastName<br/>(@p.createdBy)</td>

        </tr>

        }
        </tbody>
    </table>
    }

    @if(m.addedTravellers != null && m.addedTravellers.size() > 0 ) {
    <br/> <br/>  <br/>

    <table class="table table-striped" id="summaryTable1">
        <h2> Newly Added Travellers to Existing Trips </h2>
        <thead>
        <tr>
            <th style="width:30%">Trip Name</th>
            <th style="width:10%">Added Date </th>
            <th style="width:10%"># Travellers </th>

            <th style="width:30%">Added By </th>


        </tr>
        </thead>
        <tbody>
        @if( m.addedTravellers != null) {
        @for((key, passengerList) <- m.addedTravellers) {
        @if(passengerList != null && passengerList.size > 0) {
        <tr>
            <td>@passengerList.get(0).tripName @if(passengerList.get(0).groupName != null && passengerList.get(0).groupName.length > 0){<br/>(Group: @passengerList.get(0).groupName)}</td>
            <td>@passengerList.get(0).publishedDate</td>

            @if(passengerList.size() > 0){
            <td>@passengerList.size()</td>
            } else {
            <td>0</td>
            }
            <td>@passengerList.get(0).userId</td>

        </tr>
        }
        }
        }

        </tbody>
    </table>
    }


    @if(m.addedAgents != null && m.addedAgents.size() > 0 ) {
    <br/> <br/>  <br/>

    <table class="table table-striped" id="summaryTable2">
        <h2> Newly Added Travel Agents to Existing Trips </h2>
        <thead>
        <tr>
            <th style="width:30%">Trip Name</th>
            <th style="width:10%">Added Date </th>
            <th style="width:10%"># Agents </th>
            <th style="width:40%">Added By </th>


        </tr>
        </thead>
        <tbody>
        @if( m.addedAgents != null) {
        @for((key, passengerList) <- m.addedAgents) {
        @for( v <-  passengerList) {
        <tr>
            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){<br/>(Group: @v.groupName)}</td>
            <td>@v.publishedDate</td>

            @if(passengerList.size() > 0){
            <td>@passengerList.size()</td>
            } else {
            <td>0</td>
            }

            <td>@v.userId</td>

        </tr>
        }
        }
        }

        </tbody>
    </table>
    }
</div>



<div class="tab-pane" id="detailView">
    @if(m.trips != null) {
    <table class="table table-striped" id="detailTable">
        <h2> NEW TRIP - TRAVELLER DETAILS </h2>
        <thead>
        <tr>
            <th style="width:30%">Trip Name</th>
            <th style="width:10%">Published Date </th>
            <th style="width:10%">Traveller Email </th>
            <th style="width:50%">Added By </th>



        </tr>
        </thead>
        <tbody>
        @for((key, p) <- m.trips) {
        @for(v <- p.travellers) {
        <tr>
            <td>@p.tripName @if(p.groupName != null && p.groupName.length > 0){<br/>(Group: @p.groupName)}</td>
            <td>@p.publishedDate</td>
            <td>@v.email</td>
            <td>@v.createdBy</td>

        </tr>
        }


        }
        </tbody>
    </table>

    <br/><br/><br/>

    <table class="table table-striped" id="detailTable1">
        <h2> NEW TRIP - TRAVEL AGENTS DETAILS </h2>
        <thead>
        <tr>
            <th style="width:30%">Trip Name</th>
            <th style="width:10%">Published Date </th>
            <th style="width:10%">Agent Email </th>
            <th style="width:50%">Added By </th>


        </tr>
        </thead>
        <tbody>
        @for((key, p) <- m.trips) {
        @if(p.agents != null) {
        @for(v <- p.agents) {
        <tr>
            <td>@p.tripName @if(p.groupName != null && p.groupName.length > 0){<br/>(Group: @p.groupName)}</td>
            <td>@p.publishedDate</td>
            <td>@v.email</td>
            <td>@v.createdBy</td>

        </tr>
        }
        }


        }
        </tbody>
    </table>

    }



    @if(m.addedTravellers != null && m.addedTravellers.size() > 0 ) {
    <br/> <br/>  <br/>

    <table class="table table-striped" id="detailTable2">
        <h2> Newly Added Travellers to Existing Trips </h2>
        <thead>
        <tr>
            <th style="width:40%">Trip Name</th>
            <th style="width:10%">Added Date </th>
            <th style="width:20%">Traveller Email </th>
            <th style="width:20%">Added By </th>


        </tr>
        </thead>
        <tbody>
        @if( m.addedTravellers != null) {
        @for((key, passengerList) <- m.addedTravellers) {
        @for( v <-  passengerList) {
        <tr>
            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){<br/>(Group: @v.groupName)}</td>
            <td>@v.publishedDate</td>
            <td>@v.email</td>

            <td>@v.userId</td>

        </tr>
        }
        }
        }

        </tbody>
    </table>
    }


    @if(m.addedAgents != null && m.addedAgents.size() > 0 ) {
    <br/> <br/>  <br/>

    <table class="table table-striped" id="detailTable3">
        <h2> Newly Added Travel Agents to Existing Trips </h2>
        <thead>
        <tr>
            <th style="width:40%">Trip Name</th>
            <th style="width:10%">Added Date </th>
            <th style="width:20%">Agent Email</th>
            <th style="width:20%">Added By </th>


        </tr>
        </thead>
        <tbody>
        @if( m.addedAgents != null) {
        @for((key, passengerList) <- m.addedAgents) {
        @for( v <-  passengerList) {
        <tr>
            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){<br/>(Group: @v.groupName)}</td>
            <td>@v.publishedDate</td>
            <td>@v.email</td>


            <td>@v.userId</td>

        </tr>
        }
        }
        }

        </tbody>
    </table>
    }
</div>
</div>
</div>


</div>
}


</div>
<--endPageBody-->
