@(m:  com.mapped.publisher.view.CmpyInfoView, cv: com.mapped.publisher.view.ConsortiaView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.Company.BillingType;
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import models.publisher.BillingPmntMethod


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Company Profile @if(m.cmpyName != null && m.cmpyName.length > 0){ - @m.cmpyName}
      <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"></a>
    </h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  @* @formatter:off *@
  <script>
    $( "#inCmpyCountry" ).autocomplete({
      source: countries
    });

    @if(m.isUMappedAdmin) {
      initBillingCmpy();
    }

    $( "#inCmpyCity" ).autocomplete({
      source: function( request, response ) {
      $.ajax({
        url: "http://api.geonames.org/searchJSON",
        dataType: "jsonp",
        data: {
        featureClass: "P",
        username: "umapped",
        style: "full",
        maxRows: 12,
        name_startsWith: request.term
        },
        success: function( data ) {
          response( $.map( data.geonames, function( item ) {
            return {
              label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
              value: item.name,
              name: item.lng + "," + item.lat
            }
          }));
        }
      });
      },
      minLength: 2,
      select: function( event, ui ) {
        var array = ui.item.label.split(',');
        var gps = ui.item.name.split(',');

        if (array[2] == null && array[1] != null) {
          $("#inCmpyState").val("");
          $("#inCmpyCountry").val(array[1]);
        } else {
          $("#inCmpyState").val(array[1]);
          $("#inCmpyCountry").val(array[2]);
        }

        if (gps[0] != null && gps[1] != null) {
          $("#inCmpyLat").val(gps[1]);
          $("#inCmpyLong").val(gps[0]);
        } else {
          $("#inCmpyLat").val("");
          $("#inCmpyLong").val("");
        }

      },
      open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    @if(m.cmpyId != null && m.cmpyId.length() > 0) {
      function showResponse(responseText, statusText, xhr, $form)  {
        $('#uploadPhotoModal').modal('hide');
        getPage(uploadSuccessUrl);
      }

      function uploadPhoto() {
        $("#uploadSpinner").show();
        var uploadurl= '/cmpy/signedS3LogoUrl?inCmpyId=@m.cmpyId&inCmpyPhotoName=' + escapeFilename($("#inCmpyPhotoFile").val().replace("C:\\fakepath\\", ""));
        if($.browser.msie) {
          signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
          return iFrameUpload( signedURL, publicURL, s3Bucket);
          });
        } else {
          var s3upload = s3upload != null ? s3upload : new S3Upload({
            file_dom_selector: 'inCmpyPhotoFile',
            s3_sign_put_url: uploadurl,
            s3_object_caption: $("#inCmpyPhotoCaption").val(),
            onProgress: function(percent, message) {

             $("#progressUpload").text(percent + "%");

            },
            onFinishS3Put: function(public_url) {
              $('#uploadPhotoModal').modal('hide');
              getPage(public_url);
              console.log('Upload finished: ', public_url);
            },
            onError: function(status) {
              $("#progressBarDiv").hide();
              alert('Upload error: ', status);
              console.log('Upload error: ', status);
            }
          });
        }
      }

      $('input[id=inCmpyPhotoFile]').change(function() {
        var extension = $("#inCmpyPhotoFile").val().substring($("#inCmpyPhotoFile").val().lastIndexOf('.'));
        var ValidFileType = ".jpeg, .jpg , .png , .gif";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
          alert("Please only select an image file of type (JPG, GIF, PNG)");
          $("#uploadPhotoSubmit").attr('disabled', true);
          return;
        }

        if ( !$.browser.msie ) {
          var size = this.files[0].size;
          if (size > 1024000) {
            alert("The image file must be less than 1MB");
            $("#uploadPhotoSubmit").attr('disabled', true);
            return;
          }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadPhotoSubmit").attr('disabled', false);

      });
    }

    $( "#inCmpyExpiryDate" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2
    });

    $(document).ready(function(){
       $("input[name$='inType']").click(function() {
          var test = $(this).val();
          if (test == '@APPConstants.CMPY_TYPE_TRIAL') {
              $("#expiryDateDiv").show();
          } else {
              $("#expiryDateDiv").hide();
          }
       });

       $(this).scrollTop(0);
    });

    $(document).ready(function(){
      @if(m.cmpyType == APPConstants.CMPY_TYPE_TRIAL) {
        $("#expiryDateDiv").show();
      } else {
        $("#expiryDateDiv").hide();
      }
    });


    @if(m.isUMappedAdmin && m.cmpyId != null && m.cmpyId.trim.length > 0) {
    $('#parentCmpyName').autocomplete({
    source: function( request, response ) {

      companySearch(request.term, function(data){
        var result = [];
        $.each(data.body.companies, function(idx, val){
          //console.log("Found company:" + val.name);
          var c = {value:val.name, id:val.id};
          result.push(c);
        });
        response(result);
      });
    },
    minLength: 3 ,
    select: function (event, ui) {
      $("#parentCmpyName").val(ui.item.value);
      $("#parentCmpyId").val(ui.item.id);
    }
  });
    }
  </script>
  @* @formatter:on *@

    @if(m.cmpyId != null && m.cmpyId.length > 0) {
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class='active' id="cmpyNav1"><a> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=true');">Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                @if(m.isUMappedAdmin) {
                <li id="cmpyNav4"><a   onclick="javascript:getPage('/cmpy/merge?inCmpyId=@m.cmpyId');">MERGE </a></li>
                <li id="cmpyNav5"><a   href="@routes.CompanyController.godMode(m.cmpyId, models.publisher.AccountCmpyLink.LinkType.ADMIN.name())">LOGIN (ADMIN) </a></li>
                <li id="cmpyNav6"><a   href="@routes.CompanyController.godMode(m.cmpyId, models.publisher.AccountCmpyLink.LinkType.POWER.name())">LOGIN (POWER) </a></li>
                <li id="cmpyNav7"><a   href="@routes.CompanyController.godMode(m.cmpyId, models.publisher.AccountCmpyLink.LinkType.MEMBER.name())">LOGIN (MEMBER) </a></li>

                }
            </ul>
        </div>
    </div>
    }
    <hr>


  <form id="cmpyForm">
    <input type="hidden" name="inCmpyId" value="@m.cmpyId">
    @if(m.address != null && m.address.id != null) {
    <input type="hidden" name="inCmpyAddrId" value="@m.address.id">
    }

    <div class="row-fluid">
        <div class="span6">
            <label>Name <em>*</em> </label>
              @if(m.isUMappedAdmin) {
             <input type="text" class="required input-block-level" value="@m.cmpyName" name="inName">
              } else {
                <input type="hidden" value="@m.cmpyName" name="inName">
                  @m.cmpyName <br>
                  <span class="muted" style="font-size: 11px">(Please contact support@@umapped.com if you want to update your company name)</span>
              }
        </div>
        <div class="span1">
        </div>
        <div class="span4">
            <label>Contact Person</label><input type="text" class="input-block-level" value="@m.contact" name="inContact">
        </div>

    </div>
    <br/>
    <div class="row-fluid">
        <div class="span2">
            <button type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary " data-toggle="modal">Upload Logo </button>
        </div>
        <div class="span2">
            @if(m.logoUrl != null && m.logoUrl.length > 0){
            <a href="@m.logoUrl" target="_blank">
                <img class="img-rounded pull-right" src="@m.logoUrl" width="100%"></img>
            </a>
            }
        </div>
    </div>
    <br/><br/>
    @if(m.isUMappedAdmin) {
    <div class="well well-large" style="background-color: #fffafa ;">
      @if(m.cmpyConsortiaMap != null && m.cmpyConsortiaMap.size() > 0) {
        <legend>Consortium</legend>
        <div class="row-fluid">
            <ul>
              @for((k,v) <- m.cmpyConsortiaMap){
                <li> @v </li>
              }
            </ul>
        </div>
      }
      <!-- BILLING -->
      <legend>Billing</legend>
      <div class="row-fluid">
        <div class="span2">
          <label>Billing Schedule</label>
          <select name="billingSchedule" id="billingSchedule">
          @for(v <- m.billingInfo.availableSchedules) {
            <option value="@v.getName"
            @if(m.billingInfo.bsCmpy != null && m.billingInfo.bsCmpy.getSchedule.getName == v.getName) { selected } >
              @v.getLongName
            </option>
          }
          </select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <label>Billing Plan</label>
          <select name="billingPlan" id="billingPlan" class="input-block-level">
            @for(v <- m.billingInfo.availablePlans) {
              <option value="@v.getPlanId"
              @if(m.billingInfo.bsCmpy != null &&m.billingInfo.bsCmpy.getPlan != null && m.billingInfo.bsCmpy.getPlan.getPlanId == v.getPlanId) {
                selected
              } >@v.getDescriptive</option>
            }
          </select>
        </div>
        <div class="span2">
          <label>Payment Method</label>
          <select name="billingPmntMethod" id="billingPmntMethod" class="input-block-level">
            @for(v <- BillingPmntMethod.Type.values()) {
              <option value="@v"
              @if(m.billingInfo.bsCmpy != null && m.billingInfo.bsCmpy.getPmntType.getName == v) {
                selected
              } >@v.name()</option>
            }
          </select>
        </div>
        <div class="span2">
          <label>Billing Start Date</label>
          <div class="input-append date">
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="billingStartDate" readonly class="input-small" name="billingStartDate" @if(m.billingInfo.bsCmpy != null) {
              value="@m.billingInfo.startTs"}>
          </div>
        </div>
        <div class="span2">
          <label>Service Cutoff Date</label>
          <div class="input-append date">
            <div  id="cutoffDateArea">
              <span class="add-on"><i class="fa fa-calendar"></i></span>
              <input type="text" id="serviceCutoffDate" readonly class="input-small" name="serviceCutoffDate" @if(m.billingInfo.bsCmpy != null) {
                value="@m.billingInfo.cutoffTs"}>
            </div>
          </div>
        </div>
        <div class="span2">
          <label>Auto-renew / Recurrent</label>
          <input type="checkbox" name="billingRecurrent" id="billingRecurrent" @if(m.billingInfo.bsCmpy != null && m.billingInfo.bsCmpy.getRecurrent == true){checked}>
        </div>
      </div>
      <!-- END OF BILLING -->

      <legend>Access Settings</legend>
      <div class="row-fluid">
        <div class="span5">
            <label>Type<em>*</em></label>
            <label class="radio inline">
                <input type="radio" name="inType"  value=@APPConstants.CMPY_TYPE_TRAVEL @if(m.cmpyType == null || m.cmpyType.length == 0 || m.cmpyType == APPConstants.CMPY_TYPE_TRAVEL){checked} >
                Travel Company
            </label>
            <label class="radio inline">
                <input type="radio" name="inType" value=@APPConstants.CMPY_TYPE_DESTINATION @if(m.cmpyType ==APPConstants.CMPY_TYPE_DESTINATION){checked}>
                Destination Company
            </label>
            <label class="radio inline">
                <input type="radio" name="inType" value=@APPConstants.CMPY_TYPE_TRIAL @if(m.cmpyType ==APPConstants.CMPY_TYPE_TRIAL){checked}>
                Trial [Legacy Trial]
            </label>
          </div>
        <div class="span4">
          <label>Billing Type [Legacy Billing]<em>*</em></label>
          <label class="radio inline">
            <input type="radio" name="inBillingType"  value=@BillingType.UNDEFINED @if(m.billingType == null || m.billingType.equals(BillingType.UNDEFINED) ) {checked} >
            @BillingType.UNDEFINED
          </label>
          <label class="radio inline">
            <input type="radio" name="inBillingType" value=@BillingType.MONTHLY @if(m.billingType  != null && m.billingType.equals(BillingType.MONTHLY) ){checked}>
            @BillingType.MONTHLY
          </label>
          <label class="radio inline">
            <input type="radio" name="inBillingType" value=@BillingType.PER_TRIP @if(m.billingType  != null && m.billingType.equals(BillingType.PER_TRIP)){checked}>
            @BillingType.PER_TRIP
          </label>
        </div>
      </div>
      <div class="row-fluid" style="padding-top: 40px;padding-bottom: 40px">
        <div class="span2" id="expiryDateDiv">
          <label> Trial Expiry </label>
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text"  id="inCmpyExpiryDate" name="inCmpyExpiryDate" readonly class="input-small required"
          @if(m!= null && m.expiryDate!=null) {
            value=@m.expiryDate
          }>
        </div>
        <div class="span2">
          <label> Number of Users</label><input type="text" class="input-mir, required, number, max 100, input-block-level" value="@m.numAccounts" name="inNumAccounts">
        </div>
        <div class="span2">
          <label> Number of Trips</label>
          <select name="inNumTrips" class="input-block-level">
              <option value="20" @if(m.numTrips == 20) {selected="Y"}> 20 </option>
              <option value="50" @if(m.numTrips == 50) {selected="Y"}> 50 </option>
              <option value="100" @if(m.numTrips == 100) {selected="Y"}> 100 </option>
              <option value="-1" @if(m.numTrips == -1) {selected="Y"}> Unlimited </option>

          </select>
        </div>
      </div>
      @if(m.cmpyId != null) {
        <legend> Licence Agreement </legend>
        <div class="row-fluid">
          <div class="span4">
              <label> Current Status</label>
              <h4>@m.acceptedAgreementVersion</h4>
              <h5>@m.acceptedAgreementDate</h5>
          </div>

          <div class="span4">
              <label> Agreement Version</label>
              @if(m.agreements != null) {
              <select name="inTargetAgreement" class="input-block-level">
                  @for( (k,v) <- m.agreements) {
                  <option value=@k @if(k.equals(m.selectedAgreementVersion)) {selected="Y"}> @v</option>
                  }
              </select>
              }
          </div>

          <div class="span4">
              @if(m.adminUsers != null) {

              <label>Authorized User Id</label>
              <select name="inAuthorizedUser" class="input-block-level">
                  @for( p <- m.adminUsers) {
                  <option value=@p.userId @if(p.userId != null && p.userId.equals(m.authorizedUserId)) {selected="Y"}> @if(p.name != null && p.name.length() > 0) {@p.name (@p.userId)}  else {@p.userId }</option>
                  }

              </select>
              }
          </div>
        </div>
        <br/>
        <div class="row-fluid" style="padding-top: 40px;padding-bottom: 40px">
          <div class="span12" >
         <label> Tag (for 24hrclock, for widelogo, for api auto publish: API-AUTO-PUBLISH, for no email: API-AUTO-PUBLISH-NO-EMAIL, API-AUTO-TRIP-COVER, API-WEB-ITINERARY-AUTO-LOGIN, API-NO-POI-MATCH, API-NO-MOBILE-LINKS, API-SUMMARY-NOTE, API-SUMMARY-NOTE-1, API-NOTIFY-AGENT-PUBLISH-EVENT, API-NOTIFY-AGENT-REPUBLISH-EVENT, API_FULL_RESERVATION_PACKAGE, API-ATTACH-PDF-IN-EMAIL, , API-CONTROL-TRAVELERS, API-UPDATE-TRIP-NAME, API-AUTO-AFAR-GUIDE, API-AUTO-WCITIES, FC-WCITIES-FILTER for Flight Centre WCities filter, for Web Itinerary Guest Login: ITINERARY-GUEST-LOGIN, for default photo: DEFAULT-PHOTO:optional link to image, FILTER-MANGNATECH-NOTE to clean up Mangnatech garbage) </label>
            <input type="text"  id="inTag" name="inTag"  class=" input-block-level"
            @if(m!= null && m.tag!=null) {
              value="@m.tag"
            }>
          </div>
        </div>
         <br/>
      }

      <legend>Collaboration Features</legend>
      <div class="row-fluid">
        <div class="span4">
          <label>Collaboration Status</label>
          <label class="radio inline">
            <input type="radio" name="inEnableCollaboration" value="true" @if(m.enableCollaboration == true){checked}>
            Enabled
          </label>
          <label class="radio inline">
            <input type="radio" name="inEnableCollaboration" value="false" @if(m.enableCollaboration == false){checked}>
            Disabled
          </label>
        </div>

        <div class="span4">
            <label>Flight Tracking</label>
            <label class="radio inline">
              <input type="radio" name="inFlightTracking" value="true" @if(m.flightTracking == true){checked}>
              Enabled
            </label>
            <label class="radio inline">
              <input type="radio" name="inFlightTracking" value="false" @if(m.flightTracking == false){checked}>
              Disabled
            </label>
          </div>
      </div>




    </div> <!-- well -->
    }



    <!--
    <div class="row-fluid">
        <div class="span8">
            <label> Comments</a></label><textarea class="field span12" rows="5"  name="inComment">@m.comments</textarea>
        </div>
        @if(m.cmpyId != null){
        <div class="span2 ">
        </div>
        <div class="span2 ">
           <label>                    <button type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary " data-toggle="modal"><i class="icon-picture"></i> Upload Logo </button>
           </label>
            @if(m.logoUrl != null && m.logoUrl.length > 0){
            <a href="@m.logoUrl" target="_blank">
                <img class="img-rounded pull-right" src="@m.logoUrl" width="100%"></img>
            </a>
            }
            <br/>


        </div>
        }
    </div>
    -->


    <fieldset><legend>Address</legend> </fieldset>
    <div class="row-fluid">
        <div class="span12">
            <label>Address 1</label>
            <input type="text"  id="inCmpyAddress1" name="inCmpyAddress1" class="input-block-level"  @if(m!= null && m.address != null && m.address.streetAddr1!=null) {value="@m.address.streetAddr1"}>
        </div>
    </div>
    <div class="row-fluid">

    <div class="span12">
            <label>Address 2</label>
            <input type="text"  id="inCmpyAddress2" name="inCmpyAddress2" class="input-block-level"  @if(m!= null && m.address != null && m.address.streetAddr2!=null) {value="@m.address.streetAddr2"}>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span3">
            <label>City</label>
            <input type="text"  id="inCmpyCity" class="input-block-level" name="inCmpyCity" @if(m!= null && m.address != null && m.address.city!=null) {value="@m.address.city"}>
        </div>
        <div class="span3">
            <label>Zip/Postal Code</label>
            <input type="text"  id="inCmpyZip" class="input-block-level"  name="inCmpyZip" @if(m!= null && m.address != null && m.address.zip!=null) {value="@m.address.zip"}>
        </div>
        <div class="span3">
            <label>State/Province</label>
            <input type="text"  id="inCmpyState" class="input-block-level" name="inCmpyState" @if(m!= null && m.address != null && m.address.state!=null) {value="@m.address.state"}>
        </div>
        <div class="span3">
            <label>Country</label>
            <input type="text"  id="inCmpyCountry" class="input-block-level" name="inCmpyCountry" @if(m!= null && m.address != null && m.address.country!=null) {value="@m.address.country"}>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span3">
            <label> Latitude</label>
            <input type="text" id="inCmpyLat" class="input-block-level" name="inCmpyLat" @if(m!= null && m.address != null && m.address.locLat!=null) {value="@m.address.locLat"}>
        </div>
        <div class="span3">
            <label> Longitude</label>
            <input type="text" id="inCmpyLong" class="input-block-level" name="inCmpyLong" @if(m!= null && m.address != null && m.address.locLong!=null) {value="@m.address.locLong"}>
        </div>
    </div>

    <br/>

    <div class="">
        <fieldset class="">

            <legend>Contact</legend>

            <div class="row-fluid">
                <div class="span3">
                    <label>Email</label>
                    <input type="text"  id="inCmpyEmail" class="input-block-level" name="inCmpyEmail" class="email" @if(m!= null && m.address != null && m.address.email!=null) {value="@m.address.email"}>
                </div>
                <div class="span3">
                    <label>Website</label>

                    <input type="text"  id="inCmpyWeb" class="input-block-level" name="inCmpyWeb" @if(m!= null && m.address != null  && m.address.web!=null) {value="@m.address.web"}>
                </div>
                <div class="span3">
                    <label>Phone</label>

                    <input type="text"  id="inCmpyPhone" class="input-block-level" name="inCmpyPhone" class="phone" @if(m!= null && m.address != null  && m.address.phone!=null) {value="@m.address.phone"}>
                </div>
                <div class="span3">
                    <label>Fax</label>

                    <input type="text"  id="inCmpyFax" class="input-block-level" name="inCmpyFax" class="phone" @if(m!= null && m.address != null  && m.address.fax!=null) {value="@m.address.fax"}>
                </div>
            </div>
            <br/>
            <div class="row-fluid">
                <div class="span3">
                    <label>Facebook</label>
                    <input type="text"  id="inCmpyFacebook" class="input-block-level" name="inCmpyFacebook" @if(m!= null && m.address != null && m.address.facebook!=null) {value="@m.address.facebook"}>
                </div>
                <div class="span9">
                    <label>Twitter</label>

                    <input type="text"  id="inCmpyTwitter" class="input-block-level" name="inCmpyTwitter" @if(m!= null && m.address != null  && m.address.twitter!=null) {value="@m.address.twitter"}>
                </div>
            </div>
        </fieldset>
    </div>

    <br/>
    <div class="">
        <fieldset class="">
        <legend>Travelers' Web Itinerary Check</legend>
        <div class="row-fluid">
            <p>
                Your travelers' web itineraries are protected by default; travelers are required to enter the trip start and end date before they can access their itineraries.<br>
                You can choose to disable the validation; the web itinerary will be available directly with no validation required.
            </p>
            <label class="radio">
                <input type="radio" name="inItineraryCheck" id="inItineraryChecked" value="true" @if(m.itineraryCheck){ checked}>
                Enable Web Itinerary Validation
            </label>
            <label class="radio">
                <input type="radio" name="inItineraryCheck" id="inItineraryUnChecked" value="false" @if(!m.itineraryCheck){ checked}>
                Disable Web Itinerary Validation
            </label>
        </div>
        </fieldset>
    </div>

    <br/>

    <div class="row-fluid">
        <div class="span8">
            @if(m.currentAgreementId != null && m.currentAgreementId.length() >0) {
                 <a href="/cmpy/agreement?inCmpyId=@m.cmpyId&inAgreementId=@Html(escapeEcmaScript(m.currentAgreementId))" target="_blank"  role="button" class="btn btn-primary btn-medium" data-toggle="modal">Licence Agreement</a>

            }
        </div>
        <div class="span4 pull-right">
            @if(m.cmpyId != null && m.isUMappedAdmin){
            <a href="#deleteModal" role="button" class="btn btn-danger btn-large" data-toggle="modal">Delete</a>
            }
            <button type="submit" class="btn btn-success btn-large"
                    onclick="javascript:postForm('/cmpy/newCmpy', 'cmpyForm');return false;">Save >
            </button>
        </div>

    </div>
  </form>


  <!-- Consortia List-->
  @if(m.cmpyId != null && m.isUMappedAdmin) {
  <div class="well" style="margin-top: 50px;">
    <legend>Manage Company's Consortia</legend>
    @if(cv != null && cv.consortiaMap != null && cv.consortiaMap.size() > 0) {
    <form id="consortiaForm">
      <div class="row-fluid">
        <div class="span4">
          <label>Select Consortium to Add to Company</label>
          <select name="consortia" id="consortia" class="input-block-level">
            @for((k,v) <- cv.consortiaMap){
            <option value="@k">@v</option>
            }
          </select>
        </div>
        <div class="span2">
          <label>&nbsp;</label>
          <button class="btn btn-primary" onclick="javascript:postForm('@routes.CompanyController.addConsortiumToCmpy(m.cmpyId)', 'consortiaForm');return false;">Add</button>
        </div>
      </div>
    </form>
    }

    @if(m.cmpyConsortiaMap != null && m.cmpyConsortiaMap.size() > 0) {
    <div class="row-fluid">
      <table class="table table-striped" style="width: 40%;">
        <thead>
        <tr>
          <th style="width: 90%">Name</th>
          <th></th>
        </tr>
        </thead>
        @for((k,v) <- m.cmpyConsortiaMap){
        <tr>
          <td>@v</td>
          <td><button type="button" href="#deleteConsortiaModal_@k" id="deleteConsortiaBtn" data-toggle="modal"class="btn btn-danger">Delete</button></td>
        </tr>
        }
      </table>
    </div>
    <br/>
    }


  </div>
  }


  <!-- link to parent cmpy -->
  @if(m.isUMappedAdmin && m.cmpyId != null && m.cmpyId.trim.length > 0 && !m.isParentCmpy) {
   <div>
     <legend>LINK @m.cmpyName.toUpperCase TO A PARENT COMPANY</legend>
    <form id="parentCmpyForm">
      <div class="row-fluid">
        <div class="span4">
          <label>Parent Company</label>
          <input type="text" class="input-block-level" placeholder="Search by company name" id="parentCmpyName" name="parentCmpyName" @if(m.parentCmpyName != null && m.parentCmpyName.trim.length > 0){value='@m.parentCmpyName'}>
          <input type="hidden" id="parentCmpyId" name="parentCmpyId" @if(m.parentCmpyId  > 0){value='@m.parentCmpyId'}>
          <input type="hidden" id="inCmpyId" name="inCmpyId" value='@m.cmpyId'>
        </div>
        <div class="span5">
          <button type="submit"  class="btn btn-success btn-large" onclick="javascript:postForm('/cmpy/linkParentCmpy', 'parentCmpyForm');return false;">Link Company </button>
          &nbsp;
          <button  class="btn btn-danger btn-large" onclick="javascript:doPost('/cmpy/linkParentCmpy?inCmpyId=@m.cmpyId');return false;">Remove Link </button>

        </div>
      </div>
    </form>
  </div>
  }


    @if(m.cmpyId != null && m.isUMappedAdmin){
        <div class ="well" style="margin-top:50px">
           <div>
           <legend>API Configuration</legend>
           <div class="row-fluid">
               <div class="span6">
                    <label>CURRENT API Access</label>
                    @if(m.canAccessApi) {
                       API ACCESS ENABLED. <br><br>Email:  <input type="text" readonly class="input-xlarge" value='@m.apiAccessCode' >
                    } else  {
                       API ACCESS DISABLED.
                    }
               </div>
               <div class="span3">
                   @if(m.canAccessApi) {
                   <a class="btn btn-danger btn-large" onclick="javascript:doPost('/cmpy/toggleApiAccess?inCmpyId=@m.cmpyId&inAllowApiAccess=no')">Disable API Access </a>
                   } else {
                   <a class="btn btn-success btn-large" onclick="javascript:doPost('/cmpy/toggleApiAccess?inCmpyId=@m.cmpyId&inAllowApiAccess=yes')">Enable API Access </a>

                   }

               </div>
           </div>
           </div>

          @if(m.canAccessApi) {
            <div style="padding-top:50px">
                <legend>Parser Configuration</legend>
                <form id="cmpyApiParser">
                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                    <input type="hidden" id="inParserId" name="inParserId">

                    <div class="row-fluid">
                        <div class="span3">
                            <label>Name <em>*</em></label>
                            <input type="text" class="required input-block-level" id="inParserName" name="inName">
                        </div>
                        <div class="span8">
                            <label>File Name Pattern <em>*</em></label>
                            <input type="text" class="required input-block-level" id="inFilePattern" name="inFilePattern">
                        </div>

                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <label>Parser Class <em>*</em></label>
                            <input type="text" class="required input-block-level" id="inParser" name="inParser">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <label> Parameters (;; separated, name value pairs)</label>
                            <textarea class="field span12" rows="10"  id="inParams" name="inParams"></textarea>
                         </div>
                        <div class="span2">
                            <label> Parser Type<em>*</em></label>
                            <select name="inParserType" class="input-block-level">
                                <option value="0" selected="Y"> Itinerary Parser </option>
                                <option value="1" selected="Y"> Booking Parser </option>

                            </select>
                        </div>
                        <div class="span1">
                            <label>&nbsp;</label>
                            <button type="submit"  class="btn btn-success btn-large" onclick="javascript:postForm('/cmpy/newParserRule', 'cmpyApiParser');return false;">Save  </button>
                        </div>
                    </div>
                </form>
            </div>


            @if(m.cmpyParsers != null && m.cmpyParsers.size() > 0) {
                <script>
                    function editParser(pk,name,filePattern,parserType,params,parser) {
                        $('#inParserId').val(pk);
                        $('#inFilePattern').val(filePattern);
                        $('#inParams').val(params);
                        $('#inParser').val(parser);
                        $('#inParserName').val(name);
                    }
                </script>
                <div class="margin-top:50px">
                    <legend>Configured Parsers</legend>

                    @for(p <- m.cmpyParsers) {
                        <div class="row-fluid" style="padding-bottom:20px">
                            <div class="span6" >
                                <span style="text-align:right;width:60px">NAME:</span> @p.name <br/>
                                <span style="text-align:right;width:60px">FILE PATTERN:</span> @p.filePattern <br/>
                                <span style="text-align:right;width:100px">PARSER:</span> @p.parser  <br/>
                                <span style="text-align:right;width:100px;word-wrap: break-word;">PARSER TYPE:</span>@if(p.parserType==0){Itinerary Parser}@if(p.parserType==1){Booking Parser}
                            </div>
                            <div class="span4">
                                <label>Parameters</label>
                                @Html(p.params)
                            </div>
                            <div class="span2 pull-right">
                                <a class="btn btn-primary" onclick="javascript:editParser('@p.pk','@p.name','@p.filePattern','@p.parserType','@escapeEcmaScript(p.params)','@p.parser');"> Edit</a>

                                <a class="btn btn-danger" onclick="javascript:doPost('/cmpy/deleteParserRule?inCmpyId=@m.cmpyId&inParserId=@p.pk');"> Delete</a>
                            </div>
                        </div>
                    }

                </div>
            }
          }

        </div>

    }
    @if(m.cmpyId != null && !m.isUMappedAdmin && m.canAccessApi){
    <div class ="well" style="margin-top:50px">
        <div>
            <legend>API EMAIL ADDRESS</legend>
            <div class="row-fluid">
                <div class="span6">
                    <h3> <span style="color:#00B4FF"> @m.apiAccessCode </span> </h3>
                    <p>
                        Use this email address to send your travel documents (Word and PDF) to Umapped.
                        <br> All documents attached to the email will be available on the Web Itinerary and in the Umapped Mobile App.
                        <br><br> Depending on your company's setup, these documents could be parsed and assembled into a Umapped Travel document.
                            <br><br>Tips:
                        <ul>
                            <li>Use the same email subject to make sure that all related travel documents are part of the same trip.</li>
                            <br/>
                            <li>Emails can only be sent from email accounts belonging to users belonging to this company.</li>
                            <br/>
                            <li>Only Word or PDF email attachments will be processed.</li>

                        </ul>

                    </p>
                </div>
            </div>
        </div>
    </div>
    }

  <!-- cmpy api tokens-->
  @if(m.cmpyId != null) {
  @views.html.cmpy.apiCmpyToken(m)

    @if(m.cmpyId != null && m.isUMappedAdmin){
        <div class ="well" style="margin-top:50px">
            <div>
                <legend>Email Configuration</legend>
                <p>Please note that configuration gets reloaded every hour by the nodes in the cluster. If immediate reload needed, restart the servers.</p>
                <form id="emailConfigForm">
                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                    <input type="hidden" id="inConsortiumId" name="inConsortiumId" value="0">
                    <div class="row-fluid">
                        <div class="span3">
                            <label>Host</label>
                            <input type="text"  id="inCmpyHost" class="input-block-level required" name="inCmpyHost" class="email" @if(m!= null && m.emailConfig != null && m.emailConfig.host!=null) {value="@m.emailConfig.host"}>
                        </div>
                        <div class="span3">
                            <label>Port (default (587)</label>

                            <input type="text"  id="inCmpyPort" class="input-block-level required" name="inCmpyPort" @if(m!= null && m.emailConfig != null && m.emailConfig.port > 0) {value="@m.emailConfig.port"}>
                        </div>
                        <div class="span3">
                            <label>Username</label>

                            <input type="text"  id="inCmpyUsername" class="input-block-level required" name="inCmpyUsername"  @if(m!= null && m.emailConfig != null && m.emailConfig.username!=null) {value="@m.emailConfig.username"}>
                        </div>
                        <div class="span3">
                            <label>Password</label>

                            <input type="text"  id="inCmpyPassword" class="input-block-level required" name="inCmpyPassword"  @if(m!= null && m.emailConfig != null && m.emailConfig.password!=null) {value="@m.emailConfig.password"}>
                        </div>
                    </div>
                    <br/>
                    <div class="row-fluid">
                        <div class="span3">
                            <label>Email Default</label>
                            <input type="text"  id="inCmpyEmailDefault" class="input-block-level required" name="inCmpyEmailDefault"  @if(m!= null && m.emailConfig != null && m.emailConfig.emailDefault!=null) {value="@m.emailConfig.emailDefault"}>
                        </div>
                        <div class="span3">
                            <label>Email Notice</label>

                            <input type="text"  id="inCmpyEmailNotice" class="input-block-level" name="inCmpyEmailNotice" @if(m!= null && m.emailConfig != null && m.emailConfig.emailNotice!=null) {value="@m.emailConfig.emailNotice"}>
                        </div>
                        <div class="span4 pull-right">
                            @if(m.emailConfig != null) {
                              <button type="submit" class="btn btn-danger btn-large"
                              onclick="javascript:doPost('@routes.CompanyController.deleteEmailConfig(m.cmpyId)');return false;">Delete >
                              </button>
                            }
                            <button type="submit" class="btn btn-success btn-large"
                                    onclick="javascript:postForm('/cmpy/emailConfig', 'emailConfigForm');return false;">Save >
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

            }



    }
    <!--modal for delete -->
    @if(m.cmpyId != null && m.isUMappedAdmin){
    <script>
        $('#deleteCmpySubmit').click(function() {
        $('#deleteModal').modal('hide');
        });
    </script>

    <div id="deleteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this company?</p>
             Note: All users associated with this company will no longer have access to trips.


        </div>
        <div class="modal-footer">
            <form id="deleteCmpyForm">
                <input type="hidden" id="providerId" name="inCmpyId" value="@m.cmpyId">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-danger " id="deleteCmpySubmit"
                        onclick="javascript:postForm('/cmpy/deleteCmpy', 'deleteCmpyForm');">Delete
                </button>
            </form>
        </div>
    </div>
    }



    <!--modal for Consortia delete -->
    @if(m.isUMappedAdmin && m.cmpyId != null && m.cmpyConsortiaMap != null && m.cmpyConsortiaMap.size() > 0){
      @for((k,v) <- m.cmpyConsortiaMap){
        <script>
              $('#deleteConsortiaSubmit_@k').click(function() {
              $('#deleteConsortiaModal_@k').modal('hide');
              });
          </script>

        <div id="deleteConsortiaModal_@k" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
          </div>
          <div class="modal-body">
            <p>Delete this consortium?</p>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
              <button type="button" class="btn btn-danger " id="deleteConsortiaSubmit_@k"
                      onclick="javascript:doPost('@routes.CompanyController.deleteConsortiumFromCmpy(m.cmpyId, k)');return false;">Delete
              </button>
          </div>
        </div>
      }
    }

    <!-- modal for LOGO -->
    @if(m.cmpyId != null && m.cmpyId.length() > 0) {


    <div id="uploadPhotoModal" class="modal hide fade">
        <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a Logo</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span9">
                        <input type="hidden" id="key" name='key'/>
                        <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                        <input type="hidden" id="policy" name='policy'/>
                        <input type="hidden" id="signature" name='signature'/>
                        <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                        <input type="file"  id='inCmpyPhotoFile' name='file' />

                    </div>
                </div>
                <br/>

                <div id="uploadSpinner" style="display:none;text-align:center">
                    <img src="@{m.imgUrl}/img/ajax-loader.gif" > <h3> Uploading... <div id="progressUpload"></div></h3>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-success "  id="uploadPhotoSubmit"
                        onclick="javascript:uploadPhoto();" >Upload
                </button>

            </div>
        </form>
    </div>

    }

</div>
<--endPageBody-->
