@(m:  com.mapped.publisher.view.GroupsView)
@import com.mapped.publisher.common.APPConstants
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">@m.cmpyName - Manage Groups <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        $('#inGroupUsers').multiSelect({
        selectableHeader: "<div class='custom-header'><h5>Available Users</h5></div>",
        selectionHeader: "<div class='custom-header'><h5>Selected Users</h5></div>",

        });
        $('#inGroupUsersAdd').multiSelect({
        selectableHeader: "<div class='custom-header'><h5>Available Users</h5></div>",
        selectionHeader: "<div class='custom-header'><h5>Selected Users</h5></div>",

        });

        $('#newGroupSubmit').click(function() {
            if ($('#groupForm').valid())
                $('#newGroupModal').modal('hide');
        });

        $('#addMemberSubmit').click(function() {
        $('#addMemberModal').modal('hide');
        });

        $('#removeMemberSubmit').click(function() {
        $('#removeMemberModal').modal('hide');
        });

        $('#EditGroupSubmit').click(function() {
            if ($('#editGroupForm').valid())
                $('#editGroupModal').modal('hide');
        });

        $('#DeleteGroupSubmit').click(function() {
        $('#editGroupModal').modal('hide');
        });

        @if(m.groups != null) {
            @for(p<-m.groups) {
                var @{"users_" + p.groupIndex} = new Array();
                 @if(p.users != null && p.users.size > 0){
                    @for(u <- p.users){
                        @{"users_" + p.groupIndex}.push("@escapeEcmaScript(u.userId)");
                    }
                 }
            }
        }

        function addMember (groupId, groupName, users) {
        $('#addMsg').text('Add members to ' + groupName );

        $('#inAddGroupId').val(groupId);


        $("#inGroupUsersAdd").multiSelect('deselect_all')
        $("#inGroupUsersAdd").multiSelect('select',users);

        $('#addMemberModal').modal();

        }

        function removeMember (groupId, groupName, userId, userName) {
        $('#inRemoveGroupId').val(groupId);
        $('#inRemoveUserId').val(userId);
        $('#removeMsg').text('Remove ' + userName + ' from ' + groupName + '?');
        $('#removeMemberModal').modal();

        }

        function editGroup (groupId, groupName, groupComments) {

        $('#inEditGroupId').val(groupId);
        $('#inEditGroupName').val(groupName);
        $('#inEditGroupComments').val(groupComments);


        $('#editGroupModal').modal();

        }


    </script>
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li class='' id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=true');">Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3" class="active"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                @if(m.isUMappedAdmin) {
                <li id="cmpyNav4"><a   onclick="javascript:getPage('/cmpy/merge?inCmpyId=@m.cmpyId');">MERGE </a></li>
                }
            </ul>
        </div>
    </div>
    <hr>
    <div class="    ">
             <div class="subTitle">MANAGE GROUPS</div>
        <div class="row-fluid">
            <div class="span3">
                <button type="button" class="btn btn-success btn-large" href="#newGroupModal" data-toggle="modal">
                    Create a New Group
                </button>
            </div>
        </div>
        <br>
        @if(m.groups != null && m.groups.size() > 0) {
            @for(p<-m.groups) {
        <div class="row-fluid">
        <div class="block span12">
        <p class="subTitle" data-toggle="collapse" data-target="#@p.groupId">@p.name</p>
        <div id="@p.groupId" class="block-body collapse in">
            <br/>
            <div class="row-fluid">
               <div class="span8"> <p>@p.comment</p></div>
                <div class="span4">
                <button type="button" class="btn btn-success" onclick="javascript:addMember('@escapeEcmaScript(p.groupId)', '@escapeEcmaScript(p.name)',@{"users_" + p.groupIndex});"> Manage Members</button>
               <button type="button" class="btn btn-info" onclick="javascript:editGroup('@escapeEcmaScript(p.groupId)', '@escapeEcmaScript(p.name)', '@escapeEcmaScript(p.comment)');"> Edit Group</button> </div>
            </div>
            <div class="row-fluid">
                <div class="span1"></div>

                <div class="span10">
                 <table class="table table-bordered">
                   <caption>
                       <h5>Group Members</h5>
                   </caption>
                   <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Name</th>
                    </tr>
                   </thead>
                    @if(p.users != null && p.users.size > 0){

                    @for(u <- p.users){
                    <tr>
                        <td>@u.userId</td>
                        <td>@u.name
                        <button type="button" class="btn btn-danger pull-right" onclick="javascript:removeMember('@escapeEcmaScript(p.groupId)', '@escapeEcmaScript(p.name)', '@escapeEcmaScript(u.userId)', '@escapeEcmaScript(u.name)' );"> Remove</button></td>
                    </tr>
                    }
                    } else {
                    <tr><td colspan="3"><p>No users added yet.</td></tr>
                    }

                </table>
                </div>
            </div>

        </div> <!-- row -->
        </div>
        </div>

            }
        } else {
            <div class="row-fluid">
                <div class="span9">
                @if(m.groups == null || m.groups.size ==0){
                    <h4> No groups created yet. </h4>
                }
                </div>

            </div>
        }

    </div>

    <!-- new group modal -->

    <div id="newGroupModal" class="modal hide fade">
        <form id="groupForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value=@m.cmpyId>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create a new group</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                         <label>Group Name <em>*</em></label>
                         <input type="text" id="inGroupName" name="inGroupName" class="required input-block-text">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Description</label>
                        <textarea class="field span12" rows="3"  name="inGroupComments"></textarea>
                    </div>
                </div>
                @if(m.users != null && m.users.size > 0) {
                <div class="row-fluid">
                    <div class="span12">
                <select multiple="multiple" id="inGroupUsers" name="inGroupUsers">
                    @for(p <- m.users) {
                    <option value='@p.userId'>@p.name (@p.userId)</option>
                    }

                </select>
                    </div>

                </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success "  id="newGroupSubmit"
                        onclick="javascript:postForm('/cmpy/newGroup','groupForm');return false;" >Create
                </button>

            </div>
        </form>
    </div>

    <!-- new member modal -->

    <div id="addMemberModal" class="modal hide fade">
        <form id="addMemberForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value=@m.cmpyId>
            <input type="hidden" id="inAddGroupId" name="inGroupId" value="">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a member</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <h4 style="text-align:center;"> <div id="addMsg"></div>  </h4>
                    </div>
                </div>
                <br/>
                @if(m.users != null && m.users.size > 0) {
                <div class="row-fluid">
                    <div class="span12">
                        <select multiple="multiple" id="inGroupUsersAdd" name="inGroupUsers">
                            @for(p <- m.users) {
                            <option id='@p.userId' value='@p.userId'>@p.name (@p.userId)</option>
                            }

                        </select>
                    </div>

                </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success "  id="addMemberSubmit"
                        onclick="javascript:postForm('/cmpy/manageGroupMembers','addMemberForm');return false;" >Save
                </button>

            </div>
        </form>
    </div>

    <!-- remove member modal -->

    <div id="removeMemberModal" class="modal hide fade">
        <form id="removeMemberForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value=@m.cmpyId>
            <input type="hidden" id="inRemoveGroupId" name="inGroupId" value="">
            <input type="hidden" id="inRemoveUserId" name="inUserId" value="">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Remove member</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <h4 style="text-align:center;"> <div id="removeMsg"></div>  </h4>
                    </div>
                </div>
                <br/>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success "  id="removeMemberSubmit"
                        onclick="javascript:postForm('/cmpy/removeGroupMember','removeMemberForm');return false;" >Remove
                </button>

            </div>
        </form>
    </div>

    <!-- edit/remove group modal -->

    <div id="editGroupModal" class="modal hide fade">
        <form id="editGroupForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value=@m.cmpyId>
            <input type="hidden" id="inEditGroupId" name="inGroupId" value="">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit group</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <label>Group Name <em>*</em></label>
                        <input type="text" id="inEditGroupName" name="inGroupName" class="required input-block-text">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Description</label>
                        <textarea class="field span12" rows="3" id="inEditGroupComments" name="inGroupComments"></textarea>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-danger "  id="DeleteGroupSubmit"
                        onclick="javascript:postForm('/cmpy/deleteGroup','editGroupForm');" >Remove
                </button>
                <button type="submit" class="btn btn-success "  id="EditGroupSubmit"
                        onclick="javascript:postForm('/cmpy/editGroup','editGroupForm');return false;" >Save
                </button>

            </div>
        </form>
    </div>
</div>
<--endPageBody-->