@(m:  com.mapped.publisher.view.DashboardView)
@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4>
    @m.message
      @if(m.linkId != null && !m.linkId.isEmpty) {
        &nbsp;&nbsp;@Html(m.linkId)
    }
    </h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title pull-left">Dashboard</h1>
  <a class="btn btn-success btn-large pull-right" href="#" onclick="javascript:getPage('@routes.TripController.newTrip()');return false;"><i class="fa fa-plus"></i>&nbsp;New Trip</a>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader" >
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script type="text/javascript">
    $(function(){
      if (window.location.hash == "#/dashboard") {
        $('#myTourTab a:first').tab('show');
      }
    });

  var selectedTourTable = "";
  var lastTourRequests =  new Object();
  var timeoutBetweenRequests = 0; //30 * 1000; // 30 seconds

  /* searchTours (searchType, tableName)
  * ajax call to get the search results
  * built-in timeout to delay requests by 60secs
  */
  function searchTours (searchType, tableName) {
  if (selectedTourTable != tableName) {
  var now = new Date();
  var lastRequestTimestamp = 0;
  if (lastTourRequests.hasOwnProperty(tableName)) {
  lastRequestTimestamp =  lastTourRequests[tableName];
  }
  if ((now.getTime() - lastRequestTimestamp) > timeoutBetweenRequests) {
  $("#" + tableName + " > tbody tr").remove();
  $("#" + tableName + "Activity" + " > tbody tr").remove();

  switch(searchType) {
  case 0:
  //getSearchResult('/tours/myTours?inSearchTerm=&inCmpyId=All&searchType=' + searchType + '&inTableName=' + tableName ,tableName, false);
  getSearchResult('/trips/audit/recentActiveTrips?searchType=USER_PUBLISHED&daysAgo=0&inTableName=' + tableName, tableName + 'Activity', false);
  break;
  case 1:
  //getSearchResult('/tours/myTours?inSearchTerm=&inCmpyId=All&searchType=' + searchType + '&inTableName=' + tableName ,tableName, false);
  getSearchResult('/trips/audit/recentActiveTrips?searchType=USER_PENDING&daysAgo=0&inTableName=' + tableName, tableName + 'Activity', false);
  break;
  case 2:
  //getSearchResult('/tours/otherTours?inSearchTerm=&inCmpyId=All&searchType=' + searchType + '&inTableName=' + tableName ,tableName, false);
  getSearchResult('/trips/audit/recentActiveTrips?searchType=SHARED_PUBLISHED&daysAgo=0&inTableName=' + tableName, tableName + 'Activity', false);
  break;
  case 3:
  //getSearchResult('/tours/otherTours?inSearchTerm=&inCmpyId=All&searchType=' + searchType + '&inTableName=' + tableName ,tableName, false);
  getSearchResult('/trips/audit/recentActiveTrips?searchType=SHARED_PENDING&daysAgo=0&inTableName=' + tableName, tableName + 'Activity', false);
  break;
  case 4:
  //getSearchResult('/tours/myTours?inSearchTerm=&inCmpyId=All&searchType=' + searchType + '&inTableName=' + tableName ,tableName, false);
  getSearchResult('/trips/audit/recentActiveTrips?searchType=DELETED&daysAgo=0&inTableName=' + tableName, tableName + 'Activity', false);
  break;
  }

  selectedTourTable=tableName;
  lastTourRequests[tableName] = now.getTime();
  }
  }
  }

  </script>

  <script>
  $(document).ready(function() { //wait for document ready
    var timer;
    var delay = 600; // 0.6 seconds delay after last input

    $('#searchTerm').keypress(function(event) {
      if (event.keyCode == 13) {
        event.preventDefault();
      }
    });

    $('#searchTerm').bind('input', function() {
      window.clearTimeout(timer);
      timer = window.setTimeout(function(){
        //insert delayed input change action/event here
        var table = $('#allTripsTable').DataTable();
        // Search for a data point
        table.draw();
      }, delay);
    })
  }); // END READY


    $('#searchTrips').on( "click", function () {
      var table = $('#allTripsTable').DataTable();

      // Search for a data point
      table.draw();
      return false;
    });

    $('#searchStatus').on( "change", function () {
    var table = $('#allTripsTable').DataTable();

    // Search for a data point
    table.draw();
    return false;
    });

    $('#filterDate').on( "change", function() {
      var table = $('#allTripsTable').DataTable();

      // Search for a data point
      table.draw();
      return false;
    });

    $('#archived').on( "change", function () {
    var table = $('#allTripsTable').DataTable();

    // Search for a data point
    table.draw();
    return false;
    });

    $('#allTrips').on( "change", function () {
    var table = $('#allTripsTable').DataTable();

    // Search for a data point
    table.draw();
    return false;
    });

    $(document).ready(function(){
      activateTopMenu('mainMenuDashboard');
    });
  </script>



  <div class="" style="">
    <div class="subTitle">MY TRIPS </div>
    <div style="padding: 0px 20px 20px 0px;">
    <form id="tripSearchForm">
      <div class="row-fluid">
        <div class="span3">
          <Label> Keyword <em>*</em></Label>
          <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                 @if(m.searchTerm != null && m.searchTerm.length() > 0) {
          value="@m.searchTerm"
          }
          >
        </div>
        <div class="span2">
          <label>Filter Trips By Date</label>
          <select name="filterDate" id="filterDate" class="input-medium">
            <option selected="Y" value=3>Active</option>
            <option value=0>In-Progress</option>
            <option value=1>Future</option>
            <option value=2>Past</option>
            <option value=4>All</option>
          </select>
        </div>
        <div class="span2  pull-left" style="margin-left: 0px;">
          <label> Trip Status</label>
          <select name="searchStatus" id="searchStatus" class="input-medium">
            <option selected="Y" value=3>All</option>
            <option value=0>Published</option>
            <option value=1>Pending</option>
          </select>
        </div>
        <div class="span3 pull-left">
          @if(m.displayCmpyTabs){
          <br/>
          <input type="checkbox" name="inAllTrips" id="allTrips" value="true" @if(m.allTrips){checked}>  Company Trips
          }

        </div>
        <div class="span2">
          <!--
          <label>&nbsp;</label>
          <button id="searchTrips" class="btn btn-info btn-large">Search
          </button>
          -->
        </div>
      </div>

    </form>
    <script>
    $(function(){
    initAllTrips('@controllers.routes.TripController.searchAllTrips()');
    });
    </script>
    <table class="table table-striped" id="allTripsTable">
      <thead>
        <tr>
          <th style="width: 80px"></th>
          <th style="width:30%;padding-left:10px;">NAME</th>
          <th style="width:25%;padding-left:10px;">DATE</th>
          <th style="width:12%;padding-left:10px;">STATUS</th>
          <th style="width:13%;padding-left:10px;">CREATED BY</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    </div>
  </div>

  <!-- shared trips -->
  <div class="" style="margin-top:50px;">
    <div class="subTitle" >SHARED TRIPS </div>

    <div style="padding: 20px 20px 20px 0px;">
      <script>
      $(function(){
      initSharedTrips('@controllers.routes.SharedTripsController.dashboard()');
      });
      </script>
      <table class="table table-striped" id="sharedTripsTable" >
        <thead>
        <tr>
          <th style="width: 45px"></th>
          <th style="width:30%;padding-left:10px;">NAME</th>
          <th style="width:15%;padding-left:10px;">DATE</th>
          <th style="width:5%;padding-left:10px;">STATUS</th>
          <th style="width:10%;padding-left:10px;">CREATED BY</th>
          <th style="width:25%;padding-left:10px;">COMPANY</th>
          <th style="width:10%;padding-left:10px;">ACCESS LEVEL</th>
          <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- Email API activity -->
  <div style="margin-top:50px;">
    <div class="subTitle" >EMAIL API ACTIVITY </div>
    <div style="margin: 20px 20px 20px 0px;">
      <script>
    $(function(){
      initEmailParseLog('@controllers.routes.Application.emailParseLogDT()');
    });
    </script>
      <table class="table table-striped" id="emailsTable">
        <thead>
        <tr>
          <th>Received On</th>
          <th>Email Subject</th>
          <th>Status</th>
          <th>Email Type</th>
          <th>Bookings Extracted</th>
          <th>Attachments</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </div>

  <!-- Recently updated trips -->
  <div class="tabbable" style="margin-top:50px;">
    <div class="subTitle">Recently updated trips </div>

    <div style="padding: 20px 20px 20px 0px;">
    <ul class="nav nav-tabs" id="myTourTab">
        <!--
      @if(m.groupPublishedTours != null && m.groupPublishedTours.size() > 0) {
        <li><a href="#publishedGroupTours" data-toggle="tab"><i class="icon-plane pull-left"></i> &nbsp;Available Tours @if(m.groupPublishedToursCount > 0) {(@m.groupPublishedToursCount)}</a></li>
      }
      -->
      <li ><a href="#publishedTours" data-toggle="tab" onclick="javascript:searchTours(0, 'myTours');"><i class="fa fa-check pull-left"></i> &nbsp;My Published Trips </a></li>
      <li ><a href="#pendingTours" data-toggle="tab" onclick="javascript:searchTours(1, 'myPendingTours');" ><i class="fa fa-edit pull-left"></i> &nbsp;My Pending Trips </a></li>
      <li ><a href="#deletedTours" data-toggle="tab" onclick="javascript:searchTours(4, 'myDeletedTours');" ><i class="fa fa-trash pull-left"></i> &nbsp;My Deleted Trips </a></li>
      @if(m.displayCmpyTabs){
        <li><a href="#cmpyPublishedTours" data-toggle="tab" onclick="javascript:searchTours(2, 'otherTours');"><i class="fa fa-check pull-left"></i> &nbsp;All Published Trips </a></li>
        <li><a href="#cmpyPendingTours" data-toggle="tab" onclick="javascript:searchTours(3, 'otherPendingTours');"><i class="fa fa-edit pull-left"></i> &nbsp;All Pending Trips </a></li>
      }
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="publishedTours">
        @if(m.defaultTrips != null && m.defaultTrips.searchResults.size() > 0){
          <table class="table " id="myToursActivity">
            <thead>
              <tr>
                <th style="width:62px"></th>
                <th style="width:40%">NAME</th>
                <th style="width:20%">DATE</th>
                <th style="width:30%">ACTIVITY</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody>
            @views.html.trip.recentActiveTrips.render(m.recentActiveTrips)
            </tbody>
          </table>
        } else {
          <div style="margin:auto;text-align:center;padding-top:20px;">
            <h2> You currently have no published trips.</h2>

            <br/>

            <p>
              Create rich branded itineraries and destination content for your clients. <br/>
              The itineraries and content will be available on the web, as PDF documents and on the collaborative Umapped App (IOS and Android).
              <br/>
              Click <a href="javascript:showHelp('help_start_publishing')">  <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a> to find out how Umapped can help you.
            </p>

          </div>
        }
      </div>

      <div class="tab-pane fade" id="pendingTours">
        <table class="table " id="myPendingToursActivity">
          <thead>
            <tr>
              <th style="width:62px"></th>
              <th style="width:40%">NAME</th>
              <th style="width:20%">DATE</th>
              <th style="width:30%">ACTIVITY</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody><tr><td></td><td></td><td></td></tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="deletedTours">

        <table class="table " id="myDeletedToursActivity">
          <thead>
          <tr>
            <th style="width:62px"></th>
            <th style="width:40%">NAME</th>
            <th style="width:20%">DATE</th>
            <th style="width:30%">ACTIVITY</th>
            <th style="width:10%"></th>
          </tr>
          </thead>
          <tbody><tr><td></td><td></td><td></td></tr>
          </tbody>
        </table>
      </div>

      @if(m.displayCmpyTabs){

        <div class="tab-pane fade" id="cmpyPublishedTours">

          <table class="table " id="otherToursActivity">
            <thead>
              <tr>
                <th style="width:62px"></th>
                <th style="width:40%">NAME</th>
                <th style="width:20%">DATE</th>
                <th style="width:30%">ACTIVITY</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody><tr><td></td><td></td><td></td></tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="cmpyPendingTours">
          <table class="table " id="otherPendingToursActivity">
            <thead>
              <tr>
                <th style="width:62px"></th>
                <th style="width:40%">NAME</th>
                <th style="width:20%">DATE</th>
                <th style="width:30%">ACTIVITY</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody><tr><td></td><td></td><td></td></tr>
            </tbody>
          </table>

        </div>
      }

    </div>
    </div>
  </div>

  <div id="dynamicModal">
  </div>













</div>
  <--endPageBody-->
