@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.common.APPConstants
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.DestinationSearchView.Tab


<div class="tab-pane @if(m.selectedTab == Tab.ATTACHMENTS ){active} else {fade}" id="extraDocsTab">
  <div class="row-fluid">
  @if(m.accessLevel.ge(AccessLevel.APPEND)) {
    <div class="span11">
      <a href="#searchGuideModal" data-toggle="modal" class="btn btn-primary btn-large pull-left"> Add a Document</a>
    </div>
  }
  </div>
  <div class="row-fluid">
    <br/>
  </div>
  @if(m.destinationList != null && m.destinationList.size() > 0 ){
    <div class="row-fluid" style="">
    @for((v,i) <- m.destinationList.zipWithIndex) {
      @if(i%4 == 0) {
        <div class="row-fluid">   <!-- open a new row for 4 items -->
        }
      <div class="span3 well">
        <table class="tableNoBorder">
          <body>
            <tr>
              <td style="text-align:center;">
                <a onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                  <h5> @v.name</h5>
                </a>
              </td>
            </tr>

            <tr>
              <td style="text-align:center;">
                <a onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                  @v.destinationTypeDesc
                  @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() >
                      0)) {
                    @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                      - @v.city, @v.country
                    } else {
                      - @v.country
                    }
                  }
                </a>
              </td>
            </tr>

            @if(v.coverUrl!=null) {
              <tr>
                <td>
                  <a onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
                    <img class="img-rounded span12" src="@v.coverUrl"></img>
                  </a>
                </td>
              </tr>
            }
            <tr>
              <td>
                <br/>

                @if(v.isTourGuide) {
                  <h5>Tour: @v.tourName </h5>
                } else {
                  @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && m.loggedInUserId == v.createdById)) {
                    <a href="#deleteTripGuideModal_@v.id" data-toggle="modal" class="btn btn-danger pull-right">
                      Delete</a>
                  }
                }
              </td>
            </tr>
            <tr>
                <td>
                    <span class="booking_owner">
                        Added by: @v.createdById
                    </span>

                </td>
            </tr>

          </body>

        </table>

      </div>
      @if((i+1)%4 == 0 || (i+1) == m.destinationList.size()) { <!-- close the row for every 4th item-->
      </div>
      }
    }

    </div>
  } else {

    <div>
      <br/>
      <h3 style="text-align:center;"> NO DOCUMENTS ADDED YET.</h3>
    </div>
  }
</div>
  <!-- tab pane-->
