@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
  @import com.mapped.publisher.view.DestinationSearchView.Tab

<div class="tab-pane @if(m.selectedTab == Tab.ATTACHMENTS ){active}  else {fade}" id="attachTab">

  <div style="padding-top:50px">
    <div class="subTitle">
        CONTENT FROM LIBRARY @if(m.destinationList != null && m.destinationList.size() > 0) {(@m.destinationList.size())}
      </div>
    @if(m.destinationList != null && m.destinationList.size() > 0 ){
      @if(m.accessLevel.ge(AccessLevel.APPEND)) {
    <a @if((m.tripAttachments != null && m.tripAttachments.size() > 0) || (m.destinationList != null && m.destinationList.size() > 0 ) ||(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length > 0)) {
      id = 'addDocumentBtn'
      }
      href="#searchGuideModal" data-toggle="modal" class="btn btn-primary btn-large pull-left">Add from Library</a>
    }

      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width:40%"> Name </th>
            <th style="width:40%"> About</th>
            <th style="width:10%"> Added By</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>

        @for((v,i) <- m.destinationList.zipWithIndex) {
          <tr>

            <td> <a onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">
              @if(v.coverUrl!=null) {
                <img  style="width:80px" src="@v.coverUrl"></img>
              }else {
                <img  style="width:80px" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Add Cover Photo"/>
              }
              &nbsp; @v.name
            </a>
            </td>
            <td>
              <a onclick="javascript:getModalPage('/guide/destinationModal?inDestId=@v.id')">

                @v.destinationTypeDesc
                @if((v.city!=null && v.city.length() > 0) || (v.country!=null && v.country.length() >
                    0)) {
                  @if(v.city!=null && v.city.length() > 0 && v.country!=null && v.country.length() > 0) {
                    - @v.city, @v.country
                  } else {
                    - @v.country
                  }
                }
              </a>
            </td>
            <td>
            @v.createdById
            </td>
            <td>
            @if(v.isTourGuide) {
              <h5>Tour: @v.tourName </h5>
            } else {
              @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && m.loggedInUserId == v.createdById)) {
                <a href="#deleteTripGuideModal_@v.id" data-toggle="modal" class="btn btn-danger pull-right">
                  Delete</a>
              }
            }
            </td>
          </tr>
        }
        </tbody>
      </table>

    } else {

      <h3 style="text-align:center;">
        @if(m.accessLevel.ge(AccessLevel.APPEND)) {<br/>
          <a @if((m.tripAttachments != null && m.tripAttachments.size() > 0) || (m.destinationList != null && m.destinationList.size() > 0 ) ||(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length > 0)) {
            id = 'addDocumentBtn'
          }
          href="#searchGuideModal" data-toggle="modal" class="btn btn-primary btn-large">Add from Library</a>}
      </h3>
    }
  </div>



<div style="padding-top:50px">
  <div class="subTitle">
        ATTACHED FILES @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {(@m.tripAttachments.size())}
      </div>
  @if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
    @if(m.accessLevel.ge(AccessLevel.APPEND)) {
      <a @if((m.tripAttachments != null && m.tripAttachments.size() > 0) || (m.destinationList != null && m.destinationList.size() > 0 ) ||(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length > 0)) {
        id = 'attachFileBtn'
        }
              data-controls-modal="uploadFileModal" data-backdrop="static" data-keyboard="false" href="#uploadFileModal" data-toggle="modal" class="btn btn-primary btn-large pull-left">
         Attach PDF/Word file</a> <br/> <br/> <br/>
    }
    <p class="muted" style="margin-top: 20px;"> Simply drag and drop the files to change the order they will appear in the itinerary. </p>


    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:50%">
            File Name
          </th>
          <th style="width:10%"> Uploaded by</th>

          <th style="width:20%"> Uploaded On</th>

          <th style="width:15%"></th>
        </tr>
      </thead>
      <tbody id="sortAttachDiv">
        @for(p <- m.tripAttachments) {
          <tr id="@p.id">
            <td>
              <a href="@p.attachUrl" target="_blank">
                @if(p.attachType == "doc"){
                  <img src="@{m.imgUrl}/img/word_icon.png" width="48px">
                } else {
                  @if(p.attachType == "pdf"){
                    <img src="@{m.imgUrl}/img/pdf_icon.png" width="48px">
                  } else {
                    <img src="@{m.imgUrl}/img/spacer.gif" width="48px">
                    }
                }
                @p.attachName
              </a>

              @if(p.comments != null && p.comments.length > 0) {
                <br/><br/>
                @p.comments
              }
            </td>
            <td> @p.createdById</td>
            <td> @p.lastUpdateTimestampPrint</td>

            <td>
            @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && m.loggedInUserId == p.createdById)) {
              <a href="#editFileModal_@p.id" id="newLinkBtn" data-toggle="modal" class="btn btn-primary"> Edit</a>
              &nbsp;
              <a href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger"> Delete</a>
            }
            </td>
          </tr>
        }
      </tbody>
    </table>

  } else {
      <h3 style="text-align:center;">
        @if(m.accessLevel.ge(AccessLevel.APPEND)) {
        <br/><a @if((m.tripAttachments != null && m.tripAttachments.size() > 0) || (m.destinationList != null && m.destinationList.size() > 0 ) ||(m.tripDestinationView != null && m.tripDestinationView.id != null && m.tripDestinationView.id.length > 0)) {
            id = 'attachFileBtn'
          }
          data-controls-modal="uploadFileModal" data-backdrop="static" data-keyboard="false" href="#uploadFileModal" data-toggle="modal" class="btn btn-primary btn-large ">
           Attach PDF/Word file</a>
      } </h3>

  }
</div>



</div>

<!-- Modal for deleting files -->
@if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
@for(p <- m.tripAttachments) {
<script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

<div id="deleteFileModal_@p.id" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this File?</p>
  </div>
  <div class="modal-footer">
    <form id="deleteFileForm_@p.id">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:doPost('/tours/newTour/deleteFileAttach?inTripId=@m.tripId&inFileId=@p.id');return false;">Delete</button>
    </form>
  </div>
</div>
}
}

<!-- modal to edit files -->
@if(m.tripAttachments != null && m.tripAttachments.size() > 0) {
@for(p <- m.tripAttachments) {
<script>
      $('#editFileSubmit_@p.id').click(function() {
      $('#editFileModal_@p.id').modal('hide');
      });
      </script>

<div id="editFileModal_@p.id" class="modal hide fade">
  <form id="editFileForm_@p.id" method="post" enctype="multipart/form-data">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Edit File Name and Description</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span9">
          <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId"/>
          <input type="hidden" id="inFileId" name="inFileId" value="@p.id"/>
          <label> File Name</label>

          <input type="text" id="inFilename" name="inFileName" value="@p.attachName"/>

        </div>
      </div>

      <br/>
      <div class="row-fluid">
        <div class="span12">
          <label> Description</label>
          <textarea id="inFileCaption" name="inFileCaption" class="field span12" rows="5">@p.comments</textarea>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-success " id="editFileSubmit_@p.id"
              onclick="javascript:postForm('@controllers.routes.TourController.editFileAttachment(m.tripId, p.id)', 'editFileForm_@p.id');return false;">Save
      </button>

    </div>
  </form>
</div>
}
}
