@(m:  com.mapped.publisher.view.StatsView)
@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}
<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Dashboard - Company Activity</h1>
</div>
<--endPageTitle-->
<--pageBody-->
<div id="pageBody">
    <script>
        //initialize sortable data tables
        $(document).ready(function() {
        @for((v,i) <- m.dates.zipWithIndex){
        $('#publish_activity@i').dataTable();
        $('#other_activity@i').dataTable();
        }
        } );

        $('#expiredTable').dataTable();
        $('#expiringTable').dataTable();

    </script>

    @if(m.cmpyActivityByMonth != null) {

    <div class="tabbable well">

        <ul class="nav nav-tabs" id="myTab">
            @for((v,i) <- m.dates.zipWithIndex){
            <li @if(i == 0) {class="active"} ><a href="#month@i" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;@v</a></li>
            }
          <li ><a href="#trials" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;Exipred/Expiring Trials</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane " id="trials">
            <div class="" style="padding-bottom:20px;">
              <table class="table table-striped" id="expiredTable">
                <h2> EXPIRED COMPANIES </h2>
                <thead>
                  <tr>
                    <th style="width:40%">CMPY</th>
                    <th style="width:10%">EXPIRY</th>
                  </tr>
                </thead>
                <tbody>
                @if(m.expiredTrials != null && m.expiredTrials.size() > 0) {
                @for(p <- m.expiredTrials){
                  <tr>
                    <td>
                      <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName </a>
                    </td>
                    <td>
                      @p.expiryDate
                    </td>
                  </tr>
                }
                } else {
                  <tr>
                    <td colspan="2">
                      No Expired Cmpies
                    </td>
                  </tr>
                }
               </tbody>
             </table>

            </div>

            <div class="" style="padding-bottom:20px;">
              <table class="table table-striped" id="expiringTable">
                <h2> EXPIRING COMPANIES (NEXT 30 DAYS) </h2>
                <thead>
                  <tr>
                    <th style="width:40%">CMPY</th>
                    <th style="width:10%">EXPIRY</th>
                  </tr>
                </thead>
                <tbody>
                @if(m.expiredTrials != null && m.expiredTrials.size() > 0) {

                  @for(p <- m.expiringTrials){
                  <tr>
                    <td>
                      <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName </a>
                    </td>
                    <td>
                    @p.expiryDate
                    </td>
                  </tr>
                }
                } else {
                  <tr>
                    <td colspan="2">
                      No Expiring Cmpies
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
          </div>

            @for((v,i) <- m.dates.zipWithIndex){
            <div class="tab-pane @if(i == 0) {active}" id="month@i">
                @if(m.summaryActivityByMonth(v) != null){
                <div class="" style="padding-bottom:20px;">
                    <h2> SUMMARY</h2>
                    <div class="row-fluid">
                      <div class="span3 well" >
                          <h3 style="text-align:center;text-decoration:underline"> PUBLISHING ACTIVITY</h3>
                          <br/>
                          <table class="table ">
                             <tr>
                                 <td>
                                     <h5> # of New Trips Published: </h5>
                                 </td>
                                 <td>
                                     <h5>  @m.summaryActivityByMonth(v).numTripsPublished</h5>
                                 </td>
                             </tr>
                              <tr>
                                  <td>
                                      <h5> # of Total Trips Published: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numTripsPublishedActivity </h5>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <div class="span3 well" >
                          <h3 style="text-align:center;text-decoration:underline"> TRIPS/TOURS ACTIVITY</h3>
                          <br/>
                          <table class="table ">
                              <tr>
                                  <td>
                                      <h5> # of New Trips: </h5>
                                  </td>
                                  <td>
                                      <h5>  @m.summaryActivityByMonth(v).numTripsCreated</h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Pending Trips: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numTripsPending </h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Modified Trips: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numTripsDeleted </h5>
                                  </td>
                              </tr>

                          </table>
                      </div>
                      <div class="span3 well" >
                        <h3 style="text-align:center;text-decoration:underline"> COLLABORATION ACTIVITY</h3>
                        <br/>
                        <table class="table ">
                          <tr>
                            <td>
                              <h5> # of New Invites: </h5>
                            </td>
                            <td>
                              <h5>  @m.summaryActivityByMonth(v).numCollabInvites</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5> # of Accepted Invites: </h5>
                            </td>
                            <td>
                              <h5> @m.summaryActivityByMonth(v).numCollabAccepted </h5>
                            </td>
                          </tr>
                          @if(m.summaryActivityByMonth(v).numCollabInvites > 0){
                          <tr>
                            <td>
                              <h5> Success Rate: </h5>
                            </td>
                            <td>
                              <h5> @((m.summaryActivityByMonth(v).numCollabAccepted / m.summaryActivityByMonth(v).numCollabInvites) * 100) % </h5>
                            </td>
                          </tr>
                          }
                        </table>
                      </div>
                      <div class="span3 well" >
                          <h3 style="text-align:center;text-decoration:underline"> GUIDES ACTIVITY</h3>
                          <br/>
                          <table class="table ">
                              <tr>
                                  <td>
                                      <h5> # of New Guides: </h5>
                                  </td>
                                  <td>
                                      <h5>  @m.summaryActivityByMonth(v).numGuidesCreated</h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Deleted Guides: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numGuidesDeleted </h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of New Pages: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numGuidesPagesCreated </h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Modified Pages: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numGuidesPagesModified </h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Deleted Pages: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numGuidesPagesDeleted </h5>
                                  </td>
                              </tr>
                          </table>
                       </div>
                    </div>
                    <div class="row-fluid">
                      <div class="span3 well" >
                          <h3 style="text-align:center;text-decoration:underline">POI ACTIVITY</h3>
                          <br/>
                          <table class="table">
                              <tr>
                                  <td>
                                      <h5> # of New POI: </h5>
                                  </td>
                                  <td>
                                      <h5>@m.summaryActivityByMonth(v).numPoiCreated</h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Modified POI: </h5>
                                  </td>
                                  <td>
                                      <h5>@m.summaryActivityByMonth(v).numPoiModified </h5>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <h5> # of Deleted POI: </h5>
                                  </td>
                                  <td>
                                      <h5> @m.summaryActivityByMonth(v).numPoiDeleted </h5>
                                  </td>
                              </tr>
                          </table>

                      </div>
                    </div>
                </div>
                }

            <div class="" style="padding-bottom:20px;">
              <table class="table table-striped" id="newCmpyTable_@i">
                <h2> NEW TRIAL COMPANIES (created by Umapped) </h2>
                <thead>
                  <tr>
                    <th style="width:40%">CMPY</th>
                    <th style="width:10%">CREATED ON</th>
                  </tr>
                </thead>
                <tbody>
                @if(m.summaryActivityByMonth.get(v).newCmpies  != null && m.summaryActivityByMonth.get(v).newCmpies .size() > 0) {

                  @for(p <- m.summaryActivityByMonth.get(v).newCmpies ){
                    <tr>
                      <td>
                        <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName </a>
                      </td>
                      <td>
                      @p.expiryDate
                      </td>
                    </tr>
                  }
                } else {
                  <tr>
                    <td colspan="2">
                      No New Trial Cmpies
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>

            <div class="" style="padding-bottom:20px;">
              <table class="table table-striped" id="selfSignupTable_@i">
                <h2> NEW SELF SIGN-UP COMPANIES </h2>
                <thead>
                  <tr>
                    <th style="width:30%">CMPY</th>
                    <th style="width:20%">CREATED BY</th>
                    <th style="width:20%">INVITED BY</th>

                    <th style="width:10%">CREATED ON</th>
                  </tr>
                </thead>
                <tbody>
                @if(m.summaryActivityByMonth.get(v).newSelfSignupCmpies  != null && m.summaryActivityByMonth.get(v).newSelfSignupCmpies .size() > 0) {

                  @for(p <- m.summaryActivityByMonth.get(v).newSelfSignupCmpies ){
                    <tr>
                      <td>
                        <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName </a>
                      </td>

                      <td>
                        <a onclick="javascript:getPage('/user/user?inUserId=@p.authorizedUserId&inCmpyId=@p.cmpyId&inCmpyMode=false');">@p.firstName </a>
                      </td>
                      <td>
                        <a onclick="javascript:getPage('/user/user?inUserId=@p.lastName&inCmpyMode=false');">@p.lastName </a>
                      </td>
                      <td>
                      @p.expiryDate
                      </td>
                    </tr>
                  }
                } else {
                  <tr>
                    <td colspan="2">
                      No New Self Sign-up Cmpies
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>


                <table class="table table-striped" id="publish_activity@i">
                    <h2> PUBLISHING ACTIVITY </h2>
                    <thead>
                    <tr>
                        <th style="width:20%">CMPY</th>
                        <th style="width:10%">TYPE</th>

                        <th style="width:10%">#NEW TRIPS<br/> PUBLISHED </th>
                        <th style="width:10%">#TOTAL <br/>PUBLISHED ACTIVITY</th>
                        <th style="width:10%">#TRIPS <br/>CREATED</th>
                        <th style="width:10%">#TRIPS <br/>PENDING</th>
                        <th style="width:10%">#TRIPS <br/>DELETED</th>


                    </tr>
                    </thead>
                    <tbody>
                    @for(p <- m.cmpyActivityByMonth(v)){
                    <tr>
                        <td>
                            <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyid');"> @p.name </a>
                        </td>
                        <td>
                            @p.cmpyType
                        </td>
                        <td>
                            @p.numTripsPublished
                        </td>
                        <td>
                            @p.numTripsPublishedActivity
                        </td>
                        <td>
                            @p.numTripsCreated
                        </td>
                        <td>
                            @p.numTripsPending
                        </td>
                        <td>
                            @p.numTripsDeleted
                        </td>

                    </tr>

                    }

                    </tbody>
                </table>
                <br/><br/><br/>
                <hr>

                <div style="margin-top:100px">
                    <table class="table table-striped" id="other_activity@i">
                        <h2> MAINTENANCE ACTIVITY </h2>
                        <thead>
                        <tr>
                            <th style="width:20%">CMPY</th>
                            <th style="width:10%">#POI<br>ADDED</th>
                            <th style="width:10%">#POI<br> UPDATED</th>
                            <th style="width:10%">#POI<br> DELETED</th>
                            <th style="width:10%">#GUIDES<br> ADDED</th>
                            <th style="width:10%">#GUIDES<br> DELETED</th>
                            <th style="width:10%">#GUIDES<br> PAGES ADDED</th>
                            <th style="width:10%">#GUIDES<br> PAGES MODIFIED</th>
                            <th style="width:10%">#GUIDES<br> PAGES DELETED</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(p <- m.cmpyActivityByMonth(v)){
                        <tr>
                            <td>
                                <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyid');"> @p.name </a>
                            </td>
                            <td>
                                @p.numPoiCreated
                            </td>
                            <td>
                                @p.numPoiModified
                            </td>
                            <td>
                                @p.numPoiDeleted
                            </td>
                            <td>
                                @p.numGuidesCreated
                            </td>
                            <td>
                                @p.numGuidesDeleted
                            </td>
                            <td>
                                @p.numGuidesPagesCreated
                            </td>
                            <td>
                                @p.numGuidesPagesModified
                            </td>
                            <td>
                                @p.numGuidesPagesDeleted
                            </td>
                        </tr>

                        }

                        </tbody>
                    </table>
                </div>

            </div>
            }



        </div> <!-- tab content -->
    </div> <!-- tabable content -->


    }



    <div id="dynamicModal">
    </div>


</div>
<--endPageBody-->
