@(m:  com.mapped.publisher.view.BaseView)
<--alertMsg-->
@if(m.message != null && m.message.length > 0){
<div id="alertMsg">
        <h3>
          @m.message
          @if(m.linkId != null && !m.linkId.isEmpty) {
            &nbsp;&nbsp;@Html(m.linkId)
          }
        </h3>
</div>
}
<--endAlertMsg-->
