@(m:  com.mapped.publisher.view.WebContactView)
@if(m.msg!=null && !m.success) {
<--alertMsg-->
<div id="alertMsg">
        <h4> @m.msg</h4>

</div>
<--endAlertMsg-->
}


@if(m.success) {
<--pageBody-->
<div id="pageBody">
    <div style="margin-top:40px;padding-bottom:40px">
        <div class="content_header9" style="margin-left:100px; margin-top:20px;padding-bottom:60px;text-align:center;width:800px; line-height:27px"> @m.msg</div>
    </div>
</div>
<--endPageBody-->
}