@(tripId: String, startDate: String)
@import org.joda.time.DateTimeConstants;
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


<script>
function searchWetu() {
  $('#dynamicModalBody' ).modal('hide');
  //weird bug when chaining modals
  var url = '/wetu/searchKeywords?keywords=' + $('#keywords').val() + '&type=' + $('#typeId').val() + '&sort=' + $('#sortId').val() + '&tripId=@tripId';
  setTimeout(function() { getModalPage(url); }, 500);

  return false;
}

  function closeModal() {
  $('#dynamicModalBody').modal('hide');
  return false
  }

  </script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
    <div class="modal-header">
        <button type="button" class="close" onclick="closeModal()">&times;</button>
        <h2 style="text-align:center;">Wetu Import</h2>
    </div>
    <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
        <div class="row-fluid">
            <legend>Search for an existing Itinerary from Wetu to add to trip. </legend>
            <div class="span7">
                <label>Keyword</label>
                <input type="text" id='keywords' name='keywords' placeholder="keywords" class="input-block-level"/>
            </div>

            <div class="span2">
                <label>&nbsp;</label>
                <button class="btn btn-info " onclick="javascript:searchWetu();"> Search </button>
            </div>
            <div class="span2">
                <img src="/assets/img/suppliers/wetu_logo.png" style="height: 50px">
            </div>
        </div>
        <div class="row-fluid">
            <div>
                <label>&nbsp;</label>
            </div>
            <div class="span3">
                <label>Itinerary Types</label>
                <select id="typeId">
                    <option value="AllItineraries" selected>All Itineraries</option>
                    <option value="Personal">Personal</option>
                    <option value="Sample">Sample</option>
                    <option value="All">All</option>
                    <option value="DayComponent">Day Component</option>
                    <option value="Component">Component</option>
                    <option value="AllComponents">All Components</option>
                </select>
            </div>
            <div class="span3">
                <label>Sort</label>
                <select id="sortId">
                    <option value="LastModifiedDesc">Last-Modified Descending</option>
                    <option value="LastModifiedAsc">Last-Modified Ascending</option>
                    <option value="ClientNameAsc">ClientName Ascending</option>
                    <option value="ClientNameDesc">ClientName Descending</option>
                    <option value="ItineraryNameAsc">ItineraryName Ascending</option>
                    <option value="ItineraryNameDesc">ItineraryName Descending</option>
                    <option value="ReferenceNoAsc">ReferenceNo Ascending</option>
                    <option value="ReferenceNoDesc">ReferenceNo Descending</option>
                    <option value="StartDateAsc">StartDate Ascending</option>
                    <option value="StartDateDesc" selected>StartDate Descending</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
    </div>

</div>
