@(m:  List[com.mapped.publisher.view.WetuDetailsView], tripId: String, keywords: String, cmpyId: String, publicItinerary: Boolean, defaultDate: String)
@import org.joda.time.DateTimeConstants;
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.utils.Utils

<script>
    $("#publicTourStartDate").datepicker({
      minDate: new Date('@defaultDate'),
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2
    });

    function importPublicTour(identifier, name) {
      $('#identifier').val(identifier);
      $('#itineraryName').text(name);
      $('#searchResultTable').hide();
      $('#importPublicTourDiv').show();

      return false
    }

    function importPublicTourSubmit() {
      $('#dynamicModalBody').modal('hide');

      var url = "/wetu/importItinerary?identifier=" + $('#identifier').val() + "&tripId=@tripId&cmpyId=@cmpyId&inPublicTourStartDate=" + $('#publicTourStartDate').val() ;
      doPost(url);
      return false
    }


function importModal(identifier, trip) {
  $('#dynamicModalBody').modal('hide');
  var url = "/wetu/importItinerary?identifier=" + identifier + "&tripId=" + trip + "&cmpyId=@cmpyId";
  doPost(url);
  return false
}

function modifyModal(trip) {
  $('#dynamicModalBody').modal('hide');
  var url = "/wetu/search?tripId=" + trip;
  getModalPage(url);
  return false
}

function closeModal() {
$('#dynamicModalBody').modal('hide');
return false
}
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
    <div class="modal-header">
        <button type="button" class="close" onclick="closeModal()">&times;</button>
        <h2 style="text-align:center;">Search Results For - "@keywords"</h2>
    </div>
    <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
        @if(m != null && m.size() > 0) {
            <div id="searchResultTable">
                <table class="table table-stripped">
                    @if(publicItinerary) {
                    <thead>
                        <tr>
                            <th style="text-align: left">NAME</th>
                            <th style="text-align: left">LAST-MODIFIED DATE</th>
                            <th style="text-align: center; width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(p <- m) {
                          <tr >
                                <td style="text-align: left">@p.name
                                </td>
                                <td style="text-align: left">@Utils.formatDateTimePagePrint(p.lastModified)</td>
                                <td style="text-align: center; width: 100px"><button  class="btn btn-primary" onclick="importPublicTour('@p.identifier', '@p.name');return false;"> Import</button> &nbsp;</td>

                            </tr>
                        }
                    </tbody>
                    } else {
                      <thead>
                        <tr>
                          <th style="text-align: left; width: 110px">START DATE</th>
                          <th style="text-align: left">NAME</th>
                          <th style="text-align: left">REFERENCE NUMBER</th>
                          <th style="text-align: left">CLIENT NAME</th>
                          <th style="text-align: left">LAST-MODIFIED DATE</th>
                          <th style="text-align: center; width: 100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                      @for(p <- m) {
                        <tr >
                          <td style="text-align: left; width: 110px">@if(p.startDate != null){@p.startDate.substring(0, p.startDate.indexOf('T'))}</td>
                          <td style="text-align: left">@p.name</td>
                          <td style="text-align: left">@p.referenceNumber</td>
                          <td style="text-align: left">@p.clientName</td>
                          <td style="text-align: left">@Utils.formatDateTimePagePrint(p.lastModified)</td>
                          <td style="text-align: center; width: 100px"><button  class="btn btn-primary" onclick="importModal('@p.identifier', '@tripId');return false;"> Import</button> &nbsp;</td>

                        </tr>
                      }
                      </tbody>
                    }
                </table>
            </div>

            <div id="importPublicTourDiv" style="display: none;padding-top: 50px">
              <form id="importPublicTourForm">
                <div class="row">
                  <div class="span4">
                    <label>&nbsp;</label>
                    <h3 id="itineraryName"></h3>
                  </div>
                  <div class="span4">
                    <label>Select Tour Start Date</label>
                    <div class="input-append date" id="publicTourStartDate1" >
                      <span class="add-on"><i class="fa fa-calendar"></i></span>
                      <input type="text" id="publicTourStartDate" readonly class="input-small required" name="inPublicTourStartDate">
                    </div>
                  </div>

                  <div class="span2">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-success btn-large" style="padding: 11px 10px; width : 100px ;"
                    onclick="javascript:importPublicTourSubmit();return false;">Import</button>
                  </div>
                </div>

                <input type="hidden" id="identifier" name="identifier">
              </form>
            </div>

        } else {
            <div>
                <h4 style="text-align: center; padding: 40px">No matching itineraries found. Please modify your search criteria and try again.</h4>
            </div>
        }


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
    </div>

</div>
