<div id="afarSearchModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Find AFAR Guide</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row-fluid">
            <div class="span10">
                <div class="control-group">
                    <label class="control-label">Search AFAR Destination</label>
                    <div class="controls">
                        <input id="afarGuide" type="text" class="input-block-level">
                    </div>
                </div>
            </div>
            <div class="span2">
                <a id="afarSearchBtn" type="button" class="btn btn-success input-block-level">Find</a>
            </div>
        </div>
        <div id="afarSearchResults">

        </div>
    </div>
    <div class="modal-footer">
        <fieldset>
            <button type="button" class="btn btn-info"   data-dismiss="modal" aria-hidden="true">Close</button>
        </fieldset>
    </div>
</div>

<div id="afarGuidesModal" class="modal container hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>AFAR Guides</h3>
    </div>
    <div class="modal-body">
        <div id="afarDestinationGuides">

        </div>
    </div>
    <div class="modal-footer">
        <fieldset>
            <button type="button" class="btn btn-info"    data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-success" aria-hidden="true" data-target="afarAddSelected">
                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Selected</button>
        </fieldset>
    </div>
</div>